<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>C4D视效大师班</title>
    <link rel="stylesheet" href="/static/js/plugs/vide7.4.1/css/video-js.min.css?v=1585716733574">
    <link rel="stylesheet" href="/static/js/plugs/picViewer/picViewer.css?v=1585716733574">
    <link rel="stylesheet" href="/static/js/plugs/swiper/swiper.min.css?v=1585716733574">
    <link href="/static/css/c4d.css?v=1585716733574" rel="stylesheet">
</head>

<body>
    <!-- 页头 -->
    <div class="header">
        <div class="header-tp">
            <div class="container">
                <div class="header-logo">
                    <img src="/static/images/index/logo.png?v=1585716733574" alt="">
                </div>
                <div class="header-stock-code">
                    <h3>丝路旗下全国CG人才培养基地</h3>
                    <p>股票代号：300566</p>
                </div>
                <div class="header-free-hotline">
                    <span class="header-tel-img"><img src="/static/images/index/tel.png?v=1585716733574" /></span>
                    <div class="header-free-tel">
                        <p>全国免费热线</p>
                        <h3>400-836-7979</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="course-navigation">
                <div class="banner-title">热门课程</div>
                <ul class="banner-first-nav">
                    <li class="banner-first-row">影视后期<i class="banner-first-arrow"></i>
                        <ul class="banner-second-nav">
                            <li class="banner-second-row">影视后期全能班</li>
                            <li class="banner-second-row">影视特效合成大师班</li>
                            <li class="banner-second-row">剪辑包装创意班</li>
                            <li class="banner-second-row">影视动画精英班</li>
                            <li class="banner-second-row">C4D特效大师班</li>
                        </ul>
                    </li>
                    <li class="banner-first-row">游戏设计<i class="banner-first-arrow"></i>
                        <ul class="banner-second-nav">
                            <li class="banner-second-row">影视后期全能班</li>
                            <li class="banner-second-row">影视特效合成大师班</li>
                            <li class="banner-second-row">剪辑包装创意班</li>
                            <li class="banner-second-row">影视动画精英班</li>
                            <li class="banner-second-row">C4D特效大师班</li>
                        </ul>
                    </li>
                    <li class="banner-first-row">室内设计<i class="banner-first-arrow"></i>
                        <ul class="banner-second-nav">
                            <li class="banner-second-row">影视后期全能班</li>
                            <li class="banner-second-row">影视特效合成大师班</li>
                            <li class="banner-second-row">剪辑包装创意班</li>
                            <li class="banner-second-row">影视动画精英班</li>
                            <li class="banner-second-row">C4D特效大师班</li>
                        </ul>
                    </li>
                    <li class="banner-first-row">UI设计<i class="banner-first-arrow"></i>
                        <ul class="banner-second-nav">
                            <li class="banner-second-row">影视后期全能班</li>
                            <li class="banner-second-row">影视特效合成大师班</li>
                            <li class="banner-second-row">剪辑包装创意班</li>
                            <li class="banner-second-row">影视动画精英班</li>
                            <li class="banner-second-row">C4D特效大师班</li>
                        </ul>
                    </li>
                    <li class="banner-first-row">建筑表现<i class="banner-first-arrow"></i>
                        <ul class="banner-second-nav">
                            <li class="banner-second-row">影视后期全能班</li>
                            <li class="banner-second-row">影视特效合成大师班</li>
                            <li class="banner-second-row">剪辑包装创意班</li>
                            <li class="banner-second-row">影视动画精英班</li>
                            <li class="banner-second-row">C4D特效大师班</li>
                        </ul>
                    </li>
                    <li class="banner-first-row">BIM应用<i class="banner-first-arrow"></i>
                        <ul class="banner-second-nav">
                            <li class="banner-second-row">影视后期全能班</li>
                            <li class="banner-second-row">影视特效合成大师班</li>
                            <li class="banner-second-row">剪辑包装创意班</li>
                            <li class="banner-second-row">影视动画精英班</li>
                            <li class="banner-second-row">C4D特效大师班</li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="header-main">
                <a class="header-item" href="/">首页</a>
                <a class="header-item" href="/views/about.html">关于丝路</a>
                <a class="header-item" href="/views/famousteacher.html">丝路名师</a>
                <a class="header-item" href="/views/obtain.html">学员就业</a>
                <a class="header-item" href="/views/studentworks.html">学员作品</a>
                <a class="header-item" href="/views/news.html">学院新闻</a>
                <a class="header-item" href="/views/studyenv.html">学习环境</a>
                <a class="header-item" href="/views/onlinebao.html">在线报名</a>
                <a class="header-item" href="/views/contactus.html">联系我们</a>
            </div>

        </div>
    </div>
    <!-- 课程导航，banner -->
    <div class="banner-section">
        <div class="banner"></div>
    </div>

    <!-- 年薪百万的影视后期大师都会的软件 -->
    <div class="section section-bg-white">
        <div class="section-title">
            年薪百万的影视后期大师都会的软件
        </div>
        <div class="section-describe">
            CINEMA 4D（简称C4D）是德国Maxon Computer研发的3D绘图软件，以其高运算速度和强大的渲染
            <br />插件著称并且在用其描绘的各类电影中表现突出，而随着软件技术的成熟越来越受到电影公司的重视，
            <br /> 同时在电视包装领域也表现非凡，如今已成为国内设计主流软件，运用更加广泛。
        </div>
        <div class="container">
            <div class="jieshao">
                <div class="jieshao-item">
                    <img src="/static/images/c4d/one1.jpg?v=1585716733574">
                    <p>平面设计</p>
                </div>
                <div class="jieshao-item">
                    <img src="/static/images/c4d/one2.jpg?v=1585716733574">
                    <p>影视动画</p>
                </div>
                <div class="jieshao-item">
                    <img src="/static/images/c4d/one3.jpg?v=1585716733574">
                    <p>影视特效</p>
                </div>
                <div class="jieshao-item">
                    <img src="/static/images/c4d/one4.jpg?v=1585716733574">
                    <p>广告宣传</p>
                </div>
                <div class="jieshao-item">
                    <img src="/static/images/c4d/one5.jpg?v=1585716733574">
                    <p>广告宣传</p>
                </div>
            </div>
            <div class="section-btn">
                <a class="btn" onclick="doyoo.util.openChat('g=10075108');return false;?v=1585716733574">查看更多C4D应用领域</a>
            </div>
        </div>
    </div>


    <!-- 谁适合学习C4D？ -->

    <div class="section section-renqun">
        <div class="section-title">
            谁适合学习C4D？
        </div>
        <div class="section-describe">
        </div>
        <div class="container">
            <div class="renqun">
                <div class="renqun-item">
                    <img src="/static/images/c4d/two1.png?v=1585716733574">
                    <div class="renqun-text">
                        <div class="renqun-title">面临转行的职业新人</div>
                        <div class="renqun-line"></div>
                        <div class="renqun-content">对设计感兴趣<br>想先学习一门有竞争力、应用广的软件<br>再进一步摸索深耕的方向</div>
                    </div>
                </div>
                <div class="renqun-item">
                    <img src="/static/images/c4d/two2.png?v=1585716733574">
                    <div class="renqun-text">
                        <div class="renqun-title">面临转行的职业新人</div>
                        <div class="renqun-line"></div>
                        <div class="renqun-content">对设计感兴趣<br>想先学习一门有竞争力、应用广的软件<br>再进一步摸索深耕的方向</div>
                    </div>
                </div>

                <div class="renqun-item">
                    <img src="/static/images/c4d/two3.png?v=1585716733574">
                    <div class="renqun-text">
                        <div class="renqun-title">面临转行的职业新人</div>
                        <div class="renqun-line"></div>
                        <div class="renqun-content">对设计感兴趣<br>想先学习一门有竞争力、应用广的软件<br>再进一步摸索深耕的方向</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 会C4D的影视动画师 薪资都不会太差 -->
    <div class="section section-bg-white">
        <div class="section-title">
            会C4D的影视动画师 薪资都不会太差
        </div>
        <div class="section-describe">
            一线城市C4D动画师，平均月薪超过10K，私单收入更可观！
        </div>
        <div class="container">
            <img src="/static/images/c4d/three1.png?v=1585716733574">
        </div>
        <div class="section-btn">
            <a class="btn" onclick="doyoo.util.openChat('g=10075108');return false;?v=1585716733574">测测我学完C4D的薪资收入</a>
        </div>
    </div>

    </div>

    <!-- 简单的不像实力派 -->

    <div class="section jieduan-box">
        <div class="jiedan-box-sec1">
            <div class="container">
                <div class="section-title">
                    简单的不像实力派
                </div>
                <div class="section-describe">
                    C4D软件功能强大易上手，超高的兼容性让各路设计师都爱不释手，
                    <br />C4D设计不仅是一个职业，更逐渐成为影视后期岗位的加分项，甚至是必备技能。
                </div>
                <div class="jieduan-title">
                    <em class="jieduan-number"></em> 一款对小白友好的软件 28天即可掌握操作要领
                </div>
                <div class="jieduan1">
                    <div class="jieduan1-item">
                        <img src="/static/images/c4d/zp1.jpg?v=1585716733574">
                        <p>丝路学员学习25天后C4D作品</p>
                    </div>
                    <div class="jieduan1-item">
                        <img src="/static/images/c4d/zp2.jpg?v=1585716733574">
                        <p>丝路学员学习27天后C4D作品</p>
                    </div>
                    <div class="jieduan1-item">
                        <img src="/static/images/c4d/zp3.jpg?v=1585716733574">
                        <p>丝路学员学习28天后C4D作品</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="jiedan-box-sec2">
            <div class="container">
                <div class="jieduan-title">
                    <em class="jieduan-number"></em> 一入C4D深似海 渲染效果惊艳全场
                </div>
                <div class="jieduan1">
                    <div class="jieduan1-item">
                        <img src="/static/images/c4d/c4d1.png?v=1585716733574">
                        <p>C4D图形动效</p>
                    </div>
                    <div class="jieduan1-item">
                        <img src="/static/images/c4d/c4d2.png?v=1585716733574">
                        <p>C4D产品设计</p>
                    </div>
                    <div class="jieduan1-item">
                        <img src="/static/images/c4d/c4d3.png?v=1585716733574">
                        <p>C4D运动图形</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="jiedan-box-sec3">
            <div class="container">
                <div class="jieduan-title">
                    <em class="jieduan-number"></em> 设计风格多元 应用广泛不设限
                </div>
                <div class="jieduan2">
                    <div class="jieduan1-item">
                        <img src="/static/images/c4d/zp4.jpg?v=1585716733574">
                        <p>产品设计</p>
                    </div>
                    <div class="jieduan1-item">
                        <img src="/static/images/c4d/zp5.jpg?v=1585716733574">
                        <p>活动海报</p>
                    </div>
                    <div class="jieduan1-item">
                        <img src="/static/images/c4d/zp6.jpg?v=1585716733574">
                        <p>字体设计</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 丝路C4D视效大师班 特色优势 -->
    <div class="section youshi">
        <div class="section-title">
            丝路C4D视效大师班 特色优势
        </div>

        <div class="container">
            <img src="/static/images/c4d/seven.jpg?v=1585716733574" alt="">
            <img src="/static/images/c4d/seven-rt.png?v=1585716733574" alt="">
        </div>
    </div>

    <!-- 8周吃透C4D-->
    <div class="section section-bg-white thoroughly-c4d">
        <div class="section-title">
            8周吃透C4D<br>掌握终身受用的三维设计秘诀
        </div>
        <div class="section-describe">
            为了让学员更加具备市场竞争力，丝路教育C4D视效大师班课程全新升级，
            让学员掌握C4D软件应用精髓<br />静态、动效场景举一反三，运用自如。

        </div>
        <div class="container">
            <img src="/static/images/c4d/kecheng.jpg?v=1585716733574" style="width: 1222px;margin-left: -10px;">
            <div class="thoroughly-c4d-content">
                <div class="section-nav-tab">
                    <div class="section-nav-item section-nav-btn section-nav-active">
                        <span>01</span>
                        <div class="thoroughly-c4d-name">c4d三维基础</div>
                    </div>
                    <div class="section-nav-item section-nav-btn">
                        <span>02</span>
                        <div class="thoroughly-c4d-name">C4D材质渲染</div>
                    </div>
                    <div class="section-nav-item section-nav-btn">
                        <span>03</span>
                        <div class="thoroughly-c4d-name">C4D后期合成</div>
                    </div>
                    <div class="section-nav-item section-nav-btn">
                        <span>04</span>
                        <div class="thoroughly-c4d-name">C4D影视动画</div>
                    </div>
                    <div class="section-nav-item section-nav-btn">
                        <span>05</span>
                        <div class="thoroughly-c4d-name">C4D影视特效</div>
                    </div>
                </div>
                <div class="section-tab-list">
                    <div class="section-tab-col"><img src="/static/images/c4d/b1.png?v=1585716733574"></div>
                    <div class="section-tab-col"><img src="/static/images/c4d/b2.png?v=1585716733574"></div>
                    <div class="section-tab-col"><img src="/static/images/c4d/b3.png?v=1585716733574"></div>
                    <div class="section-tab-col"><img src="/static/images/c4d/b4.png?v=1585716733574"></div>
                    <div class="section-tab-col"><img src="/static/images/c4d/b5.png?v=1585716733574"></div>
                </div>
            </div>
            <div class="section-btn">
                <a class="btn" onclick="doyoo.util.openChat('g=10075108');return false;?v=1585716733574">免费获取课程讲义</a>
            </div>
        </div>
    </div>



    <!-- 丝路名师手把手传授 你不知道的C4D“骚操作” -->
    <div class="section famous-teachers-teach">
        <div class="section-title" style="padding-bottom: 20px;">
            丝路名师手把手传授 你不知道的C4D“骚操作”
        </div>
        <div class="section-content">
            <div class="container">
                <div class="student-interview">
                    <div class="student-interview-item">
                        <img src="/static/images/c4d/ls1.jpg?v=1585716733574" />
                        <div class="student-interview-text">
                            <div class="student-interview-nav">
                                <div class="student-interview-name">贡昆仑</div>
                                <div class="student-interview-experience">6年影视行业经验</div>
                            </div>
                            <div class="student-interview-content">
                                <div class="student-interview-pos">影视视觉设计高级讲师</div>
                                <div class="student-interview-work">代表项目：《极限挑战》、《快乐大本营》、《大人物》</div>
                            </div>
                        </div>
                    </div>
                    <div class="student-interview-item">
                        <img src="/static/images/c4d/ls2.jpg?v=1585716733574" />
                        <div class="student-interview-text">
                            <div class="student-interview-nav">
                                <div class="student-interview-name">贡昆仑</div>
                                <div class="student-interview-experience">6年影视行业经验</div>
                            </div>
                            <div class="student-interview-content">
                                <div class="student-interview-pos">影视视觉设计高级讲师</div>
                                <div class="student-interview-work">代表项目：《极限挑战》、《快乐大本营》、《大人物》</div>
                            </div>
                        </div>
                    </div>
                    <div class="student-interview-item">
                        <img src="/static/images/c4d/ls3.jpg?v=1585716733574" />
                        <div class="student-interview-text">
                            <div class="student-interview-nav">
                                <div class="student-interview-name">贡昆仑</div>
                                <div class="student-interview-experience">6年影视行业经验</div>
                            </div>
                            <div class="student-interview-content">
                                <div class="student-interview-pos">影视视觉设计高级讲师</div>
                                <div class="student-interview-work">代表项目：《极限挑战》、《快乐大本营》、《大人物》</div>
                            </div>
                        </div>
                    </div>
                    <div class="student-interview-item">
                        <img src="/static/images/c4d/ls4.jpg?v=1585716733574" />
                        <div class="student-interview-text">
                            <div class="student-interview-nav">
                                <div class="student-interview-name">贡昆仑</div>
                                <div class="student-interview-experience">6年影视行业经验</div>
                            </div>
                            <div class="student-interview-content">
                                <div class="student-interview-pos">影视视觉设计高级讲师</div>
                                <div class="student-interview-work">代表项目：《极限挑战》、《快乐大本营》、《大人物》</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 学员作品 创意与实力的完美融合 -->
    <div class="section section-bg-white silkroad-works-sec">
        <div class="section-title">
            学员作品 创意与实力的完美融合
        </div>
        <div class="section-describe">
            面试作品是企业选拔人才的重要标准，好的作品是成功就业的第一步！
        </div>
        <div class="container">
            <div class="silkroad-works">
                <div class="section-nav-tab">
                    <div class="section-nav-item section-nav-btn section-nav-active">静态作品</div>
                    <div class="section-nav-item section-nav-btn">动态作品</div>
                </div>
                <div class="section-tab-list">
                    <div class="section-tab-col">
                        <div class="silkroad-works-item">
                            <div class="silkroad-works-img">
                                <img src="/static/images/c4d/dz1.jpg?v=1585716733574" />
                            </div>
                        </div>
                        <div class="silkroad-works-item">
                            <div class="silkroad-works-img">
                                <img src="/static/images/c4d/dz2.jpg?v=1585716733574" />
                            </div>
                        </div>
                        <div class="silkroad-works-item">
                            <div class="silkroad-works-img">
                                <img src="/static/images/c4d/dz3.jpg?v=1585716733574" />
                            </div>
                        </div>
                        <div class="silkroad-works-item">
                            <div class="silkroad-works-img">
                                <img src="/static/images/c4d/dz4.jpg?v=1585716733574" />
                            </div>
                        </div>
                    </div>
                    <div class="section-tab-col">
                        <div class="silkroad-works-item">
                            <div class="silkroad-works-img">
                                <img src="/static/images/c4d/C4D-1.gif?v=1585716733574" class="c4d-img1111" />
                            </div>
                        </div>
                        <div class="silkroad-works-item">
                            <div class="silkroad-works-img">
                                <img src="/static/images/c4d/C4D-2.gif?v=1585716733574" class="c4d-img1111" />
                            </div>
                        </div>
                        <div class="silkroad-works-item">
                            <div class="silkroad-works-img">
                                <img src="/static/images/c4d/C4D-3.gif?v=1585716733574" class="c4d-img1111" />
                            </div>
                        </div>
                        <div class="silkroad-works-item">
                            <div class="silkroad-works-img">
                                <img src="/static/images/c4d/C4D-4.gif?v=1585716733574" class="c4d-img1111" />
                            </div>
                        </div>
                    </div>

                </div>
                <!-- <div class="silkroad-works-nav">
                        <span class="silkroad-works-tab silkroad-works-tab-active" data-id="movies-works">静态作品</span>
                        <span class="silkroad-works-tab" data-id="games-works">动态作品</span>
                    </div>
                    <div class="silkroad-works-content">
                        <ul class="silkroad-works-list" id="movies-works">
                            <li class="silkroad-works-item">
                                <div class="silkroad-works-img">
                                    <img src="/static/images/c4d/dz1.jpg?v=1585716733574" />
                                </div>
                            </li>
                            <li class="silkroad-works-item">
                                <div class="silkroad-works-img">
                                    <img src="/static/images/c4d/dz2.jpg?v=1585716733574" />
                                </div>
                            </li>
                            <li class="silkroad-works-item">
                                <div class="silkroad-works-img">
                                    <img src="/static/images/c4d/dz3.jpg?v=1585716733574" />
                                </div>
                            </li>
                            <li class="silkroad-works-item">
                                <div class="silkroad-works-img">
                                    <img src="/static/images/c4d/dz4.jpg?v=1585716733574" />
                                </div>
                            </li>

                        </ul>
                        <ul class="silkroad-works-list" id="games-works">
                            <li class="silkroad-works-item">
                                <div class="silkroad-works-img">
                                    <img src="/static/images/c4d/C4D-1.gif?v=1585716733574" class="c4d-img1111" />
                                </div>
                            </li>
                            <li class="silkroad-works-item">
                                <div class="silkroad-works-img">
                                    <img src="/static/images/c4d/C4D-2.gif?v=1585716733574" class="c4d-img1111" />
                                </div>
                            </li>
                            <li class="silkroad-works-item">
                                <div class="silkroad-works-img">
                                    <img src="/static/images/c4d/C4D-3.gif?v=1585716733574" class="c4d-img1111" />
                                </div>
                            </li>
                            <li class="silkroad-works-item">
                                <div class="silkroad-works-img">
                                    <img src="/static/images/c4d/C4D-4.gif?v=1585716733574" class="c4d-img1111" />
                                </div>
                            </li>
                        </ul>
                    </div> -->
            </div>
            <div class="section-btn">
                <a class="btn" onclick="doyoo.util.openChat('g=10075108');return false;?v=1585716733574">查看更多学员作品</a>
            </div>
        </div>
    </div>




    <!-- 在丝路参与实训 经验UP 更多金！ -->
    <div class="section">
        <div class="section-title">
            在丝路参与实训 经验UP 更多金！
        </div>
        <div class="section-describe">
            众所周知影视后期制作薪资构成由底薪+提成两部分组成，项目越多越大，提成越高。丝路教育影视项目实训均由专业
            <br />老师带队承接真实后期制作、后期剪辑、影视动画、影视特效，不仅让学员在真实实践中获取经验，优秀团队学员还将
            <br />获得项目提成奖励，最高可达上万元，在校即体验影视动画制作的“薪”鲜感！
        </div>
        <div class="section-content">
            <div class="container">
                <div class="learn-earn-money">
                    <img src="/static/images/c4d/sx1.jpg?v=1585716733574" />

                    <img src="/static/images/c4d/sx2.jpg?v=1585716733574" />
                    <img src="/static/images/c4d/sx3.jpg?v=1585716733574" />

                </div>

            </div>
        </div>
    </div>

    <!-- 丝路与3000+名企合作 直通高薪岗位 -->
    <div class="section section-bg-white">
        <div class="section-title">
            <div class="section-title">
                丝路合作企业众多 学软件一不小心入职名企
            </div>
            <div class="section-describe">
            </div>
            <div class="container">
                <img src="/static/images/c4d/hzqy.png?v=1585716733574">
            </div>
        </div>
    </div>

    <!-- 表单统计 -->
    <div class="section-form">
        <form action="/plus/diy.php?v=1585716733574" enctype="multipart/form-data" method="post">
            <input type="hidden" name="action" value="post" />
            <input type="hidden" name="diyid" value="1" />
            <input type="hidden" name="do" value="2" />
            <div class="section-form-title">少年，看你脑洞清奇！
                <br /> 我这有本C4D秘籍，免费借你试学！</div>

            <div class="section-form-row">
                <div class="form-group">
                    <input type='text' name='name' id='name' placeholder="姓名" class="form-control" />

                </div>
                <div class="form-group">
                    <input type="text" name='tel' id="btn_11111getNum1" class="form-control" placeholder="联系电话" />
                </div>
            </div>
            <input type="hidden" name="dede_fields" value="name,text;tel,text" />
            <input type="hidden" name="dede_fieldshash" value="9a39017bf68f0b74192154fa8a6e7256" />
            <div class="form-submit">
                <button class="btn" type="submit" onclick="checkMobile(btn_11111getNum1.value);?v=1585716733574">试学一下</button>
            </div>
        </form>
    </div>

    <!-- 页脚 -->
    <div class="footer">
        <div class="footer-nav">
            <div class="container">
                <dl>
                    <dd>影视后期课程</dd>
                    <dt><a href="#">影视后期全能班</a></dt>
                    <dt><a href="#">影视后期全能班</a></dt>
                    <dt><a href="#">影视后期全能班</a></dt>
                    <dt><a href="#">影视后期全能班</a></dt>
                    <dt><a href="#">影视后期全能班</a></dt>
                </dl>

                <dl>
                    <dd>游戏设计课程</dd>
                    <dt><a href="#">影视后期全能班</a></dt>
                    <dt><a href="#">影视后期全能班</a></dt>
                    <dt><a href="#">影视后期全能班</a></dt>
                    <dt><a href="#">影视后期全能班</a></dt>
                    <dt><a href="#">影视后期全能班</a></dt>
                </dl>
                <dl>
                    <dd>室内设计课程</dd>
                    <dt><a href="#">影视后期全能班</a></dt>
                    <dt><a href="#">影视后期全能班</a></dt>
                    <dt><a href="#">影视后期全能班</a></dt>
                    <dt><a href="#">影视后期全能班</a></dt>
                    <dt><a href="#">影视后期全能班</a></dt>
                </dl>
                <dl>
                    <dd>UI设计课程</dd>
                    <dt><a href="#">影视后期全能班</a></dt>
                    <dt><a href="#">影视后期全能班</a></dt>
                    <dt><a href="#">影视后期全能班</a></dt>
                    <dt><a href="#">影视后期全能班</a></dt>
                    <dt><a href="#">影视后期全能班</a></dt>
                </dl>
                <dl>
                    <dd>建筑表现课程</dd>
                    <dt><a href="#">影视后期全能班</a></dt>
                    <dt><a href="#">影视后期全能班</a></dt>
                    <dt><a href="#">影视后期全能班</a></dt>
                    <dt><a href="#">影视后期全能班</a></dt>
                    <dt><a href="#">影视后期全能班</a></dt>
                </dl>
                <dl>
                    <dd>BIM应用课程</dd>
                    <dt><a href="#">影视后期全能班</a></dt>
                    <dt><a href="#">影视后期全能班</a></dt>
                    <dt><a href="#">影视后期全能班</a></dt>
                    <dt><a href="#">影视后期全能班</a></dt>
                    <dt><a href="#">影视后期全能班</a></dt>
                </dl>
                <dl>
                    <dd>报名入口</dd>
                    <dt><a href="#">影视后期全能班</a></dt>
                    <dt><a href="#">影视后期全能班</a></dt>
                    <dt><a href="#">影视后期全能班</a></dt>
                </dl>
                <dl>
                    <dd>关注</dd>
                    <dt><a href="#">
                            <img src="/static/images/index/weibo-icon.png?v=1585716733574" />
                            <img src="/static/images/index/weixin-icon.png?v=1585716733574" />
                    </dt>
                    <dt><a href="#"><img src="/static/images/index/weibo-erweima.jpg?v=1585716733574" /></dt>
                </dl>
            </div>

        </div>
        <div class="footer-btm">
            <div class="container">
                <div class="footer-friendship-link">
                    友情链接：<a href="">丝路视觉</a><a href="">V5CG</a><a href="">酷站</a><a href="">花瓣</a>
                </div>
                <div class="footer-copyright">
                    粤ICP备11044640号-6 版权归丝路视觉科技股份有限公司所有，盗用必究。
                </div>
            </div>
        </div>
    </div>

    <script src="/static/js/libs/jquery.min.js"></script>
    <script src="/static/js/plugs/vide7.4.1/js/video.js"></script>
    <script src="/static/js/plugs/picViewer/picViewer.js"></script>
    <script src="/static/js/plugs/swiper/swiper.js"></script>
    <script src="/layer-v3.1.1/layer/layer.js"></script>
    <script src="http://op.jiain.net/20002985/10085553.js"></script>
    <script src="/static/js/global.js"></script>
    <script>

        function checkMobile(str) {

            if (str == "") {
                layer.msg("手机号不能为空！");
            }
            else {
                var re = /^1\d{10}$/
                if (re.test(str)) {
                    layer.msg("正确");
                } else {
                    layer.msg("手机号格式错误！");
                }
            }
        }
    </script>
</body>

</htm