<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>影视动画</title>
    <link rel="stylesheet" href="/static/js/plugs/swiper/swiper.min.css?v=1585716733574">
    <link href="/static/css/ysdh.css?v=1585716733574" rel="stylesheet">
</head>

<body>
    <!-- 页头 -->
    <div class="header">
        <div class="header-tp">
            <div class="container">
                <div class="header-logo">
                    <img src="/static/images/index/logo.png?v=1585716733574" alt="">
                </div>
                <div class="header-stock-code">
                    <h3>丝路旗下全国CG人才培养基地</h3>
                    <p>股票代号：300566</p>
                </div>
                <div class="header-free-hotline">
                    <span class="header-tel-img"><img src="/static/images/index/tel.png?v=1585716733574" /></span>
                    <div class="header-free-tel">
                        <p>全国免费热线</p>
                        <h3>400-836-7979</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="course-navigation">
                <div class="banner-title">热门课程</div>
                <ul class="banner-first-nav">
                    <li class="banner-first-row">影视后期<i class="banner-first-arrow"></i>
                        <ul class="banner-second-nav">
                            <li class="banner-second-row">影视后期全能班</li>
                            <li class="banner-second-row">影视特效合成大师班</li>
                            <li class="banner-second-row">剪辑包装创意班</li>
                            <li class="banner-second-row">影视动画精英班</li>
                            <li class="banner-second-row">C4D特效大师班</li>
                        </ul>
                    </li>
                    <li class="banner-first-row">游戏设计<i class="banner-first-arrow"></i>
                        <ul class="banner-second-nav">
                            <li class="banner-second-row">影视后期全能班</li>
                            <li class="banner-second-row">影视特效合成大师班</li>
                            <li class="banner-second-row">剪辑包装创意班</li>
                            <li class="banner-second-row">影视动画精英班</li>
                            <li class="banner-second-row">C4D特效大师班</li>
                        </ul>
                    </li>
                    <li class="banner-first-row">室内设计<i class="banner-first-arrow"></i>
                        <ul class="banner-second-nav">
                            <li class="banner-second-row">影视后期全能班</li>
                            <li class="banner-second-row">影视特效合成大师班</li>
                            <li class="banner-second-row">剪辑包装创意班</li>
                            <li class="banner-second-row">影视动画精英班</li>
                            <li class="banner-second-row">C4D特效大师班</li>
                        </ul>
                    </li>
                    <li class="banner-first-row">UI设计<i class="banner-first-arrow"></i>
                        <ul class="banner-second-nav">
                            <li class="banner-second-row">影视后期全能班</li>
                            <li class="banner-second-row">影视特效合成大师班</li>
                            <li class="banner-second-row">剪辑包装创意班</li>
                            <li class="banner-second-row">影视动画精英班</li>
                            <li class="banner-second-row">C4D特效大师班</li>
                        </ul>
                    </li>
                    <li class="banner-first-row">建筑表现<i class="banner-first-arrow"></i>
                        <ul class="banner-second-nav">
                            <li class="banner-second-row">影视后期全能班</li>
                            <li class="banner-second-row">影视特效合成大师班</li>
                            <li class="banner-second-row">剪辑包装创意班</li>
                            <li class="banner-second-row">影视动画精英班</li>
                            <li class="banner-second-row">C4D特效大师班</li>
                        </ul>
                    </li>
                    <li class="banner-first-row">BIM应用<i class="banner-first-arrow"></i>
                        <ul class="banner-second-nav">
                            <li class="banner-second-row">影视后期全能班</li>
                            <li class="banner-second-row">影视特效合成大师班</li>
                            <li class="banner-second-row">剪辑包装创意班</li>
                            <li class="banner-second-row">影视动画精英班</li>
                            <li class="banner-second-row">C4D特效大师班</li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="header-main">
                <a class="header-item" href="/">首页</a>
                <a class="header-item" href="/views/about.html">关于丝路</a>
                <a class="header-item" href="/views/famousteacher.html">丝路名师</a>
                <a class="header-item" href="/views/obtain.html">学员就业</a>
                <a class="header-item" href="/views/studentworks.html">学员作品</a>
                <a class="header-item" href="/views/news.html">学院新闻</a>
                <a class="header-item" href="/views/studyenv.html">学习环境</a>
                <a class="header-item" href="/views/onlinebao.html">在线报名</a>
                <a class="header-item" href="/views/contactus.html">联系我们</a>
            </div>

        </div>
    </div>
    <!-- 课程导航，banner -->
    <div class="banner-section">
        <div class="banner"></div>
    </div>

    <!-- 影视动画 备受瞩目的朝阳产业 -->
    <div class="section hangye">
        <div class="section-title">
            <div class="section-title">
                <em>影视动画</em> 备受瞩目的朝阳产业
            </div>
            <div class="section-describe">
                影视动画行业在我国属于新兴的朝阳产业，随着国内动漫卡通、三维动画、3D电影、网络游戏等数字创意产业的快速
                <br />发展，影视动画技术人才已成为紧俏又有“钱”景的职场新贵。国内人才缺口至少有30万人，平均月薪更是高达10K。
            </div>
            <div class="container">
                <img src="/static/images/ysdh/shuju.png?v=1585716733574">
            </div>
        </div>
    </div>

    <!-- 中国公映的电影动画票房代表 -->
    <div class="section animation-box-office">
        <div class="section-title">
            中国公映的电影动画票房代表
        </div>
        <div class="container">
            <div class="animation-box-list">
                <div class="animation-box-item">
                    <img src="/static/images/ysdh/dianying1.jpg?v=1585716733574" alt="">
                    <div class="animation-box-name">《哪吒之魔童降世》</div>
                    <div class="animation-box-money">电影票房：<span>50.13亿</span></div>
                </div>
                <div class="animation-box-item">
                    <img src="/static/images/ysdh/dianying2.jpg?v=1585716733574" alt="">
                    <div class="animation-box-name">《哪吒之魔童降世》</div>
                    <div class="animation-box-money">电影票房：<span>50.13亿</span></div>
                </div>
                <div class="animation-box-item">
                    <img src="/static/images/ysdh/dianying3.jpg?v=1585716733574" alt="">
                    <div class="animation-box-name">《哪吒之魔童降世》</div>
                    <div class="animation-box-money">电影票房：<span>50.13亿</span></div>
                </div>
            </div>
        </div>
    </div>
    <!-- 工作时间与财务的双重自由 -->

    <div class="section double-freedom-sec">
        <div class="section-title">
            工作时间与财务的双重自由
        </div>
        <div class="section-describe">
            抖音、快手、美拍等视频软件的横行，增加了短视频制作的需求，李佳琦、Papi酱
            <br />直播一晚入账30W，短视频行业或成当代职场的高薪任意门。
        </div>
        <div class="container">
            <div class="double-freedom-row">
                <img class="double-freedom-cover" src="/static/images/ysdh/jiuye1.jpg?v=1585716733574">
                <div class="double-freedom-intro">
                    <div class="double-freedom-head">
                        <div class="double-freedom-title">
                            <span class="double-freedom-number">01</span>
                            <h2>一人创业 全家“小康”</h2>
                        </div>
                        <p>自媒体时代当道，直播一晚入账30W，短视频行业或成当代职场的高薪任意门。</p>
                    </div>
                    <div class="double-freedom-content">
                        <ul>
                            <li>
                                <h3>平台盈利：</h3>
                                <p>直播一晚入账30W，短视频行业或成当代职场的高薪任意门。</p>
                            </li>
                            <li>
                                <h3>平台盈利：</h3>
                                <p>直播一晚入账30W，短视频行业或成当代职场的高薪任意门。</p>
                            </li>
                            <li>
                                <h3>平台盈利：</h3>
                                <p>直播一晚入账30W，短视频行业或成当代职场的高薪任意门。</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="double-freedom-row">
                <img class="double-freedom-cover" src="/static/images/ysdh/jiuye2.jpg?v=1585716733574">
                <div class="double-freedom-intro">
                    <div class="double-freedom-head">
                        <div class="double-freedom-title">
                            <span class="double-freedom-number">02</span>
                            <h2>一人创业 全家“小康”</h2>
                        </div>
                        <p>自媒体时代当道，直播一晚入账30W，短视频行业或成当代职场的高薪任意门。</p>
                    </div>
                    <div class="double-freedom-content">
                        <ul>
                            <li>
                                <h3>平台盈利：</h3>
                                <p>直播一晚入账30W，短视频行业或成当代职场的高薪任意门。</p>
                            </li>
                            <li>
                                <h3>平台盈利：</h3>
                                <p>直播一晚入账30W，短视频行业或成当代职场的高薪任意门。</p>
                            </li>
                            <li>
                                <h3>平台盈利：</h3>
                                <p>直播一晚入账30W，短视频行业或成当代职场的高薪任意门。</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- 行业岗位细分 兴趣与高薪兼得 -->

    <div class="section job-segmentation-sec">

        <div class="section-title">
            行业岗位细分 兴趣与高薪兼得
        </div>
        <div class="container">
            <div class="gangwei">
                <div class="gangwei-item">
                    <img src="/static/images/ysdh/xz1.png?v=1585716733574">
                    <h4>动画剪辑合成师<br />
                        <em>8K-10K/月</em></h4>
                    <p style="margin-bottom: 20px;">熟悉影视动画制作流程，根据内容需求，对素材进行剪辑，视效合成</p>
                </div>
                <div class="gangwei-item">
                    <img src="/static/images/ysdh/xz2.png?v=1585716733574">
                    <h4>模型人物设计<br />
                        <em>10K-12K/月</em></h4>
                    <p style="margin-bottom: 26px;">有一定手绘基础，对整体色彩和节奏有良好把握，熟悉3D模型制作</p>
                </div>
                <div class="gangwei-item">
                    <img src="/static/images/ysdh/xz3.png?v=1585716733574">
                    <h4>原画设计师<br />
                        <em>9K-10K/月</em></h4>
                    <p>扎实的美术功底，具备良好造型能力和敏锐的色彩感，熟练制作角色、场景、道具等原画</p>
                </div>
                <div class="gangwei-item">
                    <img src="/static/images/ysdh/xz4.png?v=1585716733574">
                    <h4>三维动画师<br />
                        <em>10K-15K/月</em></h4>
                    <p>熟练的运用制作软件，掌握建模，材质，动画渲染等模块，能独立完成三维动画制作</p>
                </div>
                <div class="gangwei-item">
                    <img src="/static/images/ysdh/xz5.png?v=1585716733574">
                    <h4>片头动画师<br />
                        <em>8K-10K/月</em></h4>
                    <p>能独立完成分镜制作及后期的动画制作，熟悉使用C4D和3DMAX、AE等工具软件</p>
                </div>
                <div class="gangwei-item">
                    <img src="/static/images/ysdh/xz6.png?v=1585716733574">
                    <h4>高级动画师<br />
                        <em>12K-15K/月</em></h4>
                    <p style="margin-bottom: 46px;">熟悉运动规律，能够制作出流畅的动作，具备较强的节奏感</p>
                </div>
            </div>
            <div class="section-btn">
                <a class="btn" onclick="doyoo.util.openChat('g=10075108');return false;?v=1585716733574">查看更多岗位</a>
            </div>
        </div>
    </div>

    <!-- 丝路教育先进课堂体系 打造影视动画界高薪人才 -->
    <div class="section advanced-classroom-sec">
        <div class="advanced-classroom-sec1">
            <div class="section-title">
                丝路教育先进课堂体系 <em>打造影视动画界高薪人才</em>
            </div>
            <div class="section-describe">
                -全新课程特色 让学习一步到位-
            </div>
            <div class="container">
                <div class="advanced-classroom-list">
                    <div class="advanced-classroom-item">
                        <h3>实战项目 实战教学</h3>
                        <div class="advanced-classroom-line"></div>
                        <p>打造影视动画界高薪人才打造影视动画界高薪人才</p>
                    </div>
                    <div class="advanced-classroom-item">
                        <h3>实战项目 实战教学</h3>
                        <div class="advanced-classroom-line"></div>
                        <p>打造影视动画界高薪人才打造影视动画界高薪人才</p>
                    </div>
                    <div class="advanced-classroom-item">
                        <h3>实战项目 实战教学</h3>
                        <div class="advanced-classroom-line"></div>
                        <p>打造影视动画界高薪人才打造影视动画界高薪人才</p>
                    </div>

                </div>
            </div>
        </div>
        <div class="advanced-classroom-sec2">
            <div class="section-title">
                主流软件全掌握 不惧任何挑战
            </div>
            <div class="section-describe">
            </div>
            <div class="container">
                <div class="ruanjian-bj">
                    <div class="section-content">
                        <div class="kc-zs">
                        </div>
                        <div class="true-feedback">

                            <div class="true-feedback-nav">
                                <div class="true-feedback-item" data-id="feedback1">
                                    <img src="/static/images/ysdh/rj-ps-f.png?v=1585716733574" alt=""
                                        onmouseover="this.src='/static/images/ysdh/rj-ps.png'?v=1585716733574"
                                        onmouseout="this.src='/static/images/ysdh/rj-ps-f.png'?v=1585716733574">
                                </div>
                                <div class="true-feedback-item" data-id="feedback2">
                                    <img src="/static/images/ysdh/rj-pr-f.png?v=1585716733574" alt=""
                                        onmouseover="this.src='/static/images/ysdh/rj-pr.png'?v=1585716733574"
                                        onmouseout="this.src='/static/images/ysdh/rj-pr-f.png'?v=1585716733574">
                                </div>
                                <div class="true-feedback-item" data-id="feedback3">
                                    <img src="/static/images/ysdh/rj-ae-f.png?v=1585716733574" alt=""
                                        onmouseover="this.src='/static/images/ysdh/rj-ae.png'?v=1585716733574"
                                        onmouseout="this.src='/static/images/ysdh/rj-ae-f.png'?v=1585716733574">
                                </div>
                                <div class="true-feedback-item" data-id="feedback4">
                                    <img src="/static/images/ysdh/rj-c4d-f.png?v=1585716733574" alt=""
                                        onmouseover="this.src='/static/images/ysdh/rj-c4d.png'?v=1585716733574"
                                        onmouseout="this.src='/static/images/ysdh/rj-c4d-f.png'?v=1585716733574">
                                </div>

                            </div>
                            <div class="true-feedback-nav-other">
                                <div class="true-feedback-item-other" data-id="feedback5">
                                    <img src="/static/images/ysdh/rj-ai-f.png?v=1585716733574" alt=""
                                        onmouseover="this.src='/static/images/ysdh/rj-ai.png'?v=1585716733574"
                                        onmouseout="this.src='/static/images/ysdh/rj-ai-f.png'?v=1585716733574">
                                </div>
                                <div class="true-feedback-item-other" data-id="feedback6">
                                    <img src="/static/images/ysdh/rj-v-f.png?v=1585716733574" alt=""
                                        onmouseover="this.src='/static/images/ysdh/rj-v.png'?v=1585716733574"
                                        onmouseout="this.src='/static/images/ysdh/rj-v-f.png'?v=1585716733574">
                                </div>
                                <div class="true-feedback-item-other" data-id="feedback7">
                                    <img src="/static/images/ysdh/rj-3dmax-f.png?v=1585716733574" alt=""
                                        onmouseover="this.src='/static/images/ysdh/rj-3dmax.png'?v=1585716733574"
                                        onmouseout="this.src='/static/images/ysdh/rj-3dmax-f.png'?v=1585716733574">
                                </div>
                                <div class="true-feedback-item-other" data-id="feedback8">
                                    <img src="/static/images/ysdh/rj-y-f.png?v=1585716733574" alt=""
                                        onmouseover="this.src='/static/images/ysdh/rj-y.png'?v=1585716733574"
                                        onmouseout="this.src='/static/images/ysdh/rj-y-f.png'?v=1585716733574">
                                </div>


                            </div>

                            <div class="true-feedback-list" id="feedback1" style="display: block;">
                                <!-- <div class="true-feedback-head">
                                        <img src="/static/images/student-employ/fk1.png?v=1585716733574" alt="">
                                    </div> -->
                                <div class="true-feedback-name">Premiere</span>
                                </div>
                                <div class="true-feedback-txt">
                                    易学、高效、精确的视频剪辑软件，广泛应用于影视制作中。

                                </div>
                            </div>
                            <div class="true-feedback-list" id="feedback2">
                                <!-- <div class="true-feedback-head">
                                        <img src="/static/images/student-employ/fk2.png?v=1585716733574" alt="">
                                    </div> -->
                                <div class="true-feedback-name">After Effects</span>
                                </div>
                                <div class="true-feedback-txt">
                                    图形视频处理软件，高效且精确地创建动态图形。

                                </div>
                            </div>
                            <div class="true-feedback-list" id="feedback3">
                                <!-- <div class="true-feedback-head">
                                        <img src="/static/images/student-employ/fk3.png?v=1585716733574" alt="">
                                    </div> -->
                                <div class="true-feedback-name">Illustrator</span>
                                </div>
                                <div class="true-feedback-txt">
                                    应用于出版、多媒体和在线图像的工业标准矢量插画的软件。

                                </div>
                            </div>
                            <div class="true-feedback-list" id="feedback4">
                                <!-- <div class="true-feedback-head">
                                        <img src="/static/images/student-employ/fk3.png?v=1585716733574" alt="">
                                    </div> -->
                                <div class="true-feedback-name">Photoshop</span>
                                </div>
                                <div class="true-feedback-txt">
                                    图像处理软件，拥有众多的编修与绘图工具。
                                </div>
                            </div>
                            <div class="true-feedback-list" id="feedback5">
                                <!-- <div class="true-feedback-head">
                                        <img src="/static/images/student-employ/fk3.png?v=1585716733574" alt="">
                                    </div> -->
                                <div class="true-feedback-name">Cinema 4D</span>
                                </div>
                                <div class="true-feedback-txt">
                                    特点为极高的运算速度和强大的渲染插件。
                                </div>
                            </div>
                            <div class="true-feedback-list" id="feedback6">
                                <!-- <div class="true-feedback-head">
                                        <img src="/static/images/student-employ/fk3.png?v=1585716733574" alt="">
                                    </div> -->
                                <div class="true-feedback-name">Vray</span>
                                </div>
                                <div class="true-feedback-txt">
                                    目前业界最受欢迎的渲染引擎。
                                </div>
                            </div>
                            <div class="true-feedback-list" id="feedback7">
                                <!-- <div class="true-feedback-head">
                                        <img src="/static/images/student-employ/fk3.png?v=1585716733574" alt="">
                                    </div> -->
                                <div class="true-feedback-name">3D Max</span>
                                </div>
                                <div class="true-feedback-txt">
                                    基于PC系统的三维动画渲染和制作软件。
                                </div>
                            </div>
                            <div class="true-feedback-list" id="feedback8">
                                <!-- <div class="true-feedback-head">
                                        <img src="/static/images/student-employ/fk3.png?v=1585716733574" alt="">
                                    </div> -->
                                <div class="true-feedback-name">Final cut Pro</span>
                                </div>
                                <div class="true-feedback-txt">
                                    专业视频非线性编辑软件。
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section-btn">
                    <a class="btn" onclick="doyoo.util.openChat('g=10075108');return false;?v=1585716733574">打包下载软件</a>
                </div>
            </div>
        </div>
        <div class="advanced-classroom-sec3">
            <div class="section-title">
                精编课程内容 助你技能满点
            </div>
            <div class="container">
                <div class="kecheng-box">
                    <div class="kecheng-item">
                        <div class="kc-dg-nr">
                            <h1><em>01</em>动画基础</h1>
                            <div class="line"></div>
                            <p>学习辅助后期制作的常用软件，初步认识视频<br />基础知识以及初始软件基本功能运用</p>
                        </div>
                    </div>
                    <div class="kecheng-item">
                        <div class="kc-dg-nr">
                            <h1><em>02</em>C4D三维建模</h1>
                            <div class="line"></div>
                            <p>学习C4D功能强大的多边形建模和简洁高效的<br />曲线、快速掌握C4D基础操作</p>
                        </div>
                    </div>
                    <div class="kecheng-item">
                        <div class="kc-dg-nr">
                            <h1><em>03</em>动画基础</h1>
                            <div class="line"></div>
                            <p>学习辅助后期制作的常用软件，初步认识视频<br />基础知识以及初始软件基本功能运用</p>
                        </div>
                    </div>
                    <div class="kecheng-item">
                        <div class="kc-dg-nr">
                            <h1><em>04</em>C4D动画设计</h1>
                            <div class="line"></div>
                            <p>学习动画基础知识，理解关键帧的概念。结合多个<br />动画案例学习并熟练掌握C4D各种变形器动画</p>
                        </div>
                    </div>
                    <div class="kecheng-item">
                        <div class="kc-dg-nr">
                            <h1><em>05</em>MG动画设计</h1>
                            <div class="line"></div>
                            <p>学习软件中的对于片头设计和制作的知识内容，<br />包括大量的滤镜特效以及插件的应用技术</p>
                        </div>
                    </div>
                    <div class="kecheng-item">
                        <div class="kc-dg-nr">
                            <h1><em>06</em>校色完善</h1>
                            <div class="line"></div>
                            <p>学习串行节点与并联节点的使用技巧，以及<br />关键帧面板与特效面板</p>
                        </div>
                    </div>
                    <div class="kecheng-item">
                        <div class="kc-dg-nr">
                            <h1><em>07</em>校色完善</h1>
                            <div class="line"></div>
                            <p>学习串行节点与并联节点的使用技巧，以及<br />关键帧面板与特效面板</p>
                        </div>
                    </div>
                    <div class="kecheng-item">
                        <div class="kc-dg-nr">
                            <h1><em>08</em>校色完善</h1>
                            <div class="line"></div>
                            <p>学习串行节点与并联节点的使用技巧，以及<br />关键帧面板与特效面板</p>
                        </div>
                    </div>

                </div>
                <div class="section-btn">
                    <a class="btn" onclick="doyoo.util.openChat('g=10075108');return false;?v=1585716733574">了解课程详情</a>
                </div>
            </div>
        </div>

    </div>

    <!-- 资深讲师阵容 助你高薪就业 -->
    <div class="section senior-lecturer-sec">
        <div class="section-title">
            <div class="section-title">
                资深讲师阵容 助你高薪就业
            </div>
            <div class="section-describe">
            </div>

        </div>
        <div class="container">
            <div class="senior-lecture-list">
                <div class="senior-lecture-item">
                    <img class="senior-lecturer-cover" src="/static/images/ysdh/laoshi1.jpg?v=1585716733574">
                    <div class="senior-lecture-name">铁立东</div>
                    <h3>影视视觉高级讲师<br>10年从业经验</h3>
                    <div class="senior-lecture-works">
                        <ul>
                            <li>代表项目</li>
                            <li>《代表项目》</li>
                            <li>《代表项目》</li>
                            <li>《代表项目》</li>
                        </ul>
                    </div>
                </div>
                <div class="senior-lecture-item">
                    <img class="senior-lecturer-cover" src="/static/images/ysdh/laoshi2.jpg?v=1585716733574">
                    <div class="senior-lecture-name">铁立东</div>
                    <h3>影视视觉高级讲师<br>10年从业经验</h3>
                    <div class="senior-lecture-works">
                        <ul>
                            <li>代表项目</li>
                            <li>《代表项目》</li>
                            <li>《代表项目》</li>
                            <li>《代表项目》</li>
                        </ul>
                    </div>
                </div>
                <div class="senior-lecture-item">
                    <img class="senior-lecturer-cover" src="/static/images/ysdh/laoshi3.jpg?v=1585716733574">
                    <div class="senior-lecture-name">铁立东</div>
                    <h3>影视视觉高级讲师<br>10年从业经验</h3>
                    <div class="senior-lecture-works">
                        <ul>
                            <li>代表项目</li>
                            <li>《代表项目》</li>
                            <li>《代表项目》</li>
                            <li>《代表项目》</li>
                        </ul>
                    </div>
                </div>
                <div class="senior-lecture-item">
                    <img class="senior-lecturer-cover" src="/static/images/ysdh/laoshi4.jpg?v=1585716733574">
                    <div class="senior-lecture-name">铁立东</div>
                    <h3>影视视觉高级讲师<br>10年从业经验</h3>
                    <div class="senior-lecture-works">
                        <ul>
                            <li>代表项目</li>
                            <li>《代表项目》</li>
                            <li>《代表项目》</li>
                            <li>《代表项目》</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="section-btn">
            <a class="btn" onclick="doyoo.util.openChat('g=10075108');return false;?v=1585716733574">与名师对话</a>
        </div>
    </div>

    <!-- 上市公司强势助力 0距离接轨前言影视动画技术 -->
    <div class="section strong-help-sec">
        <div class="section-title">
            上市公司强势助力 0距离接轨前言影视动画技术
        </div>
        <div class="section-describe">
            背靠CG应用领域上市企业一手资源，参与真实的商业项目。通过实训使学生提高面对各种镜头的制作思路判断力，提升
            <br />实践能力和累积参与一线企业工作的社会经验，在以后求职中有突出亮点。还可以拿项目奖金，让学习赚钱两不误。
        </div>
        <div class="container">
            <div class="strong-help-list">
                <div class="strong-help-item">
                    <img src="/static/images/ysdh/icon1.png?v=1585716733574" alt="">
                    <p>企业营销影片年产量</p>
                    <div class="strong-help-num">1500+部</div>
                </div>
                <div class="strong-help-item">
                    <img src="/static/images/ysdh/icon2.png?v=1585716733574" alt="">
                    <p>企业营销影片年产量</p>
                    <div class="strong-help-num">1500+部</div>
                </div>
                <div class="strong-help-item">
                    <img src="/static/images/ysdh/icon3.png?v=1585716733574" alt="">
                    <p>企业营销影片年产量</p>
                    <div class="strong-help-num">1500+部</div>
                </div>
                <div class="strong-help-item">
                    <img src="/static/images/ysdh/icon4.png?v=1585716733574" alt="">
                    <p>企业营销影片年产量</p>
                    <div class="strong-help-num">1500+部</div>
                </div>
                <div class="strong-help-item">
                    <img src="/static/images/ysdh/icon5.png?v=1585716733574" alt="">
                    <p>企业营销影片年产量</p>
                    <div class="strong-help-num">1500+部</div>
                </div>
                <div class="strong-help-item">
                    <img src="/static/images/ysdh/icon6.png?v=1585716733574" alt="">
                    <p>企业营销影片年产量</p>
                    <div class="strong-help-num">1500+部</div>
                </div>
            </div>

        </div>
    </div>

    <!-- 一线项目带入课堂 学习实践两不误 -->
    <div class="section first-project-sec">
        <div class="section-title">
            一线项目带入课堂 学习实践两不误
        </div>
        <div class="section-describe">
            背靠CG应用领域上市企业一手资源，参与真实的商业项目。通过实训使学生提高面对各种镜头的制作思路判断力，提升
            <br />实践能力和累积参与一线企业工作的社会经验，在以后求职中有突出亮点。还可以拿项目奖金，让学习赚钱两不误。
        </div>
        <div class="container">
            <div class="first-project-list">
                <div class="first-project-title"><span>国家级项目</span></div>
                <div class="first-project-content">
                    <div class="first-project-item">
                        <img class="first-project-cover" src="/static/images/ysdh/xiangmu1.jpg?v=1585716733574">
                        <h3>《山海同一卷》-"一带一路" 高峰论坛</h3>
                        <p>与"新华社"重磅推出的国画大片</p>
                    </div>
                    <div class="first-project-item">
                        <img class="first-project-cover" src="/static/images/ysdh/xiangmu2.jpg?v=1585716733574">
                        <h3>《山海同一卷》-"一带一路" 高峰论坛</h3>
                        <p>与"新华社"重磅推出的国画大片</p>
                    </div>
                </div>

            </div>
            <div class="first-project-list">
                <div class="first-project-title"><span>国家级项目</span></div>
                <div class="first-project-content">
                    <div class="first-project-item">
                        <img class="first-project-cover" src="/static/images/ysdh/xiangmu3.jpg?v=1585716733574">
                        <h3>《山海同一卷》-"一带一路" 高峰论坛</h3>
                        <p>与"新华社"重磅推出的国画大片</p>
                    </div>
                    <div class="first-project-item">
                        <img class="first-project-cover" src="/static/images/ysdh/xiangmu4.jpg?v=1585716733574">
                        <h3>《山海同一卷》-"一带一路" 高峰论坛</h3>
                        <p>与"新华社"重磅推出的国画大片</p>
                    </div>
                </div>

            </div>
            <div class="first-project-list">
                <div class="first-project-title"><span>国家级项目</span></div>
                <div class="first-project-content">
                    <div class="first-project-item">
                        <img class="first-project-cover" src="/static/images/ysdh/xiangmu5.jpg?v=1585716733574">
                        <h3>《山海同一卷》-"一带一路" 高峰论坛</h3>
                        <p>与"新华社"重磅推出的国画大片</p>
                    </div>
                    <div class="first-project-item">
                        <img class="first-project-cover" src="/static/images/ysdh/xiangmu6.jpg?v=1585716733574">
                        <h3>《山海同一卷》-"一带一路" 高峰论坛</h3>
                        <p>与"新华社"重磅推出的国画大片</p>
                    </div>
                </div>

            </div>
        </div>
        <div class="section-btn">
            <a class="btn" onclick="doyoo.util.openChat('g=10075108');return false;?v=1585716733574">查看更多实训项目</a>
        </div>
    </div>




    <!-- 独享6大就业保障 毕业即就业 -->
    <div class="section exclusive-sec">
        <div class="section-title">
            <div class="section-title">
                独享6大就业保障 毕业即就业
            </div>
            <div class="container">
                <div class="exclusive-sec-list">
                    <div class="exclusive-sec-item">
                        <img class="senior-lecturer-cover" src="/static/images/ysdh/baozhang1.png?v=1585716733574">
                        <p>入职签订就业合同</p>
                    </div>
                    <div class="exclusive-sec-item">
                        <img class="senior-lecturer-cover" src="/static/images/ysdh/baozhang2.png?v=1585716733574">
                        <p>入职签订就业合同</p>
                    </div>
                    <div class="exclusive-sec-item">
                        <img class="senior-lecturer-cover" src="/static/images/ysdh/baozhang3.png?v=1585716733574">
                        <p>入职签订就业合同</p>
                    </div>
                    <div class="exclusive-sec-item">
                        <img class="senior-lecturer-cover" src="/static/images/ysdh/baozhang4.png?v=1585716733574">
                        <p>入职签订就业合同</p>
                    </div>
                    <div class="exclusive-sec-item">
                        <img class="senior-lecturer-cover" src="/static/images/ysdh/baozhang5.png?v=1585716733574">
                        <p>入职签订就业合同</p>
                    </div>
                    <div class="exclusive-sec-item">
                        <img class="senior-lecturer-cover" src="/static/images/ysdh/baozhang6.png?v=1585716733574">
                        <p>入职签订就业合同</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 丝路教育学员轻松入职名企 成为高薪代言人 -->
    <div class="section entry-enterprise-sec">
        <div class="section-title">
            丝路教育学员轻松入职名企 成为高薪代言人
        </div>
        <div class="container">
            <div class="entry-enterprise-list">
                <div class="entry-enterprise-item">
                    <img src="/static/images/ysdh/xuesheng1.png?v=1585716733574">
                    <h3>姓名：潘**</h3>
                    <p>公司：丝路视觉</p>
                    <p>职位：C4D视效师</p>
                    <div class="entry-enterpris-wages">月薪：10000+</div>
                </div>
                <div class="entry-enterprise-item">
                    <img src="/static/images/ysdh/xuesheng2.png?v=1585716733574">
                    <h3>姓名：潘**</h3>
                    <p>公司：丝路视觉</p>
                    <p>职位：C4D视效师</p>
                    <div class="entry-enterpris-wages">月薪：10000+</div>
                </div>
                <div class="entry-enterprise-item">
                    <img src="/static/images/ysdh/xuesheng3.png?v=1585716733574">
                    <h3>姓名：潘**</h3>
                    <p>公司：丝路视觉</p>
                    <p>职位：C4D视效师</p>
                    <div class="entry-enterpris-wages">月薪：10000+</div>
                </div>
                <div class="entry-enterprise-item">
                    <img src="/static/images/ysdh/xuesheng4.png?v=1585716733574">
                    <h3>姓名：潘**</h3>
                    <p>公司：丝路视觉</p>
                    <p>职位：C4D视效师</p>
                    <div class="entry-enterpris-wages">月薪：10000+</div>
                </div>
            </div>
        </div>
    </div>

    <!-- 丝路与3000+名企合作 直通高薪岗位 -->
    <div class="section">
        <div class="section-title">
            <div class="section-title">
                丝路与3000+名企合作 直通高薪岗位
            </div>
            <div class="section-describe">
            </div>
            <div class="container">
                <img src="/static/images/ysdh/logo.jpg?v=1585716733574">
            </div>
        </div>
    </div>

    <!-- 表单统计 -->
    <div class="section-form">
        <form action="/plus/diy.php?v=1585716733574" enctype="multipart/form-data" method="post" onsubmit="return checkMobile(this);">
            <input type="hidden" name="action" value="post" />
            <input type="hidden" name="diyid" value="1" />
            <input type="hidden" name="do" value="2" />
            <div class="section-form-title">跨入<em>月入过万</em>行列 你准备好了吗？</div>

            <div class="section-form-row">
                <div class="form-group">
                    <input type='text' name='name' placeholder="姓名" class="form-control" />

                </div>
                <div class="form-group">
                    <input type="text" name='tel' class="form-control" placeholder="联系电话" />
                </div>
            </div>
            <input type="hidden" name="dede_fields" value="name,text;tel,text" />
            <input type="hidden" name="dede_fieldshash" value="9a39017bf68f0b74192154fa8a6e7256" />
            <div class="form-submit">
                <button class="btn" type="submit">一键预约免费试听</button>
            </div>
        </form>
    </div>

    <!-- 页脚 -->
    <div class="footer">
        <div class="footer-nav">
            <div class="container">
                <dl>
                    <dd>影视后期课程</dd>
                    <dt><a href="#">影视后期全能班</a></dt>
                    <dt><a href="#">影视后期全能班</a></dt>
                    <dt><a href="#">影视后期全能班</a></dt>
                    <dt><a href="#">影视后期全能班</a></dt>
                    <dt><a href="#">影视后期全能班</a></dt>
                </dl>

                <dl>
                    <dd>游戏设计课程</dd>
                    <dt><a href="#">影视后期全能班</a></dt>
                    <dt><a href="#">影视后期全能班</a></dt>
                    <dt><a href="#">影视后期全能班</a></dt>
                    <dt><a href="#">影视后期全能班</a></dt>
                    <dt><a href="#">影视后期全能班</a></dt>
                </dl>
                <dl>
                    <dd>室内设计课程</dd>
                    <dt><a href="#">影视后期全能班</a></dt>
                    <dt><a href="#">影视后期全能班</a></dt>
                    <dt><a href="#">影视后期全能班</a></dt>
                    <dt><a href="#">影视后期全能班</a></dt>
                    <dt><a href="#">影视后期全能班</a></dt>
                </dl>
                <dl>
                    <dd>UI设计课程</dd>
                    <dt><a href="#">影视后期全能班</a></dt>
                    <dt><a href="#">影视后期全能班</a></dt>
                    <dt><a href="#">影视后期全能班</a></dt>
                    <dt><a href="#">影视后期全能班</a></dt>
                    <dt><a href="#">影视后期全能班</a></dt>
                </dl>
                <dl>
                    <dd>建筑表现课程</dd>
                    <dt><a href="#">影视后期全能班</a></dt>
                    <dt><a href="#">影视后期全能班</a></dt>
                    <dt><a href="#">影视后期全能班</a></dt>
                    <dt><a href="#">影视后期全能班</a></dt>
                    <dt><a href="#">影视后期全能班</a></dt>
                </dl>
                <dl>
                    <dd>BIM应用课程</dd>
                    <dt><a href="#">影视后期全能班</a></dt>
                    <dt><a href="#">影视后期全能班</a></dt>
                    <dt><a href="#">影视后期全能班</a></dt>
                    <dt><a href="#">影视后期全能班</a></dt>
                    <dt><a href="#">影视后期全能班</a></dt>
                </dl>
                <dl>
                    <dd>报名入口</dd>
                    <dt><a href="#">影视后期全能班</a></dt>
                    <dt><a href="#">影视后期全能班</a></dt>
                    <dt><a href="#">影视后期全能班</a></dt>
                </dl>
                <dl>
                    <dd>关注</dd>
                    <dt><a href="#">
                            <img src="/static/images/index/weibo-icon.png?v=1585716733574" />
                            <img src="/static/images/index/weixin-icon.png?v=1585716733574" />
                    </dt>
                    <dt><a href="#"><img src="/static/images/index/weibo-erweima.jpg?v=1585716733574" /></dt>
                </dl>
            </div>

        </div>
        <div class="footer-btm">
            <div class="container">
                <div class="footer-friendship-link">
                    友情链接：<a href="">丝路视觉</a><a href="">V5CG</a><a href="">酷站</a><a href="">花瓣</a>
                </div>
                <div class="footer-copyright">
                    粤ICP备11044640号-6 版权归丝路视觉科技股份有限公司所有，盗用必究。
                </div>
            </div>
        </div>
    </div>
    <script src="/static/js/libs/jquery.min.js"></script>
    <script src="/static/js/plugs/vide7.4.1/js/video.js"></script>
    <script src="/static/js/plugs/picViewer/picViewer.js"></script>
    <script src="/static/js/plugs/swiper/swiper.js"></script>
    <script src="/layer-v3.1.1/layer/layer.js"></script>
    <script src="http://op.jiain.net/20002985/10085553.js"></script>
    <script src="/static/js/global.js"></script>
    <script>

        // 课程
        $('.true-feedback-nav .true-feedback-item?v=1585716733574').hover(function () {
            var $this = $(this);
            $('.true-feedback-list').hide();
            document.getElementById($this.data('id')).style.display = 'block';

        })
        $('.true-feedback-nav-other .true-feedback-item-other?v=1585716733574').hover(function () {
            var $this = $(this);
            $('.true-feedback-list').hide();
            document.getElementById($this.data('id')).style.display = 'block';

        })
        // 软件
        $('.true-feedback-nav .true-feedback-item?v=1585716733574').hover(function () {
            var $this = $(this);
            $('.true-feedback-list').hide();
            document.getElementById($this.data('id')).style.display = 'block';

        })

    </script>
    <script>
        function checkMobile(form) {
            var tel = form.tel.value.trim();
            var name = form.name.value.trim();
            if (name === "") {
                layer.msg("姓名不能为空！");
                return false;
            }
            if (tel === "") {
                layer.msg("手机号不能为空！");
                return false;
            }
            if (!/^1\d{10}$/.test(tel)) {
                layer.msg("手机号格式错误！");
                return false;
            }
        }
    </script>
</body>

</html>