<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>剪辑包装创意班</title>
    <link rel="stylesheet" href="/static/js/plugs/swiper/swiper.min.css?v=1585716733574">
    <link href="/static/css/ysjj.css?v=1585716733574" rel="stylesheet">
</head>

<body>
    <!-- 页头 -->
    <div class="header">
        <div class="header-tp">
            <div class="container">
                <div class="header-logo">
                    <img src="/static/images/index/logo.png?v=1585716733574" alt="">
                </div>
                <div class="header-stock-code">
                    <h3>丝路旗下全国CG人才培养基地</h3>
                    <p>股票代号：300556</p>
                </div>
                <div class="header-free-hotline">
                    <span class="header-tel-img"><img src="/static/images/index/tel.png?v=1585716733574" /></span>
                    <div class="header-free-tel">
                        <p>全国免费咨询热线</p>
                        <h3>400-836-7979</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="course-navigation">
                <div class="banner-title">热门课程</div>
                <ul class="banner-first-nav">
                    <li class="banner-first-row">影视后期<i class="banner-first-arrow"></i>
                        <ul class="banner-second-nav">
                            <li class="banner-second-row">
                                <a href="/views/yingshi/ysqn.html" target="_blank">影视视效设计全能班</a>
                            </li>
                            <li class="banner-second-row">
                                <a href="/views/yingshi/ystx.html" target="_blank">影视特效合成大师班</a>
                            </li>
                            <li class="banner-second-row">
                                <a href="/views/yingshi/ysjj.html" target="_blank">剪辑包装创意班</a>
                            </li>
                            <li class="banner-second-row">
                                <a href="/views/yingshi/ysdh.html" target="_blank">影视动画精英班</a>
                            </li>
                            <li class="banner-second-row">
                                <a href="/views/yingshi/c4d.html" target="_blank">C4D特效大师班</a>
                            </li>
                        </ul>
                    </li>
                    <li class="banner-first-row">游戏设计<i class="banner-first-arrow"></i>
                        <ul class="banner-second-nav">
                            <li class="banner-second-row">
                                <a href="/views/youxi/yxqn.html" target="_blank">游戏设计全能班</a>
                            </li>
                            <li class="banner-second-row">
                                <a href="/views/youxi/yxyh.html" target="_blank">游戏原画创意班</a>
                            </li>
                            <li class="banner-second-row">
                                <a href="/views/youxi/yxms.html" target="_blank">游戏3D美术精英班</a>
                            </li>
                            <li class="banner-second-row">
                                <a href="/views/youxi/yxrj.html" target="_blank">游戏软件精英班</a>
                            </li>
                            <li class="banner-second-row">
                                <a href="/views/youxi/yxtx.html" target="_blank">游戏动作特效精英班</a>
                            </li>
                        </ul>
                    </li>
                    <li class="banner-first-row">室内设计<i class="banner-first-arrow"></i>
                        <ul class="banner-second-nav">
                            <li class="banner-second-row">
                                <a href="/views/shinei/snqa.html" target="_blank">室内全案设计全能班</a>
                            </li>
                            <li class="banner-second-row">
                                <a href="/views/shinei/cad.html" target="_blank">CAD制图大师班</a>
                            </li>
                            <li class="banner-second-row">
                                <a href="/views/shinei/snrz.html" target="_blank">室内软装精英班</a>
                            </li>
                            <li class="banner-second-row">
                                <a href="/views/shinei/snsh.html" target="_blank">室内手绘创意班</a>
                            </li>
                            <li class="banner-second-row">
                                <a href="/views/shinei/snxgt.html" target="_blank">室内效果图精英班</a>
                            </li>
                        </ul>
                    </li>
                    <li class="banner-first-row">UI设计<i class="banner-first-arrow"></i>
                        <ul class="banner-second-nav">
                            <li class="banner-second-row">
                                <a href="/views/ui/uiqn.html" target="_blank">UI视觉设计全能班</a>
                            </li>
                            <li class="banner-second-row">
                                <a href="/views/ui/psds.html" target="_blank"> Photoshop大师班</a>
                            </li>
                            <li class="banner-second-row">
                                <a href="/views/ui/pmsj.html" target="_blank">平面视觉创意班</a>
                            </li>
                            <li class="banner-second-row">
                                <a href="/views/ui/dsmg.html" target="_blank">电商美工精英班</a>
                            </li>
                            <li class="banner-second-row">
                                <a href="/views/ui/wysj.html" target="_blank">网页创意精英班</a>
                            </li>
                        </ul>
                    </li>
                    <li class="banner-first-row">建筑表现<i class="banner-first-arrow"></i>
                        <ul class="banner-second-nav">
                            <li class="banner-second-row">
                                <a href="/views/jianzhu/jzqn.html" target="_blank">建筑表现全能班</a>
                            </li>
                            <li class="banner-second-row">
                                <a href="/views/jianzhu/3dmaxds.html" target="_blank">3D MAX大师班</a>
                            </li>
                            <li class="banner-second-row">
                                <a href="/views/jianzhu/3djianmo.html" target="_blank">3D建模精英班</a>
                            </li>
                            <li class="banner-second-row">
                                <a href="/views/jianzhu/jzxg.html" target="_blank">建筑效果图精英班</a>
                            </li>
                            <li class="banner-second-row">
                                <a href="/views/jianzhu/jzxr.html" target="_blank">建筑渲染精英班</a>
                            </li>
                        </ul>
                    </li>
                    <li class="banner-first-row">BIM应用<i class="banner-first-arrow"></i>
                        <ul class="banner-second-nav">
                            <li class="banner-second-row">
                                <a href="/views/bim/bimqn.html" target="_blank">BIM应用全能班</a>
                            </li>
                            <li class="banner-second-row">
                                <a href="/views/bim/bimkz.html" target="_blank">BIM考证精英班</a>
                            </li>
                            <li class="banner-second-row">
                                <a href="/views/bim/revitds.html" target="_blank">Revit大师班</a>
                            </li>
                            <li class="banner-second-row">
                                <a href="/views/bim/lumion.html" target="_blank">Lumion大师班</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="header-main">
                <a class="header-item" href="/">首页</a>
                <a class="header-item" href="/views/about.html">关于丝路</a>
                <a class="header-item" href="/views/famousteacher.html">丝路名师</a>
                <a class="header-item" href="/views/obtain.html">学员就业</a>
                <a class="header-item" href="/views/studentworks.html">学员作品</a>
                <a class="header-item" href="/a/xyxw/news.html">学院新闻</a>
                <a class="header-item" href="/views/studyenv.html">学习环境</a>
                <a class="header-item" href="/views/onlinebao.html">在线报名</a>
                <a class="header-item" href="/views/contactus.html">联系我们</a>
            </div>

        </div>


        <div class="container1">
            <div class="course-navigation">
                <div class="banner-title">热门课程</div>
                <ul class="banner-first-nav">
                    <li class="banner-first-row">影视后期<i class="banner-first-arrow"></i>
                        <ul class="banner-second-nav">
                            <li class="banner-second-row">
                                <a href="/views/yingshi/ysqn.html" target="_blank">影视视效设计全能班</a>
                            </li>
                            <li class="banner-second-row">
                                <a href="/views/yingshi/ystx.html" target="_blank">影视特效合成大师班</a>
                            </li>
                            <li class="banner-second-row">
                                <a href="/views/yingshi/ysjj.html" target="_blank">剪辑包装创意班</a>
                            </li>
                            <li class="banner-second-row">
                                <a href="/views/yingshi/ysdh.html" target="_blank">影视动画精英班</a>
                            </li>
                            <li class="banner-second-row">
                                <a href="/views/yingshi/c4d.html" target="_blank">C4D特效大师班</a>
                            </li>
                        </ul>
                    </li>
                    <li class="banner-first-row">游戏设计<i class="banner-first-arrow"></i>
                        <ul class="banner-second-nav">
                            <li class="banner-second-row">
                                <a href="/views/youxi/yxqn.html" target="_blank">游戏设计全能班</a>
                            </li>
                            <li class="banner-second-row">
                                <a href="/views/youxi/yxyh.html" target="_blank">游戏原画创意班</a>
                            </li>
                            <li class="banner-second-row">
                                <a href="/views/youxi/yxyh.html" target="_blank">游戏3D美术精英班</a>
                            </li>
                            <li class="banner-second-row">
                                <a href="/views/youxi/yxrj.html" target="_blank">游戏软件精英班</a>
                            </li>
                            <li class="banner-second-row">
                                <a href="/views/youxi/yxtx.html" target="_blank">游戏动作特效精英班</a>
                            </li>
                        </ul>
                    </li>
                    <li class="banner-first-row">室内设计<i class="banner-first-arrow"></i>
                        <ul class="banner-second-nav">
                            <li class="banner-second-row">
                                <a href="/views/shinei/snqa.html" target="_blank">室内全案设计全能班</a>
                            </li>
                            <li class="banner-second-row">
                                <a href="/views/shinei/cad.html" target="_blank">CAD制图大师班</a>
                            </li>
                            <li class="banner-second-row">
                                <a href="/views/shinei/snrz.html" target="_blank">室内软装精英班</a>
                            </li>
                            <li class="banner-second-row">
                                <a href="/views/shinei/snsh.html" target="_blank">室内手绘创意班</a>
                            </li>
                            <li class="banner-second-row">
                                <a href="/views/shinei/snxgt.html" target="_blank">室内效果图精英班</a>
                            </li>
                        </ul>
                    </li>
                    <li class="banner-first-row">UI设计<i class="banner-first-arrow"></i>
                        <ul class="banner-second-nav">
                            <li class="banner-second-row">
                                <a href="/views/ui/uiqn.html" target="_blank">UI视觉设计全能班</a>
                            </li>
                            <li class="banner-second-row">
                                <a href="/views/ui/psds.html" target="_blank"> Photoshop大师班</a>
                            </li>
                            <li class="banner-second-row">
                                <a href="/views/ui/pmsj.html" target="_blank">平面视觉创意班</a>
                            </li>
                            <li class="banner-second-row">
                                <a href="/views/ui/dsmg.html" target="_blank">电商美工精英班</a>
                            </li>
                            <li class="banner-second-row">
                                <a href="/views/ui/wysj.html" target="_blank">网页创意精英班</a>
                            </li>
                        </ul>
                    </li>
                    <li class="banner-first-row">建筑表现<i class="banner-first-arrow"></i>
                        <ul class="banner-second-nav">
                            <li class="banner-second-row">
                                <a href="/views/jianzhu/jzqn.html" target="_blank">建筑表现全能班</a>
                            </li>
                            <li class="banner-second-row">
                                <a href="/views/jianzhu/3dmaxds.html" target="_blank">3D MAX大师班</a>
                            </li>
                            <li class="banner-second-row">
                                <a href="/views/jianzhu/3djianmo.html" target="_blank">3D建模精英班</a>
                            </li>
                            <li class="banner-second-row">
                                <a href="/views/jianzhu/jzxg.html" target="_blank">建筑效果图精英班</a>
                            </li>
                            <li class="banner-second-row">
                                <a href="/views/jianzhu/jzxr.html" target="_blank">建筑渲染精英班</a>
                            </li>
                        </ul>
                    </li>
                    <li class="banner-first-row">BIM应用<i class="banner-first-arrow"></i>
                        <ul class="banner-second-nav">
                            <li class="banner-second-row">
                                <a href="/views/bim/bimqn.html" target="_blank">BIM应用全能班</a>
                            </li>
                            <li class="banner-second-row">
                                <a href="/views/bim/bimkz.html" target="_blank">BIM考证精英班</a>
                            </li>
                            <li class="banner-second-row">
                                <a href="/views/bim/revitds.html" target="_blank">Revit大师班</a>
                            </li>
                            <li class="banner-second-row">
                                <a href="/views/bim/lumion.html" target="_blank">Lumion大师班</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="header-main">
                <a class="header-item" href="/">首页</a>
                <a class="header-item" href="/views/about.html">关于丝路</a>
                <a class="header-item" href="/views/famousteacher.html">丝路名师</a>
                <a class="header-item" href="/views/obtain.html">学员就业</a>
                <a class="header-item" href="/views/studentworks.html">学员作品</a>
                <a class="header-item" href="/views/news.html">学院新闻</a>
                <a class="header-item" href="/views/studyenv.html">学习环境</a>
                <a class="header-item" href="/views/onlinebao.html">在线报名</a>
                <a class="header-item" href="/views/contactus.html">联系我们</a>
            </div>

        </div>

    </div>


    <!-- 课程导航，banner -->
    <div class="banner-section">
        <div class="banner"></div>
    </div>

    <!-- 丝路独有六大学员保障 -->
    <div class="section youshi-sec">
        <div class="section-title">
            丝路独有六大学员保障
        </div>
        <div class="section-content">
            <div class="container">
                <div class="youshi">
                    <div class="youshi-item">
                        <img src="/static/images/ysjj/icon1.png?v=1585716733574">
                        <p>课程免费试学</p>
                    </div>
                    <div class="youshi-item">
                        <img src="/static/images/ysjj/icon2.png?v=1585716733574">
                        <p>先学习后付款</p>
                    </div>
                    <div class="youshi-item">
                        <img src="/static/images/ysjj/icon3.png?v=1585716733574">
                        <p>学不会可重修</p>
                    </div>
                    <div class="youshi-item">
                        <img src="/static/images/ysjj/icon4.png?v=1585716733574">
                        <p>名师全程面授</p>
                    </div>
                    <div class="youshi-item">
                        <img src="/static/images/ysjj/icon5.png?v=1585716733574">
                        <p>总监带队实训</p>
                    </div>
                    <div class="youshi-item">
                        <img src="/static/images/ysjj/icon6.png?v=1585716733574">
                        <p>名企定向就业</p>
                    </div>
                </div>
            </div>
            <div class="section-btn">
                <a class="btn" onclick="doyoo.util.openChat('g=10075108');return false;?v=1585716733574">申请学费减免</a>
            </div>
        </div>
    </div>

    <!-- 影视已成聚宝地，5G来临再掀狂潮 -->
    <div class="section section-bg-white">
        <div class="section-title">
            <div class="section-title">
                影视已成聚宝地，<em>5G来临</em>再掀狂潮
            </div>
            <div class="section-describe">
                2019年仅春节全国电影综合票房58亿，1.3亿人次走进电影院，观影规模与往年相比平均增长23%。影视行业正处于增长红利期，
                <br />面对上不见顶的发展空间，抓住机遇，职业前景大不同。我国电影工业体系尚待完善，每年全国高校仅能培养几百名影视剪辑人才，
                <br />市场需求和产业能力的背离，正是热爱影视行业的你的机会，跟随行业快速发展，你将是熠熠生辉的新星。
            </div>
            <div class="container">
                <img src="/static/images/ysjj/tubiao2.png?v=1585716733574">
            </div>
        </div>
    </div>
    <!-- 影视剪辑包装 -->
    <div class="section zhiwei-sec">
        <div class="section-title">
            <div class="section-title">
                影视剪辑包装
            </div>
            <div class="container">
                <div class="zhiwei-sec1">
                    <div class="zhiwei-title">选择空间大、覆盖广</div>
                    <div class="swiper-container" slidesPerView='4' spaceBetween='25'>
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="section-item">
                                    <img class="section-cover" src="/static/images/ysjj/fenlei1.jpg?v=1585716733574">
                                    <div class="section-txt">
                                        影视后期制作
                                    </div>
                                    <div class="section-hover">
                                        视频拍摄、二维动画、<br>三维动态、剪辑调色、<br>合成包装
                                    </div>
                                </div>

                            </div>
                            <div class="swiper-slide">
                                <div class="section-item">
                                    <img class="section-cover" src="/static/images/ysjj/fenlei2.jpg?v=1585716733574">
                                    <div class="section-txt">
                                        影视后期制作
                                    </div>
                                    <div class="section-hover">
                                        视频拍摄、二维动画、<br>三维动态、剪辑调色、<br>合成包装
                                    </div>
                                </div>

                            </div>
                            <div class="swiper-slide">
                                <div class="section-item">
                                    <img class="section-cover" src="/static/images/ysjj/fenlei3.jpg?v=1585716733574">
                                    <div class="section-txt">
                                        影视后期制作
                                    </div>
                                    <div class="section-hover">
                                        视频拍摄、二维动画、<br>三维动态、剪辑调色、<br>合成包装
                                    </div>
                                </div>

                            </div>
                            <div class="swiper-slide">
                                <div class="section-item">
                                    <img class="section-cover" src="/static/images/ysjj/fenlei4.jpg?v=1585716733574">
                                    <div class="section-txt">
                                        影视后期制作
                                    </div>
                                    <div class="section-hover">
                                        视频拍摄、二维动画、<br>三维动态、剪辑调色、<br>合成包装
                                    </div>
                                </div>

                            </div>
                            <div class="swiper-slide">
                                <div class="section-item">
                                    <img class="section-cover" src="/static/images/ysjj/fenlei5.jpg?v=1585716733574">
                                    <div class="section-txt">
                                        影视后期制作
                                    </div>
                                    <div class="section-hover">
                                        视频拍摄、二维动画、<br>三维动态、剪辑调色、<br>合成包装
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="section-item">
                                    <img class="section-cover" src="/static/images/ysjj/fenlei6.jpg?v=1585716733574">
                                    <div class="section-txt">
                                        影视后期制作
                                    </div>
                                    <div class="section-hover">
                                        视频拍摄、二维动画、<br>三维动态、剪辑调色、<br>合成包装
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="zhiwei-sec1">
                    <div class="zhiwei-title">岗位薪资高、晋升快</div>
                    <img src="/static/images/ysjj/zhiwei-bg.png?v=1585716733574" alt="">
                </div>

                <div class="section-btn">
                    <a class="btn" onclick="doyoo.util.openChat('g=10075108');return false;?v=1585716733574">测一测自己适合哪类岗位</a>
                </div>
            </div>
        </div>
    </div>


    <!-- 丝路课程全面升级，堪比科班出身能力 -->
    <div class="section kecheng-sec">
        <div class="kecheng-upgrading">
            <div class="section-title">
                丝路课程<em>全面升级</em>，堪比科班出身能力
            </div>
            <div class="section-describe">覆盖主流软件，0基础也可速成</div>
            <div class="container">
                <div class="true-feedback">
                    <div class="section-item">
                        <img class="section-cover" src="/static/images/ysjj/ruanjian1.png?v=1585716733574" alt="">
                        <div class="true-feedback-name">Photoshop</div>
                        <div class="section-hover">
                            覆盖主流软件，0基础也可速成覆盖主流软件，0基础也可速成覆盖主流软件，0基础也可速成
                        </div>
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/static/images/ysjj/ruanjian2.png?v=1585716733574" alt="">
                        <div class="true-feedback-name">Photoshop</div>
                        <div class="section-hover">
                            覆盖主流软件，0基础也可速成覆盖主流软件，0基础也可速成覆盖主流软件，0基础也可速成
                        </div>
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/static/images/ysjj/ruanjian3.png?v=1585716733574" alt="">
                        <div class="true-feedback-name">Photoshop</div>
                        <div class="section-hover">
                            覆盖主流软件，0基础也可速成覆盖主流软件，0基础也可速成覆盖主流软件，0基础也可速成
                        </div>
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/static/images/ysjj/ruanjian4.png?v=1585716733574" alt="">
                        <div class="true-feedback-name">Photoshop</div>
                        <div class="section-hover">
                            覆盖主流软件，0基础也可速成覆盖主流软件，0基础也可速成覆盖主流软件，0基础也可速成
                        </div>
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/static/images/ysjj/ruanjian5.png?v=1585716733574" alt="">
                        <div class="true-feedback-name">Photoshop</div>
                        <div class="section-hover">
                            覆盖主流软件，0基础也可速成覆盖主流软件，0基础也可速成覆盖主流软件，0基础也可速成
                        </div>
                    </div>
                </div>
                <div class="section-btn" style="margin-left: 200px;margin-top: 0;">
                    <a class="btn" onclick="doyoo.util.openChat('g=10075108');return false;?v=1585716733574">免费领取软件教程</a>
                </div>
            </div>
        </div>
        <div class="kecheng-updates">
            <div class="section-describe">
                课程定期更新，紧跟市场需求
            </div>
            <div class="container">
                <div class="kecheng-updates-sec1">
                    <div class="kecheng-updates-txt">
                        <dl>
                            <dt>阶段一：视频包装设计</dt>
                            <dd>
                                课程内容：课程定期更新，紧跟市场需求课程定期更新
                            </dd>
                            <dd>
                                课程目标：课程定期更新，紧跟市场需求课程定期更新，紧跟市场需求
                            </dd>
                            <dd>
                                软件技能：AE、PS
                            </dd>
                            <dd>
                                就业方向：课程定期课程定期更新，紧跟市场需求
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="kecheng-updates-sec2">
                    <div class="kecheng-updates-txt">
                        <dl>
                            <dt>阶段一：视频包装设计</dt>
                            <dd>
                                课程内容：课程定期更新，紧跟市期更新，紧跟市场需求
                            </dd>
                            <dd>
                                课程目标：课程定期更新，紧跟市场需求课程定期课程定期更新，紧跟市场需求
                            </dd>
                            <dd>
                                软件技能：AE、PS
                            </dd>
                            <dd>
                                就业方向：课程定期更程定期更新，紧跟市场需求课程
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="section-btn">
                <a class="btn" onclick="doyoo.util.openChat('g=10075108');return false;?v=1585716733574">免费领取软件教程</a>
            </div>
        </div>
    </div>

    <!-- 前学员、后企业、大项目、好课程！ -->
    <div class="section trainees-enterprises-sec">
        <div class="section-title">
            前学员、后企业、大项目、好课程！
        </div>
        <div class="section-describe">
            课程定期更新，紧跟市场需求六大就业保障，让你掌握求职主动权六大就业保障，让你掌握求职主动权
        </div>
        <div class="container">
            <div class="trainees-enterprises-inner">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="section-item">
                                <img class="section-cover" src="/static/images/ysjj/xiangmu1.jpg?v=1585716733574" alt="">
                                <div class="section-txt section-abs">
                                    <h3>《哪吒之魔童降世》</h3>
                                    <p>丝路联名阿里布局“云渲染”，为该影片提供动画渲染服务</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="section-item">
                                <img class="section-cover" src="/static/images/ysjj/xiangmu2.jpg?v=1585716733574" alt="">
                                <div class="section-txt section-abs">
                                    <h3>《哪吒之魔童降世》</h3>
                                    <p>丝路联名阿里布局“云渲染”，为该影片提供动画渲染服务</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="section-item">
                                <img class="section-cover" src="/static/images/ysjj/xiangmu3.jpg?v=1585716733574" alt="">
                                <div class="section-txt section-abs">
                                    <h3>《哪吒之魔童降世》</h3>
                                    <p>丝路联名阿里布局“云渲染”，为该影片提供动画渲染服务</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="section-item">
                                <img class="section-cover" src="/static/images/ysjj/xiangmu4.jpg?v=1585716733574" alt="">
                                <div class="section-txt section-abs">
                                    <h3>《哪吒之魔童降世》</h3>
                                    <p>丝路联名阿里布局“云渲染”，为该影片提供动画渲染服务</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="section-item">
                                <img class="section-cover" src="/static/images/ysjj/xiangmu5.jpg?v=1585716733574" alt="">
                                <div class="section-txt section-abs">
                                    <h3>《哪吒之魔童降世》</h3>
                                    <p>丝路联名阿里布局“云渲染”，为该影片提供动画渲染服务</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="section-item">
                                <img class="section-cover" src="/static/images/ysjj/xiangmu6.jpg?v=1585716733574" alt="">
                                <div class="section-txt section-abs">
                                    <h3>《哪吒之魔童降世》</h3>
                                    <p>丝路联名阿里布局“云渲染”，为该影片提供动画渲染服务</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>

                </div>
                <div class="trainees-enterprises-honor">
                    <p>企业营销片年产量<em>1500+</em></p>
                    <p>输出影视项目<em>1500+</em></p>
                    <p>制作总时长超<em>1200</em>分钟</p>
                    <p>多次荣获<em>AUTODESK</em></p>
                    <p>荣获<em>亚洲微电影</em>金海棠奖</p>
                    <p>荣获<em>亚洲微电影</em>金海棠奖</p>
                </div>
            </div>

        </div>
    </div>



    <!-- 一线影视制作大咖，全程陪同面试教学 -->
    <div class="section making-bigcoffee-sec">
        <div class="section-title">
            一线影视制作大咖，全程陪同面试教学
        </div>
        <div class="container">
            <img src="/static/images/ysjj/making-bigcoffee.png?v=1585716733574" alt="">
        </div>
        <div class="section-btn">
            <a class="btn" onclick="doyoo.util.openChat('g=10075108');return false;?v=1585716733574">查看更多丝路名师</a>
        </div>
    </div>

    <!-- 学员阶段作品，点滴记录进步 -->
    <div class="section student-stageworks-sec">
        <div class="section-title">
            学员阶段作品，点滴记录进步
        </div>
        <div class="swiper-container" slidesPerView='6' spaceBetween='30'>
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="section-item">
                        <img class="section-cover" src="/static/images/ysjj/zuoping1.jpg?v=1585716733574">
                    </div>

                </div>
                <div class="swiper-slide">
                    <div class="section-item">
                        <img class="section-cover" src="/static/images/ysjj/zuoping2.jpg?v=1585716733574">

                    </div>

                </div>
                <div class="swiper-slide">
                    <div class="section-item">
                        <img class="section-cover" src="/static/images/ysjj/zuoping3.jpg?v=1585716733574">

                    </div>

                </div>
                <div class="swiper-slide">
                    <div class="section-item">
                        <img class="section-cover" src="/static/images/ysjj/zuoping4.jpg?v=1585716733574">

                    </div>

                </div>
                <div class="swiper-slide">
                    <div class="section-item">
                        <img class="section-cover" src="/static/images/ysjj/zuoping5.jpg?v=1585716733574">

                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="section-item">
                        <img class="section-cover" src="/static/images/ysjj/zuoping6.jpg?v=1585716733574">
                    </div>
                </div>
            </div>
        </div>
        <div class="section-btn">
            <a class="btn" onclick="doyoo.util.openChat('g=10075108');return false;?v=1585716733574">查看更多作品</a>
        </div>
    </div>

    <!-- 内部项目特供实训阶段、学员长经验、赚学费 -->
    <div class="section internal-projects-sec">
        <div class="section-title">
            内部项目特供实训阶段、学员长经验、赚学费
        </div>
        <div class="section-describe">
            2019年仅春节全国电影综合票房58亿，1.3亿人次走进电影院，观影规模与往年相比平均增长23%。影视行业正处于增长红利期，
        </div>
        <div class="container">
            <div class="internal-projects-title">实训项目展示</div>
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="section-item">
                            <img class="section-cover" src="/static/images/ysjj/shixun1.jpg?v=1585716733574">
                            <div class="section-txt section-abs">
                                <h3>真理永恒</h3>
                                <p>客户：新华社</p>
                                <p>项目分工：3亿人次走进电影院，观影规模与往年相比平均增长23</p>
                                <p>需求环节：3亿人次走进电影院，观影规模与往年相比平均增长23</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="section-item">
                            <img class="section-cover" src="/static/images/ysjj/shixun2.jpg?v=1585716733574">
                            <div class="section-txt section-abs">
                                <h3>真理永恒</h3>
                                <p>客户：新华社</p>
                                <p>项目分工：3亿人次走进电影院，观影规模与往年相比平均增长23</p>
                                <p>需求环节：3亿人次走进电影院，观影规模与往年相比平均增长23</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>

        <div class="section-btn">
            <a class="btn" onclick="doyoo.util.openChat('g=10075108');return false;?v=1585716733574">查看更多作品</a>
        </div>
    </div>

    <!-- 丝路学员毕业有实力轻松入名企 -->
    <div class="section entry-enterprise-sec">
        <div class="section-title">
            丝路学员毕业有实力轻松入名企
        </div>
        <div class="container">
            <div class="entry-enterprise-list">
                <div class="entry-enterprise-item">
                    <img src="/static/images/ysjj/xueyuan1.png?v=1585716733574">
                    <h3>姓名：潘**</h3>
                    <p>公司：丝路视觉</p>
                    <div class="entry-enterpris-wages">月薪：10000+</div>
                </div>
                <div class="entry-enterprise-item">
                    <img src="/static/images/ysjj/xueyuan2.png?v=1585716733574">
                    <h3>姓名：潘**</h3>
                    <p>公司：丝路视觉</p>
                    <div class="entry-enterpris-wages">月薪：10000+</div>
                </div>
                <div class="entry-enterprise-item">
                    <img src="/static/images/ysjj/xueyuan3.png?v=1585716733574">
                    <h3>姓名：潘**</h3>
                    <p>公司：丝路视觉</p>
                    <div class="entry-enterpris-wages">月薪：10000+</div>
                </div>
                <div class="entry-enterprise-item">
                    <img src="/static/images/ysjj/xueyuan4.png?v=1585716733574">
                    <h3>姓名：潘**</h3>
                    <p>公司：丝路视觉</p>
                    <div class="entry-enterpris-wages">月薪：10000+</div>
                </div>
            </div>
        </div>
    </div>

    <!--六大就业保障，让你掌握求职主动权  -->
    <div class="section employment-security-sec">
        <div class="section-title">
            六大就业保障，让你掌握求职主动权
        </div>
        <div class="section-content">
            <div class="container">
                <img src="/static/images/ysjj/employment-security.png?v=1585716733574" />
            </div>
        </div>
    </div>


    <!-- 与众多名企达成人才合作，只缺你的一份简历 -->
    <div class="section silkroad-cooperative-sec">
        <div class="section-title">
            与<em>3000+</em>名企达成人才合作，只缺你的一份简历
        </div>
        <div class="section-content">
            <div class="container">
                <img src="/static/images/ysjj/logo.jpg?v=1585716733574" />
            </div>
        </div>
    </div>


    <!-- 你是否还有以下疑问？ -->
    <div class="section">
        <div class="section-title">
            你是否还有以下疑问？
        </div>
        <div class="section-content">
            <div class="container">
                <a onclick="doyoo.util.openChat('g=10075108');return false;?v=1585716733574">
                    <div class="liuda">
                        <img src="/static/images/ysjj/wenti.png?v=1585716733574" />
                    </div>
                </a>
            </div>
            <div class="section-btn">
                <a class="btn" onclick="doyoo.util.openChat('g=10075108');return false;?v=1585716733574">咨询更多问题</a>
            </div>
        </div>
    </div>


    <!-- 表单统计 -->
    <div class="section-form">
        <form action="/plus/diy.php?v=1585716733574" enctype="multipart/form-data" method="post" onsubmit="return checkMobile(this);">
            <input type="hidden" name="action" value="post" />
            <input type="hidden" name="diyid" value="1" />
            <input type="hidden" name="do" value="2" />
            <div class="section-form-title">学剪辑包装，进驻流量高地 <br />薪资远超传统行业！</div>

            <div class="section-form-row">
                <div class="form-group">
                    <input type='text' name='name' id='name' placeholder="姓名" class="form-control" />

                </div>
                <div class="form-group">
                    <input type="text" name='tel' class="form-control" placeholder="联系电话" />
                </div>
            </div>
            <input type="hidden" name="dede_fields" value="name,text;tel,text" />
            <input type="hidden" name="dede_fieldshash" value="9a39017bf68f0b74192154fa8a6e7256" />
            <div class="form-submit">
                <button class="btn" type="submit">一键预约免费试听</button>
            </div>
        </form>
    </div>

    <!-- 页脚 -->
    <div class="footer">
        <div class="footer-nav">
            <div class="container">
                <dl>
                    <dd>影视后期课程</dd>
                    <dt><a href="/views/yingshi/ysqn.html">影视视效设计全能班</a></dt>
                    <dt><a href="/views/yingshi/ystx.html">影视特效合成大师班</a></dt>
                    <dt><a href="/views/yingshi/ysjj.html">剪辑包装创意班</a></dt>
                    <dt><a href="/views/yingshi/ysdh.html">影视动画精英班</a></dt>
                    <dt><a href="/views/yingshi/c4d.html">C4D视效大师班</a></dt>
                </dl>
                <dl>
                    <dd>游戏设计课程</dd>
                    <dt><a href="/views/youxi/yxqn.html">游戏设计全能班</a></dt>
                    <dt><a href="/views/youxi/yxyh.html">游戏原画创意班</a></dt>
                    <dt><a href="/views/youxi/yxms.html">游戏3D美术精英班</a></dt>
                    <dt><a href="/views/youxi/yxrj.html">游戏软件精英班</a></dt>
                    <dt><a href="/views/youxi/yxtx.html">游戏动作特效精英班</a></dt>
                </dl>
                <dl>
                    <dd>室内设计课程</dd>
                    <dt><a href="/views/shinei/snqa.html">室内全案设计全能班</a></dt>
                    <dt><a href="/views/shinei/cad.html">CAD制图大师班</a></dt>
                    <dt><a href="/views/shinei/snrz.html">室内软装精英班</a></dt>
                    <dt><a href="/views/shinei/snsh.html">室内手绘创意班</a></dt>
                    <dt><a href="/views/shinei/snxgt.html">室内效果图精英班</a></dt>
                </dl>
                <dl>
                    <dd>UI设计课程</dd>
                    <dt><a href="/views/ui/uiqn.html">UI视觉设计全能班</a></dt>
                    <dt><a href="/views/ui/psds.html">Photoshop大师班</a></dt>
                    <dt><a href="/views/ui/pmsj.html">平面视觉创意班</a></dt>
                    <dt><a href="/views/ui/dsmg.html">电商美工精英班</a></dt>
                    <dt><a href="/views/ui/wysj.html">网页创意精英班</a></dt>
                </dl>
                <dl>
                    <dd>建筑表现课程</dd>
                    <dt><a href="/views/jianzhu/jzqn.html">建筑表现全能班</a></dt>
                    <dt><a href="/views/jianzhu/3dmaxds.html">3D MAX大师班</a></dt>
                    <dt><a href="/views/jianzhu/3djianmo.html">3D建模精英班</a></dt>
                    <dt><a href="/views/jianzhu/jzxg.html">建筑效果图精英班</a></dt>
                    <dt><a href="/views/jianzhu/jzxr.html">建筑渲染精英班</a></dt>
                </dl>
                <dl>
                    <dd>BIM应用课程</dd>
                    <dt><a href="/views/bim/bimqn.html">BIM应用全能班</a></dt>
                    <dt><a href="/views/bim/bimkz.html">BIM考证精英班</a></dt>
                    <dt><a href="/views/bim/revitds.html">Revit大师班</a></dt>
                    <dt><a href="/views/bim/lumion.html">Lumion大师班</a></dt>
                </dl>
                <dl>
                    <dd>报名入口</dd>
                    <dt><a href="/views/onlinebao.html">在线报名</a></dt>
                    <dt><a href="#">性格测试</a></dt>
                    <dt><a href="/views/contactus.html">联系我们</a></dt>
                </dl>
                <dl>
                    <dd>关注</dd>
                    <dt><a href="https://weibo.com/silucg?v=1585716733574" target="_blank">
                            <img src="/static/images/index/weibo-icon.png?v=1585716733574" />
                            <img src="/static/images/index/weixin-icon.png?v=1585716733574" />
                    </dt>
                    <dt><img src="/static/images/index/weixin-erweima.jpg?v=1585716733574" /></dt>
                </dl>

            </div>
        </div>
        <div class="footer-btm">
            <div class="container">
                <div class="footer-friendship-link">
                    友情链接：<a href="https://www.silkroadcg.com/?v=1585716733574" target="_blank">丝路视觉</a><a href="http://www.v5cg.com/?v=1585716733574"
                        target="_blank">V5CG</a><a href="https://www.zcool.com.cn/?v=1585716733574" target="_blank">酷站</a><a
                        href="https://huaban.com/?v=1585716733574" target="_blank">花瓣</a>
                </div>
                <div class="footer-copyright">
                    粤ICP备11044640号-6 版权归丝路视觉科技股份有限公司所有，盗用必究。
                </div>
            </div>
        </div>
    </div>
    <script src="/static/js/libs/jquery.min.js"></script>
    <script src="/static/js/plugs/vide7.4.1/js/video.js"></script>
    <script src="/static/js/plugs/picViewer/picViewer.js"></script>
    <script src="/static/js/plugs/swiper/swiper.js"></script>
    <script src="/layer-v3.1.1/layer/layer.js"></script>
    <script src="http://op.jiain.net/20002985/10085553.js"></script>
    <script src="/static/js/global.js"></script>

    <script>
        function checkMobile(form) {
            var tel = form.tel.value.trim();
            var name = form.name.value.trim();
            if (name === "") {
                layer.msg("姓名不能为空！");
                return false;
            }
            if (tel === "") {
                layer.msg("手机号不能为空！");
                return false;
            }
            if (!/^1\d{10}$/.test(tel)) {
                layer.msg("手机号格式错误！");
                return false;
            }
        }
    </script>
</body>

</html>