<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
<script>
    (function flexible(window, document) {
        var docEl = document.documentElement
        var dpr = window.devicePixelRatio || 1

        // adjust body font size
        function setBodyFontSize() {
            if (document.body) {
                document.body.style.fontSize = (12 * dpr) + 'px'
            } else {
                document.addEventListener('DOMContentLoaded', setBodyFontSize)
            }
        }
        setBodyFontSize();

        // set 1rem = viewWidth / 10
        function setRemUnit() {
            var rem = docEl.clientWidth / 10
            docEl.style.fontSize = rem + 'px'
        }

        setRemUnit()

        // reset rem unit on page resize
        window.addEventListener('resize', setRemUnit)
        window.addEventListener('pageshow', function(e) {
            if (e.persisted) {
                setRemUnit()
            }
        })

        // detect 0.5px supports
        if (dpr >= 2) {
            var fakeBody = document.createElement('body')
            var testElement = document.createElement('div')
            testElement.style.border = '.5px solid transparent'
            fakeBody.appendChild(testElement)
            docEl.appendChild(fakeBody)
            if (testElement.offsetHeight === 1) {
                docEl.classList.add('hairlines')
            }
            docEl.removeChild(fakeBody)
        }
    }(window, document))
</script>
    <title>UX全栈视效全能班</title>
    <link rel="stylesheet" href="/assets/js/plugs/vide-7.4.1/css/video-js.min.css?v=1595915801326">
<link rel="stylesheet" href="/assets/js/plugs/picViewer/picViewer.css?v=1595915801326">
<link rel="stylesheet" href="/assets/js/plugs/swiper-3.4.0/swiper-3.4.2.min.css?v=1595915801326">
    <link rel="stylesheet" href="/assets/css/ui/uiqn.css?v=1595915801326">
</head>

<body>
    <div class="header">
    <div class="header-tp" id="header-tp">
        <div class="header-menu"></div>
        <ul class="header-menu-list">
            <li class="header-menu-first">
                <a href="/index.html" style="color: #fff;">首页</a>
            </li>
            <li class="header-menu-first arrow-right">
     影视视效课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/yingshi/ysqn.html">影视视效全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ystx.html">特效合成大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ysjj.html">剪辑包装创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ysdh.html">影视动画精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/c4d.html">C4D特效大师班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
     游戏视觉课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/youxi/yxqn.html">游戏视觉全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxyh.html">游戏原画创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxms.html">3D美术精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxrj.html">游戏软件精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxtx.html">动作特效精英班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
     室内设计课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/shinei/snqk.html">APEC室内设计全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/cad.html">CAD制图大师班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snrz.html">室内软装精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snsh.html">室内手绘创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snxgt.html">室内效果图精英班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
     U X 全栈课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/ui/uiqn.html">UX全栈视效全能班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/psds.html">Photoshop大师班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/pmsj.html">品牌视觉创意班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/dsmg.html">
                电商美工精英班
            </a></li>
        <li class="header-menu-second">
            <a href="/ui/wysj.html">全链路设计精英班
            </a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
     建筑视效课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/jianzhu/jzsx.html">建筑视效全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/3dsMax.html">3ds MAX大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/3djm.html"> 3D建模精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/xrys.html">渲染艺术精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/jzxgt.html"> 建筑效果图精英班 </a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
     BIM应用课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/bim/bimqn.html">BIM应用全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/bimkz.html">BIM考证精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/revitds.html">Revit大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/lumion.html">Lumion大师班</a>
        </li>
    </ul>
</li>
            <li class="header-menu-first">
                <a href="/home/studentworks.html" style="color: #fff;">学员作品</a>
            </li>
            <li class="header-menu-first">
                <a href="/home/onlinebao.html" style="color: #fff;">在线报名</a>
            </li>
            <li class="header-menu-first">
                <a href="/home/contactus.html" style="color: #fff;">联系我们</a>
            </li>

        </ul>
        <div class="header-logo"></div>
        <a class="doyoo-btn">
            <div class="header-phone"></div>
        </a>
    </div>
    <div class="header-nav">
        <ul class="header-nav-wrap">
            <li class="header-nav-first header-nav-active">
                <a href="/index.html">首页</a>
            </li>
            <li class="header-nav-first" id="header-nav-first-course">课程
                <span class="arrow-down"></span>
                <ul class="header-nav-course">
                    <li class="header-menu-first arrow-right">
      影视视效 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/yingshi/ysqn.html">影视视效全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ystx.html">特效合成大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ysjj.html">剪辑包装创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ysdh.html">影视动画精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/c4d.html">C4D特效大师班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
      游戏视觉 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/youxi/yxqn.html">游戏视觉全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxyh.html">游戏原画创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxms.html">3D美术精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxrj.html">游戏软件精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxtx.html">动作特效精英班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
      室内设计 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/shinei/snqk.html">APEC室内设计全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/cad.html">CAD制图大师班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snrz.html">室内软装精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snsh.html">室内手绘创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snxgt.html">室内效果图精英班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
      UX 全栈 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/ui/uiqn.html">UX全栈视效全能班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/psds.html">Photoshop大师班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/pmsj.html">品牌视觉创意班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/dsmg.html">
                电商美工精英班
            </a></li>
        <li class="header-menu-second">
            <a href="/ui/wysj.html">全链路设计精英班
            </a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
      建筑视效 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/jianzhu/jzsx.html">建筑视效全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/3dsMax.html">3ds MAX大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/3djm.html"> 3D建模精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/xrys.html">渲染艺术精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/jzxgt.html"> 建筑效果图精英班 </a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
      BIM应用 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/bim/bimqn.html">BIM应用全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/bimkz.html">BIM考证精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/revitds.html">Revit大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/lumion.html">Lumion大师班</a>
        </li>
    </ul>
</li>
                </ul>
            </li>
            <li class="header-nav-first">
                <a href="/home/famousteacher.html">名师</a>
            </li>
            <li class="header-nav-first">
                <a href="/home/obtain.html">就业</a>
            </li>
            <li class="header-nav-first">
                <a href="/home/about.html">关于丝路</a>
            </li>
        </ul>
    </div>
</div>
<div class="header-mask" id="header-mask"></div>
    <div class="layout">
        <div class="banner">
            <a class="doyoo-btn">
                <img src="/assets/images/ui/uiqn/banner.png?v=1595915801326" alt="">
            </a>
        </div>
        <div class="section section-bg-write">
            <div class="container">
                <div class="section-title">
                    2020了<br> 你还在当传统UI吗？
                </div>
                <div class="section-list">
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/ui/uiqn/nr.png?v=1595915801326">
                    </div>
                </div>
            </div>
        </div>
        <div class="section five-plan-sec">
            <div class="container">
                <div class="section-title">
                    互联网新纪元
                    <br> 高薪全栈设计岗
                    <br>
                    <b>正在向你say Hi！</b>
                </div>
                <div class="section-list">
                    <div class="section-item">
                        <h3>
                            行业覆盖率<br> 99%
                        </h3>
                        <p>
                            覆盖金融、教育、<br>电商、媒体、<br> 广告、通信等
                        </p>
                        <div class="line"></div>
                    </div>
                    <div class="section-item">
                        <h3>
                            平均薪资
                            <br> 19890元/月
                        </h3>
                        <p>
                            UX全栈设计师平均<br>薪资是其他行业<br> 薪资的2倍
                        </p>
                        <div class="line"></div>
                    </div>
                    <div class="section-item">
                        <h3>
                            晋升管理岗
                            <br> 最快只需2年
                        </h3>
                        <p>
                            比传统设计师更懂<br>用户，职业发展更<br>迅速
                        </p>
                        <div class="line"></div>
                    </div>
                </div>
                <div class="section-btn">
                    <a class="btn doyoo-btn">了解更多行业内幕</a>
                </div>
            </div>
        </div>
        <div class="section section-bg-write">
            <div class="container">
                <div class="section-title">
                    UX设计师的72变<br/>在行业里升级打怪
                </div>
                <div class="section-list">
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/ui/uiqn/zy.png?v=1595915801326">
                    </div>

                </div>
                <div class="section-btn">
                    <a class="btn doyoo-btn">查看更多岗位薪资</a>
                </div>
            </div>
        </div>
        <div class="section section-bg-write bim-expert-sec">
            <div class="container">
                <div class="section-title">
                    确认过眼神
                    <br> 你是需要UX视效课程的人
                </div>
                <div class="section-list">
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/ui/uiqn/jy1.png?v=1595915801326">
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/ui/uiqn/jy2.png?v=1595915801326">
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/ui/uiqn/jy3.png?v=1595915801326">
                    </div>
                </div>
                <div class="section-btn">
                    <a class="btn doyoo-btn">测测我适合学UI吗？</a>
                </div>
            </div>

        </div>
    </div>
    <div class="section official-designation-sec">
        <div class="section-bg-write official-designation-sec1">
            <div class="container">
                <div class="section-title">
                    UX设计师的
                    <br> 《一稿过秘籍》
                </div>
                <div class="official-designation-num tac">01</div>
                <div class="official-designation-title tac">软件操作 多！快！好！省！</div>
                <div class="section-describe">
                    多软件！快操作！好创意！省时间！一样的软件，
                    <br/>不一样的教法，让你赢在起跑线上！
                </div>
                <div class="section-list">
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/ui/uiqn/rj.png?v=1595915801326">
                    </div>
                </div>
            </div>
        </div>
        <div class="official-designation-sec2">
            <div class="container">
                <div class="official-designation-num tac">02</div>
                <div class="official-designation-title tac">课程大纲面面俱到 实操应用无孔不入</div>
                <div class="section-list">
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/ui/uiqn/kc1.jpg?v=1595915801326">
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/ui/uiqn/kc2.jpg?v=1595915801326">
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/ui/uiqn/kc3.jpg?v=1595915801326">
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/ui/uiqn/kc4.jpg?v=1595915801326">
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/ui/uiqn/kc5.jpg?v=1595915801326">
                    </div>
                </div>
                <div class="section-btn">
                    <a class="btn doyoo-btn">获取完整课程大纲</a>
                </div>
            </div>
        </div>
        <div class="section-bg-write official-designation-sec3">
            <div class="container">
                <div class="official-designation-num tac">03</div>
                <div class="official-designation-title tac">
                    Adobe 官方授权培训机构<br> 有证走天下
                </div>
                <div class="section-describe">
                    Adobe官方授权的培训机构，在中国简称AATC， 在学习期间，丝路教育组织参加Adobe官方考试， 老师全程指导，通过考核，可获得Adobe官方授权的 平面设计师、移动端应用设计师、UI设计师、 UX设计师、高级交互设计师、前端工程师等专业证书
                </div>
                <div class="section-list">
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/ui/uiqn/zs1.jpg?v=1595915801326">
                        <h3>移动端应用设计师</h3>
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/ui/uiqn/zs2.jpg?v=1595915801326">
                        <h3>UI设计师</h3>
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/ui/uiqn/zs3.jpg?v=1595915801326">
                        <h3>UX设计师</h3>
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/ui/uiqn/zs4.jpg?v=1595915801326">
                        <h3>交互设计师</h3>
                    </div>
                </div>
                <div class="section-btn">
                    <a class="btn doyoo-btn">点击查看考试资格</a>
                </div>
            </div>
        </div>
        <div class="section-bg-write official-designation-sec4">
            <div class="container">
                <div class="official-designation-num tac">04</div>
                <div class="official-designation-title tac">课程大纲面面俱到 实操应用无孔不入</div>
                <div class="swiper-container" slidesPerView='2' spaceBetween='15'>
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="/assets/images/ui/uiqn/ls1.jpg?v=1595915801326">
                        </div>
                        <div class="swiper-slide">
                            <img src="/assets/images/ui/uiqn/ls2.jpg?v=1595915801326">
                        </div>
                        <div class="swiper-slide">
                            <img src="/assets/images/ui/uiqn/ls3.jpg?v=1595915801326">
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
                <div class="section-btn">
                    <a class="btn doyoo-btn">想和老师聊聊</a>
                </div>
            </div>
        </div>

    </div>

    <div class="section one-teaching-sec">
        <div class="container">
            <div class="section-title">
                每1次汇报<br> 都是1个小型项目提案
            </div>
            <div class="section-list">
                <div class="section-item">
                    <img class="section-cover" src="/assets/images/ui/uiqn/zp.png?v=1595915801326">
                </div>
            </div>
            <div class="section-btn">
                <a class="btn doyoo-btn">查看更多学员作品</a>
            </div>
        </div>
    </div>
    <div class="section get-bonus-sec">
        <div class="container">
            <div class="section-title">
                涨知识还拿奖金的实训！<br> 见过吗？
            </div>
            <div class="section-describe">丝路教育UX全栈视效设计课程实训均由专业老师带队,承接真实项目制作， 让学员在真实实践中获取经验、积累行业人脉，优秀团队学员还将获得项目提成，最高可达上万元！
            </div>
            <div class="section-list">
                <div class="section-item">
                    <img class="section-cover" src="/assets/images/ui/uiqn/hj.jpg?v=1595915801326">
                </div>
            </div>
        </div>
    </div>
    <div class="section silkroad-strength-sec">
        <div class="container">
            <div class="section-title">
                丝路UX全栈视效设计班 特色优势
            </div>
            <div class="section-list">
                <div class="section-item">
                    <img class="section-cover" src="/assets/images/ui/uiqn/bz.jpg?v=1595915801326">
                </div>
            </div>
        </div>
    </div>
    <div class="section put-action-sec">
        <div class="container">
            <div class="section-title">
                TA们的真实反馈
                <br> 就是最好的证言
            </div>
            <div class="section-list">
                <div class="section-item">
                    <div class="section-cover">
                        <img src="/assets/images/ui/uiqn/xy1.jpg?v=1595915801326">
                    </div>
                </div>
                <div class="section-item">
                    <div class="section-cover">
                        <img src="/assets/images/ui/uiqn/xy2.jpg?v=1595915801326">
                    </div>
                </div>
                <div class="section-item">
                    <div class="section-cover">
                        <img src="/assets/images/ui/uiqn/xy3.jpg?v=1595915801326">
                    </div>
                </div>
            </div>
            <div class="section-btn">
                <a class="btn doyoo-btn">查看更多学员评价</a>
            </div>
        </div>
    </div>
    <!-- 丝路与3000+名企合作 -->
    <div class="section">
        <div class="container">
            <div class="section-title">
                3000+合作名企
                <br>让你掌握就业主动权
            </div>
            <img src="/assets/images/ui/uiqn/hz.png?v=1595915801326" alt="">
            <div class="section-btn">
                <a class="btn doyoo-btn">查看更多合作企业</a>
            </div>
        </div>
    </div>


    <!-- 表单统计 -->
    <div class="section-form">
        <form id="form">
            <div class="form-group form-group-txt">
                学习和锻炼身体一样，<br> 任何时候都不
                <br> 会错、不会晚、不嫌多！
            </div>
            <div class="form-group">
                <input type='text' name='name' id="name" placeholder="请输入您的姓名" class="form-control" />
            </div>
            <div class="form-group">
                <input type="text" name='tel' id="tel" class="form-control" placeholder="请输入您的手机号码" />
            </div>
            <input type="text" name='time' id='time' style="display: none;" />

            <div class="form-submit">
                <button class="btn" type="button" onclick="add_ajaxmessage()"> 我要学习</button>
            </div>
        </form>
    </div>

    </div>
    <!--页脚 -->
<div class="endfoot-box">
    <div class="endfoot">
        <a class="doyoo-btn">
            <div class="endfoot-item">
                <p>名师在线</p>
                <p>免费试听</p>
            </div>
        </a>
    </div>
    <h3>本网站版权归丝路教育所有，盗用必究</h3>
</div>

<script src="/assets/js/libs/jquery.min.js"></script>
<script src="/assets/js/plugs/vide7.4.1/js/video.js"></script>
<script src="/assets/js/plugs/picViewer/picViewer.js"></script>
<script src="/assets/js/plugs/swiper/swiper.js"></script>
<script src="/assets/js/plugs/layer-v3.1.1/layer/layer.js"></script>
<script src="/assets/js/global/common.js"></script>
<!-- <script src="http://op.jiain.net/20002985/10085553.js"></script> -->
<script>
    var doyooBtns = [].slice.call(document.querySelectorAll('.doyoo-btn'));
    for (var i = 0, len = doyooBtns.length; i < len; i++) {
        doyooBtns[i].onclick = function() {
            doyoo.util.openChat('g=10075108');
            return false;
        }
    }
</script>

<!-- 百度统计代码 -->
<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?57448cbcd9efb5a61b8ba648ba49f3e2";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>

<!-- 表单 -->
<script src="/assets/js/plugs/formbd.js"></script>

</div>
</body>

</html>