/*公用*/

@import "../common/variable";
@import "../common/base";
.btn {
    background: #fcc800;
}

.titlebox .line {
    background: #333;
}


/*简介*/

.part-jianjie img {
    width: 100%;
    display: block;
}

.part-jianjie .btn {
    width: 56%;
}


/*岗位*/

.part-gangwei img {
    width: 100%;
    display: block;
}

.part-gangwei .btn {
    width: 40%;
}

.part-gangwei {
    background: #f1f1f1;
}


/*优势*/

.part-youshi img {
    width: 100%;
    display: block;
}

.part-youshi .btn {
    width: 40%;
}


/*薪资*/

.part-xinzi img {
    width: 100%;
    display: block;
}

.part-xinzi .btn {
    width: 56%;
}

.part-xinzi {
    background: #ececec;
}

.part-xinzi span {
    color: #d42126;
    font-weight: bold;
}


/*表单1*/

.part-oneform {
    background: url(../../img/youxi/youxiyuanhua/bd-bj1.jpg) no-repeat center;
    background-size: 100%;
}


/*教学保障*/

.part-jxbz {
    background: #f1f1f1;
}

.part-jxbz .titlebox h1 {
    line-height: 1.5;
}

.jxbz-item {
    float: left;
    text-align: center;
    width: 33.33%;
}

.jxbz-item img {
    width: 52%;
    margin: 0 auto;
    display: block;
}

.jxbz-threeitem {
    float: right;
}

.jxbz-item h2 {
    color: #333;
    font-size: 0.14rem;
    line-height: 1.5;
    margin-top: 0.1rem;
}

.jxbz-ctn {
    margin-top: 0.15rem;
}

.part-jxbz .btn {
    width: 50%;
}


/*问题*/

.part-wenti {
    background: url(../../img/youxi/youxiyuanhua/wt-bj.jpg)no-repeat top;
    background-size: 100%;
}

.part-wenti .titlebox h1 {
    color: #fff;
    line-height: 1.5;
}

.wenti-item {
    margin-bottom: 0.1rem;
}

.wenti-item p {
    float: left;
    font-size: 0.4rem;
    line-height: 1.5;
}

.wenti-item p:nth-of-type(1) {
    color: #999;
    width: 67%;
    padding-left: 4%;
    border: 1px solid #5e5e66;
    border-right: none;
}

.wenti-item p:nth-of-type(2) {
    color: #fff;
    width: 28%;
    background: #fcc800;
    border: 1px solid #fcc800;
    text-align: center;
}


/*丝路实力*/

.part-slsl {
    background: #f5f5f5;
}

.slsl-item {
    float: left;
    text-align: center;
    width: 33.33%;
}

.slsl-item img {
    width: 91%;
    margin: 0 auto;
    display: block;
}

.slsl-threeitem {
    float: right;
}

.slsl-item h2 {
    color: #333;
    font-size: 0.12rem;
    line-height: 1.5;
    margin-top: 0.1rem;
}

.slsl-ctn {
    margin-top: 0.12rem;
}

.part-slsl .btn {
    width: 40%;
}


/*讲师*/

.part-teacher {
    background: #fff;
}

.part-teacher .titlebox h1 {
    line-height: 1.5;
}

.teacher-item {
    margin-bottom: 0.1rem;
}

.teacher-item img {
    float: left;
    width: 23.2%;
}

.teacher-text {
    float: right;
    width: 72.5%;
}

.teacher-text h2 {
    color: #333;
    font-size: 0.15rem;
    line-height: 0.15rem;
    margin-top: 0.08rem;
}

.teacher-text h2 span,
.teacher-text p {
    font-size: 0.12rem;
    line-height: 0.18rem;
    color: #999;
}

.teacher-text img {
    display: block;
    width: 100%;
    margin: 0.1rem 0;
}

.part-teacher .btn {
    width: 56%;
}


/*课程*/

.part-kc {
    background: #f3f3f3;
}

.part-kc h1 {
    line-height: 0.3rem;
}

.part-kc img {
    width: 100%;
    display: block;
    margin: 0 auto;
}

.kc-item {
    width: 1.65rem;
    float: left;
    padding: 0.03rem;
}

.part-kc p {
    font-size: 0.15rem;
    color: #333;
    text-align: center;
    padding-top: 0.05rem;
}

.part-kc .btn {
    width: 56%;
}


/*表单2*/

.part-oneform2 {
    background: url(../../img/youxi/youxiyuanhua/bd-bj2.jpg) no-repeat center;
    background-size: 100%;
}

.part-form part-oneform2 h1 {
    line-height: 0.3rem;
}


/*作品*/

.part-zp {
    background: #f2f2f2;
}

.part-zp img {
    width: 100%;
    display: block;
    padding-top: 0.2rem;
}

.part-zp .btn {
    width: 56%;
}


/*合作*/

.part-hz img {
    width: 100%;
    display: block;
    padding-top: 0.2rem;
}

.part-hz .btn {
    width: 56%;
}

.part-hz {
    padding-bottom: 0;
}


/*招聘会*/

.part-zph {
    background: #f4f4f4;
}

.part-zph img {
    width: 100%;
    display: block;
}

.part-zph .btn {
    width: 56%;
}


/*表单2*/

.part-oneform3 {
    background: url(../../img/youxi/youxiyuanhua/bj3.png) no-repeat center;
    background-size: 100%;
}