<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首页</title>
    <link rel="stylesheet" href="/assets/css/index.css">
</head>

<body>
    <div class="header">
    <div class="header-tp" id="header-tp">
        <div class="header-menu"></div>
        <ul class="header-menu-list">
            <li class="header-menu-first">首页</li>
            <li class="header-menu-first arrow-right">
    
    影视视效课程
    
    
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">影视后期全能班</li>
        <li class="header-menu-second">影视特效合成大师班</li>
        <li class="header-menu-second">剪辑包装创意班</li>
        <li class="header-menu-second">影视动画精英班</li>
        <li class="header-menu-second">C4D特效大师班</li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
    
    游戏视觉课程
    
    
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">影视后期全能班</li>
        <li class="header-menu-second">影视特效合成大师班</li>
        <li class="header-menu-second">剪辑包装创意班</li>
        <li class="header-menu-second">影视动画精英班</li>
        <li class="header-menu-second">C4D特效大师班</li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
    
    APEC室内课程
    
    
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">影视后期全能班</li>
        <li class="header-menu-second">影视特效合成大师班</li>
        <li class="header-menu-second">剪辑包装创意班</li>
        <li class="header-menu-second">影视动画精英班</li>
        <li class="header-menu-second">C4D特效大师班</li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
    
    UX全栈课程
    
    
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">影视后期全能班</li>
        <li class="header-menu-second">影视特效合成大师班</li>
        <li class="header-menu-second">剪辑包装创意班</li>
        <li class="header-menu-second">影视动画精英班</li>
        <li class="header-menu-second">C4D特效大师班</li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
    
    建筑视效课程
    
    
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">影视后期全能班</li>
        <li class="header-menu-second">影视特效合成大师班</li>
        <li class="header-menu-second">剪辑包装创意班</li>
        <li class="header-menu-second">影视动画精英班</li>
        <li class="header-menu-second">C4D特效大师班</li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
    
    BIM应用课程
    
    
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">影视后期全能班</li>
        <li class="header-menu-second">影视特效合成大师班</li>
        <li class="header-menu-second">剪辑包装创意班</li>
        <li class="header-menu-second">影视动画精英班</li>
        <li class="header-menu-second">C4D特效大师班</li>
    </ul>
</li>
            <li class="header-menu-first">联系我们</li>
        </ul>
        <div class="header-menu-mask"></div>
        <div class="header-logo"></div>
        <div class="header-phone"></div>
    </div>
    <div class="header-nav">
        <ul class="header-nav-wrap">
            <li class="header-nav-first header-nav-active">首页</li>
            <li class="header-nav-first">课程
                <span class="arrow-down"></span>
                <ul class="header-nav-course">
                    <li class="header-menu-first arrow-right">
    
    
    影视视效
    
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">影视后期全能班</li>
        <li class="header-menu-second">影视特效合成大师班</li>
        <li class="header-menu-second">剪辑包装创意班</li>
        <li class="header-menu-second">影视动画精英班</li>
        <li class="header-menu-second">C4D特效大师班</li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
    
    
    游戏视觉
    
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">影视后期全能班</li>
        <li class="header-menu-second">影视特效合成大师班</li>
        <li class="header-menu-second">剪辑包装创意班</li>
        <li class="header-menu-second">影视动画精英班</li>
        <li class="header-menu-second">C4D特效大师班</li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
    
    
    APEC室内
    
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">影视后期全能班</li>
        <li class="header-menu-second">影视特效合成大师班</li>
        <li class="header-menu-second">剪辑包装创意班</li>
        <li class="header-menu-second">影视动画精英班</li>
        <li class="header-menu-second">C4D特效大师班</li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
    
    
    UX全栈
    
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">影视后期全能班</li>
        <li class="header-menu-second">影视特效合成大师班</li>
        <li class="header-menu-second">剪辑包装创意班</li>
        <li class="header-menu-second">影视动画精英班</li>
        <li class="header-menu-second">C4D特效大师班</li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
    
    
    建筑视效
    
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">影视后期全能班</li>
        <li class="header-menu-second">影视特效合成大师班</li>
        <li class="header-menu-second">剪辑包装创意班</li>
        <li class="header-menu-second">影视动画精英班</li>
        <li class="header-menu-second">C4D特效大师班</li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
    
    
    BIM应用
    
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">影视后期全能班</li>
        <li class="header-menu-second">影视特效合成大师班</li>
        <li class="header-menu-second">剪辑包装创意班</li>
        <li class="header-menu-second">影视动画精英班</li>
        <li class="header-menu-second">C4D特效大师班</li>
    </ul>
</li>
                </ul>
            </li>
            <li class="header-nav-first">名师</li>
            <li class="header-nav-first">就业</li>
            <li class="header-nav-first">关于丝路</li>
        </ul>
    </div>
</div>
    <div>
        about page
    </div>
    <script src="/assets/js/libs/jquery.min.js"></script>
<script src="/assets/js/global.js"></script>
</body>

</html>