<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
<script src="/assets/js/libs/lib-flexible.js"></script>
    <title>首页</title>
    <link rel="stylesheet" href="/assets/css/index.css">
</head>

<body>
    <div class="header">
    <div class="header-tp" id="header-tp">
        <div class="header-menu"></div>
        <ul class="header-menu-list">
            <li class="header-menu-first">首页</li>
            <li class="header-menu-first arrow-right">
    
    影视视效课程
    
    
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">影视后期全能班</li>
        <li class="header-menu-second">影视特效合成大师班</li>
        <li class="header-menu-second">剪辑包装创意班</li>
        <li class="header-menu-second">影视动画精英班</li>
        <li class="header-menu-second">C4D特效大师班</li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
    
    游戏视觉课程
    
    
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">影视后期全能班</li>
        <li class="header-menu-second">影视特效合成大师班</li>
        <li class="header-menu-second">剪辑包装创意班</li>
        <li class="header-menu-second">影视动画精英班</li>
        <li class="header-menu-second">C4D特效大师班</li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
    
    APEC室内课程
    
    
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">影视后期全能班</li>
        <li class="header-menu-second">影视特效合成大师班</li>
        <li class="header-menu-second">剪辑包装创意班</li>
        <li class="header-menu-second">影视动画精英班</li>
        <li class="header-menu-second">C4D特效大师班</li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
    
    UX全栈课程
    
    
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">影视后期全能班</li>
        <li class="header-menu-second">影视特效合成大师班</li>
        <li class="header-menu-second">剪辑包装创意班</li>
        <li class="header-menu-second">影视动画精英班</li>
        <li class="header-menu-second">C4D特效大师班</li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
    
    建筑视效课程
    
    
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">影视后期全能班</li>
        <li class="header-menu-second">影视特效合成大师班</li>
        <li class="header-menu-second">剪辑包装创意班</li>
        <li class="header-menu-second">影视动画精英班</li>
        <li class="header-menu-second">C4D特效大师班</li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
    
    BIM应用课程
    
    
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">影视后期全能班</li>
        <li class="header-menu-second">影视特效合成大师班</li>
        <li class="header-menu-second">剪辑包装创意班</li>
        <li class="header-menu-second">影视动画精英班</li>
        <li class="header-menu-second">C4D特效大师班</li>
    </ul>
</li>
            <li class="header-menu-first">联系我们</li>
        </ul>
        <div class="header-menu-mask"></div>
        <div class="header-logo"></div>
        <div class="header-phone"></div>
    </div>
    <div class="header-nav">
        <ul class="header-nav-wrap">
            <li class="header-nav-first header-nav-active">首页</li>
            <li class="header-nav-first">课程
                <span class="arrow-down"></span>
                <ul class="header-nav-course">
                    <li class="header-menu-first arrow-right">
    
    
    影视视效
    
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">影视后期全能班</li>
        <li class="header-menu-second">影视特效合成大师班</li>
        <li class="header-menu-second">剪辑包装创意班</li>
        <li class="header-menu-second">影视动画精英班</li>
        <li class="header-menu-second">C4D特效大师班</li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
    
    
    游戏视觉
    
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">影视后期全能班</li>
        <li class="header-menu-second">影视特效合成大师班</li>
        <li class="header-menu-second">剪辑包装创意班</li>
        <li class="header-menu-second">影视动画精英班</li>
        <li class="header-menu-second">C4D特效大师班</li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
    
    
    APEC室内
    
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">影视后期全能班</li>
        <li class="header-menu-second">影视特效合成大师班</li>
        <li class="header-menu-second">剪辑包装创意班</li>
        <li class="header-menu-second">影视动画精英班</li>
        <li class="header-menu-second">C4D特效大师班</li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
    
    
    UX全栈
    
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">影视后期全能班</li>
        <li class="header-menu-second">影视特效合成大师班</li>
        <li class="header-menu-second">剪辑包装创意班</li>
        <li class="header-menu-second">影视动画精英班</li>
        <li class="header-menu-second">C4D特效大师班</li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
    
    
    建筑视效
    
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">影视后期全能班</li>
        <li class="header-menu-second">影视特效合成大师班</li>
        <li class="header-menu-second">剪辑包装创意班</li>
        <li class="header-menu-second">影视动画精英班</li>
        <li class="header-menu-second">C4D特效大师班</li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
    
    
    BIM应用
    
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">影视后期全能班</li>
        <li class="header-menu-second">影视特效合成大师班</li>
        <li class="header-menu-second">剪辑包装创意班</li>
        <li class="header-menu-second">影视动画精英班</li>
        <li class="header-menu-second">C4D特效大师班</li>
    </ul>
</li>
                </ul>
            </li>
            <li class="header-nav-first">名师</li>
            <li class="header-nav-first">就业</li>
            <li class="header-nav-first">关于丝路</li>
        </ul>
    </div>
</div>
    <div class="banner">
        <img src="/assets/images/index/banner.jpg" alt="">
    </div>
    <div class="section study-design-sec">
        <div class="container">
            <div class="section-title">
                为什么学室内设计？
            </div>
            <div class="study-design-sec1">
                <div class="section-serial">
                    <div class="section-serial-number">01</div>
                    <div class="section-serial-line"> <img src="/assets/images/index/line.png" alt=""></div>
                    <div class="section-serial-content">
                        就业范围广<br>单日招聘岗位100000+
                    </div>
                </div>
                <img src="/assets/images/index/image1-1.jpg" alt="">
            </div>
            <div class="study-design-sec2">
                <div class="section-serial">
                    <div class="section-serial-number">02</div>
                    <div class="section-serial-line"> <img src="/assets/images/index/line.png" alt=""></div>
                    <div class="section-serial-content">
                        岗位晋升快<br>升职加薪机会多
                    </div>
                </div>
                <img src="/assets/images/index/image2-1.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="section designing-workers-sec">
        <div class="container">
            <div class="section-title">
                为何大部分设计师沦为<br> “设计民工”？
            </div>
            <div class="designing-workers-content">
                <div class="designing-workers-row">
                    <div class="section-describe">
                        室内设计入行两大人群
                    </div>
                    <div class="designing-workers-area">
                        <img src="/assets/images/index/image3-1.png" alt="">
                        <img src="/assets/images/index/image3-2.png" alt="">
                    </div>
                </div>
                <div class="designing-workers-row">
                    <div class="section-describe">
                        丝路教育成就非凡设计人生！
                    </div>
                    <div class="designing-workers-area">
                        <img src="/assets/images/index/image4-1.jpg" alt="">
                    </div>
                    <div class="section-btn">
                        <a class="btn" onclick="doyoo.util.openChat('g=10075108');return false;">查看开班计划</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="section fit-design-sec">
        <div class="container">
            <div class="section-title">
                哪些人群<br> 适合学室内设计？
            </div>
            <div class="fit-design-list">
                <div class="fit-design-item">
                    <img src="/assets/images/index/image5-1.png" alt="">
                    <dl>
                        <dt>相关专业毕业</dt>
                        <dd>缺乏项目实操</dd>
                        <dd>想提升实战</dd>
                        <dd>技巧与能力</dd>
                    </dl>
                </div>
                <div class="fit-design-item">
                    <img src="/assets/images/index/image5-2.png" alt="">
                    <dl>
                        <dt>相关专业毕业</dt>
                        <dd>缺乏项目实操</dd>
                        <dd>想提升实战</dd>
                        <dd>技巧与能力</dd>
                    </dl>
                </div>
                <div class="fit-design-item">
                    <img src="/assets/images/index/image5-3.png" alt="">
                    <dl>
                        <dt>相关专业毕业</dt>
                        <dd>缺乏项目实操</dd>
                        <dd>想提升实战</dd>
                        <dd>技巧与能力</dd>
                    </dl>
                </div>
                <div class="fit-design-item">
                    <img src="/assets/images/index/image5-4.png" alt="">
                    <dl>
                        <dt>相关专业毕业</dt>
                        <dd>缺乏项目实操</dd>
                        <dd>想提升实战</dd>
                        <dd>技巧与能力</dd>
                    </dl>
                </div>
            </div>
            <div class="section-btn">
                <a class="btn" onclick="doyoo.util.openChat('g=10075108');return false;">免费试听看看</a>
            </div>

        </div>
    </div>
    <div class="section select-silkroad-reason-sec">
        <div class="container">
            <div class="section-title">
                为什么选择丝路教育？
            </div>
            <div class="section-describe">
                国内唯一具备最高建筑装饰设计、展览展示工程资质的培训机构
            </div>
            <div class="select-silkroad-reason-list">
                <div class="select-silkroad-reason-item">
                    <img src="/assets/images/index/image6-1.jpg" alt="">
                    <h3>建筑装饰工程设计专项甲级证书</h3>
                </div>
                <div class="select-silkroad-reason-item">
                    <img src="/assets/images/index/image6-2.jpg" alt="">
                    <h3>建筑装饰工程设计专项甲级证书</h3>
                </div>
                <div class="select-silkroad-reason-item">
                    <img src="/assets/images/index/image6-3.jpg" alt="">
                    <h3>建筑装饰工程设计专项甲级证书</h3>
                </div>
                <div class="select-silkroad-reason-item">
                    <img src="/assets/images/index/image6-4.jpg" alt="">
                    <h3>建筑装饰工程设计专项甲级证书</h3>
                </div>
            </div>
            <div class="section-btn">
                <a class="btn" onclick="doyoo.util.openChat('g=10075108');return false;">查看更多荣誉资质</a>
            </div>

        </div>
    </div>
    <script src="/assets/js/libs/jquery.min.js"></script>
<script src="/assets/js/global.js"></script>
</body>

</html>