@import "variable";
@import "header_footer";

@font-face {
    font-family: HiraginoSansGB-W3;
    src: url("../../fonts/冬青黑体W3.otf");
}

@font-face {
    font-family: HiraginoSansGB-W6;
    src: url("../../fonts/苹果丽黑(W6)－Hiragino Sans GB W6.otf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    -webkit-tap-highlight-color: transparent;
}

html, body {
    height: 100%;
    background-color: #f9fafc;
}

html {
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
}

body {
    font: 14px/1.5 HiraginoSansGB-W3, '微软雅黑', tahoma, arial, Hiragino Sans GB, \5b8b\4f53, sans-serif;
    color: #3a3a3a;
}

input {
    outline: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    color: #666;
}

a,
a:hover {
    text-decoration: none;
}

.hidden {
    display: none;
}

.visiable {
    display: block;
}

img {
    max-width: 100%;
}

.layout {
    margin-top: 2.24rem;
}

.container {
    position: relative;
    width: 100%;
    padding: 0 0.4rem;
}

// 公共
.swiper-slide {
    overflow: hidden;

    img {
        display: block;
        margin: 0 auto;
    }

    &:hover {
        .silkroad-hover-detail {
            display: flex;
        }
    }
}

// 常用按钮
.btn {
    display: inline-block;
    line-height: 1;
    width: 5.3333rem;
    height: 0.8rem;
    line-height: 0.8rem;
    border-radius: 4px;
    font-size: 0.3733rem;
    border: 1px solid $base-color;
    text-align: center;
    color: #fff;
    background-color: $base-color;
    -webkit-appearance: none;
    transition: all .1s linear 0s;
    user-select: none;
    outline: none;
    cursor: pointer;

    &:hover {
        background-color: #e43e13;
    }
}

.form-group {
    margin-bottom: 15px;
}

.form-control {
    width: 4rem;
    height: 0.5333rem;
    padding: 0.08rem 0.16rem;
    border: 1px solid #584d46;
    background-color: rgba($color: #fff, $alpha: 1);
    vertical-align: middle;
    transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    -webkit-transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    -moz-transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    -o-transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;

    &:hover {
        border-color: #6e6e6e;
    }

    &:focus {
        border-color: #ff5722;
        outline: none;
    }
}

.form-label-inline {
    display: inline-block;
}

.form-label {
    display: block;
}

.section {
    padding: 1.3333rem 0 1.6rem;

    .section-title {
        margin-bottom: 0.6rem;
        font-size: 0.8rem;
        font-family: HiraginoSansGB-W6;
        text-align: center;
        color: #333436;
    }

    .section-describe {
        margin-bottom: 0.64rem;
        font-size: 0.3733rem;
        text-align: center;
        font-family: HiraginoSansGB-W6;
        color: #5e5f61;
    }

    .section-btn {
        margin-top: 0.5333rem;
        text-align: center;
    }
}

.section-bg-write {
    background-color: #fff;
}

// 表单
.section-form {
    background-color: #27242b;
    text-align: center;
    line-height: 1;

    form {
        width: 8.5333rem;
        margin: 0 auto;
    }

    .form-group {
        margin-bottom: 0.4rem;
    }

    .form-control {
        width: 100%;
    }

    .form-submit {
        .btn {
            width: 100%;
        }
    }
}

// hover详情
.silkroad-hover-detail {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    line-height: 1;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);

    h3 {
        margin-bottom: 0.4667rem;
        font-size: 0.2667rem;
        font-weight: normal;
    }

    .silkroad-hover-intro {
        p {
            text-align: center;
            margin-bottom: 0.1333rem;
            font-size: 0.2133rem;
        }
    }
}

// tab切换
.section-nav-tab {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 0.5333rem;

    .section-nav-item {
        cursor: pointer;
    }

    .section-nav-item.section-nav-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2.6667rem;
        height: 0.6667rem;
        border-radius: 0.0533rem;
        margin: 0 0.2667rem;
        font-size: 0.32rem;
        color: #4b4b4b;
        background: #8c8c8c;
    }

    .section-nav-item.section-nav-btn.section-nav-active {
        color: #fff;
        background: $base-color;
    }
}

.section-tab-list {
    .section-tab-col {
        display: none;
        flex-wrap: wrap;
        justify-content: space-between;

        &:first-child {
            display: flex;
        }
    }
}

// banner
.banner {
    position: relative;
    img {
        display: block;
        width: 100%;
    }
    .section-btn{
        position: absolute;
        width:100%;
        text-align: center;
    }
}
