<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">

    <title>3D美术精英班</title>
    <link rel="stylesheet" href="/assets/js/plugs/vide7.4.1/css/video-js.min.css?v=1586832561032">
<link rel="stylesheet" href="/assets/js/plugs/picViewer/picViewer.css?v=1586832561032">
<link rel="stylesheet" href="/assets/js/plugs/swiper/swiper.min.css?v=1586832561032">
    <link rel="stylesheet" href="/assets/css/youxi/yxms.css?v=1586832561032">
</head>

<body>
    <div class="header">
    <div class="header-tp" id="header-tp">
        <div class="header-menu"></div>
        <ul class="header-menu-list">
            <li class="header-menu-first">首页</li>
            <li class="header-menu-first arrow-right">
    
    影视视效课程
    
    
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/yingshi/ysqn.html">影视后期全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ystx.html">影视特效合成大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ysjj.html">剪辑包装创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ysdh.html">影视动画精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/c4d.html">C4D特效大师班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
    
    游戏视觉课程
    
    
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/youxi/yxqn.html">游戏视觉设计全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxyh.html">游戏原画创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxms.html">游戏3D美术精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxrj.html">游戏软件精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxtx.html">游戏动作特效精英班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
    
    APEC室内课程
    
    
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">影视后期全能班</li>
        <li class="header-menu-second">影视特效合成大师班</li>
        <li class="header-menu-second">剪辑包装创意班</li>
        <li class="header-menu-second">影视动画精英班</li>
        <li class="header-menu-second">C4D特效大师班</li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
    
    UX全栈课程
    
    
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">影视后期全能班</li>
        <li class="header-menu-second">影视特效合成大师班</li>
        <li class="header-menu-second">剪辑包装创意班</li>
        <li class="header-menu-second">影视动画精英班</li>
        <li class="header-menu-second">C4D特效大师班</li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
    
    建筑视效课程
    
    
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">影视后期全能班</li>
        <li class="header-menu-second">影视特效合成大师班</li>
        <li class="header-menu-second">剪辑包装创意班</li>
        <li class="header-menu-second">影视动画精英班</li>
        <li class="header-menu-second">C4D特效大师班</li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
    
    BIM应用课程
    
    
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/bim/bimqn.html">BIM应用全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/bimkz.html">BIM考证精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/revitds.html">Revit大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/lumion.html">Lumion大师班</a>
        </li>
    </ul>
</li>
            <li class="header-menu-first">联系我们</li>
        </ul>
        <div class="header-logo"></div>
        <div class="header-phone"></div>
    </div>
    <div class="header-nav">
        <ul class="header-nav-wrap">
            <li class="header-nav-first header-nav-active">首页</li>
            <li class="header-nav-first" id="header-nav-first-course">课程
                <span class="arrow-down"></span>
                <ul class="header-nav-course">
                    <li class="header-menu-first arrow-right">
    
    
    影视视效
    
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/yingshi/ysqn.html">影视后期全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ystx.html">影视特效合成大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ysjj.html">剪辑包装创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ysdh.html">影视动画精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/c4d.html">C4D特效大师班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
    
    
    游戏视觉
    
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/youxi/yxqn.html">游戏视觉设计全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxyh.html">游戏原画创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxms.html">游戏3D美术精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxrj.html">游戏软件精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxtx.html">游戏动作特效精英班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
    
    
    APEC室内
    
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">影视后期全能班</li>
        <li class="header-menu-second">影视特效合成大师班</li>
        <li class="header-menu-second">剪辑包装创意班</li>
        <li class="header-menu-second">影视动画精英班</li>
        <li class="header-menu-second">C4D特效大师班</li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
    
    
    UX全栈
    
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">影视后期全能班</li>
        <li class="header-menu-second">影视特效合成大师班</li>
        <li class="header-menu-second">剪辑包装创意班</li>
        <li class="header-menu-second">影视动画精英班</li>
        <li class="header-menu-second">C4D特效大师班</li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
    
    
    建筑视效
    
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">影视后期全能班</li>
        <li class="header-menu-second">影视特效合成大师班</li>
        <li class="header-menu-second">剪辑包装创意班</li>
        <li class="header-menu-second">影视动画精英班</li>
        <li class="header-menu-second">C4D特效大师班</li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
    
    
    BIM应用
    
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/bim/bimqn.html">BIM应用全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/bimkz.html">BIM考证精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/revitds.html">Revit大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/lumion.html">Lumion大师班</a>
        </li>
    </ul>
</li>
                </ul>
            </li>
            <li class="header-nav-first">名师</li>
            <li class="header-nav-first">就业</li>
            <li class="header-nav-first">关于丝路</li>
        </ul>
    </div>
</div>
<div class="header-mask" id="header-mask"></div>
<script src="/assets/js/libs/lib-flexible.js"></script>
    <div class="layout">
        <div class="banner">
            <a class="doyoo-btn">
                <img src="/assets/images/youxi/yxms/banner.jpg?v=1586832561032" alt="">
            </a>
        </div>
        <div class="section">
            <div class="container">
                <div class="section-title">
                    娱乐至上、全民游戏时代
                    <br><b>
                        行业“薪”机遇
                    </b>
                </div>
                <img src="/assets/images/youxi/yxms/shju1.png?v=1586832561032" alt="">
                <img src="/assets/images/youxi/yxms/shju2.png?v=1586832561032" alt="">
                <div class="section-btn">
                    <a class="btn doyoo-btn">了解游戏行业前景</a>
                </div>
            </div>
        </div>
        <div class="section suitable-whom-sec">
            <div class="container">
                <div class="section-title">
                    游戏3D美术适合谁学？
                </div>
                <img src="/assets/images/youxi/yxms/renqun.png?v=1586832561032" alt="">
                <div class="section-btn">
                    <a class="btn doyoo-btn">看看我适合学吗？</a>
                </div>
            </div>
        </div>
        <div class="section interest-career-sec">
            <div class="container">
                <div class="section-title">
                    兴趣变职业 娱乐赚大钱
                </div>
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="/assets/images/youxi/yxms/xz1.png?v=1586832561032" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="/assets/images/youxi/yxms/xz2.png?v=1586832561032" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="/assets/images/youxi/yxms/xz3.png?v=1586832561032" alt="">
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
                <div class="section-btn">
                    <a class="btn doyoo-btn">我要高薪就业</a>
                </div>
            </div>
        </div>
        <div class="section section-bg-write royalty-sec">
            <div class="container">
                <div class="section-title">
                    项目高提成薪资
                    <br><b>
                        碾压传统职位
                    </b>
                </div>
                <div class="section-list">
                    <div class="section-item">
                        <h3>手游设计制作</h3>
                        <img class="section-cover" src="/assets/images/youxi/yxms/xinzi1.png?v=1586832561032">
                        <div class="section-txt">
                            <p>提成薪资</p>
                            <div class="royalty-label">6000元</div>
                        </div>
                    </div>
                    <div class="section-item">
                        <h3>场景/道具制作</h3>
                        <img class="section-cover" src="/assets/images/youxi/yxms/xinzi2.png?v=1586832561032">
                        <div class="section-txt">
                            <p>提成薪资</p>
                            <div class="royalty-label">10000元</div>
                        </div>
                    </div>
                    <div class="section-item">
                        <h3>角色/怪物制作</h3>
                        <img class="section-cover" src="/assets/images/youxi/yxms/xinzi3.png?v=1586832561032">
                        <div class="section-txt">
                            <p>提成薪资</p>
                            <div class="royalty-label">11000元</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="section-title">
                    自学和到丝路学<br><b>
                        到底有什么差别
                    </b>
                </div>
                <img src="/assets/images/youxi/yxms/duibi.png?v=1586832561032" alt="">
                <div class="section-btn">
                    <a class="btn doyoo-btn">了解更多优势</a>
                </div>
            </div>
        </div>
        <div class="section section-bg-write perfect-curriculum-sec">
            <div class="container">
                <div class="section-title">
                    完善课程体系助阵
                    <br><b>
                        掌握核心技术
                    </b>
                </div>
                <div class="swiper-container" slidesPerView='3' spaceBetween='8' autoplay='false'>
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="/assets/images/youxi/yxms/rj1.png?v=1586832561032">
                        </div>
                        <div class="swiper-slide">
                            <img src="/assets/images/youxi/yxms/rj2.png?v=1586832561032">
                        </div>
                        <div class="swiper-slide">
                            <img src="/assets/images/youxi/yxms/rj3.jpg?v=1586832561032">
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
                <div class="section-btn">
                    <a class="btn doyoo-btn">免费领取软件教程</a>
                </div>
            </div>
        </div>
        <div class="section fivestep-method-sec">
            <div class="section-title">
                倾力研发精编课程
                <br><b>
                    新手到设计师的能力进阶
                </b>
            </div>
            <div class="container">
                <div class="fivestep-method-list">
                    <div class="fivestep-method-item">
                        <dl>
                            <dt>场景模型搭建阶段</dt>
                            <dd>
                                收获：完成游戏中的场景搭建和渲染，以及模型的布线精度分配。
                            </dd>
                        </dl>
                    </div>
                    <div class="fivestep-method-item">
                        <dl>
                            <dt>场景模型搭建阶段</dt>
                            <dd>
                                收获：完成游戏中的场景搭建和渲染，以及模型的布线精度分配。
                            </dd>
                        </dl>
                    </div>
                    <div class="fivestep-method-item">
                        <dl>
                            <dt>场景模型搭建阶段</dt>
                            <dd>
                                收获：完成游戏中的场景搭建和渲染，以及模型的布线精度分配。
                            </dd>
                        </dl>
                    </div>
                    <div class="fivestep-method-item">
                        <dl>
                            <dt>场景模型搭建阶段</dt>
                            <dd>
                                收获：完成游戏中的场景搭建和渲染，以及模型的布线精度分配。
                            </dd>
                        </dl>
                    </div>
                    <div class="fivestep-method-item">
                        <dl>
                            <dt>场景模型搭建阶段</dt>
                            <dd>
                                收获：完成游戏中的场景搭建和渲染，以及模型的布线精度分配。
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="section-btn">
                    <a class="btn doyoo-btn">获取课程资料</a>
                </div>
            </div>
        </div>
        <div class="section section-bg-write level-project-sec">
            <div class="container">
                <div class="section-title">
                    AAA级项目案例加持
                    <br><b>
                        只教最顶尖的技艺
                    </b>
                </div>
                <div class="section-describe">
                    丝路教育以理论知识结合实际操作的方式教学，将真实案例带入课堂，学员在校接触的项目均为AAA级。“完美”案例造就“完美”人才，全面掌握知识重点，增加学员就业砝码。
                </div>
                <div class="section-list">
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/youxi/yxms/3a1.png?v=1586832561032">
                        <div class="section-txt">
                            <h3>王者荣耀</h3>
                            <p>
                                将火热的游戏案例带入课堂，从“游戏道具”出发，锻炼 学员对游戏道具的设计能力。
                            </p>
                        </div>
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/youxi/yxms/3a2.png?v=1586832561032">
                        <div class="section-txt">
                            <h3>王者荣耀</h3>
                            <p>
                                将火热的游戏案例带入课堂，从“游戏道具”出发，锻炼 学员对游戏道具的设计能力。
                            </p>
                        </div>
                    </div>
                </div>
                <div class="section-btn">
                    <a class="btn doyoo-btn">了解更多优势</a>
                </div>
            </div>
        </div>
        <div class="section medal-lecturer-sec">
            <div class="container">
                <div class="section-title">
                    金牌讲师 倾囊相授
                </div>
                <div class="section-describe">
                    丝路教育以理论知识结合实际操作的方式教学，将真实案例带入课堂，学员在校接触的项目均为AAA级。“完美”案例造就“完美”人才，全面掌握知识重点，增加学员就业砝码。
                </div>
                <div class="section-list">
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/youxi/yxms/tec1.png?v=1586832561032">
                        <div class="section-txt">
                            <h3>王者荣耀
                                <span>/ 12年从业经验</span>
                            </h3>
                            <div class="medal-lecturer-pos"> 游戏视觉高级讲师</div>
                            <p>
                                代表项目：<br> 《使命召唤》《神秘海域》《星球大战》《英雄联盟》《全球使命》……
                            </p>
                        </div>
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/youxi/yxms/tec2.png?v=1586832561032">
                        <div class="section-txt">
                            <h3>王者荣耀
                                <span>/ 12年从业经验</span>
                            </h3>
                            <div class="medal-lecturer-pos">游戏视觉高级讲师</div>
                            <p>
                                代表项目：<br> 《使命召唤》《神秘海域》《星球大战》《英雄联盟》《全球使命》……
                            </p>
                        </div>
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/youxi/yxms/tec3.png?v=1586832561032">
                        <div class="section-txt">
                            <h3>王者荣耀
                                <span>/ 12年从业经验</span>
                            </h3>
                            <div class="medal-lecturer-pos">游戏视觉高级讲师</div>
                            <p>
                                代表项目：<br> 《使命召唤》《神秘海域》《星球大战》《英雄联盟》《全球使命》……
                            </p>
                        </div>
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/youxi/yxms/tec4.png?v=1586832561032">
                        <div class="section-txt">
                            <h3>王者荣耀
                                <span>/ 12年从业经验</span>
                            </h3>
                            <div class="medal-lecturer-pos">游戏视觉高级讲师</div>
                            <p>
                                代表项目：<br> 《使命召唤》《神秘海域》《星球大战》《英雄联盟》《全球使命》……
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section section-bg-write student-strength-sec">
            <div class="container">
                <div class="section-title">
                    学员实力展示
                    <br><b>
                        用作品说话
                    </b>
                </div>
                <div class="section-list">
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/youxi/yxms/stu-work1.png?v=1586832561032">
                        <div class="section-txt">
                            <h3>
                                1904期 王*杰
                                <br> 作品：次世代游戏道具
                            </h3>
                        </div>
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/youxi/yxms/stu-work2.png?v=1586832561032">
                        <div class="section-txt">
                            <h3>
                                1904期 王*杰
                                <br> 作品：次世代游戏道具
                            </h3>
                        </div>
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/youxi/yxms/stu-work3.png?v=1586832561032">
                        <div class="section-txt">
                            <h3>
                                1904期 王*杰
                                <br> 作品：次世代游戏道具
                            </h3>
                        </div>
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/youxi/yxms/stu-work4.png?v=1586832561032">
                        <div class="section-txt">
                            <h3>
                                1904期 王*杰
                                <br> 作品：次世代游戏道具
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="section-btn">
                    <a class="btn doyoo-btn">查看更多作品</a>
                </div>
            </div>
        </div>
        <div class="section employment-security-sec">
            <div class="container">
                <div class="section-title">
                    独享六大就业保障
                    <br><b>
                        入学即就业
                    </b>
                </div>
                <div class="section-list">
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/youxi/yxms/icon1.png?v=1586832561032">
                        <div class="section-txt">
                            <h3>入学签订就业协议</h3>
                        </div>
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/youxi/yxms/icon2.png?v=1586832561032">
                        <div class="section-txt">
                            <h3>入学签订就业协议</h3>
                        </div>
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/youxi/yxms/icon3.png?v=1586832561032">
                        <div class="section-txt">
                            <h3>入学签订就业协议</h3>
                        </div>
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/youxi/yxms/icon4.png?v=1586832561032">
                        <div class="section-txt">
                            <h3>入学签订就业协议</h3>
                        </div>
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/youxi/yxms/icon5.png?v=1586832561032">
                        <div class="section-txt">
                            <h3>入学签订就业协议</h3>
                        </div>
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/youxi/yxms/icon6.png?v=1586832561032">
                        <div class="section-txt">
                            <h3>入学签订就业协议</h3>
                        </div>
                    </div>
                </div>
                <div class="section-btn">
                    <a class="btn doyoo-btn">查看更多作品</a>
                </div>
            </div>
        </div>
        <div class="section section-bg-write teaching-word-sec">
            <div class="container">
                <div class="section-title">
                    高质量教学口碑
                    <br><b>
                        数万学员真实验证
                    </b>
                </div>
                <div class="section-list">
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/youxi/yxms/stu1.png?v=1586832561032">
                        <div class="section-txt">
                            <h3>1607期 李*</h3>
                            <div class="line"></div>
                            <p>
                                就职公司：艾迪亚<br> 现任岗位：角色设计师
                                <br> 薪资：
                                <em>
                                    8000
                                </em>
                            </p>
                        </div>
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/youxi/yxms/stu2.png?v=1586832561032">
                        <div class="section-txt">
                            <h3>1607期 李*</h3>
                            <div class="line"></div>
                            <p>
                                就职公司：艾迪亚<br> 现任岗位：角色设计师
                                <br> 薪资：
                                <em>
                                    8000
                                </em>
                            </p>
                        </div>
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/youxi/yxms/stu3.png?v=1586832561032">
                        <div class="section-txt">
                            <h3>1607期 李*</h3>
                            <div class="line"></div>
                            <p>
                                就职公司：艾迪亚<br> 现任岗位：角色设计师
                                <br> 薪资：
                                <em>
                                    8000
                                </em>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="section-btn">
                    <a class="btn doyoo-btn">查看更多优秀学员</a>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="section-title">
                    丝路与3000+名企合作
                    <br><b>
                        助你搭乘高薪直通车
                    </b>
                </div>
                <img src="/assets/images/youxi/yxms/logo.png?v=1586832561032" alt="">
            </div>
        </div>
        <!-- 表单统计 -->
        <div class="section-form">
            <form action="/plus/diy.php?v=1586832561032" enctype="multipart/form-data" method="post" onsubmit="return checkMobile(this);">
                <div class="form-group form-group-txt">
                    即刻高薪就业
                    <br>
                    <b>
                        你准备好了吗？
                    </b>
                </div>
                <div class="form-group">
                    <input type='text' name='name' placeholder="姓名：请填写姓名" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="text" name='tel' class="form-control" placeholder="联系方式：请填写手机号码" />
                </div>
                <div class="form-submit">
                    <button class="btn" type="submit">预约免费试听</button>
                </div>
            </form>
        </div>
    </div>
    <script src="/assets/js/libs/jquery.min.js"></script>
<script src="/assets/js/plugs/vide7.4.1/js/video.js"></script>
<script src="/assets/js/plugs/picViewer/picViewer.js"></script>
<script src="/assets/js/plugs/swiper/swiper.js"></script>
<script src="/assets/js/plugs/layer-v3.1.1/layer/layer.js"></script>
<script src="/assets/js/global/common.js"></script>
<!-- <script src="http://op.jiain.net/20002985/10085553.js"></script> -->
<script>
    var doyooBtns = [].slice.call(document.querySelectorAll('.doyoo-btn'));
    for (var i = 0, len = doyooBtns.length; i < len; i++) {
        doyooBtns[i].onclick = function() {
            doyoo.util.openChat('g=10075108');
            return false;
        }
    }
</script>
<!-- 表单 -->
<script src="/static/js/formbd.js"></script>
</body>

</html>