<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
<script>
    (function flexible(window, document) {
        var docEl = document.documentElement
        var dpr = window.devicePixelRatio || 1

        // adjust body font size
        function setBodyFontSize() {
            if (document.body) {
                document.body.style.fontSize = (12 * dpr) + 'px'
            } else {
                document.addEventListener('DOMContentLoaded', setBodyFontSize)
            }
        }
        setBodyFontSize();

        // set 1rem = viewWidth / 10
        function setRemUnit() {
            var rem = docEl.clientWidth / 10
            docEl.style.fontSize = rem + 'px'
        }

        setRemUnit()

        // reset rem unit on page resize
        window.addEventListener('resize', setRemUnit)
        window.addEventListener('pageshow', function(e) {
            if (e.persisted) {
                setRemUnit()
            }
        })

        // detect 0.5px supports
        if (dpr >= 2) {
            var fakeBody = document.createElement('body')
            var testElement = document.createElement('div')
            testElement.style.border = '.5px solid transparent'
            fakeBody.appendChild(testElement)
            docEl.appendChild(fakeBody)
            if (testElement.offsetHeight === 1) {
                docEl.classList.add('hairlines')
            }
            docEl.removeChild(fakeBody)
        }
    }(window, document))
</script>
    <title>游戏视觉全能班</title>
    <link rel="stylesheet" href="/assets/js/plugs/vide-7.4.1/css/video-js.min.css?v=1587179319710">
<link rel="stylesheet" href="/assets/js/plugs/picViewer/picViewer.css?v=1587179319710">
<link rel="stylesheet" href="/assets/js/plugs/swiper-3.4.0/swiper-3.4.2.min.css?v=1587179319710">
    <link rel="stylesheet" href="/assets/css/youxi/yxqn.css?v=1587179319710">
</head>

<body>
    <div class="header">
    <div class="header-tp" id="header-tp">
        <div class="header-menu"></div>
        <ul class="header-menu-list">
            <li class="header-menu-first">
                <a href="/index.html">首页</a>
            </li>
            <li class="header-menu-first arrow-right">
     影视视效课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/yingshi/ysqn.html">影视视效全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ystx.html">特效合成大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ysjj.html">剪辑包装创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ysdh.html">影视动画精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/c4d.html">C4D特效大师班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
     游戏视觉课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/youxi/yxqn.html">游戏视觉全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxyh.html">游戏原画创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxms.html">3D美术精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxrj.html">游戏软件精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxtx.html">动作特效精英班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
     室内设计课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/shinei/snqk.html">APEC室内设计全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/cad.html">CAD制图大师班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snrz.html">室内软装精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snsh.html">室内手绘创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snxgt.html">室内效果图精英班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
     U X 全栈课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/ui/uiqn.html">UX全栈视效全能班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/psds.html">Photoshop大师班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/pmsj.html">品牌视觉创意班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/dsmg.html">
                电商美工精英班
            </a></li>
        <li class="header-menu-second">
            <a href="/ui/wysj.html">全链路设计精英班
            </a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
     建筑视效课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/jianzhu/jzsx.html">建筑视效全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/3dsMax.html">3ds MAX大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/3djm.html"> 3D建模精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/xrys.html">渲染艺术精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/jzxgt.html"> 建筑效果图精英班 </a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
     BIM应用课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/bim/bimqn.html">BIM应用全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/bimkz.html">BIM考证精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/revitds.html">Revit大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/lumion.html">Lumion大师班</a>
        </li>
    </ul>
</li>
            <li class="header-menu-first">
                <a href="/home/studentworks.html">学员作品</a>
            </li>
            <li class="header-menu-first">
                <a href="/home/onlinebao.html">在线报名</a>
            </li>
            <li class="header-menu-first">
                <a href="/home/contactus.html">联系我们</a>
            </li>

        </ul>
        <div class="header-logo"></div>
        <div class="header-phone"></div>
    </div>
    <div class="header-nav">
        <ul class="header-nav-wrap">
            <li class="header-nav-first header-nav-active">
                <a href="/index.html">首页</a>
            </li>
            <li class="header-nav-first" id="header-nav-first-course">课程
                <span class="arrow-down"></span>
                <ul class="header-nav-course">
                    <li class="header-menu-first arrow-right">
      影视视效 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/yingshi/ysqn.html">影视视效全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ystx.html">特效合成大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ysjj.html">剪辑包装创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ysdh.html">影视动画精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/c4d.html">C4D特效大师班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
      游戏视觉 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/youxi/yxqn.html">游戏视觉全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxyh.html">游戏原画创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxms.html">3D美术精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxrj.html">游戏软件精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxtx.html">动作特效精英班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
      室内设计 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/shinei/snqk.html">APEC室内设计全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/cad.html">CAD制图大师班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snrz.html">室内软装精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snsh.html">室内手绘创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snxgt.html">室内效果图精英班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
      UX 全栈 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/ui/uiqn.html">UX全栈视效全能班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/psds.html">Photoshop大师班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/pmsj.html">品牌视觉创意班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/dsmg.html">
                电商美工精英班
            </a></li>
        <li class="header-menu-second">
            <a href="/ui/wysj.html">全链路设计精英班
            </a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
      建筑视效 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/jianzhu/jzsx.html">建筑视效全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/3dsMax.html">3ds MAX大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/3djm.html"> 3D建模精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/xrys.html">渲染艺术精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/jzxgt.html"> 建筑效果图精英班 </a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
      BIM应用 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/bim/bimqn.html">BIM应用全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/bimkz.html">BIM考证精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/revitds.html">Revit大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/lumion.html">Lumion大师班</a>
        </li>
    </ul>
</li>
                </ul>
            </li>
            <li class="header-nav-first">
                <a href="/home/famousteacher.html">名师</a>
            </li>
            <li class="header-nav-first">
                <a href="/home/obtain.html">就业</a>
            </li>
            <li class="header-nav-first">
                <a href="/home/about.html">关于丝路</a>
            </li>
        </ul>
    </div>
</div>
<div class="header-mask" id="header-mask"></div>
    <div class="layout">
        <div class="banner">
            <a class="doyoo-btn">
                <img src="/assets/images/youxi/yxqn/banner.jpg?v=1587179319710" alt="">
            </a>
        </div>
        <div class="section section-bg-write games-connotation-sec">
            <div class="container">
                <div class="section-title">
                    经常玩游戏<br> 其中的内涵有那么多？
                </div>
                <!-- <div class="section-describe">
                    Cinema 4D以其高运算速度和强大的渲染插件<br>
                    著称，并且在用其描绘的各类电影中表现突出，<br>
                    在电视包装领域也表现非凡，如今已成为国内<br>
                    设计主流软件，运用更加广泛。
                </div> -->
                <img src="/assets/images/youxi/yxqn/yx1-1.png?v=1587179319710" alt="">
                <div class="section-btn">
                    <a class="doyoo-btn">
                        <img src="/assets/images/youxi/yxqn/btn1.png?v=1587179319710" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="section section-bg-write highlight-time-sec">
            <div class="container">
                <div class="section-title">
                    游戏迎来高光时刻
                </div>
                <div class="section-sub-title">
                    娱乐时代人均玩家，爆款游戏吸金无数
                </div>
                <div class="section-list">
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/youxi/yxqn/yx2-1.jpg?v=1587179319710" alt="">
                        <div class="section-txt">
                            《王者荣耀》
                            <br/>制作团队
                            <br/>获得120个月工资
                        </div>
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/youxi/yxqn/yx2-2.jpg?v=1587179319710" alt="">
                        <div class="section-txt">
                            微信小游戏
                            <br/> 《跳一跳》
                            <br/>日赚500万元
                        </div>
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/youxi/yxqn/yx2-3.jpg?v=1587179319710" alt="">
                        <div class="section-txt">
                            VR游戏
                            <br/>《节奏光剑》
                            <br/>收入超3000万元
                        </div>
                    </div>
                </div>
                <div class="section-btn">
                    <a class="doyoo-btn">
                        <img src="/assets/images/youxi/yxqn/btn2.png?v=1587179319710" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="section section-bg-write assembly-time-sec">
            <div class="container">
                <div class="section-title">
                    游戏行业吹响人才集结号
                </div>
                <div class="section-sub-title">
                    不同的职位选择，一样的高薪就业
                </div>
                <div class="section-describe">
                    根据各大招聘网站统计，游戏设计相关招聘岗位空缺为63万+，其中策划为7万+，美术设计为31万+，程序为12万+......由此可见，游戏设计的招聘需求，美术设计
                    <br/>独占鳌头。
                </div>
                <div class="section-list">
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/youxi/yxqn/yx3-1.jpg?v=1587179319710" alt="">
                        <div class="section-txt">
                            <h3>游戏策划师</h3>
                            <p>10k-15k/月</p>
                        </div>
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/youxi/yxqn/yx3-2.jpg?v=1587179319710" alt="">
                        <div class="section-txt">
                            <h3>游戏原画设计师</h3>
                            <p>10k-15k/月</p>
                        </div>
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/youxi/yxqn/yx3-3.jpg?v=1587179319710" alt="">
                        <div class="section-txt">
                            <h3>游戏场景设计师</h3>
                            <p>10k-15k/月</p>
                        </div>
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/youxi/yxqn/yx3-4.jpg?v=1587179319710" alt="">
                        <div class="section-txt">
                            <h3>游戏角色设计师</h3>
                            <p>12k-17k/月</p>
                        </div>
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/youxi/yxqn/yx3-5.jpg?v=1587179319710" alt="">
                        <div class="section-txt">
                            <h3>次世代游戏设计师</h3>
                            <p>11k-17k/月</p>
                        </div>
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/youxi/yxqn/yx3-6.jpg?v=1587179319710" alt="">
                        <div class="section-txt">
                            <h3>游戏动作/特效师</h3>
                            <p>10k-16k/月</p>
                        </div>
                    </div>
                </div>





                <div class="section-btn">
                    <a class="doyoo-btn">
                        <img src="/assets/images/youxi/yxqn/btn3.png?v=1587179319710" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="section section-bg-write six-guarantees-sec">
            <div class="section-title">
                丝路教育六大保障
            </div>
            <div class="section-sub-title">
                “玩”游戏，轻松毕业拿高薪
            </div>
            <div class="six-guarantees-row six-guarantees-sec1">
                <div class="container">
                    <div class="guarantees-title">
                        <img src="/assets/images/youxi/yxqn/title1.png?v=1587179319710" alt="">
                        <p>学员独享特权礼，入学练级更安心</p>
                    </div>
                    <div class="section-list">
                        <div class="section-item">
                            <img class="section-cover" src="/assets/images/youxi/yxqn/icon1.png?v=1587179319710" alt="">
                            <div class="section-txt">
                                免费试学
                            </div>
                        </div>
                        <div class="section-item">
                            <img class="section-cover" src="/assets/images/youxi/yxqn/icon2.png?v=1587179319710" alt="">
                            <div class="section-txt">
                                先学后付
                            </div>
                        </div>
                        <div class="section-item">
                            <img class="section-cover" src="/assets/images/youxi/yxqn/icon3.png?v=1587179319710" alt="">
                            <div class="section-txt">
                                免费重修
                            </div>
                        </div>
                        <div class="section-item">
                            <img class="section-cover" src="/assets/images/youxi/yxqn/icon4.png?v=1587179319710" alt="">
                            <div class="section-txt">
                                名师面授
                            </div>
                        </div>
                        <div class="section-item">
                            <img class="section-cover" src="/assets/images/youxi/yxqn/icon5.png?v=1587179319710" alt="">
                            <div class="section-txt">
                                商业实训
                            </div>
                        </div>
                        <div class="section-item">
                            <img class="section-cover" src="/assets/images/youxi/yxqn/icon6.png?v=1587179319710" alt="">
                            <div class="section-txt">
                                名企就业
                            </div>
                        </div>
                    </div>
                    <div class="section-btn">
                        <a class="doyoo-btn">
                            <img src="/assets/images/youxi/yxqn/btn4.png?v=1587179319710" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="six-guarantees-row six-guarantees-sec2">
                <div class="container">
                    <div class="guarantees-title">
                        <img src="/assets/images/youxi/yxqn/title2.png?v=1587179319710" alt="">
                        <p>商业游戏制作背景，更懂企业用人需求</p>
                    </div>
                    <img src="/assets/images/youxi/yxqn/yx4-1.png?v=1587179319710" alt="">
                    <div class="section-btn">
                        <a class="doyoo-btn">
                            <img src="/assets/images/youxi/yxqn/btn5.png?v=1587179319710" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="six-guarantees-row six-guarantees-sec3">
                <div class="container">
                    <div class="guarantees-title">
                        <img src="/assets/images/youxi/yxqn/title3.png?v=1587179319710" alt="">
                        <p>教科书级精编课程，0基础快速提升</p>
                    </div>
                    <div class="guarantees-list">
                        <img src="/assets/images/youxi/yxqn/yx5-1.png?v=1587179319710" alt="">
                        <img src="/assets/images/youxi/yxqn/yx5-2.png?v=1587179319710" alt="">
                        <img src="/assets/images/youxi/yxqn/yx5-3.png?v=1587179319710" alt="">
                    </div>
                    <div class="section-btn">
                        <a class="doyoo-btn">
                            <img src="/assets/images/youxi/yxqn/btn6.png?v=1587179319710" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="six-guarantees-row six-guarantees-sec4">
                <div class="container">
                    <div class="guarantees-title">
                        <img src="/assets/images/youxi/yxqn/title4.png?v=1587179319710" alt="">
                        <p>你喜爱的游戏，出自丝路讲师之手</p>
                    </div>
                    <div class="section-list">
                        <div class="section-item">
                            <div class="section-cover">
                                <img src="/assets/images/youxi/yxqn/tec1.png?v=1587179319710" alt="">
                            </div>
                            <div class="section-txt">
                                <h3>
                                    徐建喜 <span>
                                        / 15年从业经验
                                    </span>
                                </h3>
                                <div class="six-guarantees-works">
                                    <span>代表作品:</span> 2K Sports、 NBA 2K、战争机器、寻龙
                                </div>
                            </div>
                        </div>
                        <div class="section-item">
                            <div class="section-cover">
                                <img src="/assets/images/youxi/yxqn/tec2.png?v=1587179319710" alt="">
                            </div>
                            <div class="section-txt">
                                <h3>
                                    周琴 <span>
                                        / 12年从业经验
                                    </span>
                                </h3>
                                <div class="six-guarantees-works">
                                    <span>代表作品:</span> 英雄联盟、使命召唤、 神秘海域、坦克世界
                                </div>
                            </div>
                        </div>
                        <div class="section-item">
                            <div class="section-cover">
                                <img src="/assets/images/youxi/yxqn/tec3.png?v=1587179319710" alt="">
                            </div>
                            <div class="section-txt">
                                <h3>
                                    鲍金陶 <span>
                                        / 14年从业经验
                                    </span>
                                </h3>
                                <div class="six-guarantees-works">
                                    <span>代表作品:</span> 阴阳师、英雄联盟、 神秘海域、QQ炫舞
                                </div>
                            </div>
                        </div>
                        <div class="section-item">
                            <div class="section-cover">
                                <img src="/assets/images/youxi/yxqn/tec4.png?v=1587179319710" alt="">
                            </div>
                            <div class="section-txt">
                                <h3>
                                    蔡雯璐 <span>
                                        / 10年从业经验
                                    </span>
                                </h3>
                                <div class="six-guarantees-works">
                                    <span>代表作品:</span> 生化危机、剑灵、 神秘海域、战争机器2
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section-btn">
                        <a class="doyoo-btn">
                            <img src="/assets/images/youxi/yxqn/btn7.png?v=1587179319710" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="six-guarantees-row six-guarantees-sec5">
                <div class="container">
                    <div class="guarantees-title">
                        <img src="/assets/images/youxi/yxqn/title5.png?v=1587179319710" alt="">
                        <p>在校实训有提成，又长经验又拿钱</p>
                    </div>
                    <img src="/assets/images/youxi/yxqn/yx6-1.png?v=1587179319710" alt="">
                </div>
            </div>
            <div class="six-guarantees-row six-guarantees-sec6">
                <div class="container">
                    <div class="guarantees-title">
                        <img src="/assets/images/youxi/yxqn/title6.png?v=1587179319710" alt="">
                        <p>一站式闭环流程，打造无死角就业服务</p>
                    </div>
                    <img src="/assets/images/youxi/yxqn/yx7-1.png?v=1587179319710" alt="">
                </div>
            </div>
        </div>

        <div class="section graduate-student-sec">
            <div class="section-title">
                看丝路毕业学员
            </div>
            <div class="section-sub-title">
                做游戏没你想的那么难
            </div>
            <div class="container">
                <div class="section-list">
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/youxi/yxqn/stu1.png?v=1587179319710" alt="">
                        <div class="section-txt">
                            <h3>1607期 李*</h3>
                            <div class="line"></div>
                            <p>
                                就职公司：枫月网络<br> 现任岗位：场景设计
                                <br> 薪资：
                                <em>13K</em>
                            </p>
                        </div>
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/youxi/yxqn/stu2.png?v=1587179319710" alt="">
                        <div class="section-txt">
                            <h3>1607期 赵*</h3>
                            <div class="line"></div>
                            <p>
                                就职公司：欢娱数码
                                <br> 现任岗位：引擎关卡
                                <br> 薪资：
                                <em>15K</em>
                            </p>
                        </div>
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/youxi/yxqn/stu3.png?v=1587179319710" alt="">
                        <div class="section-txt">
                            <h3>1607期 李*</h3>
                            <div class="line"></div>
                            <p>
                                就职公司：唯晶科技
                                <br> 现任岗位：角色设计
                                <br> 薪资：
                                <em>11K</em>
                            </p>
                        </div>
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/youxi/yxqn/stu4.png?v=1587179319710" alt="">
                        <div class="section-txt">
                            <h3>1709期 朱**</h3>
                            <div class="line"></div>
                            <p>
                                就职公司：维塔士
                                <br>现任岗位：角色设计
                                <br> 薪资：
                                <em>8.5K</em>
                            </p>
                        </div>
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/youxi/yxqn/stu5.png?v=1587179319710" alt="">
                        <div class="section-txt">
                            <h3>1807期 黄**</h3>
                            <div class="line"></div>
                            <p>
                                就职公司：艾迪亚
                                <br> 现任岗位：角色设计
                                <br> 薪资：
                                <em>10K</em>
                            </p>
                        </div>
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/youxi/yxqn/stu6.png?v=1587179319710" alt="">
                        <div class="section-txt">
                            <h3>1807期 邹*</h3>
                            <div class="line"></div>
                            <p>
                                就职公司：完美世界
                                <br> 现任岗位：场景设计
                                <br> 薪资：
                                <em>9K</em>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="section-btn">
                    <a class="doyoo-btn">
                        <img src="/assets/images/youxi/yxqn/btn8.png?v=1587179319710" alt="">
                    </a>
                </div>
            </div>
        </div>

        <div class="section graduate-student-sec">
            <div class="section-title">
                看丝路毕业学员
            </div>
            <div class="section-sub-title">
                做游戏没你想的那么难
            </div>
            <div class="container">

                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="/assets/images/youxi/yxqn/stu-work1.png?v=1587179319710" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="/assets/images/youxi/yxqn/stu-work2.png?v=1587179319710" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="/assets/images/youxi/yxqn/stu-work3.png?v=1587179319710" alt="">
                        </div>

                    </div>
                    <div class="swiper-pagination"></div>
                </div>


                <div class="section-btn">
                    <a class="doyoo-btn">
                        <img src="/assets/images/youxi/yxqn/btn9.png?v=1587179319710" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="section-title">
                    与众多名企达成合作
                </div>
                <div class="section-sub-title">
                    为你的“升职主线”提供更多选择
                </div>
                <img src="/assets/images/youxi/yxqn/logo.png?v=1587179319710" alt="">
            </div>
        </div>
        <div class="section worry-question">
            <div class="container">
                <div class="section-title">
                    你是否有以下疑问
                </div>
                <div class="worry-question-list">
                    <div class="worry-question-item">
                        <div class="worry-question-txt">我学历低，没有基础，能学会吗？</div>
                        <div class="worry-question-btn">查看答案</div>
                    </div>
                    <div class="worry-question-item">
                        <div class="worry-question-txt">学费是多少？最近有没有优惠？</div>
                        <div class="worry-question-btn">查看答案</div>
                    </div>
                    <div class="worry-question-item">
                        <div class="worry-question-txt">真的可以贷款学习吗？</div>
                        <div class="worry-question-btn">查看答案</div>
                    </div>
                    <div class="worry-question-item">
                        <div class="worry-question-txt">要学多长时间，上课时间是怎么安排的？</div>
                        <div class="worry-question-btn">查看答案</div>
                    </div>
                    <div class="worry-question-item">
                        <div class="worry-question-txt">白天没有时间学，晚上学可以吗？</div>
                        <div class="worry-question-btn">查看答案</div>
                    </div>
                    <div class="worry-question-item">
                        <div class="worry-question-txt">有周末班吗？</div>
                        <div class="worry-question-btn">查看答案</div>
                    </div>
                    <div class="worry-question-item">
                        <div class="worry-question-txt">工作后薪资有多少？</div>
                        <div class="worry-question-btn">查看答案</div>
                    </div>
                    <div class="worry-question-item">
                        <div class="worry-question-txt">丝路是怎么推荐我就业的?</div>
                        <div class="worry-question-btn">查看答案</div>
                    </div>
                </div>
            </div>
            <div class="section-btn">
                <a class="doyoo-btn">
                    <img src="/assets/images/youxi/yxqn/btn10.png?v=1587179319710" alt="">
                </a>
            </div>
        </div>
        <!-- 表单统计 -->
        <div class="section-form">
            <form id="form">
                <div class="form-group form-group-txt">
                    与其压抑自身天性<br> 不如释放内在潜能
                    <br>
                    <p>学游戏设计，毕业拿高薪，将兴趣变成职业</p>
                </div>
                <div class="form-group">
                    <input type='text' name='name' id="name" placeholder="姓名：请填写姓名" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="text" name='tel' id="tel" class="form-control" placeholder="联系方式：请填写手机号码" />
                </div>
                <input type="text" name='time' id='time' style="display: none;" />

                <div class="form-submit">
                    <button class="btn" type="button" onclick="add_ajaxmessage()"> 预约免费试听</button>
                </div>
            </form>
        </div>
    </div>

    </div>
    <!--页脚 -->
<div class="endfoot-box">
    <div class="endfoot">
        <a class="doyoo-btn">
            <div class="endfoot-item">
                <p>名师在线</p>
                <p>免费试听</p>
            </div>
        </a>
    </div>
    <h3>本网站版权归丝路教育所有，盗用必究</h3>
</div>

<script src="/assets/js/libs/jquery.min.js"></script>
<script src="/assets/js/plugs/vide7.4.1/js/video.js"></script>
<script src="/assets/js/plugs/picViewer/picViewer.js"></script>
<script src="/assets/js/plugs/swiper/swiper.js"></script>
<script src="/assets/js/plugs/layer-v3.1.1/layer/layer.js"></script>
<script src="/assets/js/global/common.js"></script>
<script src="http://op.jiain.net/20002985/10085553.js"></script> -->
<script>
    var doyooBtns = [].slice.call(document.querySelectorAll('.doyoo-btn'));
    for (var i = 0, len = doyooBtns.length; i < len; i++) {
        doyooBtns[i].onclick = function() {
            doyoo.util.openChat('g=10075108');
            return false;
        }
    }
</script>
<!-- 表单 -->
<script src="/assets/js/plugs/formbd.js"></script>

</div>
</body>

</html>