<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
<script>
    (function flexible(window, document) {
        var docEl = document.documentElement
        var dpr = window.devicePixelRatio || 1

        // adjust body font size
        function setBodyFontSize() {
            if (document.body) {
                document.body.style.fontSize = (12 * dpr) + 'px'
            } else {
                document.addEventListener('DOMContentLoaded', setBodyFontSize)
            }
        }
        setBodyFontSize();

        // set 1rem = viewWidth / 10
        function setRemUnit() {
            var rem = docEl.clientWidth / 10
            docEl.style.fontSize = rem + 'px'
        }

        setRemUnit()

        // reset rem unit on page resize
        window.addEventListener('resize', setRemUnit)
        window.addEventListener('pageshow', function(e) {
            if (e.persisted) {
                setRemUnit()
            }
        })

        // detect 0.5px supports
        if (dpr >= 2) {
            var fakeBody = document.createElement('body')
            var testElement = document.createElement('div')
            testElement.style.border = '.5px solid transparent'
            fakeBody.appendChild(testElement)
            docEl.appendChild(fakeBody)
            if (testElement.offsetHeight === 1) {
                docEl.classList.add('hairlines')
            }
            docEl.removeChild(fakeBody)
        }
    }(window, document))
</script>
    <title>游戏软件精英班</title>
    <link rel="stylesheet" href="/assets/js/plugs/vide-7.4.1/css/video-js.min.css?v=1598320525284">
<link rel="stylesheet" href="/assets/js/plugs/picViewer/picViewer.css?v=1598320525284">
<link rel="stylesheet" href="/assets/js/plugs/swiper-3.4.0/swiper-3.4.2.min.css?v=1598320525284">
    <link rel="stylesheet" href="/assets/css/youxi/yxrj.css?v=1598320525284">
</head>

<body>
    <div class="header">
    <div class="header-tp" id="header-tp">
        <div class="header-menu"></div>
        <ul class="header-menu-list">
            <li class="header-menu-first">
                <a href="/index.html" style="color: #fff;">首页</a>
            </li>
            <li class="header-menu-first arrow-right">
     影视视效课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/yingshi/ysqn.html">影视视效全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ystx.html">特效合成大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ysjj.html">剪辑包装创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ysdh.html">影视动画精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/c4d.html">C4D特效大师班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
     游戏视觉课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/youxi/yxqn.html">游戏视觉全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxyh.html">游戏原画创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxms.html">3D美术精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxrj.html">游戏软件精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxtx.html">动作特效精英班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
     室内设计课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/shinei/snqk.html">APEC室内设计全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/cad.html">CAD制图大师班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snrz.html">室内软装精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snsh.html">室内手绘创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snxgt.html">室内效果图精英班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
     U X 全栈课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/ui/uiqn.html">UX全栈视效全能班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/psds.html">Photoshop大师班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/pmsj.html">品牌视觉创意班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/dsmg.html">
                电商美工精英班
            </a></li>
        <li class="header-menu-second">
            <a href="/ui/wysj.html">全链路设计精英班
            </a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
     建筑视效课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/jianzhu/jzsx.html">建筑视效全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/3dsMax.html">3ds MAX大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/3djm.html"> 3D建模精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/xrys.html">渲染艺术精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/jzxgt.html"> 建筑效果图精英班 </a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
     BIM应用课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/bim/bimqn.html">BIM应用全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/bimkz.html">BIM考证精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/revitds.html">Revit大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/lumion.html">Lumion大师班</a>
        </li>
    </ul>
</li>
            <li class="header-menu-first">
                <a href="/home/studentworks.html" style="color: #fff;">学员作品</a>
            </li>
            <li class="header-menu-first">
                <a href="/home/onlinebao.html" style="color: #fff;">在线报名</a>
            </li>
            <li class="header-menu-first">
                <a href="/home/contactus.html" style="color: #fff;">联系我们</a>
            </li>

        </ul>
        <div class="header-logo"></div>
        <a class="doyoo-btn">
            <div class="header-phone"></div>
        </a>
    </div>
    <div class="header-nav">
        <ul class="header-nav-wrap">
            <li class="header-nav-first header-nav-active">
                <a href="/index.html">首页</a>
            </li>
            <li class="header-nav-first" id="header-nav-first-course">课程
                <span class="arrow-down"></span>
                <ul class="header-nav-course">
                    <li class="header-menu-first arrow-right">
      影视视效 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/yingshi/ysqn.html">影视视效全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ystx.html">特效合成大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ysjj.html">剪辑包装创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ysdh.html">影视动画精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/c4d.html">C4D特效大师班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
      游戏视觉 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/youxi/yxqn.html">游戏视觉全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxyh.html">游戏原画创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxms.html">3D美术精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxrj.html">游戏软件精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxtx.html">动作特效精英班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
      室内设计 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/shinei/snqk.html">APEC室内设计全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/cad.html">CAD制图大师班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snrz.html">室内软装精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snsh.html">室内手绘创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snxgt.html">室内效果图精英班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
      UX 全栈 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/ui/uiqn.html">UX全栈视效全能班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/psds.html">Photoshop大师班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/pmsj.html">品牌视觉创意班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/dsmg.html">
                电商美工精英班
            </a></li>
        <li class="header-menu-second">
            <a href="/ui/wysj.html">全链路设计精英班
            </a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
      建筑视效 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/jianzhu/jzsx.html">建筑视效全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/3dsMax.html">3ds MAX大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/3djm.html"> 3D建模精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/xrys.html">渲染艺术精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/jzxgt.html"> 建筑效果图精英班 </a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
      BIM应用 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/bim/bimqn.html">BIM应用全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/bimkz.html">BIM考证精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/revitds.html">Revit大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/lumion.html">Lumion大师班</a>
        </li>
    </ul>
</li>
                </ul>
            </li>
            <li class="header-nav-first">
                <a href="/home/famousteacher.html">名师</a>
            </li>
            <li class="header-nav-first">
                <a href="/home/obtain.html">就业</a>
            </li>
            <li class="header-nav-first">
                <a href="/home/about.html">关于丝路</a>
            </li>
        </ul>
    </div>
</div>
<div class="header-mask" id="header-mask"></div>
    <div class="layout">
        <div class="banner">
            <a class="doyoo-btn">
                <img class="banner-cover" src="/assets/images/youxi/yxrj/banner.jpg?v=1598320525284" alt="">
            </a>
        </div>
        <div class="section section-bg-write hot-software-sec">
            <div class="container">
                <div class="section-title">
                    时下热门软件
                    <br><b>
                        承包爆款游戏制作全流程
                    </b>
                </div>
                <div class="hot-software-list">
                    <div class="hot-software-item">
                        <div class="hot-software-title">游戏引擎/开发软件</div>
                        <div class="section-nav-tab">
                            <div class="section-nav-item section-nav-active">UE4（虚拟4）引擎</div>
                            <div class="section-nav-item">Unity 3D引擎</div>
                        </div>
                        <div class="section-tab-list">
                            <div class="section-tab-col"> <img src="/assets/images/youxi/yxrj/rj1-1.jpg?v=1598320525284" alt=""></div>
                            <div class="section-tab-col"> <img src="/assets/images/youxi/yxrj/rj1-2.jpg?v=1598320525284" alt=""></div>
                        </div>
                    </div>
                    <div class="hot-software-item">
                        <div class="hot-software-title">游戏引擎/开发软件</div>
                        <div class="section-nav-tab">
                            <div class="section-nav-item section-nav-active">Maya</div>
                            <div class="section-nav-item">3ds max</div>
                            <div class="section-nav-item">ZBrush</div>
                            <div class="section-nav-item">Substance Painter</div>
                        </div>
                        <div class="section-tab-list">
                            <div class="section-tab-col"> <img src="/assets/images/youxi/yxrj/rj2-1.jpg?v=1598320525284" alt=""></div>
                            <div class="section-tab-col"> <img src="/assets/images/youxi/yxrj/rj2-2.jpg?v=1598320525284" alt=""></div>
                            <div class="section-tab-col"> <img src="/assets/images/youxi/yxrj/rj2-3.jpg?v=1598320525284" alt=""></div>
                            <div class="section-tab-col"> <img src="/assets/images/youxi/yxrj/rj2-4.jpg?v=1598320525284" alt=""></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="section-title">
                    将兴趣变成职业
                    <br><b>
                        学软件，做游戏，拿高薪
                    </b>
                </div>
                <img src="/assets/images/youxi/yxrj/xinzi.jpg?v=1598320525284" alt="">
                <div class="section-btn">
                    <a class="btn doyoo-btn">测一测我适合学吗？</a>
                </div>
            </div>
        </div>
        <div class="section section-bg-write">
            <div class="container">
                <div class="section-title">
                    为什么那么多的人
                    <br><b>
                        学习游戏制作软件
                    </b>
                </div>
                <div class="section-describe">
                    掌握游戏主流软件，更好“淘金”
                </div>
                <img src="/assets/images/youxi/yxrj/dachang1.jpg?v=1598320525284" alt="">
                <br><br>
                <div class="section-describe">
                    游戏产业概况
                </div>
                <img src="/assets/images/youxi/yxrj/dachang2.jpg?v=1598320525284" alt="">
                <div class="section-btn">
                    <a class="btn doyoo-btn">查看更多薪资</a>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="section-title">
                    自学软件仅入门
                    <br>求职晋升提薪难
                </div>
                <div class="line"></div>
                <div class="section-describe">
                    丝路教育深耕游戏培训十数年，拥有完善的培训与就业体系，学员毕业即就业，85%的毕业学员入职2-3年
                    <br/>晋升管理层！
                </div>
                <img src="/assets/images/youxi/yxrj/duibi.jpg?v=1598320525284" alt="">
            </div>
        </div>
        <div class="section section-bg-write autodesk-official-sec">
            <div class="container">
                <div class="section-title">
                    <b>
                        AUTODESK<br>
                        官方指定学院
                    </b>
                </div>
                <div class="section-describe">
                    AUTODESK证书图片展示
                </div>
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"> <img src="/assets/images/youxi/yxrj/zs1.jpg?v=1598320525284" alt=""></div>
                        <div class="swiper-slide"> <img src="/assets/images/youxi/yxrj/zs2.jpg?v=1598320525284" alt=""></div>
                        <div class="swiper-slide"> <img src="/assets/images/youxi/yxrj/zs3.jpg?v=1598320525284" alt=""></div>
                        <div class="swiper-slide"> <img src="/assets/images/youxi/yxrj/zs4.jpg?v=1598320525284" alt=""></div>
                        <div class="swiper-slide"> <img src="/assets/images/youxi/yxrj/zs5.jpg?v=1598320525284" alt=""></div>
                        <div class="swiper-slide"> <img src="/assets/images/youxi/yxrj/zs6.jpg?v=1598320525284" alt=""></div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="section-title">
                    <b>
                        核心软件全掌握
                        <br>
                        一身神装战职场
                    </b>
                </div>
                <img src="/assets/images/youxi/yxrj/ruanjian1.jpg?v=1598320525284" alt="">
                <div class="section-btn">
                    <a class="btn doyoo-btn">领取学习教程</a>
                </div>
            </div>
        </div>
        <div class="section section-bg-write fivestep-method-sec">
            <div class="section-title">
                课程由浅至深
                <br><b>
                    0基础也可快速提升
                </b>
            </div>
            <div class="container">
                <div class="fivestep-method-list">
                    <div class="fivestep-method-item">
                        <dl>
                            <dt>Body Painter课程大纲</dt>
                            <dd>
                                软件基础界面熟悉与操作
                            </dd>
                            <dd>
                                场景原画设计的原理
                            </dd>
                            <dd>
                                自然地貌绘制与场景模型的制作
                            </dd>
                            <dd>
                                四方连续、二方连续贴图的使用
                            </dd>
                        </dl>
                    </div>
                    <div class="fivestep-method-item">
                        <dl>
                            <dt>UE4（虚幻4）引擎课程大纲</dt>
                            <dd>
                                UE4引擎基础功能模块
                            </dd>
                            <dd>
                                FPS、RPG等多类型游戏功能实现
                            </dd>
                            <dd>
                                蓝图与代码功能操作
                            </dd>
                            <dd>
                                UE4引擎创建内容编辑与最终生成
                            </dd>
                        </dl>
                    </div>
                    <div class="fivestep-method-item">
                        <dl>
                            <dt>Unity3D引擎课程大纲</dt>
                            <dd>
                                Unity3D界面与基础操作
                            </dd>
                            <dd>
                                功能面板与高级控件
                            </dd>
                            <dd>
                                Unity脚本、游戏场景创建
                            </dd>
                            <dd>
                                UI系统设置与优化呈现
                            </dd>
                        </dl>
                    </div>
                    <div class="fivestep-method-item">
                        <dl>
                            <dt>MAYA课程大纲</dt>
                            <dd>
                                Maya软件基础操作与基础建模
                            </dd>
                            <dd>
                                游戏场景/道具/人物建模
                            </dd>
                            <dd>
                                贴图/材质制作与灯光渲染应用
                            </dd>
                            <dd>
                                布料模拟/粒子特效等动效实现
                            </dd>
                        </dl>
                    </div>
                    <div class="fivestep-method-item">
                        <dl>
                            <dt>3ds MAX课程大纲</dt>
                            <dd>
                                3ds MAX软件基础与插件应用
                            </dd>
                            <dd>
                                次世代游戏角色/道具/场景建模
                            </dd>
                            <dd>
                                高清贴图与皮肤褶皱/人体毛发
                            </dd>
                            <dd>
                                游戏角色动作与特效制作
                            </dd>
                        </dl>
                    </div>
                    <div class="fivestep-method-item">
                        <dl>
                            <dt>ZBrush课程大纲</dt>
                            <dd>
                                ZBrush道具/人体雕刻造型
                            </dd>
                            <dd>
                                ZBrush贴图投射技法与渲染
                            </dd>
                            <dd>
                                多类型模型机构细节和布线技巧
                            </dd>
                            <dd>
                                皮肤装备纹理的绘制表现技巧
                            </dd>
                        </dl>
                    </div>
                    <div class="fivestep-method-item">
                        <dl>
                            <dt>Substance Painter课程大纲</dt>
                            <dd>
                                软件基础界面与新建项目
                            </dd>
                            <dd>
                                烘焙贴图与手绘贴图
                            </dd>
                            <dd>
                                多层叠加贴图与渲染
                            </dd>
                            <dd>
                                多风格道具/人像/硬材质制作
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="section-btn">
                    <a class="btn doyoo-btn">领取学习教程</a>
                </div>
            </div>
        </div>
        <div class="section accompanied-teachers-sec">
            <div class="container">
                <div class="section-title">
                    <b> 名师全程陪同
                        <br>实战经验倾囊相授</b>
                </div>
                <div class="section-list">
                    <div class="section-item">
                        <img src="/assets/images/youxi/yxrj/tec1.jpg?v=1598320525284" alt="">
                    </div>
                    <div class="section-item">
                        <img src="/assets/images/youxi/yxrj/tec2.jpg?v=1598320525284" alt="">
                    </div>
                    <!-- <div class="section-item">
                        <img src="/assets/images/youxi/yxrj/tec3.jpg?v=1598320525284" alt="">
                    </div>
                    <div class="section-item">
                        <img src="/assets/images/youxi/yxrj/tec4.jpg?v=1598320525284" alt="">
                    </div> -->
                </div>
                <div class="section-btn">
                    <a class="btn doyoo-btn">一键与老师聊课程</a>
                </div>
            </div>
        </div>
        <div class="section section-bg-write silkroad-stu-sec">
            <div class="container">
                <div class="section-title">
                    丝路学员成功入职
                    <br> <b>
                        游戏名企
                    </b>
                </div>
                <div class="section-describe">
                    一样爱玩，同样高薪，你也可以
                </div>
                <div class="section-list">
                    <div class="section-item">
                        <img src="/assets/images/youxi/yxrj/stu1.jpg?v=1598320525284" alt="">
                    </div>
                    <div class="section-item">
                        <img src="/assets/images/youxi/yxrj/stu2.jpg?v=1598320525284" alt="">
                    </div>
                    <div class="section-item">
                        <img src="/assets/images/youxi/yxrj/stu3.jpg?v=1598320525284" alt="">
                    </div>
                    <div class="section-item">
                        <img src="/assets/images/youxi/yxrj/stu4.jpg?v=1598320525284" alt="">
                    </div>
                </div>
                <div class="section-btn">
                    <a class="btn doyoo-btn">查看更多学员</a>
                </div>
            </div>
        </div>
        <div class="section section-bg-write silkroad-stu-sec">
            <div class="container">
                <div class="section-title">
                    在校参与真实项目
                    <br> <b>
                        “实战+奖金”一手掌握
                    </b>
                </div>
                <div class="section-describe">
                    在校学习有机会参与一线大厂项目制作，
                    <br/> 涨经验还拿奖金！
                </div>
                <img src="/assets/images/youxi/yxrj/shixun.png?v=1598320525284" alt="">
                <div class="section-btn">
                    <a class="btn doyoo-btn">了解项目实训过程</a>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="section-title">
                    丝路与3000+名企合作
                    <br><b>
                        达成人才战略合作
                    </b>
                </div>
                <img src="/assets/images/youxi/yxrj/logo.png?v=1598320525284" alt="">
            </div>
        </div>
        <!-- 表单统计 -->
        <div class="section-form">
            <form id="form">

                <div class="form-group">
                    <input type='text' name='name' id="name" placeholder="请输入您的姓名" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="text" name='tel' id="tel" class="form-control" placeholder="请输入您的手机号码" />
                </div>
                <input type="text" name='time' id='time' style="display: none;" />

                <div class="form-submit">
                    <button class="btn" type="button" onclick="add_ajaxmessage()"> 预约免费试学</button>
                </div>
            </form>
        </div>

    </div>
    <!--页脚 -->
<div class="endfoot-box">
    <div class="endfoot">
        <a class="doyoo-btn">
            <div class="endfoot-item">
                <p>名师在线</p>
                <p>免费试听</p>
            </div>
        </a>
    </div>
    <h3>本网站版权归丝路教育所有，盗用必究</h3>
</div>

<script src="/assets/js/libs/jquery.min.js"></script>
<script src="/assets/js/plugs/vide7.4.1/js/video.js"></script>
<script src="/assets/js/plugs/picViewer/picViewer.js"></script>
<script src="/assets/js/plugs/swiper/swiper.js"></script>
<script src="/assets/js/plugs/layer-v3.1.1/layer/layer.js"></script>
<script src="/assets/js/global/common.js"></script>
<script src="http://op.jiain.net/20002985/10085553.js"></script>
<script>
    var doyooBtns = [].slice.call(document.querySelectorAll('.doyoo-btn'));
    for (var i = 0, len = doyooBtns.length; i < len; i++) {
        doyooBtns[i].onclick = function() {
            doyoo.util.openChat('g=10075108');
            return false;
        }
    }
</script>

<!-- 百度统计代码 -->
<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?57448cbcd9efb5a61b8ba648ba49f3e2";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>

<!-- 表单 -->
<script src="/assets/js/plugs/formbd.js"></script>

</div>
</body>

</html>