<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
<script>
    (function flexible(window, document) {
        var docEl = document.documentElement
        var dpr = window.devicePixelRatio || 1

        // adjust body font size
        function setBodyFontSize() {
            if (document.body) {
                document.body.style.fontSize = (12 * dpr) + 'px'
            } else {
                document.addEventListener('DOMContentLoaded', setBodyFontSize)
            }
        }
        setBodyFontSize();

        // set 1rem = viewWidth / 10
        function setRemUnit() {
            var rem = docEl.clientWidth / 10
            docEl.style.fontSize = rem + 'px'
        }

        setRemUnit()

        // reset rem unit on page resize
        window.addEventListener('resize', setRemUnit)
        window.addEventListener('pageshow', function(e) {
            if (e.persisted) {
                setRemUnit()
            }
        })

        // detect 0.5px supports
        if (dpr >= 2) {
            var fakeBody = document.createElement('body')
            var testElement = document.createElement('div')
            testElement.style.border = '.5px solid transparent'
            fakeBody.appendChild(testElement)
            docEl.appendChild(fakeBody)
            if (testElement.offsetHeight === 1) {
                docEl.classList.add('hairlines')
            }
            docEl.removeChild(fakeBody)
        }
    }(window, document))
</script>
    <title>动作特效精英班</title>
    <link rel="stylesheet" href="/assets/js/plugs/vide-7.4.1/css/video-js.min.css?v=1599804028276">
<link rel="stylesheet" href="/assets/js/plugs/picViewer/picViewer.css?v=1599804028276">
<link rel="stylesheet" href="/assets/js/plugs/swiper-3.4.0/swiper-3.4.2.min.css?v=1599804028276">
    <link rel="stylesheet" href="/assets/css/youxi/yxtx.css?v=1599804028276">
</head>

<body>
    <div class="header">
    <div class="header-tp" id="header-tp">
        <div class="header-menu"></div>
        <ul class="header-menu-list">
            <li class="header-menu-first">
                <a href="/index.html" style="color: #fff;">首页</a>
            </li>
            <li class="header-menu-first arrow-right">
     影视视效课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/yingshi/ysqn.html">影视视效全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ystx.html">特效合成大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ysjj.html">剪辑包装创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ysdh.html">影视动画精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/c4d.html">C4D特效大师班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
     游戏视觉课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/youxi/yxqn.html">游戏视觉全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxyh.html">游戏原画创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxms.html">3D美术精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxrj.html">游戏软件精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxtx.html">动作特效精英班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
     室内设计课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/shinei/snqk.html">APEC室内设计全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/cad.html">CAD制图大师班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snrz.html">室内软装精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snsh.html">室内手绘创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snxgt.html">室内效果图精英班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
     U X 全栈课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/ui/uiqn.html">UX全栈视效全能班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/psds.html">Photoshop大师班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/pmsj.html">品牌视觉创意班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/dsmg.html">
                电商美工精英班
            </a></li>
        <li class="header-menu-second">
            <a href="/ui/wysj.html">全链路设计精英班
            </a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
     建筑视效课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/jianzhu/jzsx.html">建筑视效全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/3dsMax.html">3ds MAX大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/3djm.html"> 3D建模精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/xrys.html">渲染艺术精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/jzxgt.html"> 建筑效果图精英班 </a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
     BIM应用课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/bim/bimqn.html">BIM应用全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/bimkz.html">BIM考证精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/revitds.html">Revit大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/lumion.html">Lumion大师班</a>
        </li>
    </ul>
</li>
            <li class="header-menu-first">
                <a href="/home/studentworks.html" style="color: #fff;">学员作品</a>
            </li>
            <li class="header-menu-first">
                <a href="/home/onlinebao.html" style="color: #fff;">在线报名</a>
            </li>
            <li class="header-menu-first">
                <a href="/home/contactus.html" style="color: #fff;">联系我们</a>
            </li>

        </ul>
        <div class="header-logo"></div>
        <a class="doyoo-btn">
            <div class="header-phone"></div>
        </a>
    </div>
    <div class="header-nav">
        <ul class="header-nav-wrap">
            <li class="header-nav-first header-nav-active">
                <a href="/index.html">首页</a>
            </li>
            <li class="header-nav-first" id="header-nav-first-course">课程
                <span class="arrow-down"></span>
                <ul class="header-nav-course">
                    <li class="header-menu-first arrow-right">
      影视视效 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/yingshi/ysqn.html">影视视效全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ystx.html">特效合成大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ysjj.html">剪辑包装创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ysdh.html">影视动画精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/c4d.html">C4D特效大师班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
      游戏视觉 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/youxi/yxqn.html">游戏视觉全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxyh.html">游戏原画创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxms.html">3D美术精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxrj.html">游戏软件精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxtx.html">动作特效精英班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
      室内设计 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/shinei/snqk.html">APEC室内设计全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/cad.html">CAD制图大师班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snrz.html">室内软装精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snsh.html">室内手绘创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snxgt.html">室内效果图精英班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
      UX 全栈 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/ui/uiqn.html">UX全栈视效全能班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/psds.html">Photoshop大师班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/pmsj.html">品牌视觉创意班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/dsmg.html">
                电商美工精英班
            </a></li>
        <li class="header-menu-second">
            <a href="/ui/wysj.html">全链路设计精英班
            </a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
      建筑视效 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/jianzhu/jzsx.html">建筑视效全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/3dsMax.html">3ds MAX大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/3djm.html"> 3D建模精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/xrys.html">渲染艺术精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/jzxgt.html"> 建筑效果图精英班 </a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
      BIM应用 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/bim/bimqn.html">BIM应用全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/bimkz.html">BIM考证精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/revitds.html">Revit大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/lumion.html">Lumion大师班</a>
        </li>
    </ul>
</li>
                </ul>
            </li>
            <li class="header-nav-first">
                <a href="/home/famousteacher.html">名师</a>
            </li>
            <li class="header-nav-first">
                <a href="/home/obtain.html">就业</a>
            </li>
            <li class="header-nav-first">
                <a href="/home/about.html">关于丝路</a>
            </li>
        </ul>
    </div>
</div>
<div class="header-mask" id="header-mask"></div>
    <div class="layout">
        <div class="banner">
            <a class="doyoo-btn">
                <img class="banner-cover" src="/assets/images/youxi/yxtx/banner.jpg?v=1599804028276" alt="">
            </a>
        </div>
        <div class="section section-bg-write game-bonus-sec">
            <div class="container">
                <div class="section-title">
                    <b>游戏红利席卷全球</b><br> 一个被误解的<br/>新兴朝阳产业
                </div>
                <div class="section-describe">
                    互联网头部公司，人均开展游戏业务
                </div>
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="/assets/images/youxi/yxtx/tx1-1.jpg?v=1599804028276" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="/assets/images/youxi/yxtx/tx1-2.jpg?v=1599804028276" alt="">
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
                <div class="game-bonus-sub">
                    <div class="section-describe">
                        游戏行业供求失衡，人才缺口大
                    </div>
                    <div class="section-list">
                        <div class="section-item">
                            <img class="section-cover" src="/assets/images/youxi/yxtx/tx2-1.jpg?v=1599804028276" alt="">
                        </div>
                        <div class="section-item">
                            <img class="section-cover" src="/assets/images/youxi/yxtx/tx2-2.jpg?v=1599804028276" alt="">
                        </div>
                    </div>
                    <div class="section-btn">
                        <a class="btn doyoo-btn">查看更多薪资咨询</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="section-title">
                    <b>适合学习的人群</b>
                </div>
                <img src="/assets/images/youxi/yxtx/tx3-1.png?v=1599804028276" alt="">
                <div class="section-btn">
                    <a class="btn doyoo-btn">测一测我适合学吗？</a>
                </div>
            </div>
        </div>
        <div class="section section-bg-write six-guarantee-sec">
            <div class="container">
                <div class="section-title">
                    <b>丝路学员独享6大保障</b>
                </div>
                <div class="section-list">
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/youxi/yxtx/icon1.png?v=1599804028276">
                        <div class="section-txt">
                            <h3>免费试学</h3>
                        </div>
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/youxi/yxtx/icon2.png?v=1599804028276">
                        <div class="section-txt">
                            <h3>先学后付</h3>
                        </div>
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/youxi/yxtx/icon3.png?v=1599804028276">
                        <div class="section-txt">
                            <h3>免费重修</h3>
                        </div>
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/youxi/yxtx/icon4.png?v=1599804028276">
                        <div class="section-txt">
                            <h3>名师面授</h3>
                        </div>
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/youxi/yxtx/icon5.png?v=1599804028276">
                        <div class="section-txt">
                            <h3>商业实战</h3>
                        </div>
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/youxi/yxtx/icon6.png?v=1599804028276">
                        <div class="section-txt">
                            <h3>名企就业</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section section-bg-write hot-courses-sec">
            <div class="container">
                <div class="section-title">
                    <b>
                        “热门课程+项目实战”
                    </b><br> 打通游戏入行高速路
                </div>
                <div class="section-list">
                    <div class="section-item">
                        <div class="section-txt">
                            <h3>01游戏软件与运用基础</h3>
                            <p>教学目的：通过动画经典法则和规律的讲解，让学员掌握基本二维动画原理与规律，并将传统二维运动理论转化到实际的三维运动空间。</p>
                        </div>
                    </div>
                    <div class="section-item">
                        <div class="section-txt">
                            <h3>02游戏动作制作</h3>
                            <p>教学目的：拆解真实商业项目，剖析各种风格游戏人物/怪物动作，让学员掌握不同风格、性别、个性游戏角色的模型建立与动作规律系统设计。</p>
                        </div>
                    </div>
                    <div class="section-item">
                        <div class="section-txt">
                            <h3>03游戏特效制作</h3>
                            <p>教学目的：让学员掌握使用3ds Max插件进行各类特效技术、动态、色彩、比例的制作方法与技巧，并运用行业主流软件进行特效制作实战。</p>
                        </div>
                    </div>
                </div>
                <div class="section-btn">
                    <a class="btn doyoo-btn">查看详细课程内容</a>
                </div>
            </div>
        </div>
        <div class="section software-sec">
            <div class="container">
                <div class="section-title">
                    <b>
                        课程覆盖软件
                    </b>
                </div>
                <div class="section-list">
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/youxi/yxtx/rj1.png?v=1599804028276" alt="">
                        <h3>Photoshop</h3>
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/youxi/yxtx/rj2.png?v=1599804028276" alt="">
                        <h3>3ds Max</h3>
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/youxi/yxtx/rj3.png?v=1599804028276" alt="">
                        <h3>UE4</h3>
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/youxi/yxtx/rj4.png?v=1599804028276" alt="">
                        <h3>ZBrush</h3>
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/youxi/yxtx/rj5.png?v=1599804028276" alt="">
                        <h3>Bodypainter</h3>
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/youxi/yxtx/rj6.png?v=1599804028276" alt="">
                        <h3>Marvelous
                            <br/>Designer
                        </h3>
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/youxi/yxtx/rj7.png?v=1599804028276" alt="">
                        <h3>Substance
                            <br/> Painter</h3>
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/youxi/yxtx/rj8.png?v=1599804028276" alt="">
                        <h3>Marmose
                            <br/>Toolbag</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="section section-bg-write dachang-making-sec">
            <div class="container">
                <div class="section-title">
                    <b>
                        3A级项目实训
                    </b><br> 大厂制作流程
                </div>
                <div class="section-describe">
                    丝路长期与育碧（法国）、腾讯、网易等游戏大厂合作，实训期间由3A级游戏项目总监亲自带队，制作项目均为真实商业游戏的模拟，体验游戏制作流程，增长一线项目实战经验。
                </div>
                <div class="section-list">
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/youxi/yxtx/3a1.jpg?v=1599804028276" alt="">
                        <h3>育碧（法国）开发《汤姆克兰西：全境封锁》</h3>
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/youxi/yxtx/3a2.jpg?v=1599804028276" alt="">
                        <h3>腾讯游戏开发《光荣使命》</h3>
                    </div>
                </div>
                <div class="section-btn">
                    <a class="btn doyoo-btn">查看更多实训项目</a>
                </div>
            </div>
        </div>
        <div class="section line-coffee-sec">
            <div class="container">
                <div class="section-title">
                    <b>
                        行业一线大咖名师
                    </b><br> 集结丝路
                </div>
                <div class="section-list">
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/youxi/yxtx/tec1.jpg?v=1599804028276" alt="">
                    </div>
                    <!-- <div class="section-item">
                        <img class="section-cover" src="/assets/images/youxi/yxtx/tec2.jpg?v=1599804028276" alt="">
                    </div> -->
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/youxi/yxtx/tec3.jpg?v=1599804028276" alt="">
                    </div>
                    <!-- <div class="section-item">
                        <img class="section-cover" src="/assets/images/youxi/yxtx/tec4.jpg?v=1599804028276" alt="">
                    </div> -->
                </div>
                <div class="section-btn">
                    <a class="btn doyoo-btn">查看更多丝路名师</a>
                </div>
            </div>
        </div>
        <div class="section section-bg-write">
            <div class="container">
                <div class="section-title">
                    在丝路学游戏数月<br>
                    <b>
                        薪资甩开同龄人一截
                    </b>
                </div>
                <div class="section-list">
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/youxi/yxtx/wechat.jpg?v=1599804028276" alt="">
                    </div>
                </div>
                <div class="section-btn">
                    <a class="btn doyoo-btn">查看2019年就业信息</a>
                </div>
            </div>
        </div>
        <div class="section perfect-employment-sec">
            <div class="container">
                <div class="section-title">
                    完善就业体系，
                    <br>一站式解决就业难题
                </div>
                <div class="section-list">
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/youxi/yxtx/tixi.png?v=1599804028276" alt="">
                    </div>
                </div>
            </div>
        </div>
        <!-- 丝路与3000+名企合作 -->
        <div class="section section-bg-write">
            <div class="container">
                <div class="section-title">
                    3000+行业名企
                    <br>10000+游戏职位
                </div>
                <img src="/assets/images/youxi/yxrj/logo.png?v=1599804028276" alt="">
            </div>
        </div>
        <!-- 表单统计 -->
        <div class="section-form">
            <form id="form">
                <div class="form-group form-group-txt">
                    娱乐新时代，行行出状元<br> 学游戏动作特效
                    <br>
                    <b>发现人生“薪”机遇！</b>
                </div>
                <div class="form-group">
                    <input type='text' name='name' id="name" placeholder="请输入您的姓名" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="text" name='tel' id="tel" class="form-control" placeholder="请输入您的手机号码" />
                </div>
                <input type="text" name='time' id='time' style="display: none;" />

                <div class="form-submit">
                    <button class="btn" type="button" onclick="add_ajaxmessage()"> 预约免费试学</button>
                </div>
            </form>
        </div>
    </div>
    <!--页脚 -->
<div class="endfoot-box">
    <div class="endfoot">
        <a class="doyoo-btn">
            <div class="endfoot-item">
                <p>名师在线</p>
                <p>免费试听</p>
            </div>
        </a>
    </div>
    <h3>本网站版权归丝路教育所有，盗用必究</h3>
</div>

<script src="/assets/js/libs/jquery.min.js"></script>
<script src="/assets/js/plugs/vide7.4.1/js/video.js"></script>
<script src="/assets/js/plugs/picViewer/picViewer.js"></script>
<script src="/assets/js/plugs/swiper/swiper.js"></script>
<script src="/assets/js/plugs/layer-v3.1.1/layer/layer.js"></script>
<script src="/assets/js/global/common.js"></script>
<script src="http://op.jiain.net/20002985/10085553.js"></script>
<script>
    var doyooBtns = [].slice.call(document.querySelectorAll('.doyoo-btn'));
    for (var i = 0, len = doyooBtns.length; i < len; i++) {
        doyooBtns[i].onclick = function() {
            doyoo.util.openChat('g=10075108');
            return false;
        }
    }
</script>

<!-- 百度统计代码 -->
<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?57448cbcd9efb5a61b8ba648ba49f3e2";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>

<!-- 表单 -->
<script src="/assets/js/plugs/formbd.js"></script>

</div>
</body>

</html>