<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
<script>
    (function flexible(window, document) {
        var docEl = document.documentElement
        var dpr = window.devicePixelRatio || 1

        // adjust body font size
        function setBodyFontSize() {
            if (document.body) {
                document.body.style.fontSize = (12 * dpr) + 'px'
            }
            else {
                document.addEventListener('DOMContentLoaded', setBodyFontSize)
            }
        }
        setBodyFontSize();

        // set 1rem = viewWidth / 10
        function setRemUnit() {
            var rem = docEl.clientWidth / 10
            docEl.style.fontSize = rem + 'px'
        }

        setRemUnit()

        // reset rem unit on page resize
        window.addEventListener('resize', setRemUnit)
        window.addEventListener('pageshow', function (e) {
            if (e.persisted) {
                setRemUnit()
            }
        })

        // detect 0.5px supports
        if (dpr >= 2) {
            var fakeBody = document.createElement('body')
            var testElement = document.createElement('div')
            testElement.style.border = '.5px solid transparent'
            fakeBody.appendChild(testElement)
            docEl.appendChild(fakeBody)
            if (testElement.offsetHeight === 1) {
                docEl.classList.add('hairlines')
            }
            docEl.removeChild(fakeBody)
        }
    }(window, document))
</script>

    <title>游戏原画创意班</title>
    <link rel="stylesheet" href="/assets/js/plugs/vide-7.4.1/css/video-js.min.css?v=1586934576676">
<link rel="stylesheet" href="/assets/js/plugs/picViewer/picViewer.css?v=1586934576676">
<link rel="stylesheet" href="/assets/js/plugs/swiper-3.4.0/swiper-3.4.2.min.css?v=1586934576676">
    <link rel="stylesheet" href="/assets/css/youxi/yxyh.css?v=1586934576676">
</head>

<body>
    <div class="header">
    <div class="header-tp" id="header-tp">
        <div class="header-menu"></div>
        <ul class="header-menu-list">
            <li class="header-menu-first">首页</li>
            <li class="header-menu-first arrow-right">
    
    影视视效课程
    
    
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/yingshi/ysqn.html">影视后期全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ystx.html">影视特效合成大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ysjj.html">剪辑包装创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ysdh.html">影视动画精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/c4d.html">C4D特效大师班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
    
    游戏视觉课程
    
    
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/youxi/yxqn.html">游戏视觉设计全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxyh.html">游戏原画创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxms.html">游戏3D美术精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxrj.html">游戏软件精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxtx.html">游戏动作特效精英班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
    
    APEC室内课程
    
    
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">影视后期全能班</li>
        <li class="header-menu-second">影视特效合成大师班</li>
        <li class="header-menu-second">剪辑包装创意班</li>
        <li class="header-menu-second">影视动画精英班</li>
        <li class="header-menu-second">C4D特效大师班</li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
    
    UX全栈课程
    
    

    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/views/ui/uiqn.html">UX全栈视效设计全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/views/ui/psds.html"> Photoshop大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/views/ui/pmsj.html">品牌视觉创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/views/ui/dsmg.html">电商美工精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/views/ui/wysj.html">全链路设计精英班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
    
    建筑视效课程
    
    
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">影视后期全能班</li>
        <li class="header-menu-second">影视特效合成大师班</li>
        <li class="header-menu-second">剪辑包装创意班</li>
        <li class="header-menu-second">影视动画精英班</li>
        <li class="header-menu-second">C4D特效大师班</li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
    
    BIM应用课程
    
    
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/bim/bimqn.html">BIM应用全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/bimkz.html">BIM考证精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/revitds.html">Revit大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/lumion.html">Lumion大师班</a>
        </li>
    </ul>
</li>
            <li class="header-menu-first">联系我们</li>
        </ul>
        <div class="header-logo"></div>
        <div class="header-phone"></div>
    </div>
    <div class="header-nav">
        <ul class="header-nav-wrap">
            <li class="header-nav-first header-nav-active">首页</li>
            <li class="header-nav-first" id="header-nav-first-course">课程
                <span class="arrow-down"></span>
                <ul class="header-nav-course">
                    <li class="header-menu-first arrow-right">
    
    
    影视视效
    
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/yingshi/ysqn.html">影视后期全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ystx.html">影视特效合成大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ysjj.html">剪辑包装创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ysdh.html">影视动画精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/c4d.html">C4D特效大师班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
    
    
    游戏视觉
    
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/youxi/yxqn.html">游戏视觉设计全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxyh.html">游戏原画创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxms.html">游戏3D美术精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxrj.html">游戏软件精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxtx.html">游戏动作特效精英班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
    
    
    APEC室内
    
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">影视后期全能班</li>
        <li class="header-menu-second">影视特效合成大师班</li>
        <li class="header-menu-second">剪辑包装创意班</li>
        <li class="header-menu-second">影视动画精英班</li>
        <li class="header-menu-second">C4D特效大师班</li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
    
    
    UX全栈
    

    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/views/ui/uiqn.html">UX全栈视效设计全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/views/ui/psds.html"> Photoshop大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/views/ui/pmsj.html">品牌视觉创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/views/ui/dsmg.html">电商美工精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/views/ui/wysj.html">全链路设计精英班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
    
    
    建筑视效
    
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">影视后期全能班</li>
        <li class="header-menu-second">影视特效合成大师班</li>
        <li class="header-menu-second">剪辑包装创意班</li>
        <li class="header-menu-second">影视动画精英班</li>
        <li class="header-menu-second">C4D特效大师班</li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
    
    
    BIM应用
    
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/bim/bimqn.html">BIM应用全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/bimkz.html">BIM考证精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/revitds.html">Revit大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/lumion.html">Lumion大师班</a>
        </li>
    </ul>
</li>
                </ul>
            </li>
            <li class="header-nav-first">名师</li>
            <li class="header-nav-first">就业</li>
            <li class="header-nav-first">关于丝路</li>
        </ul>
    </div>
</div>
<div class="header-mask" id="header-mask"></div>
    <div class="layout">
        <div class="banner">
            <a class="doyoo-btn">
                <img src="/assets/images/youxi/yxyh/banner.jpg?v=1586934576676" alt="">
            </a>
        </div>
        <div class="section section-bg-write game-craze-sec">
            <div class="container">
                <div class="section-title">
                    全民游戏热潮
                    <br><b>
                        游戏原画“薪”时代
                    </b>
                </div>
                <div class="line"></div>
                <div class="section-describe">
                    2019年据相关报告显示，火爆游戏流水超10亿元/月，
                    <br/>游戏行业人才缺口达60万人，占总职位需求的51%，
                    <br/>游戏专业应届生薪资更是突破新高，高普通毕业生
                    <br/>1.6倍，更有甚者年薪高达50万。游戏美术是游戏行业
                    <br/>的核心，其中CG原画、动画岗位需求增大，
                    <br/>原画师的职业也应运而生。
                </div>
                <div class="section-list">
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/youxi/yxyh/yh1-1.jpg?v=1586934576676" alt="">
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/youxi/yxyh/yh1-2.jpg?v=1586934576676" alt="">
                    </div>
                </div>
                <div class="section-btn">
                    <a class="btn doyoo-btn">查看更多薪资</a>
                </div>
            </div>
        </div>
        <div class="section ruhang">
            <div class="container">
                <div class="section-title">
                    学习选丝路，入行没弯路
                </div>
                <div class="line"></div>
                <img src="/assets/images/youxi/yxyh/yy.jpg?v=1586934576676" alt="">
            </div>
        </div>
        <div class="section renqun">
            <div class="container">
                <div class="section-title">
                    原画课程适合谁学？
                </div>
                <div class="line"></div>
                <img src="/assets/images/youxi/yxyh/renqun.jpg?v=1586934576676" alt="">
                <div class="section-btn">
                    <a class="btn doyoo-btn">看看我适合学吗？</a>
                </div>
            </div>
        </div>
        <div class="section section-bg-write">
            <div class="container">
                <div class="section-title">
                    别酸！
                    <br><b>
                        你可以做按“张”计费的
                        <br/>原画师！
                    </br>
                </div>
                <div class="line"></div>
                <div class="section-describe">
                    有一种操作叫“游戏外包”，即承接游戏公司设计业务，只要的你实力够格，1张原画价格抵的上一个普通上班族一年的薪资，财务自由不是梦！
                </div>
                <img src="/assets/images/youxi/yxyh/xinzi-bj.jpg?v=1586934576676" alt="">
                <div class="section-btn">
                    <a class="btn doyoo-btn">查看更多薪资</a>
                </div>
            </div>
        </div>
        <div class="section xinzi">
            <div class="container">
                <div class="section-title">
                    游戏原画师的主美之路
                </div>
                <img src="/assets/images/youxi/yxyh/shuju.jpg?v=1586934576676" alt="">
                <div class="section-btn">
                    <a class="btn doyoo-btn">看看我适合学吗？</a>
                </div>
            </div>
        </div>
        <div class="section fivestep-method-sec">
            <div class="fivestep-method-sec1">
                <div class="section-title">
                    丝路教育5步法
                    <br><b>
                        打造百万原画师
                    </b>
                </div>
                <div class="fivestep-method-nav">
                    <div class="fivestep-method-num">01</div>
                    <div class="line"></div>
                    <div class="fivestep-method-title">
                        独步行业的精编原画课程
                    </div>
                    <div class="fivestep-method-describe">
                        游戏原画+3D制作，双管齐下！
                    </div>
                </div>
                <div class="container">
                    <div class="fivestep-method-list">
                        <div class="fivestep-method-item">
                            <dl>
                                <dt>数字绘画</dt>
                                <dd>
                                    ①学习PS的基础操作，PS的不同笔刷的使用
                                    <br/>熟练掌握手绘板与板绘使用技巧，了解结构、
                                    <br/>光影等美术知识
                                </dd>
                                <dd>②学习使用手绘板，通过手绘板完成基础绘画</dd>
                                <dd>③掌握透视、结构、光影等美术基础</dd>
                            </dl>
                        </div>
                        <div class="fivestep-method-item">
                            <dl>
                                <dt>道具原画设计与制作</dt>
                                <dd>
                                    ①学习道具原画的设计原理
                                </dd>
                                <dd>②掌握金属、布料、皮革、水晶等常用
                                    <br/>装备材质的表现手法</dd>
                                <dd>③学习贴图绘制和原画设计的差别</dd>
                                <dd>④3ds Max软件学习</dd>
                            </dl>
                        </div>
                        <div class="fivestep-method-item">
                            <dl>
                                <dt>场景原画设计与制作</dt>
                                <dd>
                                    ①学习场景原画设计的原理
                                </dd>
                                <dd>②掌握自然地貌绘制（山石，云雾等）</dd>
                                <dd>③学习场景模型的制作</dd>
                                <dd>④Bodypainter软件的使用</dd>
                                <dd>⑤四方连续、二方连续贴图的使用</dd>
                            </dl>
                        </div>
                        <div class="fivestep-method-item">
                            <dl>
                                <dt>角色原画设定与制作</dt>
                                <dd>
                                    ①掌握人物头像绘画制作和人头素描结构绘制
                                </dd>
                                <dd>②学习人体结构，不同人体动</dd>
                                <dd>③掌握人物角色设定原理</dd>
                                <dd>④掌握角色模型贴图绘制流程</dd>
                            </dl>
                        </div>
                    </div>
                </div>



                <!-- 表单统计 -->
                <div class="fivestep-method-form">
                    <form id="form">
                        <div class="form-group form-group-txt">
                            <h3>想获取完整原画课程讲义吗？</h3>
                        </div>
                        <div class="form-group">
                            <input type='text' name='name' id="name" placeholder="姓名：请填写姓名" class="form-control" />
                        </div>
                        <div class="form-group">
                            <input type="text" name='tel' id="tel" class="form-control" placeholder="联系方式：请填写手机号码" />
                        </div>
                        <input type="text" name='time' id='time' style="display: none;" />

                        <div class="form-submit">
                            <button class="btn" type="button" onclick="add_ajaxmessage()"> 获取原画课程讲义</button>
                        </div>
                    </form>
                </div>
            </div>


            <div class="fivestep-method-sec2">
                <div class="fivestep-method-nav">
                    <div class="fivestep-method-num">02</div>
                    <div class="line"></div>
                    <div class="fivestep-method-title">
                        老师“带资进组”
                    </div>
                    <div class="fivestep-method-describe">
                        有实力才配做老师
                    </div>
                </div>
                <div class="container">
                    <div class="fivestep-method-list">
                        <div class="fivestep-method-item">
                        </div>
                        <div class="fivestep-method-item">
                        </div>
                        <div class="fivestep-method-item">
                        </div>
                        <div class="fivestep-method-item">
                        </div>
                    </div>
                </div>
            </div>
            <div class="fivestep-method-sec3">
                <div class="fivestep-method-nav">
                    <div class="fivestep-method-num">03</div>
                    <div class="line"></div>
                    <div class="fivestep-method-title">
                        学员阶段性作品
                    </div>
                    <div class="fivestep-method-describe">
                        皆有名师亲自指导
                    </div>
                </div>
                <div class="container">
                    <div class="section-nav-tab">
                        <div class="section-nav-item section-nav-btn section-nav-active">道具手绘</div>
                        <div class="section-nav-item section-nav-btn">人物手绘</div>
                        <div class="section-nav-item section-nav-btn">游戏场景原画</div>
                    </div>
                    <div class="section-tab-list">
                        <div class="section-tab-listsection-tab-list">
                            <img src="/assets/images/youxi/yxyh/stu-work1.jpg?v=1586934576676" alt="">
                        </div>
                        <div class="section-tab-col">
                            <img src="/assets/images/youxi/yxyh/stu-work2.jpg?v=1586934576676" alt="">
                        </div>
                        <div class="section-tab-col">
                            <img src="/assets/images/youxi/yxyh/stu-work3.jpg?v=1586934576676" alt="">
                        </div>
                    </div>
                </div>
                <div class="section-btn">
                    <a class="btn doyoo-btn">查看更多学员作品</a>
                </div>
            </div>
            <div class="fivestep-method-sec4">
                <div class="fivestep-method-nav">
                    <div class="fivestep-method-num">04</div>
                    <div class="line"></div>
                    <div class="fivestep-method-title">
                        丝路游戏实训项目
                    </div>
                    <div class="fivestep-method-describe">
                        提前体验当原画师的“薪”鲜感
                    </div>
                </div>
                <div class="container">
                    <img src="/assets/images/youxi/yxyh/shixun.jpg?v=1586934576676" alt="">
                </div>
            </div>
            <div class="fivestep-method-sec5">
                <div class="fivestep-method-nav">
                    <div class="fivestep-method-num">05</div>
                    <div class="line"></div>
                    <div class="fivestep-method-title">
                        <strong>丝路合作企业众多</strong>
                    </div>
                    <div class="fivestep-method-describe">
                        学原画一不小心入职名企
                    </div>
                </div>
                <div class="container">
                    <img src="/assets/images/youxi/yxyh/logo.jpg?v=1586934576676" alt="">
                </div>
                <div class="section-btn">
                    <a class="btn doyoo-btn">查看更多合作企业</a>
                </div>
            </div>
        </div>

        <div class="section section-bg-write">
            <div class="container">
                <div class="section-title">
                    <b>
                        TA们正在晋升“主美”的道路上一往无前
                    </b>
                </div>
                <div class="section-describe">
                    丝路教育原画专业学员，毕业均在游戏公司担任
                    <br/>原画相关岗位，将热爱进行到底！
                </div>
                <a class="doyoo-btn">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img src="/assets/images/youxi/yxyh/stu1.png?v=1586934576676" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="/assets/images/youxi/yxyh/stu2.png?v=1586934576676" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="/assets/images/youxi/yxyh/stu3.png?v=1586934576676" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="/assets/images/youxi/yxyh/stu4.png?v=1586934576676" alt="">
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <!-- 表单统计 -->
        <div class="section-form">
            <form id="form">
                <div class="form-group">
                    <input type='text' name='name' id="name" placeholder="姓名：请填写姓名" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="text" name='tel' id="tel" class="form-control" placeholder="联系方式：请填写手机号码" />
                </div>
                <input type="text" name='time' id='time' style="display: none;" />

                <div class="form-submit">
                    <button class="btn" type="button" onclick="add_ajaxmessage()"> 试学一下</button>
                </div>
            </form>
        </div>
    </div>

    <script src="/assets/js/libs/zepto.min.js"></script>
<script src="/assets/js/plugs/vide-7.4.1/js/video.min.js"></script>
<script src="/assets/js/plugs/picViewer/picViewer.js"></script>
<script src="/assets/js/plugs/swiper-3.4.0/swiper-3.4.2.jquery.min.js"></script>
<script src="/assets/js/plugs/layer-v3.1.1/layer/mobile/layer.js"></script>
<script src="/assets/js/plugs/formbd.js"></script>
<script src="/assets/js/global/common.js"></script>
<!-- <script src="http://op.jiain.net/20002985/10085553.js"></script> -->
<script>
    var doyooBtns = [].slice.call(document.querySelectorAll('.doyoo-btn'));
    for (var i = 0, len = doyooBtns.length; i < len; i++) {
        doyooBtns[i].onclick = function() {
            doyoo.util.openChat('g=10075108');
            return false;
        }
    }
</script>

</body>

</html>