<!doctype html>
<html>
<head>
<meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
<title>产品经理培训|产品经理培训班|产品经理培训价格</title>
<link rel="stylesheet" href="../../css/public.css">
<!--menu-->
<link type="text/css" rel="stylesheet" href="../../css/index/jquery.mmenu.css" />
<link type="text/css" rel="stylesheet" href="../../css/index/menu.css" />
<script type="text/javascript" src="../../js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="../../js/jquery.form.js"></script>
<script type="text/javascript" src="../../js/jquery.mmenu.min.js"></script>
<!--menu-->
<link rel="stylesheet" href="../../css/uisheji/chanpinjl.css">
</head>

<body>

<!--导航-->
<div id="page">
  <div class="header"> <a href="#menu"><img src="/assets/images/index/iconmenu.jpg" style="width: 100%;display: block;" /></a> <a href="#"><img src="/assets/images/index/logo.jpg" style="width: 100%;display: block;" /></a> <a class="doyoo-btn"><img src="/assets/images/index/tel.jpg" style="width: 100%;display: block;" /></a> </div>
  <nav id="menu" style="visibility: hidden;">
    <ul>
      <li> <a href="../../index.html">首页</a> </li>
      <li> <a href="../../html/rssl/rssl.html">认识丝路</a> </li>
      <li> <a href="#">室内设计课程</a>
        <ul>
          <li> <a href="../../html/shinei/shineiqk.html">室内设计全科班</a> </li>
          <li> <a href="../../html/shinei/shouhui.html">室内手绘班</a> </li>
          <li> <a href="../../html/shinei/cad.html">CAD应用班</a> </li>
          <li> <a href="../../html/shinei/ruanzhuang.html">室内软装班</a> </li>
        </ul>
      </li>
      <li> <a href="#">UI设计课程</a>
        <ul>
          <li> <a href="../../html/uisheji/ui.html">UI设计全科班</a> </li>
          <li> <a href="../../html/uisheji/ps.html">PS应用班</a> </li>
          <li> <a href="../../html/uisheji/pingmian.html">平面设计班</a> </li>
          <li> <a href="../../html/uisheji/meigong.html">美工特训班</a> </li>
          <li> <a href="../../html/uisheji/wangyesheji.html">网页设计班</a> </li>
          <li> <a href="../../html/uisheji/dianshang.html">电商设计班</a> </li>
          <li> <a href="../../html/uisheji/ai.html">AI应用班</a> </li>
          <li> <a href="../../html/uisheji/chanpinjl.html">产品经理班</a> </li>
          <li> <a href="../../html/uisheji/c4d.html">C4D应用班</a> </li>
        </ul>
      </li>
      <li> <a href="#">建筑表现课程</a>
        <ul>
          <li> <a href="../../html/jianzhu/jzqk.html">建筑表现全科班</a> </li>
          <li> <a href="../../html/jianzhu/3dmax.html">3DMAX应用班</a> </li>
          <li> <a href="../../html/jianzhu/jianzhumoxing.html">建筑模型特训班</a> </li>
          <li> <a href="../../html/jianzhu/jzxuanran.html">建筑渲染特训班</a> </li>
          <li> <a href="../../html/jianzhu/jzdh.html">建筑动画特训班</a> </li>
          <li> <a href="../../html/jianzhu/3ddonghua.html">三维动画特训班</a> </li>
          <li> <a href="../../html/jianzhu/xgt.html">效果图特训班</a> </li>
        </ul>
      </li>
      <li> <a href="#">VR游戏课程</a>
        <ul>
          <li> <a href="../../html/youxi/yxquanke.html">VR游戏全科班</a> </li>
          <li> <a href="../../html/youxi/youximeishu.html">3D游戏美术班</a> </li>
          <li> <a href="../../html/youxi/youxiyuanhua.html">游戏原画设计班</a> </li>
          <li> <a href="../../html/youxi/yxtx.html">游戏动作特效班</a> </li>
          <li> <a href="../../html/youxi/vr.html">VR技术特训班</a> </li>
          <li> <a href="../../html/youxi/yxcehua.html">游戏策划班</a> </li>
        </ul>
      </li>
      <li> <a href="#">BIM应用课程</a>
        <ul>
          <li> <a href="../../html/bim/bim.html">BIM应用全科班</a> </li>
          <li> <a href="../../html/bim/revit.html">Revit应用班</a> </li>
          <li> <a href="../../html/bim/lumion.html">Lumion应用班</a> </li>
        </ul>
      </li>
      <li> <a href="#">影视后期课程</a>
        <ul>
          <li> <a href="../../html/yingshi/yingshidh.html">影视动画大师班</a> </li>
          <li> <a href="../../html/yingshi/AE.html">AE影视后期大师班</a> </li>
          <li> <a href="../../html/yingshi/jianji.html">影视后期剪辑大师班</a> </li>
        </ul>
      </li>
      <li> <a href="../../html/mingshi/mingshi.html">业界名师</a> </li>
      <li> <a href="../../html/xszp/xszp.html">学生作品</a> </li>
      <li> <a href="#">报名入口</a>
        <ul>
          <li> <a href="../../html/bmrk/slxf.html">丝路学费</a> </li>
          <li> <a href="../../html/bmrk/xgcs.html">性格测试</a> </li>
          <li> <a href="../../html/bmrk/mfst.html">免费试听</a> </li>
          <li> <a href="../../html/bmrk/zxbm.html">在线报名</a> </li>
        </ul>
      </li>
      <li> <a href="../../html/contact/contact.html">联系我们</a> </li>
    </ul>
  </nav>
</div>
<script type="text/javascript">
	$(document).ready(function(){
		$('nav#menu').mmenu();
		$("#menu").css("visibility","visible");
	});
</script> 
<!--导航结束-->

<div class="container"> 
  
  <!--banner-->
  <div><a class="doyoo-btn"><img src="/assets/images/uisheji/chanpinjl/banner.jpg" class="banner"></a></div>
  
  <!--阐述-->
  <div class="part-box">
    <div class="titlebox">
      <h1>什么是产品经理？</h1>
    </div>
    <div class="part-content chanshu-ctn"> <img src="/assets/images/uisheji/chanpinjl/chanshu.jpg"> </div>
    <a class="doyoo-btn">
    <div class="btn chanshu-btn">测一测：我适合当产品经理吗？</div>
    </a> </div>
  
  <!--为什么-->
  <div class="part-box part-why">
    <div class="titlebox">
      <h1>为什么要当产品经理？</h1>
      <p></p>
      <div class="line"></div>
      <p>优秀的CEO往往都是一流的产品经理。</br>
        产品是企业的核心，而产品经理则决定产品的灵魂，所以在</br>
        行业内，产品经理往往是CEO的学前班。</p>
    </div>
    <div class="part-content"> <a class="doyoo-btn"><img src="/assets/images/uisheji/chanpinjl/why.jpg"></a> </div>
    <a class="doyoo-btn">
    <div class="btn">马上变身CEO，戳这里</div>
    </a> </div>
  
  <!--问题-->
  <div class="part-box part-wenti">
    <div class="titlebox">
      <h1>你是不是也有以下疑问？</h1>
    </div>
    <div class="part-content"> <a class="doyoo-btn"><img src="/assets/images/uisheji/chanpinjl/wenti.jpg"></a> </div>
    <a class="doyoo-btn">
    <div class="btn">有问题，专业老师来解答</div>
    </a> </div>
  
  <!--岗位-->
  <div class="part-box part-gw">
    <div class="titlebox">
      <h1>需求旺盛，每天<span>数万个</span>机会等着你</h1>
      <p></p>
      <p>（* 数据来自前程无忧单日招聘岗位个数）</p>
    </div>
    <img src="/assets/images/uisheji/chanpinjl/gangwei.jpg"> </div>
  
  <!--薪资-->
  <div class="part-box part-xinzi">
    <div class="titlebox">
      <h1>高薪回报，年收入轻松<span>20W＋</span></h1>
      <p></p>
      <div class="line"></div>
      <p>全国7个城市薪资调研结果显示，产品类职位薪资领跑其它岗位，</br>
        产品经理平均月薪接近15K，每年拿14薪以上非常普遍。</p>
    </div>
    <div class="part-content"> <img src="/assets/images/uisheji/chanpinjl/xinzi.jpg"> </div>
    <a class="doyoo-btn">
    <div class="btn">HR帮你测身价</div>
    </a> </div>
  
  <!--表单1-->
  <div class="part-box part-form part-oneform">
    <div class="titlebox">
      <h1>想做CEO，从产品经理开始</h1>
    </div>
    <form id="subInfoForm1" enctype="multipart/form-data" method="post" action="http://47.110.235.105:8080/slweb/Webs/subInfo.shtml">
		<input type="hidden" name="url" value="chanpinjl-wap.html" />
		<input type="text" name='userName' id='userName' required  onchange="checkName();" placeholder="我们怎么称呼您" class="infor">
		<input type="text" name='phoneNum' id='student_phone' placeholder="请输入正确的手机号" required  pattern="[0-9]{11}" onChange="checkPhone()" class="infor">
		<input type="submit" value="预约免费试听" class="btn">                            
	</form>
  </div>
  
  <!--教学保障-->
  <div class="part-box part-jxbz">
    <div class="titlebox">
      <h1>6大保障政策，丝路学员独享</h1>
      <p>12年教学管理经验助力4个月完美蜕变</p>
    </div>
    <div class="part-content"> <a class="doyoo-btn">
      <div class="jxbz-item"> <img src="/assets/images/uisheji/chanpinjl/jxbz1.png">
        <h2>免费试听体验</h2>
      </div>
      </a> <a class="doyoo-btn">
      <div class="jxbz-item"> <img src="/assets/images/uisheji/chanpinjl/jxbz2.png">
        <h2>名企定向就业</h2>
      </div>
      </a> <a class="doyoo-btn">
      <div class="jxbz-item  jxbz-threeitem"> <img src="/assets/images/uisheji/chanpinjl/jxbz3.png">
        <h2>全程名师面授</h2>
      </div>
      </a>
      <div class="cle"></div>
    </div>
    <div class="part-content jxbz-ctn"> <a class="doyoo-btn">
      <div class="jxbz-item"> <img src="/assets/images/uisheji/chanpinjl/jxbz4.png">
        <h2>先学习后付款</h2>
      </div>
      </a> <a class="doyoo-btn">
      <div class="jxbz-item"> <img src="/assets/images/uisheji/chanpinjl/jxbz5.png">
        <h2>企业项目实训</h2>
      </div>
      </a> <a class="doyoo-btn">
      <div class="jxbz-item  jxbz-threeitem"> <img src="/assets/images/uisheji/chanpinjl/jxbz6.png">
        <h2>真实案例教学</h2>
      </div>
      </a>
      <div class="cle"></div>
    </div>
  </div>
  
  <!--丝路实力-->
  <div class="part-box part-slsl">
    <div class="titlebox">
      <h1>12年深耕视觉设计领域</h1>
    </div>
    <div class="part-content">
      <div class="slsl-item"> <img src="/assets/images/uisheji/chanpinjl/slsl1.png">
        <h2>视觉科技领域</br>
          上市公司</h2>
      </div>
      <div class="slsl-item"> <img src="/assets/images/uisheji/chanpinjl/slsl2.png">
        <h2>AUTODESK</br>
          官方认证培训机构</h2>
      </div>
      <div class="slsl-item"> <img src="/assets/images/uisheji/chanpinjl/slsl3.png">
        <h2>与众多一线名企</br>
          达成人才战略合作</h2>
      </div>
      <div class="cle"></div>
    </div>
    <div class="part-content slsl-ctn">
      <div class="slsl-item"> <img src="/assets/images/uisheji/chanpinjl/slsl4.png">
        <h2>众多高等院校</br>
          就业实训基地</h2>
      </div>
      <div class="slsl-item"> <img src="/assets/images/uisheji/chanpinjl/slsl5.png">
        <h2>学员高就业率</br>
          每年均超98%</h2>
      </div>
      <div class="slsl-item"> <img src="/assets/images/uisheji/chanpinjl/slsl6.png">
        <h2>前学院后企业<br/>
          独特教学模式</h2>
      </div>
      <div class="cle"></div>
    </div>
    <a class="doyoo-btn">
    <div class="btn">走进丝路</div>
    </a> </div>
  
  <!--从事-->
  <div class="part-box part-congshi">
    <div class="titlebox">
      <h1>学完之后能做什么？</h1>
      <p>从0到N负责产品的整个生命周期，统筹全局</p>
    </div>
    <div class="part-content"> <img src="/assets/images/uisheji/chanpinjl/congshi.png"> </div>
  </div>
  
  <!--软件-->
  <div class="part-box part-ruanjian">
    <div class="titlebox">
      <h1>你将熟练掌握以下工具</h1>
    </div>
    <div class="part-content"> <img src="/assets/images/uisheji/chanpinjl/ruanjian.jpg"> </div>
    <a class="doyoo-btn">
    <div class="btn">课程好不好，听了就知道</div>
    </a> </div>
  
  <!--合作-->
  <div class="part-box part-hezuo">
    <div class="titlebox">
      <h1>名企强强联手，培训就业无缝对接</h1>
      <p>来丝路学平面设计，毕业即就业</p>
    </div>
    <img src="/assets/images/uisheji/chanpinjl/qiye.jpg"> <a class="doyoo-btn">
    <div class="btn">一键投简历</div>
    </a> </div>
  
  <!--企业评价-->
  <div class="part-box part-qypj">
    <div class="titlebox">
      <h1>名企真实反馈，高品质教学被肯定</h1>
      <p>企业需求及时追踪，提升人才输出品质</p>
    </div>
    <div class="part-content"> <img src="/assets/images/uisheji/chanpinjl/qypj1.jpg"> <img src="/assets/images/uisheji/chanpinjl/qypj2.jpg"> <img src="/assets/images/uisheji/chanpinjl/qypj3.jpg" class="qypj-item"> </div>
  </div>
  
  <!--校园环境-->
  <div class="part-box part-xyhj">
    <div class="titlebox">
      <h1>一流教学环境，学的舒心</h1>
    </div>
    <div class="part-content"> <img src="/assets/images/uisheji/chanpinjl/xyhj.jpg"> </div>
    <a class="doyoo-btn">
    <div class="btn">查看更多校园环境</div>
    </a> </div>
  
  <!--表单2-->
  <div class="part-box part-form part-twoform" style="margin-bottom: 10vw;">
    <div class="titlebox">
      <h1>入行产品经理，只差这一“点”</h1>
    </div>
    <form id="subInfoForm2" enctype="multipart/form-data" method="post" action="http://47.110.235.105:8080/slweb/Webs/subInfo.shtml">
		<input type="hidden" name="url" value="chanpinjl-wap.html" />
		<input type="text" name='userName' id='userName' required  onchange="checkName();" placeholder="我们怎么称呼您" class="infor">
		<input type="text" name='phoneNum' id='student_phone' placeholder="请输入正确的手机号" required  pattern="[0-9]{11}" onChange="checkPhone()" class="infor">
		<input type="submit" value="预约免费试听" class="btn">                            
	</form>
  </div>

<!-- end footer -->    
   <style>
	.dbdh-box{width: 100%;background:#1b2129;border-top:0.1vw solid #000;}
	.dbdh-ms a{ color:#FFF;}
	.dbdh-ms{width:24.9%;line-height: 10vw;font-size: 4vw;text-align: center;color: #fff;float: left;border-right: 0.1vw solid #000;}
</style>
<div style="position:fixed;left: 0;bottom: 0;width: 100%;">
<div class="dbdh-box">
	<div class="dbdh-ms"><a class="doyoo-btn">课程咨询</a></div>
	<div class="dbdh-ms"><a class="doyoo-btn">申请奖学金</a></div>
	<div class="dbdh-ms"><a href="http://m.silucg.com/html/contact/contact.html">查看地图</a></div>
	<div class="dbdh-ms" style="border-right: none;"><a class="doyoo-btn">电话咨询</a></div>
</div>
<div style="background:#1b2129;text-align: center; font-size: 3vw;color: #b8b8b8;line-height:5vw;">本网站版权归丝路视觉科技股份有限公司所有，盗用必究
</div>
</div> 	
	
	

</div>
<script>
	$('#subInfoForm1').submit(function(){
		$(this).ajaxSubmit(function(){
			alert('提交成功')
		});
		return false;
	});
	$('#subInfoForm2').submit(function(){
		$(this).ajaxSubmit(function(){
			alert('提交成功')
		});
		return false;
	});
</script>

<!--乐语系统--> 
<script type="text/javascript" charset="utf-8" src="http://lead.soperson.com/20002985/10086210.js"></script> 

<!--统计工具：CNZZ-->
<div style="font-size: 0.1rem;"> 
  <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? "https://" : "http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1276821672'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s23.cnzz.com/z_stat.php%3Fid%3D1276821672%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script> 
</div>

<!--百度呼--> 
<script>
var _hmt = _hmt || []; (function() { var hm = document.createElement("script"); hm.src = "https://hm.baidu.com/hm.js?57448cbcd9efb5a61b8ba648ba49f3e2"; var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(hm, s); })(); 
</script> 
<script type="text/javascript" charset="utf-8" async src="http://lxbjs.baidu.com/lxb.js?sid=8881824"></script>
</body>
</html>
