<!doctype html>
<html>
  <head>
		@@include('../layout/_meta.html')
		<title>美工设计培训|美工设计培训班|美工设计培训价格</title>
		@@include('../layout/_link.html')
    <link rel="stylesheet" href="/assets/css/jingjiadt/public.css">
    <link rel="stylesheet" href="/assets/css/uisheji/meigong.css">
	</head>
	
	<body>
		@@include('../layout/_header.html')


      <!--banner-->
  <div><a class="doyoo-btn" style=" cursor: pointer;"><img src="/assets/images/uisheji/meigong/banner.jpg" class="banner" style="margin-top: 2.24rem;"></a></div>
<div class=""> 
  <style>
    .titlebox .line {
    width: 12%;
    height: 1px;
    margin: 0.3rem auto 0.3rem auto;
}
.titlebox p:nth-of-type(2) {
  font-size: 0.35rem;
    color: #999;
    line-height: 0.45rem;
    margin-top: 0.1rem;
}
.titlebox p:nth-of-type(1) {
  font-size: 0.35rem;
    color: #666;
    line-height: 0.14rem;
    margin-top: 0.1rem;
    margin-bottom: 0.5rem;
}
.btn {
    margin: 0.5rem auto 0 auto;
    font-size: 0.4rem;
    color: #333;
    text-align: center;
    line-height: 1rem;
    border-radius: 0.2rem;
    background: #fcc800;
    border: solid 1px #fcc800;
    height: 1rem;
    border-radius: 1rem;
    display: block
}

  </style>

  
  <!--薪资-->
  <div class="part-box part-xinzi">
    <div class="titlebox">
      <h1>你了解现在的美工设计师吗？</h1>
      <p>发展多元化，岗位薪资高</p>
      <div class="line"></div>
      <p><span style="color: #ff6a09;">99%</span>职业覆盖率高达</br>
        美工岗位需求涵盖创意文化、广告传媒、互联网、商业百</br>
        货、金融、教育、通信、建筑、产品制造等企业。</p>
    </div>
    <img src="/assets/images/uisheji/meigong/jieshao.jpg" class="jieshao"> <img src="/assets/images/uisheji/meigong/xinzi.png" class="xinzi"> <a class="doyoo-btn" style=" cursor: pointer;">
    <div class="btn">我要学美工</div>
    </a> </div>
  
  <!--学员-->
  <div class="part-box part-kaozheng">
    <div class="titlebox">
      <h1>美工进阶UI设计师</h1>
      <p>提高薪资进阶之路</p>
    </div>
    <div class="part-content"> <a class="doyoo-btn" style=" cursor: pointer;"><img src="/assets/images/uisheji/meigong/kecheng1.png"></a> <a class="doyoo-btn" style=" cursor: pointer;"><img src="/assets/images/uisheji/meigong/kecheng2.png"></a> <a class="doyoo-btn" style=" cursor: pointer;"><img src="/assets/images/uisheji/meigong/kecheng3.png"></a> <a class="doyoo-btn" style=" cursor: pointer;"><img src="/assets/images/uisheji/meigong/kecheng4.png"></a> </div>
  </div>


 
  <!--问题-->
  <div class="part-box part-wenti">
    <div class="titlebox">
      <h1>你是否还有下列学习疑问？</h1>
    </div>
    <div class="part-content"> <a class="doyoo-btn">
      <div class="wenti-item">
        <p>我学历低，没有基础，能学会吗？</p>
        <p>查看答案</p>
        <div class="cle"></div>
      </div>
      <a> <a class="doyoo-btn">
      <div class="wenti-item">
        <p>学费是多少，最近有没有优惠？</p>
        <p>查看答案</p>
        <div class="cle"></div>
      </div>
      </a> <a class="doyoo-btn">
      <div class="wenti-item">
        <p>真的可以先学习，再付款吗？</p>
        <p>查看答案</p>
        <div class="cle"></div>
      </div>
      </a> <a class="doyoo-btn">
      <div class="wenti-item">
        <p>要学多长时间，上课时间是怎么安排的？</p>
        <p>查看答案</p>
        <div class="cle"></div>
      </div>
      </a> <a class="doyoo-btn">
      <div class="wenti-item">
        <p>白天没时间学，晚上学可以吗？</p>
        <p>查看答案</p>
        <div class="cle"></div>
      </div>
      </a> <a class="doyoo-btn">
      <div class="wenti-item wenti-lastitem">
        <p>丝路是怎么推荐我就业的？</p>
        <p>查看答案</p>
        <div class="cle"></div>
      </div>
      </a> </div>
  </div>
  

  
  <!--教学保障-->
  <div class="part-box part-jxbz">
    <div class="titlebox">
      <h1>丝路学员独享6大权益</h1>
    </div>
    <div class="part-content"> <a class="doyoo-btn">
      <div class="jxbz-item"> <img src="/assets/images/jingjiadt/pingmian/jxbz1.png">
        <h2>免费试听体验</h2>
      </div>
      </a> <a class="doyoo-btn">
      <div class="jxbz-item"> <img src="/assets/images/jingjiadt/pingmian/jxbz2.png">
        <h2>名企定向就业</h2>
      </div>
      </a> <a class="doyoo-btn">
      <div class="jxbz-item  jxbz-threeitem"> <img src="/assets/images/jingjiadt/pingmian/jxbz3.png">
        <h2>全程名师面授</h2>
      </div>
      </a>
      <div class="cle"></div>
    </div>
    <div class="part-content jxbz-ctn"> <a class="doyoo-btn">
      <div class="jxbz-item"> <img src="/assets/images/jingjiadt/pingmian/jxbz4.png">
        <h2>先学习后付款</h2>
      </div>
      </a> <a class="doyoo-btn">
      <div class="jxbz-item"> <img src="/assets/images/jingjiadt/pingmian/jxbz5.png">
        <h2>企业项目实训</h2>
      </div>
      </a> <a class="doyoo-btn">
      <div class="jxbz-item  jxbz-threeitem"> <img src="/assets/images/jingjiadt/pingmian/jxbz6.png">
        <h2>真实案例教学</h2>
      </div>
      </a>
      <div class="cle"></div>
    </div>
  </div>
  
  <!--表单3-->
  <div class="part-box part-form part-oneform">
    <div class="titlebox">
      <h1>美工设计，4个月完美蜕变</h1>
    </div>
    <form id="subInfoForm1" enctype="multipart/form-data" method="post" action="http://47.110.235.105:8080/slweb/Webs/subInfo.shtml">
		<input type="hidden" name="url" value="meigong-wap.html" />
		<input type="text" name='userName' id='userName' required  onchange="checkName();" placeholder="我们怎么称呼您" class="infor">
		<input type="text" name='phoneNum' id='student_phone' placeholder="请输入正确的手机号" required  pattern="[0-9]{11}" onChange="checkPhone()" class="infor">
		<input type="submit" value="我要免费试学课程" class="btn">                            
	</form>
  </div>
  
  <!--讲师-->
  <div class="part-box part-teacher">
    <div class="titlebox">
      <h1>设计大咖亲临授课</h1>
      <p>带你攻克设计壁垒</p>
    </div>
    <div class="part-content">
      
      <div class="teacher-item"> <img src="/assets/images/uisheji/ai/teacher2.png">
        <div class="teacher-text">  <h2>王老师&nbsp;&nbsp;<span>8年从业经验、原外企设计总监</span></h2>
          <img src="/assets/images/uisheji/ai/xuxian.png">
          <p>代表项目：POHANG大旅店VI、文化南京书籍装帧、行程APP......</p>
        </div>
        <div class="cle"></div>
      </div>
      <div class="teacher-item"> <img src="/assets/images/uisheji/ai/teacher3.png">
        <div class="teacher-text"> <h2>黄老师&nbsp;&nbsp;<span>8年从业经验、丝路UI设计高级讲师</span></h2>
          <img src="/assets/images/uisheji/ai/xuxian.png">
          <p>代表项目：随易APP、大庆油田工会APP、保利地产数字屏.....</p>
        </div>
        <div class="cle"></div>
      </div>
      <div class="teacher-item"> <img src="/assets/images/uisheji/ai/teacher4.png">
        <div class="teacher-text"> <h2>孙老师&nbsp;&nbsp;<span>7年从业经验、知名互联网名企设计师</span></h2>
          <img src="/assets/images/uisheji/ai/xuxian.png">
          <p>代表项目：苏宁易购热卖APP、买哪儿微盘特卖网APP、移动端搜索迭代.....</p>
        </div>
        <div class="cle"></div>
      </div>
    </div>
    <a class="doyoo-btn">
    <div class="btn">点击与导师一对一交流</div>
    </a> </div>
  
  <!--作品-->
  <div class="part-box part-zuopin">
    <div class="titlebox">
      <h1>高品质作品直指名企offer</h1>
      <p>他们和你一样 之前也很普通</p>
    </div>
    <div class="part-content"> <img src="/assets/images/uisheji/meigong/zuoping.png"> </div>
    <a class="doyoo-btn">
    <div class="btn">查看更多优秀作品</div>
    </a> </div>
  
  <!--环境-->
  <div class="part-box part-huanjing">
    <div class="titlebox">
      <h1>优越的教学环境为你造梦</h1>
    </div>
    <div class="part-content"> <img src="/assets/images/uisheji/meigong/huanjing.png"> </div>
    <a class="doyoo-btn">
    <div class="btn">查看更多校园环境</div>
    </a> </div>
 
  <!--合作-->
  <div class="part-box part-hezuo">
    <div class="titlebox">
      <h1>毕业拿offer 一线名企任你选</h1>
      <p>3000家合作企业   每年多场 专场招聘会</p>
    </div>
    <div class="part-content"> <img src="/assets/images/uisheji/meigong/qiye.png"> </div>
    <a class="doyoo-btn">
    <div class="btn">查看企业招聘要求</div>
    </a> </div>
  
  <!--表单3-->
  <div class="part-box part-form part-twoform" style="margin-bottom: 10vw;">
    <div class="titlebox">
      <h1>预约7天免费试听</h1>
    </div>
    <form id="subInfoForm2" enctype="multipart/form-data" method="post" action="http://47.110.235.105:8080/slweb/Webs/subInfo.shtml">
		<input type="hidden" name="url" value="meigong-wap.html" />
		<input type="text" name='userName' id='userName' required  onchange="checkName();" placeholder="我们怎么称呼您" class="infor">
		<input type="text" name='phoneNum' id='student_phone' placeholder="请输入正确的手机号" required  pattern="[0-9]{11}" onChange="checkPhone()" class="infor">
		<input type="submit" value="确认提交" class="btn">                            
	</form>
  </div>
		
		<!-- end footer -->    
   <style>
	.dbdh-box{width: 100%;background:#1b2129;border-top:0.1vw solid #000;}
	.dbdh-ms a{ color:#FFF;}
	.dbdh-ms{width:24.9%;line-height: 10vw;font-size: 4vw;text-align: center;color: #fff;float: left;border-right: 0.1vw solid #000;}
</style>
<div style="position:fixed;left: 0;bottom: 0;width: 100%;">
<div class="dbdh-box">
	<div class="dbdh-ms"><a class="doyoo-btn">课程咨询</a></div>
	<div class="dbdh-ms"><a class="doyoo-btn">申请奖学金</a></div>
	<div class="dbdh-ms"><a href="http://m.silucg.com/html/contact/contact.html">查看地图</a></div>
	<div class="dbdh-ms" style="border-right: none;"><a class="doyoo-btn">电话咨询</a></div>
</div>
<div style="background:#1b2129;text-align: center; font-size: 3vw;color: #b8b8b8;line-height:5vw;">本网站版权归丝路视觉科技股份有限公司所有，盗用必究
</div>
</div> 	
	
	
		
</div>
<script>
$('#subInfoForm1').submit(function(){
	$(this).ajaxSubmit(function(){
		alert('提交成功')
	});
	return false;
});
$('#subInfoForm2').submit(function(){
	$(this).ajaxSubmit(function(){
		alert('提交成功')
	});
	return false;
});
</script>

<!--乐语系统--> 
<script type="text/javascript" charset="utf-8" src="http://lead.soperson.com/20002985/10086210.js"></script> 

<!--统计工具：CNZZ-->
<div style="font-size: 0.1rem;"> 
  <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? "https://" : "http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1276821672'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s23.cnzz.com/z_stat.php%3Fid%3D1276821672%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script> 
</div>

<!--百度呼--> 
<script>
var _hmt = _hmt || []; (function() { var hm = document.createElement("script"); hm.src = "https://hm.baidu.com/hm.js?57448cbcd9efb5a61b8ba648ba49f3e2"; var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(hm, s); })(); 
</script> 
<script type="text/javascript" charset="utf-8" async src="http://lxbjs.baidu.com/lxb.js?sid=8881824"></script>
</body>
</html>
