<!doctype html>
<html>
  <head>
		@@include('../layout/_meta.html')
		<title>ps软件培训|ps软甲培训班|ps软件培训价格</title>
		@@include('../layout/_link.html')
    <link rel="stylesheet" href="/assets/css/jingjiadt/public.css">
    <link rel="stylesheet" href="/assets/css/jingjiadt/ps.css">
	</head>
	
	<body>
		@@include('../layout/_header.html')

<div class=""> 
  
  <style>
    .btn {
    margin: 0.2rem auto 0 auto;
    font-size: 0.4rem;
    color: #333;
    text-align: center;
    line-height: 0.4rem;
    border-radius: 0.2rem;
    width: 56%;
    height: 1rem;
    line-height: 1rem;
    border-radius: 1rem;
    border: solid 1px #fcc800;
    display: block;
    margin-top: 0.8rem;
  }
  .part-content{
    margin: 0.4rem auto 0 auto;
  }
  .titlebox p:nth-of-type(1) {
    font-size: 0.35rem;
    color: #666;
    line-height:normal;
    margin-top: 0.1rem;
}
  </style>
  <!--banner-->
  <div><a class="doyoo-btn"><img src="/assets/images/uisheji/ps/banner-bj.jpg" class="banner" style="margin-top: 2.23rem;"></a></div>
  
  <!--zhiwei-->
  <div class="part-box part-zhiwei">
    <div class="titlebox">
      <h1>学会PS，你能够做什么？</h1>
      <p style="">PS修图、平面设计、创意广告、影视后期、网页设计、</br>
        移动端界面设计、电商设计...</p>
      <p></p>
    </div>
    <div class="part-content"> <a class="doyoo-btn"><img src="/assets/images/uisheji/ps/zsm.png"></a> </div>
    <a class="doyoo-btn">
    <div class="btn">我要拿高薪</div>
    </a> </div>
  
  <!--薪资-->
  <div class="part-box part-xinzi">
    <div class="titlebox">
      <h1>学完PS，就业多重选择</h1>
      <p>优秀技术性人才，往往更能占得市场先机</p>
      <p></p>
    </div>
    <div class="part-content"> <img src="/assets/images/uisheji/ps/xinzi1.jpg"> <img src="/assets/images/uisheji/ps/xinzi2.png"> <img src="/assets/images/uisheji/ps/xinzi3.png"> </div>
    <a class="doyoo-btn">
    <div class="btn">我适合什么行业？</div>
    </a> </div>
  
  <!--表单1-->
  <div class="part-box part-form part-oneform">
    <div class="titlebox">
      <h1>0基础学习，0负担就业</h1>
    </div>
    <form id="subInfoForm1" enctype="multipart/form-data" method="post" action="http://47.110.235.105:8080/slweb/Webs/subInfo.shtml">
		<input type="hidden" name="url" value="ps-wap.html" />
		<input type="text" name='userName' id='userName' required  onchange="checkName();" placeholder="我们怎么称呼您" class="infor">
		<input type="text" name='phoneNum' id='student_phone' placeholder="请输入正确的手机号" required  pattern="[0-9]{11}" onChange="checkPhone()" class="infor">
		<input type="submit" value="预约免费试学" class="btn">                            
	</form>
  </div>
  
  <!--教学保障-->
  <div class="part-box part-jxbz">
    <div class="titlebox">
      <h1>6大教学保障</br>
        保证每位学员都能学有所成</h1>
    </div>
    <div class="part-content"> <a class="doyoo-btn">
      <div class="jxbz-item"> <img src="/assets/images/uisheji/ps/jxbz1.png">
        <h2>免费试听体验</h2>
      </div>
      </a> <a class="doyoo-btn">
      <div class="jxbz-item"> <img src="/assets/images/uisheji/ps/jxbz2.png">
        <h2>名企定向就业</h2>
      </div>
      </a> <a class="doyoo-btn">
      <div class="jxbz-item  jxbz-threeitem"> <img src="/assets/images/uisheji/ps/jxbz3.png">
        <h2>全程名师面授</h2>
      </div>
      </a>
      <div class="cle"></div>
    </div>
    <div class="part-content jxbz-ctn"> <a class="doyoo-btn">
      <div class="jxbz-item"> <img src="/assets/images/uisheji/ps/jxbz4.png">
        <h2>先学习后付款</h2>
      </div>
      </a> <a class="doyoo-btn">
      <div class="jxbz-item"> <img src="/assets/images/uisheji/ps/jxbz5.png">
        <h2>企业项目实训</h2>
      </div>
      </a> <a class="doyoo-btn">
      <div class="jxbz-item  jxbz-threeitem"> <img src="/assets/images/uisheji/ps/jxbz6.png">
        <h2>真实案例教学</h2>
      </div>
      </a>
      <div class="cle"></div>
    </div>
  </div>
  
  <!--问题-->
  <div class="part-box part-wenti">
    <div class="titlebox">
      <h1>学完PS，就业多重选择</h1>
      <p>技术性强的优秀人才，往往更能占得市场先机</p>
      <p></p>
    </div>
    <div class="part-content"> <a class="doyoo-btn"> <img src="/assets/images/uisheji/ps/wt.jpg"> </a> </div>
    <a class="doyoo-btn">
    <div class="btn">我适合什么行业？</div>
    </a> </div>
  
  <!--对比-->
  <div class="part-box part-duibi">
    <div class="titlebox">
      <h1>学PS是自学好，还是培训好？</h1>
      <p></p>
      <p></p>
    </div>
    <div class="part-content"> <a class="doyoo-btn"> <img src="/assets/images/uisheji/ps/db.jpg"> </a> </div>
    <a class="doyoo-btn">
    <div class="btn">我适合什么行业？</div>
    </a> </div>
  
  <!--丝路实力-->
  <div class="part-box part-slsl">
    <div class="titlebox">
      <h1>12年深耕视觉设计领域</h1>
    </div>
    <div class="part-content">
      <div class="slsl-item"> <img src="/assets/images/uisheji/ps/slsl1.png">
        <h2>视觉科技领域</br>
          上市公司</h2>
      </div>
      <div class="slsl-item"> <img src="/assets/images/uisheji/ps/slsl2.png">
        <h2>AUTODESK</br>
          官方认证培训机构</h2>
      </div>
      <div class="slsl-item"> <img src="/assets/images/uisheji/ps/slsl3.png">
        <h2>与众多一线名企</br>
          达成人才战略合作</h2>
      </div>
      <div class="cle"></div>
    </div>
    <div class="part-content slsl-ctn">
      <div class="slsl-item"> <img src="/assets/images/uisheji/ps/slsl4.png">
        <h2>众多高等院校</br>
          就业实训基地</h2>
      </div>
      <div class="slsl-item"> <img src="/assets/images/uisheji/ps/slsl5.png">
        <h2>学员高就业率</br>
          每年均超98%</h2>
      </div>
      <div class="slsl-item"> <img src="/assets/images/uisheji/ps/slsl6.png">
        <h2>前学院后企业</br>
          独特教学模式</h2>
      </div>
      <div class="cle"></div>
    </div>
    <a class="doyoo-btn">
    <div class="btn">走进丝路</div>
    </a> </div>
  
  <!--讲师-->
  <div class="part-box part-teacher">
    <div class="titlebox">
      <h1>设计大咖全程面对面授课</br>
        带你攻克设计壁垒</h1>
    </div>
    <div class="part-content">
     
      <div class="teacher-item"> <img src="/assets/images/uisheji/ps/teacher2.jpg">
        <div class="teacher-text">
          <h2>王老师&nbsp;&nbsp;<span>8年从业经验、原外企设计总监</span></h2>
          <img src="/assets/images/uisheji/ps/teacher-line.png">
          <p>代表项目：POHANG大旅店VI、文化南京书籍</br>
            装帧、行程APP......</p>
        </div>
        <div class="cle"></div>
      </div>
      <div class="teacher-item"> <img src="/assets/images/uisheji/ps/teacher3.jpg">
        <div class="teacher-text"> <h2>黄老师&nbsp;&nbsp;<span>8年从业经验、丝路UI设计高级讲师</span></h2>
          <img src="/assets/images/uisheji/ps/teacher-line.png">
          <p>代表项目：随易APP、大庆油田工会APP、</br>
            保利地产数字屏......</p>
        </div>
        <div class="cle"></div>
      </div>
      <div class="teacher-item"> <img src="/assets/images/uisheji/ps/teacher4.jpg">
        <div class="teacher-text"> <h2>孙老师&nbsp;&nbsp;<span>7年从业经验、知名互联网名企设计师</span></h2>
          <img src="/assets/images/uisheji/ps/teacher-line.png">
          <p>代表项目：苏宁易购热卖APP、买哪儿微盘</br>
            特卖网APP、移动端搜索迭代......</p>
        </div>
        <div class="cle"></div>
      </div>
    </div>
    <a class="doyoo-btn">
    <div class="btn">点击与导师一对一交流</div>
    </a> </div>
  
  <!--作品-->
  <div class="part-box part-zuopin">
    <div class="titlebox">
      <h1>毕业即得作品集，求职更有底气</h1>
      <p>努力有多少，作品会说话</p>
      <p></p>
    </div>
    <div class="part-content"> <a class="doyoo-btn"> <img src="/assets/images/uisheji/ps/zp.jpg"> </a> </div>
    <a class="doyoo-btn">
    <div class="btn">查看更多优秀作品</div>
    </a> </div>
  
  <!--课程大纲-->
  <div class="part-box part-kc">
    <div class="titlebox">
      <h1>始于PS,课程进阶求突破</h1>
      <p>具备PS基础，可塑性不断升级</p>
      <p></p>
    </div>
    <div class="part-content"> <a class="doyoo-btn"> <img src="/assets/images/uisheji/ps/kc.jpg"> </a> </div>
    <a class="doyoo-btn">
    <div class="btn">了解详细课程内容</div>
    </a> </div>
  
  <!--校园环境-->
  <div class="part-box part-hj">
    <div class="titlebox">
      <h1>一流教学环境<br/>
        保障极致学习体验</h1>
      <p></p>
      <p></p>
    </div>
    <div class="part-content"> <a class="doyoo-btn"> <img src="/assets/images/uisheji/ps/hj.jpg"> </a> </div>
  </div>
  
  <!--就业保障-->
  <div class="part-box part-jybz">
    <div class="titlebox">
      <h1>丝路学员专享  就业终身保障</h1>
      <p>1对1推荐就业，拿稳高薪offer</p>
    </div>
    <div class="part-content">
      <div class="jybz-item"> <img src="/assets/images/uisheji/ps/bz1.jpg">
        <h2>签订就业推荐协议</h2>
      </div>
      <div class="jybz-item"> <img src="/assets/images/uisheji/ps/bz2.jpg">
        <h2>一对一模拟面试</h2>
      </div>
      <div class="jybz-item"> <img src="/assets/images/uisheji/ps/bz3.jpg">
        <h2>定期举办招聘会</h2>
      </div>
      <div class="cle"></div>
    </div>
    <div class="part-content slsl-ctn">
      <div class="jybz-item"> <img src="/assets/images/uisheji/ps/bz4.jpg">
        <h2>就业指导课程完善</h2>
      </div>
      <div class="jybz-item"> <img src="/assets/images/uisheji/ps/bz5.jpg">
        <h2>一对一推荐就业</h2>
      </div>
      <div class="jybz-item"> <img src="/assets/images/uisheji/ps/bz6.jpg">
        <h2>企业定制人才</h2>
      </div>
      <div class="cle"></div>
    </div>
    <a class="doyoo-btn">
    <div class="btn">查看学员特权</div>
    </a> </div>
  
  <!--合作-->
  <div class="part-box part-hz">
    <div class="titlebox">
      <h1>名企强强联手，培训就业无缝对接</h1>
      <p></p>
      <p></p>
    </div>
    <div class="part-content"> <a class="doyoo-btn"> <img src="/assets/images/uisheji/ps/hz.jpg"> </a> </div>
    <a class="doyoo-btn">
    <div class="btn">一键投简历</div>
    </a> </div>
  
  <!--表单3-->
  <div class="part-box part-form part-oneform3" style="margin-bottom: 7vw;">
    <div class="titlebox">
      <h1>不断提升，从这一步开始</h1>
    </div>
    <form id="subInfoForm2" enctype="multipart/form-data" method="post" action="http://47.110.235.105:8080/slweb/Webs/subInfo.shtml">
		<input type="hidden" name="url" value="ps-wap.html" />
		<input type="text" name='userName' id='userName' required  onchange="checkName();" placeholder="我们怎么称呼您" class="infor">
		<input type="text" name='phoneNum' id='student_phone' placeholder="请输入正确的手机号" required  pattern="[0-9]{11}" onChange="checkPhone()" class="infor">
		<input type="submit" value="预约免费试学" class="btn">                            
	</form>
  </div>

<!-- end footer -->    
   <style>
	.dbdh-box{width: 100%;background:#1b2129;border-top:0.1vw solid #000;}
	.dbdh-ms a{ color:#FFF;}
	.dbdh-ms{width:24.9%;line-height: 10vw;font-size: 4vw;text-align: center;color: #fff;float: left;border-right: 0.1vw solid #000;}
</style>
<div style="position:fixed;left: 0;bottom: 0;width: 100%;">
<div class="dbdh-box">
	<div class="dbdh-ms"><a class="doyoo-btn">课程咨询</a></div>
	<div class="dbdh-ms"><a class="doyoo-btn">申请奖学金</a></div>
	<div class="dbdh-ms"><a href="http://m.silucg.com/html/contact/contact.html">查看地图</a></div>
	<div class="dbdh-ms" style="border-right: none;"><a class="doyoo-btn">电话咨询</a></div>
</div>
<div style="background:#1b2129;text-align: center; font-size: 3vw;color: #b8b8b8;line-height:5vw;">本网站版权归丝路视觉科技股份有限公司所有，盗用必究
</div>
</div> 	
	
	

</div>
<script>
$('#subInfoForm1').submit(function(){
	$(this).ajaxSubmit(function(){
		alert('提交成功')
	});
	return false;
});
$('#subInfoForm2').submit(function(){
	$(this).ajaxSubmit(function(){
		alert('提交成功')
	});
	return false;
});
</script>

<!--乐语系统--> 
<script type="text/javascript" charset="utf-8" src="http://lead.soperson.com/20002985/10086210.js"></script> 

<!--统计工具：CNZZ-->
<div style="font-size: 0.1rem;"> 
  <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? "https://" : "http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1276821672'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s23.cnzz.com/z_stat.php%3Fid%3D1276821672%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script> 
</div>

<!--百度呼--> 
<script>
var _hmt = _hmt || []; (function() { var hm = document.createElement("script"); hm.src = "https://hm.baidu.com/hm.js?57448cbcd9efb5a61b8ba648ba49f3e2"; var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(hm, s); })(); 
</script> 
<script type="text/javascript" charset="utf-8" async src="http://lxbjs.baidu.com/lxb.js?sid=8881824"></script>
</body>
</html>
