<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
<script>
    (function flexible(window, document) {
        var docEl = document.documentElement
        var dpr = window.devicePixelRatio || 1

        // adjust body font size
        function setBodyFontSize() {
            if (document.body) {
                document.body.style.fontSize = (12 * dpr) + 'px'
            } else {
                document.addEventListener('DOMContentLoaded', setBodyFontSize)
            }
        }
        setBodyFontSize();

        // set 1rem = viewWidth / 10
        function setRemUnit() {
            var rem = docEl.clientWidth / 10
            docEl.style.fontSize = rem + 'px'
        }

        setRemUnit()

        // reset rem unit on page resize
        window.addEventListener('resize', setRemUnit)
        window.addEventListener('pageshow', function(e) {
            if (e.persisted) {
                setRemUnit()
            }
        })

        // detect 0.5px supports
        if (dpr >= 2) {
            var fakeBody = document.createElement('body')
            var testElement = document.createElement('div')
            testElement.style.border = '.5px solid transparent'
            fakeBody.appendChild(testElement)
            docEl.appendChild(fakeBody)
            if (testElement.offsetHeight === 1) {
                docEl.classList.add('hairlines')
            }
            docEl.removeChild(fakeBody)
        }
    }(window, document))
</script>
    <title>3ds Max大师班</title>
    <link rel="stylesheet" href="/assets/js/plugs/vide-7.4.1/css/video-js.min.css?v=1595915801326">
<link rel="stylesheet" href="/assets/js/plugs/picViewer/picViewer.css?v=1595915801326">
<link rel="stylesheet" href="/assets/js/plugs/swiper-3.4.0/swiper-3.4.2.min.css?v=1595915801326">
    <link rel="stylesheet" href="/assets/css/jianzhu/3d Max.css?v=1595915801326">
</head>

<body>
    <div class="header">
    <div class="header-tp" id="header-tp">
        <div class="header-menu"></div>
        <ul class="header-menu-list">
            <li class="header-menu-first">
                <a href="/index.html" style="color: #fff;">首页</a>
            </li>
            <li class="header-menu-first arrow-right">
     影视视效课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/yingshi/ysqn.html">影视视效全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ystx.html">特效合成大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ysjj.html">剪辑包装创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ysdh.html">影视动画精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/c4d.html">C4D特效大师班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
     游戏视觉课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/youxi/yxqn.html">游戏视觉全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxyh.html">游戏原画创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxms.html">3D美术精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxrj.html">游戏软件精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxtx.html">动作特效精英班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
     室内设计课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/shinei/snqk.html">APEC室内设计全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/cad.html">CAD制图大师班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snrz.html">室内软装精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snsh.html">室内手绘创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snxgt.html">室内效果图精英班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
     U X 全栈课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/ui/uiqn.html">UX全栈视效全能班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/psds.html">Photoshop大师班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/pmsj.html">品牌视觉创意班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/dsmg.html">
                电商美工精英班
            </a></li>
        <li class="header-menu-second">
            <a href="/ui/wysj.html">全链路设计精英班
            </a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
     建筑视效课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/jianzhu/jzsx.html">建筑视效全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/3dsMax.html">3ds MAX大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/3djm.html"> 3D建模精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/xrys.html">渲染艺术精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/jzxgt.html"> 建筑效果图精英班 </a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
     BIM应用课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/bim/bimqn.html">BIM应用全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/bimkz.html">BIM考证精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/revitds.html">Revit大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/lumion.html">Lumion大师班</a>
        </li>
    </ul>
</li>
            <li class="header-menu-first">
                <a href="/home/studentworks.html" style="color: #fff;">学员作品</a>
            </li>
            <li class="header-menu-first">
                <a href="/home/onlinebao.html" style="color: #fff;">在线报名</a>
            </li>
            <li class="header-menu-first">
                <a href="/home/contactus.html" style="color: #fff;">联系我们</a>
            </li>

        </ul>
        <div class="header-logo"></div>
        <a class="doyoo-btn">
            <div class="header-phone"></div>
        </a>
    </div>
    <div class="header-nav">
        <ul class="header-nav-wrap">
            <li class="header-nav-first header-nav-active">
                <a href="/index.html">首页</a>
            </li>
            <li class="header-nav-first" id="header-nav-first-course">课程
                <span class="arrow-down"></span>
                <ul class="header-nav-course">
                    <li class="header-menu-first arrow-right">
      影视视效 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/yingshi/ysqn.html">影视视效全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ystx.html">特效合成大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ysjj.html">剪辑包装创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ysdh.html">影视动画精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/c4d.html">C4D特效大师班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
      游戏视觉 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/youxi/yxqn.html">游戏视觉全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxyh.html">游戏原画创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxms.html">3D美术精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxrj.html">游戏软件精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxtx.html">动作特效精英班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
      室内设计 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/shinei/snqk.html">APEC室内设计全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/cad.html">CAD制图大师班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snrz.html">室内软装精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snsh.html">室内手绘创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snxgt.html">室内效果图精英班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
      UX 全栈 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/ui/uiqn.html">UX全栈视效全能班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/psds.html">Photoshop大师班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/pmsj.html">品牌视觉创意班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/dsmg.html">
                电商美工精英班
            </a></li>
        <li class="header-menu-second">
            <a href="/ui/wysj.html">全链路设计精英班
            </a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
      建筑视效 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/jianzhu/jzsx.html">建筑视效全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/3dsMax.html">3ds MAX大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/3djm.html"> 3D建模精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/xrys.html">渲染艺术精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/jzxgt.html"> 建筑效果图精英班 </a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
      BIM应用 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/bim/bimqn.html">BIM应用全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/bimkz.html">BIM考证精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/revitds.html">Revit大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/lumion.html">Lumion大师班</a>
        </li>
    </ul>
</li>
                </ul>
            </li>
            <li class="header-nav-first">
                <a href="/home/famousteacher.html">名师</a>
            </li>
            <li class="header-nav-first">
                <a href="/home/obtain.html">就业</a>
            </li>
            <li class="header-nav-first">
                <a href="/home/about.html">关于丝路</a>
            </li>
        </ul>
    </div>
</div>
<div class="header-mask" id="header-mask"></div>
    <div class="layout">
        <div class="banner">
            <a class="doyoo-btn">
                <img class="banner-cover" src="/assets/images/jianzhu/3d Max/banner.jpg?v=1595915801326" alt="">
            </a>
        </div>
        <!-- 学3ds Max -->
        <div class="section section-bg-write learning-guarantee-sec">
            <div class="container">
                <div class="section-title other">
                    学3ds Max
                    <br>就业前景更广阔
                </div>
                <img src="/assets/images/jianzhu/3d max/zy.jpg?v=1595915801326" alt="">
            </div>
            <div class="section-btn">
                <a class="btn doyoo-btn">查看更多商业运用</a>
            </div>
        </div>
        <!-- 设计行业必学的强势软件 -->
        <div class="section treasure-land-sec bj1">
            <div class="container">
                <div class="section-title">
                    设计行业必学的强势软件
                </div>
            </div>
            <img src="/assets/images/jianzhu/3d max/img1.png?v=1595915801326" alt="">
            <div class="section-btn">
                <a class="btn doyoo-btn">了解软件更多隐藏功能</a>
            </div>
        </div>
        <!-- 3ds Max对以下 -->
        <div class="section section-bg-write treasure-land-sec">
            <div class="container">
                <div class="section-title">
                    3ds Max对以下
                    <br>人群很友好
                </div>

                <img src="/assets/images/jianzhu/3d Max/img2.png?v=1595915801326" alt="">
            </div>
            <div class="section-btn">
                <a class="btn doyoo-btn">测测我适合学吗？</a>
            </div>
        </div>
        <!-- 市场需求量大 -->
        <div class="section treasure-land-sec">
            <div class="container">
                <div class="section-title">
                    市场需求量大
                    <br>月薪过万只是一个小目标
                </div>
                <img src="/assets/images/jianzhu/3d Max/gz.png?v=1595915801326" alt="">

            </div>
            <div class="section-btn">
                <a class="btn doyoo-btn">查看更多岗位薪资</a>
            </div>
        </div>
        <!-- 视觉领域上市公司 -->
        <div class="section section-bg-write treasure-land-sec bj2">
            <div class="container">
                <div class="section-title">
                    视觉领域上市公司
                    <br>20年建筑表现经验
                </div>
                <div class="section-describe">
                    丝路教育依托母公司丝路视觉二十年大型建筑表现项目经验和技术成果，为学员提供行业最前沿的实训案例，让丝路学员在校即接触行业真实项目，在实践中精进
                    <br/>建模技法。
                </div>

                <img src="/assets/images/jianzhu/3d Max/icon.png?v=1595915801326" alt="">

            </div>

        </div>
        <!-- 丝路视觉经典案例 -->
        <div class="section film-editing-sec bj3">
            <div class="film-editing-sec1">
                <div class="container">
                    <div class="section-title">
                        丝路视觉经典案例
                    </div>
                    <img class="section-cover" src="/assets/images/jianzhu/3d Max/img3.png?v=1595915801326" alt="">
                </div>

                <div class="section-btn">
                    <a class="btn doyoo-btn">查看更多丝路视觉案例</a>
                </div>
            </div>

        </div>
        <!-- 丝路教育 -->
        <div class="section section-bg-write film-editing-sec">

            <div class="container">
                <div class="section-title">
                    丝路教育
                    <br>视觉创意领域的先行者
                </div>

                <img class="section-cover" src="/assets/images/jianzhu/3d Max/img4.png?v=1595915801326" alt="">

            </div>
        </div>
        <!-- 丝路教育 前学院后企业 -->
        <div class="section film-editing-sec">

            <div class="container">
                <div class="section-title">
                    丝路教育
                    <br>前学院后企业
                </div>
                <div class="section-describe">
                    丝路教育背靠天然就业优势，为丝路学员定制人才委培课程，毕业后可直接入职丝路集团公司或合作企业。
                </div>
                <img class="section-cover" src="/assets/images/jianzhu/3d Max/img5.png?v=1595915801326" alt="">

            </div>
        </div>
        <!-- 合作企业办公环境 -->
        <div class="section section-bg-write film-editing-sec">
            <div class="container">
                <img class="section-cover" src="/assets/images/jianzhu/3d Max/img6.png?v=1595915801326" alt="">

            </div>
        </div>
        <!-- 学员 -->
        <div class="section film-editing-sec">
            <div class="container">
                <img class="section-cover" src="/assets/images/jianzhu/3d Max/img7.png?v=1595915801326" alt="">

            </div>
        </div>
        <!-- 成为专业3D设计师 -->
        <div class="section film-editing-sec bj4">
            <div class="container">
                <div class="section-title">
                    成为专业3D设计师
                    <br>你需要学会这些
                </div>
            </div>
            <img class="section-cover" src="/assets/images/jianzhu/3d Max/kc.jpg?v=1595915801326" alt="">
            <div class="section-btn two-btn">
                <a class="btn doyoo-btn">查看开班时间</a>
                <a class="btn doyoo-btn">获取完整课程大纲</a>
            </div>
        </div>
        <!-- 表单 -->
        <div class="section-form bj6">
            <form id="form">
                <div class="form-group form-group-txt">
                    免费试学
                </div>
                <div class="section-describe">
                    体验满意后再报名！
                </div>
                <div class="form-group">
                    <input type='text' name='name2' id="name2" placeholder="请输入您的姓名" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="text" name='tel2' id="tel2" class="form-control" placeholder="请输入您的手机号码" />
                </div>
                <input type="text" name='time' id='time' style="display: none;" />

                <div class="form-submit">
                    <button class="btn" type="button" onclick="add_ajaxmessage1()"> 一键预约免费试听</button>
                </div>
            </form>
        </div>
        <!-- 师资阵容强大 -->
        <div class="section section-bg-write film-editing-sec">
            <div class="film-editing-sec33">
                <div class="container">
                    <div class="section-title">
                        师资阵容强大
                        <br>汇聚行业大牛
                    </div>
                    <div class="section-describe">
                        丝路建筑视效课程组老师不仅具备专业前沿的行业知识和经验，更懂学生和教学，因材施教、寓教于乐，力求达到完美的教学效果。多年3ds Max实操经验，全程面授指导，带你攻克软件学习壁垒。
                    </div>
                    <img class="section-cover" src="/assets/images/jianzhu/3d Max/img8.png?v=1595915801326" alt="">
                </div>
            </div>
            <div class="section-btn">
                <a class="btn doyoo-btn">想和老师聊聊</a>
            </div>
        </div>
        <!-- TA们能做到的 -->
        <div class="section treasure-land-sec">
            <div class="container">
                <div class="section-title">
                    TA们能做到的
                    <br>你也可以
                </div>
                <div class="section-describe">
                    学员在校期间作品汇报，皆有专业课老师亲自指导， 保证作品质量，提升综合经验。
                </div>
                <img src="/assets/images/jianzhu/3d Max/zp9.jpg?v=1595915801326" alt="">

            </div>
            <div class="section-btn">
                <a class="btn doyoo-btn">查看更多学员作品</a>
            </div>
        </div>

        <!-- 丝路3ds Max大师班 -->
        <div class="section section-bg-write stage-works-sec">
            <div class="container">
                <div class="section-title">
                    丝路3ds Max大师班
                    <br>特色优势
                </div>
                <img src="/assets/images/jianzhu/3d Max/icon.jpg?v=1595915801326" alt="">
            </div>

        </div>

        <!-- 合作企业 -->
        <div class="section stage-works-sec">
            <div class="container">
                <div class="section-title">
                    北上广深
                    <br>一线名企触手可及
                </div>
                <img src="/assets/images/jianzhu/xrys/logo.jpg?v=1595915801326" alt="">
            </div>
            <div class="section-btn">
                <a class="btn doyoo-btn">查看更多名企</a>
            </div>
        </div>




        <!-- 表单统计 -->
        <!-- 表单统计 -->

        <div class="section-form">
            <form id="form">
                <div class="form-group form-group-txt">
                    学习3ds Max
                    <br>人生从此大不同！
                </div>
                <div class="form-group">
                    <input type='text' name='name' id="name" placeholder="请输入您的姓名" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="text" name='tel' id="tel" class="form-control" placeholder="请输入您的手机号码" />
                </div>
                <input type="text" name='time' id='time' style="display: none;" />

                <div class="form-submit">
                    <button class="btn" type="button" onclick="add_ajaxmessage()"> 一键预约免费试听</button>
                </div>
            </form>
        </div>
    </div>
    <!--页脚 -->
<div class="endfoot-box">
    <div class="endfoot">
        <a class="doyoo-btn">
            <div class="endfoot-item">
                <p>名师在线</p>
                <p>免费试听</p>
            </div>
        </a>
    </div>
    <h3>本网站版权归丝路教育所有，盗用必究</h3>
</div>

<script src="/assets/js/libs/jquery.min.js"></script>
<script src="/assets/js/plugs/vide7.4.1/js/video.js"></script>
<script src="/assets/js/plugs/picViewer/picViewer.js"></script>
<script src="/assets/js/plugs/swiper/swiper.js"></script>
<script src="/assets/js/plugs/layer-v3.1.1/layer/layer.js"></script>
<script src="/assets/js/global/common.js"></script>
<!-- <script src="http://op.jiain.net/20002985/10085553.js"></script> -->
<script>
    var doyooBtns = [].slice.call(document.querySelectorAll('.doyoo-btn'));
    for (var i = 0, len = doyooBtns.length; i < len; i++) {
        doyooBtns[i].onclick = function() {
            doyoo.util.openChat('g=10075108');
            return false;
        }
    }
</script>

<!-- 百度统计代码 -->
<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?57448cbcd9efb5a61b8ba648ba49f3e2";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>

<!-- 表单 -->
<script src="/assets/js/plugs/formbd.js"></script>

</div>



</body>


</html>