<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
<script>
    (function flexible(window, document) {
        var docEl = document.documentElement
        var dpr = window.devicePixelRatio || 1

        // adjust body font size
        function setBodyFontSize() {
            if (document.body) {
                document.body.style.fontSize = (12 * dpr) + 'px'
            } else {
                document.addEventListener('DOMContentLoaded', setBodyFontSize)
            }
        }
        setBodyFontSize();

        // set 1rem = viewWidth / 10
        function setRemUnit() {
            var rem = docEl.clientWidth / 10
            docEl.style.fontSize = rem + 'px'
        }

        setRemUnit()

        // reset rem unit on page resize
        window.addEventListener('resize', setRemUnit)
        window.addEventListener('pageshow', function(e) {
            if (e.persisted) {
                setRemUnit()
            }
        })

        // detect 0.5px supports
        if (dpr >= 2) {
            var fakeBody = document.createElement('body')
            var testElement = document.createElement('div')
            testElement.style.border = '.5px solid transparent'
            fakeBody.appendChild(testElement)
            docEl.appendChild(fakeBody)
            if (testElement.offsetHeight === 1) {
                docEl.classList.add('hairlines')
            }
            docEl.removeChild(fakeBody)
        }
    }(window, document))
</script>
    <title>c4d包装剪辑</title>
    <link rel="stylesheet" href="/assets/js/plugs/vide-7.4.1/css/video-js.min.css?v=1599789597711">
<link rel="stylesheet" href="/assets/js/plugs/picViewer/picViewer.css?v=1599789597711">
<link rel="stylesheet" href="/assets/js/plugs/swiper-3.4.0/swiper-3.4.2.min.css?v=1599789597711">
    <link rel="stylesheet" href="/assets/css/yingshi/c4d.css?v=1599789597711">
</head>

<body>
    <div class="header">
    <div class="header-tp" id="header-tp">
        <div class="header-menu"></div>
        <ul class="header-menu-list">
            <li class="header-menu-first">
                <a href="/index.html" style="color: #fff;">首页</a>
            </li>
            <li class="header-menu-first arrow-right">
     影视视效课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/yingshi/ysqn.html">影视视效全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ystx.html">特效合成大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ysjj.html">剪辑包装创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ysdh.html">影视动画精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/c4d.html">C4D特效大师班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
     游戏视觉课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/youxi/yxqn.html">游戏视觉全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxyh.html">游戏原画创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxms.html">3D美术精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxrj.html">游戏软件精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxtx.html">动作特效精英班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
     室内设计课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/shinei/snqk.html">APEC室内设计全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/cad.html">CAD制图大师班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snrz.html">室内软装精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snsh.html">室内手绘创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snxgt.html">室内效果图精英班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
     U X 全栈课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/ui/uiqn.html">UX全栈视效全能班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/psds.html">Photoshop大师班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/pmsj.html">品牌视觉创意班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/dsmg.html">
                电商美工精英班
            </a></li>
        <li class="header-menu-second">
            <a href="/ui/wysj.html">全链路设计精英班
            </a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
     建筑视效课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/jianzhu/jzsx.html">建筑视效全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/3dsMax.html">3ds MAX大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/3djm.html"> 3D建模精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/xrys.html">渲染艺术精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/jzxgt.html"> 建筑效果图精英班 </a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
     BIM应用课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/bim/bimqn.html">BIM应用全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/bimkz.html">BIM考证精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/revitds.html">Revit大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/lumion.html">Lumion大师班</a>
        </li>
    </ul>
</li>
            <li class="header-menu-first">
                <a href="/home/studentworks.html" style="color: #fff;">学员作品</a>
            </li>
            <li class="header-menu-first">
                <a href="/home/onlinebao.html" style="color: #fff;">在线报名</a>
            </li>
            <li class="header-menu-first">
                <a href="/home/contactus.html" style="color: #fff;">联系我们</a>
            </li>

        </ul>
        <div class="header-logo"></div>
        <a class="doyoo-btn">
            <div class="header-phone"></div>
        </a>
    </div>
    <div class="header-nav">
        <ul class="header-nav-wrap">
            <li class="header-nav-first header-nav-active">
                <a href="/index.html">首页</a>
            </li>
            <li class="header-nav-first" id="header-nav-first-course">课程
                <span class="arrow-down"></span>
                <ul class="header-nav-course">
                    <li class="header-menu-first arrow-right">
      影视视效 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/yingshi/ysqn.html">影视视效全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ystx.html">特效合成大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ysjj.html">剪辑包装创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ysdh.html">影视动画精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/c4d.html">C4D特效大师班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
      游戏视觉 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/youxi/yxqn.html">游戏视觉全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxyh.html">游戏原画创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxms.html">3D美术精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxrj.html">游戏软件精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxtx.html">动作特效精英班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
      室内设计 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/shinei/snqk.html">APEC室内设计全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/cad.html">CAD制图大师班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snrz.html">室内软装精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snsh.html">室内手绘创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snxgt.html">室内效果图精英班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
      UX 全栈 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/ui/uiqn.html">UX全栈视效全能班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/psds.html">Photoshop大师班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/pmsj.html">品牌视觉创意班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/dsmg.html">
                电商美工精英班
            </a></li>
        <li class="header-menu-second">
            <a href="/ui/wysj.html">全链路设计精英班
            </a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
      建筑视效 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/jianzhu/jzsx.html">建筑视效全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/3dsMax.html">3ds MAX大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/3djm.html"> 3D建模精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/xrys.html">渲染艺术精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/jzxgt.html"> 建筑效果图精英班 </a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
      BIM应用 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/bim/bimqn.html">BIM应用全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/bimkz.html">BIM考证精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/revitds.html">Revit大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/lumion.html">Lumion大师班</a>
        </li>
    </ul>
</li>
                </ul>
            </li>
            <li class="header-nav-first">
                <a href="/home/famousteacher.html">名师</a>
            </li>
            <li class="header-nav-first">
                <a href="/home/obtain.html">就业</a>
            </li>
            <li class="header-nav-first">
                <a href="/home/about.html">关于丝路</a>
            </li>
        </ul>
    </div>
</div>
<div class="header-mask" id="header-mask"></div>
    <div class="layout">
        <div class="banner">
            <img class="banner-cover" src="/assets/images/yingshi/c4d/banner2.jpg?v=1599789597711" alt="">
            <div class="section-btn">
                <a class="btn doyoo-btn">预约免费试听</a>
            </div>
        </div>
        <div class="section section-bg-write study-design-sec">
            <div class="container">
                <div class="section-title">
                    年薪百万的视效大师<br><strong>都会的软件</strong>
                </div>
                <div class="section-describe">
                    Cinema 4D以其高运算速度和强大的渲染插件<br> 著称，并且在用其描绘的各类电影中表现突出，
                    <br> 在电视包装领域也表现非凡，如今已成为国内
                    <br> 设计主流软件，运用更加广泛。
                </div>
                <img src="/assets/images/yingshi/c4d/zhonglei.png?v=1599789597711" alt="">
            </div>
            <div class="section-btn">
                <a class="btn doyoo-btn">查看更多C4D应用领域</a>
            </div>
        </div>
        <div class="section designing-workers-sec">
            <div class="container">
                <div class="section-title">
                    谁适合学习C4D？
                </div>
                <img src="/assets/images/yingshi/c4d/renqun.png?v=1599789597711" alt="">
            </div>
            <div class="section-btn">
                <a class="btn doyoo-btn">免费试听看看</a>
            </div>
        </div>
        <div class="section section-bg-write">
            <div class="container">
                <div class="section-title">
                    会C4D的影视动画师<br> 薪资都不会太差
                </div>
                <img src="/assets/images/yingshi/c4d/xinzi.png?v=1599789597711" alt="">
                <div class="section-btn">
                    <a class="btn doyoo-btn">测测我学完C4D的薪资收入</a>
                </div>
            </div>
        </div>
        <div class="section not-powerful-sec">
            <div class="container">
                <div class="section-title">
                    简单的不像实力派
                </div>
                <div class="not-powerful-list">
                    <div class="not-powerful-item">
                        <div class="not-powerful-title">
                            <img class="not-powerful-num" src="/assets/images/yingshi/c4d/biaoti1.png?v=1599789597711" alt=""> 一款对小白友好的软件
                            <br>28天即可掌握操作要领
                        </div>
                        <div class="not-powerful-imglist">
                            <div class="not-powerful-imgitem">
                                <img src="/assets/images/yingshi/c4d/zp1.jpg?v=1599789597711" alt="">
                                <p>
                                    丝路学员<br>学习25天后C4D作品
                                </p>
                            </div>
                            <div class="not-powerful-imgitem">
                                <img src="/assets/images/yingshi/c4d/zp2.jpg?v=1599789597711" alt="">
                                <p>
                                    丝路学员<br>学习27天后C4D作品
                                </p>
                            </div>
                            <div class="not-powerful-imgitem">
                                <img src="/assets/images/yingshi/c4d/zp3.jpg?v=1599789597711" alt="">
                                <p>
                                    丝路学员<br>学习28天后C4D作品
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="not-powerful-item">
                        <div class="not-powerful-title">
                            <img class="not-powerful-num" src="/assets/images/yingshi/c4d/biaoti2.png?v=1599789597711" alt=""> 一入C4D深似海
                            <br>渲染效果惊艳全场
                        </div>
                        <div class="not-powerful-imglist">
                            <div class="not-powerful-imgitem">
                                <img src="/assets/images/yingshi/c4d/zp4.jpg?v=1599789597711" alt="">
                                <p>
                                    C4D渲染
                                </p>
                            </div>
                            <div class="not-powerful-imgitem">
                                <img src="/assets/images/yingshi/c4d/zp5.jpg?v=1599789597711" alt="">
                                <p>
                                    C4D渲染
                                </p>
                            </div>
                            <div class="not-powerful-imgitem">
                                <img src="/assets/images/yingshi/c4d/zp6.jpg?v=1599789597711" alt="">
                                <p>
                                    C4D渲染
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="not-powerful-item">
                        <div class="not-powerful-title">
                            <img class="not-powerful-num" src="/assets/images/yingshi/c4d/biaoti3.png?v=1599789597711" alt=""> 设计风格多元
                            <br>应用广泛不设限
                        </div>
                        <div class="not-powerful-imglist">
                            <div class="not-powerful-imgitem">
                                <img src="/assets/images/yingshi/c4d/zp7.jpg?v=1599789597711" alt="">
                                <p>
                                    C4D动画人物模型
                                </p>
                            </div>
                            <div class="not-powerful-imgitem">
                                <img src="/assets/images/yingshi/c4d/zp8.jpg?v=1599789597711" alt="">
                                <p>
                                    C4D电影人物建模
                                </p>
                            </div>
                            <div class="not-powerful-imgitem">
                                <img src="/assets/images/yingshi/c4d/zp9.jpg?v=1599789597711" alt="">
                                <p>
                                    C4D动画人物建模
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="not-powerful-item">
                        <div class="not-powerful-title">
                            <img class="not-powerful-num" src="/assets/images/yingshi/c4d/biaoti4.png?v=1599789597711" alt=""> 设计风格多元
                            <br>应用广泛不设限
                        </div>
                        <div class="not-powerful-imglist">
                            <div class="not-powerful-imgitem">
                                <img src="/assets/images/yingshi/c4d/zp10.jpg?v=1599789597711" alt="">
                                <p>
                                    C4D影视剪辑
                                </p>
                            </div>
                            <div class="not-powerful-imgitem">
                                <img src="/assets/images/yingshi/c4d/zp11.jpg?v=1599789597711" alt="">
                                <p>
                                    C4D影视包装
                                </p>
                            </div>
                            <div class="not-powerful-imgitem">
                                <img src="/assets/images/yingshi/c4d/zp12.jpg?v=1599789597711" alt="">
                                <p>
                                    C4D影视制作
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="section section-bg-write characteristic-sec">
            <div class="container">
                <div class="section-title">
                    丝路教育
                    <br><strong>C4D视效大师班特色优势</strong>
                </div>
                <div class="characteristic-list">
                    <div class="characteristic-cover">
                        <img src="/assets/images/yingshi/c4d/tese.png?v=1599789597711" alt="">
                    </div>
                    <div class="characteristic-txt">
                        <dl>
                            <dt>实战项目 实战教学</dt>
                            <dd>采用案例式教学，</dd>
                            <dd>在实践中快速掌握知识点</dd>

                            <dt>小班授课 企业定制</dt>
                            <dd>采用线下式教学，</dd>
                            <dd>将效率发挥为极致</dd>

                            <dt>一线企业 就业保障</dt>
                            <dd>对市场需求精确定位，</dd>
                            <dd>帮助学员入职名企</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
        <div class="section oneline-coffee-sec">
            <div class="container">
                <div class="section-title">
                    8周吃透C4D<br>全面掌握三维设计秘诀
                </div>
                <div class="section-describe">
                    为了让学员更加具备市场竞争力，丝路教育C4D视效
                    <br> 大师班课程全新升级，让学员掌握C4D软件应用精髓，
                    <br> 电商、影视多场景举一反三，运用自如。
                </div>
                <div class="oneline-coffee-sec1">
                    <img src="/assets/images/yingshi/c4d/VS.png?v=1599789597711" alt="">
                </div>
                <div class="oneline-coffee-sec2">
                    <div class="oneline-coffee-list">
                        <div class="oneline-coffee-item">
                            <div class="oneline-coffee-cover">
                                <img src="/assets/images/yingshi/c4d/dgnr1.png?v=1599789597711" alt="">
                            </div>
                            <div class="oneline-coffee-txt">
                                <h3>C4D三维基础</h3>
                                <div class="oneline-coffee-harvest">
                                    <em>收获：</em> 学员独立完成简单的C4D三维模型、字体设计。
                                </div>
                            </div>
                        </div>
                        <div class="oneline-coffee-item">
                            <div class="oneline-coffee-cover">
                                <img src="/assets/images/yingshi/c4d/dgnr2.png?v=1599789597711" alt="">
                            </div>
                            <div class="oneline-coffee-txt">
                                <h3>C4D材质渲染</h3>
                                <div class="oneline-coffee-harvest">
                                    <em>收获：</em> 学员可制作复杂的C4D模型，独立完成C4D商业海报、产品模型等。
                                </div>
                            </div>
                        </div>
                        <div class="oneline-coffee-item">
                            <div class="oneline-coffee-cover">
                                <img src="/assets/images/yingshi/c4d/dgnr3.png?v=1599789597711" alt="">
                            </div>
                            <div class="oneline-coffee-txt">
                                <h3>C4D后期合成</h3>
                                <div class="oneline-coffee-harvest">
                                    <em>收获：</em> 学员能独立制作完整C4D效果短片，完成现实空间中的特效合成。
                                </div>
                            </div>
                        </div>
                        <div class="oneline-coffee-item">
                            <div class="oneline-coffee-cover">
                                <img src="/assets/images/yingshi/c4d/kecheng4.png?v=1599789597711" alt="">
                            </div>
                            <div class="oneline-coffee-txt">
                                <h3>C4D影视动画</h3>
                                <div class="oneline-coffee-harvest">
                                    <em>收获：</em>学员熟练掌握各种C4D变形器动画。
                                </div>
                            </div>
                        </div>
                        <div class="oneline-coffee-item">
                            <div class="oneline-coffee-cover">
                                <img src="/assets/images/yingshi/c4d/kecheng5.png?v=1599789597711" alt="">
                            </div>
                            <div class="oneline-coffee-txt">
                                <h3>C4D影视特效段</h3>
                                <div class="oneline-coffee-harvest">
                                    <em>收获：</em> 掌握C4D动力学模块，利用C4D完成视频包装制作。
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section-btn">
                    <a class="btn doyoo-btn">免费获取课程讲义</a>
                </div>
            </div>
        </div>
        <div class="section section-bg-write good-works-sec">
            <div class="container">
                <div class="section-title">
                    名师面授你不知道的
                    <br/><strong>C4D“骚操作”</strong>
                </div>
                <div class="section-describe">
                    丝路教育老师均来自行业知名影视公司，
                    <br>多年C4D软件实战和教学经验，让学员掌握
                    <br> 软件中隐藏的强大功能。
                </div>
                <div class="good-works-list">
                    <div class="good-works-item">
                        <img class="good-works-cover" src="/assets/images/yingshi/c4d/laoshi1.png?v=1599789597711" alt="">
                        <div class="good-works-inner">
                            <div class="good-works-user">
                                <h3>铁礼东</h3>
                                <span>/10年从业经验</span>
                            </div>
                            <div class="good-works-pos">影视视效高级讲师</div>
                            <div class="good-works-works">
                                代表项目<br> 《魔法俏佳人大电影》
                                <br> 《CCTV财经教育栏目》
                                <br> ......
                            </div>
                        </div>
                    </div>
                    <div class="good-works-item">
                        <img class="good-works-cover" src="/assets/images/yingshi/c4d/laoshi2.png?v=1599789597711" alt="">
                        <div class="good-works-inner">
                            <div class="good-works-user">
                                <h3>杨文强</h3>
                                <span>/9年从业经验</span>
                            </div>
                            <div class="good-works-pos">影视视效高级讲师</div>
                            <div class="good-works-works">
                                代表项目<br> 《天龙八部3D》
                                <br> 《风云》
                                <br> ......
                            </div>
                        </div>
                    </div>
                    <div class="good-works-item">
                        <img class="good-works-cover" src="/assets/images/yingshi/c4d/laoshi3.png?v=1599789597711" alt="">
                        <div class="good-works-inner">
                            <div class="good-works-user">
                                <h3>贡昆仑 </h3>
                                <span>/6年从业经验</span>
                            </div>
                            <div class="good-works-pos">影视视效高级讲师</div>
                            <div class="good-works-works">
                                代表项目<br> 《极限挑战》
                                <br> 《快乐大本营》
                                <br> ......
                            </div>
                        </div>
                    </div>
                    <div class="good-works-item">
                        <img class="good-works-cover" src="/assets/images/yingshi/c4d/laoshi4.png?v=1599789597711" alt="">
                        <div class="good-works-inner">
                            <div class="good-works-user">
                                <h3>叶志</h3>
                                <span>/6年从业经验</span>
                            </div>
                            <div class="good-works-pos">影视视效高级讲师</div>
                            <div class="good-works-works">
                                代表项目<br> 《乐事薯片》
                                <br> 《360推广视频》
                                <br> ......
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section-btn">
                    <a class="btn doyoo-btn">免费向老师提问</a>
                </div>
            </div>
        </div>
        <div class="section student-evaluation-sec">
            <div class="container">
                <div class="section-title">
                    学员作品<br><strong>创意与实力的完美融合</strong>
                </div>
                <div class="student-evaluation-list">
                    <div class="student-evaluation-item"><img src="/assets/images/yingshi/c4d/zuoping1.jpg?v=1599789597711" alt="">
                    </div>
                    <div class="student-evaluation-item"><img src="/assets/images/yingshi/c4d/zuoping2.jpg?v=1599789597711" alt="">
                    </div>
                    <div class="student-evaluation-item"><img src="/assets/images/yingshi/c4d/zuoping3.jpg?v=1599789597711" alt="">
                    </div>
                    <div class="student-evaluation-item"><img src="/assets/images/yingshi/c4d/zuoping4.jpg?v=1599789597711" alt="">
                    </div>
                    <div class="student-evaluation-item"><img src="/assets/images/yingshi/c4d/zuoping5.jpg?v=1599789597711" alt="">
                    </div>
                    <div class="student-evaluation-item"><img src="/assets/images/yingshi/c4d/zuoping6.jpg?v=1599789597711" alt="">
                    </div>
                </div>
                <div class="section-btn">
                    <a class="btn doyoo-btn">查看更多学员作品</a>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="section-title">
                    <strong>在校参与实训</strong><br>经验UP更多金
                </div>
                <div class="section-describe">
                    丝路教育影视项目实训均由专业老师带队
                    <br>承接真实项目案例，不仅让学员在真实实践中
                    <br> 获取经验夯实软件技能，优秀团队学员
                    <br>还将获得项目提成奖励。
                </div>
                <img src="/assets/images/yingshi/c4d/shixun.png?v=1599789597711" alt="">
            </div>
        </div>
        <div class="section section-bg-write">
            <div class="container">
                <div class="section-title">
                    合作企业众多<br/>学软件一不小心入职名企
                </div>
                <img src="/assets/images/yingshi/c4d/logo.jpg?v=1599789597711" alt="">
            </div>
        </div>
        <!-- 表单统计 -->

        <div class="section-form">
            <form id="form">
                <div class="form-group form-group-txt">
                    少年，看你脑洞清奇！<br> 我这有本C4D秘籍，
                    <br> 免费借你试学！
                </div>
                <div class="form-group">
                    <input type='text' name='name' id="name" placeholder="请输入您的姓名" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="text" name='tel' id="tel" class="form-control" placeholder="请输入您的手机号码" />
                </div>
                <input type="text" name='time' id='time' style="display: none;" />

                <div class="form-submit">
                    <button class="btn" type="button" onclick="add_ajaxmessage()">试学一下</button>
                </div>
            </form>
        </div>
    </div>



    <!-- js -->
    <!--页脚 -->
<div class="endfoot-box">
    <div class="endfoot">
        <a class="doyoo-btn">
            <div class="endfoot-item">
                <p>名师在线</p>
                <p>免费试听</p>
            </div>
        </a>
    </div>
    <h3>本网站版权归丝路教育所有，盗用必究</h3>
</div>

<script src="/assets/js/libs/jquery.min.js"></script>
<script src="/assets/js/plugs/vide7.4.1/js/video.js"></script>
<script src="/assets/js/plugs/picViewer/picViewer.js"></script>
<script src="/assets/js/plugs/swiper/swiper.js"></script>
<script src="/assets/js/plugs/layer-v3.1.1/layer/layer.js"></script>
<script src="/assets/js/global/common.js"></script>
<script src="http://op.jiain.net/20002985/10085553.js"></script>
<script>
    var doyooBtns = [].slice.call(document.querySelectorAll('.doyoo-btn'));
    for (var i = 0, len = doyooBtns.length; i < len; i++) {
        doyooBtns[i].onclick = function() {
            doyoo.util.openChat('g=10075108');
            return false;
        }
    }
</script>

<!-- 百度统计代码 -->
<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?57448cbcd9efb5a61b8ba648ba49f3e2";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>

<!-- 表单 -->
<script src="/assets/js/plugs/formbd.js"></script>

</div>
</body>

</html>