<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
<script>
    (function flexible(window, document) {
        var docEl = document.documentElement
        var dpr = window.devicePixelRatio || 1

        // adjust body font size
        function setBodyFontSize() {
            if (document.body) {
                document.body.style.fontSize = (12 * dpr) + 'px'
            } else {
                document.addEventListener('DOMContentLoaded', setBodyFontSize)
            }
        }
        setBodyFontSize();

        // set 1rem = viewWidth / 10
        function setRemUnit() {
            var rem = docEl.clientWidth / 10
            docEl.style.fontSize = rem + 'px'
        }

        setRemUnit()

        // reset rem unit on page resize
        window.addEventListener('resize', setRemUnit)
        window.addEventListener('pageshow', function(e) {
            if (e.persisted) {
                setRemUnit()
            }
        })

        // detect 0.5px supports
        if (dpr >= 2) {
            var fakeBody = document.createElement('body')
            var testElement = document.createElement('div')
            testElement.style.border = '.5px solid transparent'
            fakeBody.appendChild(testElement)
            docEl.appendChild(fakeBody)
            if (testElement.offsetHeight === 1) {
                docEl.classList.add('hairlines')
            }
            docEl.removeChild(fakeBody)
        }
    }(window, document))
</script>
    <title>建筑效果图精英班</title>
    <link rel="stylesheet" href="/assets/js/plugs/vide-7.4.1/css/video-js.min.css?v=1599723359248">
<link rel="stylesheet" href="/assets/js/plugs/picViewer/picViewer.css?v=1599723359248">
<link rel="stylesheet" href="/assets/js/plugs/swiper-3.4.0/swiper-3.4.2.min.css?v=1599723359248">
    <link rel="stylesheet" href="/assets/css/jianzhu/jzxgt.css?v=1599723359248">
</head>

<body>
    <div class="header">
    <div class="header-tp" id="header-tp">
        <div class="header-menu"></div>
        <ul class="header-menu-list">
            <li class="header-menu-first">
                <a href="/index.html" style="color: #fff;">首页</a>
            </li>
            <li class="header-menu-first arrow-right">
     影视视效课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/yingshi/ysqn.html">影视视效全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ystx.html">特效合成大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ysjj.html">剪辑包装创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ysdh.html">影视动画精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/c4d.html">C4D特效大师班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
     游戏视觉课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/youxi/yxqn.html">游戏视觉全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxyh.html">游戏原画创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxms.html">3D美术精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxrj.html">游戏软件精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxtx.html">动作特效精英班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
     室内设计课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/shinei/snqk.html">APEC室内设计全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/cad.html">CAD制图大师班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snrz.html">室内软装精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snsh.html">室内手绘创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snxgt.html">室内效果图精英班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
     U X 全栈课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/ui/uiqn.html">UX全栈视效全能班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/psds.html">Photoshop大师班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/pmsj.html">品牌视觉创意班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/dsmg.html">
                电商美工精英班
            </a></li>
        <li class="header-menu-second">
            <a href="/ui/wysj.html">全链路设计精英班
            </a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
     建筑视效课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/jianzhu/jzsx.html">建筑视效全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/3dsMax.html">3ds MAX大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/3djm.html"> 3D建模精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/xrys.html">渲染艺术精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/jzxgt.html"> 建筑效果图精英班 </a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
     BIM应用课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/bim/bimqn.html">BIM应用全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/bimkz.html">BIM考证精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/revitds.html">Revit大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/lumion.html">Lumion大师班</a>
        </li>
    </ul>
</li>
            <li class="header-menu-first">
                <a href="/home/studentworks.html" style="color: #fff;">学员作品</a>
            </li>
            <li class="header-menu-first">
                <a href="/home/onlinebao.html" style="color: #fff;">在线报名</a>
            </li>
            <li class="header-menu-first">
                <a href="/home/contactus.html" style="color: #fff;">联系我们</a>
            </li>

        </ul>
        <div class="header-logo"></div>
        <a class="doyoo-btn">
            <div class="header-phone"></div>
        </a>
    </div>
    <div class="header-nav">
        <ul class="header-nav-wrap">
            <li class="header-nav-first header-nav-active">
                <a href="/index.html">首页</a>
            </li>
            <li class="header-nav-first" id="header-nav-first-course">课程
                <span class="arrow-down"></span>
                <ul class="header-nav-course">
                    <li class="header-menu-first arrow-right">
      影视视效 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/yingshi/ysqn.html">影视视效全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ystx.html">特效合成大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ysjj.html">剪辑包装创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ysdh.html">影视动画精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/c4d.html">C4D特效大师班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
      游戏视觉 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/youxi/yxqn.html">游戏视觉全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxyh.html">游戏原画创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxms.html">3D美术精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxrj.html">游戏软件精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxtx.html">动作特效精英班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
      室内设计 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/shinei/snqk.html">APEC室内设计全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/cad.html">CAD制图大师班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snrz.html">室内软装精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snsh.html">室内手绘创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snxgt.html">室内效果图精英班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
      UX 全栈 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/ui/uiqn.html">UX全栈视效全能班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/psds.html">Photoshop大师班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/pmsj.html">品牌视觉创意班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/dsmg.html">
                电商美工精英班
            </a></li>
        <li class="header-menu-second">
            <a href="/ui/wysj.html">全链路设计精英班
            </a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
      建筑视效 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/jianzhu/jzsx.html">建筑视效全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/3dsMax.html">3ds MAX大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/3djm.html"> 3D建模精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/xrys.html">渲染艺术精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/jzxgt.html"> 建筑效果图精英班 </a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
      BIM应用 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/bim/bimqn.html">BIM应用全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/bimkz.html">BIM考证精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/revitds.html">Revit大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/lumion.html">Lumion大师班</a>
        </li>
    </ul>
</li>
                </ul>
            </li>
            <li class="header-nav-first">
                <a href="/home/famousteacher.html">名师</a>
            </li>
            <li class="header-nav-first">
                <a href="/home/obtain.html">就业</a>
            </li>
            <li class="header-nav-first">
                <a href="/home/about.html">关于丝路</a>
            </li>
        </ul>
    </div>
</div>
<div class="header-mask" id="header-mask"></div>
    <div class="layout">
        <div class="banner">
            <a class="doyoo-btn">
                <img class="banner-cover" src="/assets/images/jianzhu/jzxgt/banner.jpg?v=1599723359248" alt="">
            </a>
        </div>
        <!-- 时代变了 -->
        <div class="section section-bg-write learning-guarantee-sec">
            <div class="container">
                <div class="section-title other">
                    时代变了
                    <br>别再用老眼光看“建筑”
                </div>
                <img src="/assets/images/jianzhu/jzxgt/img1.jpg?v=1599723359248" alt="">
            </div>
            <div class="section-btn">
                <a class="btn doyoo-btn">了解更多行业“内幕”</a>
            </div>
        </div>
        <!-- 建筑效果图课程 -->
        <div class="section treasure-land-sec bj1">
            <div class="container">
                <div class="section-title">
                    建筑效果图课程
                    <br>让高薪没有终点
                </div>
                <img src="/assets/images/jianzhu/jzxgt/img2.jpg?v=1599723359248" alt="">
            </div>

            <div class="section-btn">
                <a class="btn doyoo-btn">查看更多高薪职位</a>
            </div>
        </div>

    <!-- 建筑表现行业发展迅猛 -->
    <div class="section section-bg-write treasure-land-sec bj2">
        <div class="container">
            <div class="section-title">
                建筑效果图学习
                <br><b>为什么选择丝路教育？</b>
            </div>
            <div class="section-describe">
                背靠行业发展机遇，就业前景广阔，薪资待遇高
            </div>
            <div class="tops" style="color: #fff; text-align: center; margin-bottom: 20px;">上市公司背书 有保障</div>
            <div class="xian"></div>
            <div class="section-describe" style="color: #bfc0c5;">
                丝路视觉（股票代码：300556）作为中国视觉科技领域第一家上市公司，深耕建筑表现行业二十年，将前沿项目经验融入到丝路教育的课程中，给学员提供企业实训平台，使学院在教学上拥有无可比拟的资源优势。
            </div>
            <img src="/assets/images/jianzhu/jzsx/ditu.jpg?v=1599723359248" alt="">

        </div>
    </div>

        <!-- 我们的课程适合谁学习？ -->
        <div class="section section-bg-write treasure-land-sec">
            <div class="container">
                <div class="section-title">
                    我们的课程适合谁学习？
                </div>
                <img src="/assets/images/jianzhu/jzxgt/img3.jpg?v=1599723359248" alt="">
            </div>
            <div class="section-btn">
                <a class="btn doyoo-btn">我是其他类型，能学吗？</a>
            </div>
        </div>
        <!-- 直达上市名企 -->
        <div class="section treasure-land-sec">
            <div class="container">
                <div class="section-title">
                    直达上市名企
                    <br>成才不走弯路
                </div>
                <img src="/assets/images/jianzhu/jzxgt/sl1.png?v=1599723359248" alt="">
                <img src="/assets/images/jianzhu/jzxgt/sl2-1.png?v=1599723359248" alt="" style="margin-top: 0.5rem;?v=1599723359248">
                <img src="/assets/images/jianzhu/jzxgt/sl2-2.png?v=1599723359248" alt="">
                <img src="/assets/images/jianzhu/jzxgt/sl2-3.png?v=1599723359248" alt="">
            </div>
            <div class="section-btn">
                <a class="btn doyoo-btn">查看更多项目案例</a>
            </div>
        </div>
        <!-- 丝路教育毕业学员 -->
        <div class="section section-bg-write treasure-land-sec">
            <div class="container">
                <div class="section-title">
                    丝路教育毕业学员
                    <br>我为学院“代言”
                </div>
            </div>
            <img src="/assets/images/jianzhu/jzxgt/img4.jpg?v=1599723359248" alt="">
            <div class="section-btn">
                <a class="btn doyoo-btn">查看更多毕业学员</a>
            </div>
        </div>
        <!-- 商业级学员作品 -->
        <div class="section treasure-land-sec bj1">
            <div class="container">
                <div class="section-title">
                    商业级学员作品
                    <br>印证丝路教学实力
                </div>
                <img src="/assets/images/jianzhu/jzxgt/img5.jpg?v=1599723359248" alt="">
            </div>

            <div class="section-btn">
                <a class="btn doyoo-btn">查看更多学员作品</a>
            </div>
        </div>
        <!-- 六大学习保障 -->
        <div class="section section-bg-write film-editing-sec">

            <div class="container">
                <div class="section-title">
                    六大学习保障
                </div>
                <img class="section-cover" src="/assets/images/jianzhu/jzxgt/img6.jpg?v=1599723359248" alt="">
            </div>
        </div>
        <!-- 来源于企业 -->
        <div class="section treasure-land-sec">
            <div class="container">
                <div class="section-title">
                    来源于企业
                    <br>更懂企业需求
                </div>
                <div class="section-describe">
                    丝路教育是上市企业丝路视觉旗下全国CG人才培训基地，依托丝路集团二十年效果图项目经验和技术成果开设建筑效果图课程，被AUTODESK公司指定为官方认证培训机构，每年向效果图设计行业输送数以万计的复合型紧缺人才。
                </div>
                <img src="/assets/images/jianzhu/jzxgt/sl3-1.png?v=1599723359248" alt="">
            </div>
        </div>
        <!-- 项目 -->
        <div class="section section-bg-write treasure-land-sec">
            <div class="container">
                <img src="/assets/images/jianzhu/jzxgt/sl3-2.png?v=1599723359248" alt="">
                <img src="/assets/images/jianzhu/jzxgt/sl3-3.png?v=1599723359248" alt="">
                <img src="/assets/images/jianzhu/jzxgt/sl3-4.png?v=1599723359248" alt="">
                <img src="/assets/images/jianzhu/jzxgt/sl3-5.png?v=1599723359248" alt="">
            </div>
            <div class="section-btn">
                <a class="btn doyoo-btn">查看详细课程内容</a>
            </div>
        </div>
        <!-- 老师 -->
        <div class="section treasure-land-sec">
            <div class="container">
                <img src="/assets/images/jianzhu/jzxgt/sl4-1.png?v=1599723359248" alt="">
            </div>
            <div class="section-btn">
                <a class="btn doyoo-btn">与名师聊课程</a>
            </div>
        </div>
        <!-- 行业名企委培 -->
        <div class="section section-bg-write film-editing-sec">

            <div class="container">
                <div class="section-title">
                    行业名企委培
                    <br/>完善就业保障
                </div>
                <img class="section-cover" src="/assets/images/jianzhu/jzxgt/sl5.png?v=1599723359248" alt="">

            </div>
        </div>



        <!-- icon -->
        <div class="section film-editing-sec bj6">
            <div class="container">
                <a class="doyoo-btn">
                    <img class="section-cover" src="/assets/images/jianzhu/jzxgt/icon.png?v=1599723359248" alt="">
                </a>
            </div>
        </div>
        <!-- 合作企业 -->
        <div class="section stage-works-sec">
            <div class="container">
                <div class="section-title">
                    手握上市集团资源
                    <br>与3000+家名企达成合作
                </div>
                <img src="/assets/images/jianzhu/xrys/logo.jpg?v=1599723359248" alt="">
            </div>
        </div>




        <!-- 表单统计 -->
        <div class="section-form">
            <form id="form">
                <div class="form-group form-group-txt">
                    想改变现状，先改变自己
                    <br>成就高薪，从一个选择开始
                </div>
                <div class="form-group">
                    <input type='text' name='name' id="name" placeholder="姓名：请填写姓名" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="text" name='tel' id="tel" class="form-control" placeholder="联系方式：请填写手机号码" />
                </div>
                <input type="text" name='time' id='time' style="display: none;" />

                <div class="form-submit">
                    <button class="btn" type="button" onclick="add_ajaxmessage()"> 一键预约免费试听</button>
                </div>
            </form>
        </div>
    </div>
    <!--页脚 -->
<div class="endfoot-box">
    <div class="endfoot">
        <a class="doyoo-btn">
            <div class="endfoot-item">
                <p>名师在线</p>
                <p>免费试听</p>
            </div>
        </a>
    </div>
    <h3>本网站版权归丝路教育所有，盗用必究</h3>
</div>

<script src="/assets/js/libs/jquery.min.js"></script>
<script src="/assets/js/plugs/vide7.4.1/js/video.js"></script>
<script src="/assets/js/plugs/picViewer/picViewer.js"></script>
<script src="/assets/js/plugs/swiper/swiper.js"></script>
<script src="/assets/js/plugs/layer-v3.1.1/layer/layer.js"></script>
<script src="/assets/js/global/common.js"></script>
<!-- <script src="http://op.jiain.net/20002985/10085553.js"></script> -->
<script>
    var doyooBtns = [].slice.call(document.querySelectorAll('.doyoo-btn'));
    for (var i = 0, len = doyooBtns.length; i < len; i++) {
        doyooBtns[i].onclick = function() {
            doyoo.util.openChat('g=10075108');
            return false;
        }
    }
</script>

<!-- 百度统计代码 -->
<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?57448cbcd9efb5a61b8ba648ba49f3e2";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>

<!-- 表单 -->
<script src="/assets/js/plugs/formbd.js"></script>

</div>



</body>

</html>