<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
<script>
    (function flexible(window, document) {
        var docEl = document.documentElement
        var dpr = window.devicePixelRatio || 1

        // adjust body font size
        function setBodyFontSize() {
            if (document.body) {
                document.body.style.fontSize = (12 * dpr) + 'px'
            } else {
                document.addEventListener('DOMContentLoaded', setBodyFontSize)
            }
        }
        setBodyFontSize();

        // set 1rem = viewWidth / 10
        function setRemUnit() {
            var rem = docEl.clientWidth / 10
            docEl.style.fontSize = rem + 'px'
        }

        setRemUnit()

        // reset rem unit on page resize
        window.addEventListener('resize', setRemUnit)
        window.addEventListener('pageshow', function(e) {
            if (e.persisted) {
                setRemUnit()
            }
        })

        // detect 0.5px supports
        if (dpr >= 2) {
            var fakeBody = document.createElement('body')
            var testElement = document.createElement('div')
            testElement.style.border = '.5px solid transparent'
            fakeBody.appendChild(testElement)
            docEl.appendChild(fakeBody)
            if (testElement.offsetHeight === 1) {
                docEl.classList.add('hairlines')
            }
            docEl.removeChild(fakeBody)
        }
    }(window, document))
</script>
		<title>室内软装精英班</title>
		<link rel="stylesheet" href="/assets/js/plugs/vide-7.4.1/css/video-js.min.css?v=1599804028276">
<link rel="stylesheet" href="/assets/js/plugs/picViewer/picViewer.css?v=1599804028276">
<link rel="stylesheet" href="/assets/js/plugs/swiper-3.4.0/swiper-3.4.2.min.css?v=1599804028276">
		<link rel="stylesheet" href="/assets/css/jingjiadt/public.css?v=1599804028276">
		<link rel="stylesheet" href="/assets/css/jingjiadt/ruanzhuang.css?v=1599804028276">
	</head>
	
	<body>
		<div class="header">
    <div class="header-tp" id="header-tp">
        <div class="header-menu"></div>
        <ul class="header-menu-list">
            <li class="header-menu-first">
                <a href="/index.html" style="color: #fff;">首页</a>
            </li>
            <li class="header-menu-first arrow-right">
     影视视效课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/yingshi/ysqn.html">影视视效全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ystx.html">特效合成大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ysjj.html">剪辑包装创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ysdh.html">影视动画精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/c4d.html">C4D特效大师班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
     游戏视觉课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/youxi/yxqn.html">游戏视觉全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxyh.html">游戏原画创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxms.html">3D美术精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxrj.html">游戏软件精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxtx.html">动作特效精英班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
     室内设计课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/shinei/snqk.html">APEC室内设计全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/cad.html">CAD制图大师班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snrz.html">室内软装精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snsh.html">室内手绘创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snxgt.html">室内效果图精英班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
     U X 全栈课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/ui/uiqn.html">UX全栈视效全能班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/psds.html">Photoshop大师班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/pmsj.html">品牌视觉创意班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/dsmg.html">
                电商美工精英班
            </a></li>
        <li class="header-menu-second">
            <a href="/ui/wysj.html">全链路设计精英班
            </a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
     建筑视效课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/jianzhu/jzsx.html">建筑视效全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/3dsMax.html">3ds MAX大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/3djm.html"> 3D建模精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/xrys.html">渲染艺术精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/jzxgt.html"> 建筑效果图精英班 </a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
     BIM应用课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/bim/bimqn.html">BIM应用全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/bimkz.html">BIM考证精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/revitds.html">Revit大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/lumion.html">Lumion大师班</a>
        </li>
    </ul>
</li>
            <li class="header-menu-first">
                <a href="/home/studentworks.html" style="color: #fff;">学员作品</a>
            </li>
            <li class="header-menu-first">
                <a href="/home/onlinebao.html" style="color: #fff;">在线报名</a>
            </li>
            <li class="header-menu-first">
                <a href="/home/contactus.html" style="color: #fff;">联系我们</a>
            </li>

        </ul>
        <div class="header-logo"></div>
        <a class="doyoo-btn">
            <div class="header-phone"></div>
        </a>
    </div>
    <div class="header-nav">
        <ul class="header-nav-wrap">
            <li class="header-nav-first header-nav-active">
                <a href="/index.html">首页</a>
            </li>
            <li class="header-nav-first" id="header-nav-first-course">课程
                <span class="arrow-down"></span>
                <ul class="header-nav-course">
                    <li class="header-menu-first arrow-right">
      影视视效 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/yingshi/ysqn.html">影视视效全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ystx.html">特效合成大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ysjj.html">剪辑包装创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ysdh.html">影视动画精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/c4d.html">C4D特效大师班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
      游戏视觉 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/youxi/yxqn.html">游戏视觉全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxyh.html">游戏原画创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxms.html">3D美术精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxrj.html">游戏软件精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxtx.html">动作特效精英班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
      室内设计 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/shinei/snqk.html">APEC室内设计全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/cad.html">CAD制图大师班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snrz.html">室内软装精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snsh.html">室内手绘创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snxgt.html">室内效果图精英班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
      UX 全栈 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/ui/uiqn.html">UX全栈视效全能班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/psds.html">Photoshop大师班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/pmsj.html">品牌视觉创意班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/dsmg.html">
                电商美工精英班
            </a></li>
        <li class="header-menu-second">
            <a href="/ui/wysj.html">全链路设计精英班
            </a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
      建筑视效 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/jianzhu/jzsx.html">建筑视效全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/3dsMax.html">3ds MAX大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/3djm.html"> 3D建模精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/xrys.html">渲染艺术精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/jzxgt.html"> 建筑效果图精英班 </a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
      BIM应用 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/bim/bimqn.html">BIM应用全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/bimkz.html">BIM考证精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/revitds.html">Revit大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/lumion.html">Lumion大师班</a>
        </li>
    </ul>
</li>
                </ul>
            </li>
            <li class="header-nav-first">
                <a href="/home/famousteacher.html">名师</a>
            </li>
            <li class="header-nav-first">
                <a href="/home/obtain.html">就业</a>
            </li>
            <li class="header-nav-first">
                <a href="/home/about.html">关于丝路</a>
            </li>
        </ul>
    </div>
</div>
<div class="header-mask" id="header-mask"></div>


ua




<style>

.part-box{padding: 1rem 0;}
.box-inpor{float:left;width:50% ;}
.box-por{width:95%;margin:auto;border:solid 1px #e6e6e6;margin-bottom: 0.2rem; height: 370px;}
.por-name{color: #333;font-size: 0.5rem;margin: 0.05rem 0 0.05rem 0.08rem;}
.por-money{color: #333;font-size: 0.4rem;margin: 0 0 0.05rem 0.08rem;}
.por-wen{color: #999;font-size: 0.35rem;margin: 0 0.08rem 0 0.08rem;height:1rem}
.part-money{background: url(/assets/images/jingjiadt/ruanzhuang/back-money.jpg)no-repeat center;    background-size: 100%;}
.jxbz-item h2{font-size: 0.35rem; margin-top: 10px;}
.kechengming{font-size: 0.35rem;}
.teacher-text h2 span, .teacher-text p{font-size: 0.3rem;}
.teacher-text h2{font-size: 0.36rem;}
.titlebox p:nth-of-type(1){font-size: 0.35rem;}
</style>


	
<div class="">

<!--banner-->
<div style="margin-top: 1.3rem;?v=1599804028276">
	<a class="doyoo-btn" style=" cursor: pointer;"><img src="/assets/images/jingjiadt/ruanzhuang/banner-two.jpg" class="banner" ></a>
</div>
<!--薪资-->
<div class="part-box part-xinzi" >
	<div class="titlebox">
		<h1>选择室内软装，年薪过万只是起点</h1>
		<p></p>
		
	</div>
	<div class="part-content">
		<div class="box-inpor">
          <div class="box-por">
             <img src="/assets/images/jingjiadt/ruanzhuang/kc-one.jpg?v=1599804028276">
             <div class="por-name">手绘设计师</div>
             <div class="por-money">8K+/月</div>
			 <div class="por-wen">1、拥有良好的艺术教养、空间感与色彩表现力；2、熟练掌握手绘技能，能够独立完成从方案设计；3、熟悉现场监造与设计施工规范者优先考虑......</div>
			 <div class="section-btn" style="margin: 0 auto; text-align: center; padding-top: 6px; margin-top: 90px;">
                <a class="btn doyoo-btn" style="padding-top: 6px; font-size: 0.38rem; width: 130px;?v=1599804028276"><b>查看更多要求</b></a>
            </div>
            
          </div>
        </div>
        <div class="box-inpor">
          <div class="box-por">
             <img src="/assets/images/jingjiadt/ruanzhuang/kc-two.jpg?v=1599804028276">
             <div class="por-name">室内设计师</div>
             <div class="por-money">9K+/月</div>
             <div class="por-wen">1、熟悉室内装修的工艺流程，掌握热门设计风格，有较强的视觉搭配能力，有一定的审图和手绘能力；2、独立完成硬装设计、施工图设计等方案设计与审......</div>
             <div class="section-btn" style="margin: 0 auto; text-align: center; padding-top: 6px; margin-top: 90px;">
                <a class="btn doyoo-btn" style="padding-top: 6px; font-size: 0.38rem; width: 130px;?v=1599804028276"><b>查看更多要求</b></a>
            </div>
          </div>
        </div>
        <div class="box-inpor">
          <div class="box-por">
             <img src="/assets/images/jingjiadt/ruanzhuang/kc-three.jpg?v=1599804028276">
             <div class="por-name">软装设计师</div>
             <div class="por-money">10K+/月</div>
             <div class="por-wen">1、掌握热门软装设计风格，对室内配饰有深入了解；2、具有丰富的室内软装设计、产品选配工作经验，对颜色搭配有独到见解，能独立操作配饰设计项目......</div>
             <div class="section-btn" style="margin: 0 auto; text-align: center; padding-top: 6px; margin-top: 90px;">
                <a class="btn doyoo-btn" style="padding-top: 6px; font-size: 0.38rem; width: 130px;?v=1599804028276"><b>查看更多要求</b></a>
            </div>
          </div>
        </div>
        <div class="box-inpor">
          <div class="box-por">
             <img src="/assets/images/jingjiadt/ruanzhuang/kc-four.jpg?v=1599804028276">
             <div class="por-name">别墅设计师</div>
             <div class="por-money">15K+/月</div>
             <div class="por-wen">1、具备一定的美学基础、艺术修养与手绘能力；2、拥有多年室内设计经验，对高端别墅设计有独特见解，熟悉别墅设计施工流程与家居体系的运作......</div>
             <div class="section-btn" style="margin: 0 auto; text-align: center; padding-top: 6px; margin-top: 90px;">
                <a class="btn doyoo-btn" style="padding-top: 6px; font-size: 0.38rem; width: 130px;?v=1599804028276"><b>查看更多要求</b></a>
            </div>
          </div>
        </div>
        <div style="clear:both"></div>
	</div>
    
</div>

<!--工作薪资-->	
<div class="part-box part-money">
    <div class="titlebox">
		<h1 style="color:#fff">学完之后，能拿到多少薪资？</h1>
        <p style="color:#999">稳步进阶，带你胜任高薪工作</p>
	</div>
    <div class="part-content">
		<img src="/assets/images/jingjiadt/ruanzhuang/bg-money.png?v=1599804028276" style="width: 100%;">
	</div>
	<div class="section-btn" style="margin: 0 auto; text-align: center; padding-top: 6px; ">
		<a class="btn doyoo-btn" style="padding-top: 6px; font-size: 0.38rem;?v=1599804028276"><b>测一测，你能赚多少钱？</b></a>
	</div>
    
</div>


<!--教学保障-->
<div class="part-box part-jxbz">
	<div class="titlebox">
		<h1>丝路学员独享6大权益</h1>
	</div>
	<div class="part-content" style="margin-top: 40px;">
		<a onclick="doyoo.util.openChat('g=10075108');return false;?v=1599804028276"><div class="jxbz-item">
			<img src="/assets/images/jingjiadt/ruanzhuang/jxbz1.png?v=1599804028276">
			<h2>免费试听体验</h2>
		</div></a>
		<a onclick="doyoo.util.openChat('g=10075108');return false;?v=1599804028276"><div class="jxbz-item">
			<img src="/assets/images/jingjiadt/ruanzhuang/jxbz2.png?v=1599804028276">
			<h2>名企定向就业</h2>
		</div></a>
		<a onclick="doyoo.util.openChat('g=10075108');return false;?v=1599804028276"><div class="jxbz-item  jxbz-threeitem">
			<img src="/assets/images/jingjiadt/ruanzhuang/jxbz3.png?v=1599804028276">
			<h2>全程名师面授</h2>
		</div></a>
		<div class="cle"></div>
	</div>
	<div class="part-content jxbz-ctn" style="margin-top: 30px; margin-bottom: 20px;">
		<a onclick="doyoo.util.openChat('g=10075108');return false;?v=1599804028276"><div class="jxbz-item">
			<img src="/assets/images/jingjiadt/ruanzhuang/jxbz4.png?v=1599804028276">
			<h2>先学习后付款</h2>
		</div></a>
		<a onclick="doyoo.util.openChat('g=10075108');return false;?v=1599804028276"><div class="jxbz-item">
			<img src="/assets/images/jingjiadt/ruanzhuang/jxbz5.png?v=1599804028276">
			<h2>企业项目实训</h2>
		</div></a>
		<a onclick="doyoo.util.openChat('g=10075108');return false;?v=1599804028276"><div class="jxbz-item  jxbz-threeitem">
			<img src="/assets/images/jingjiadt/ruanzhuang/jxbz6.png?v=1599804028276">
			<h2>真实案例教学</h2>
		</div></a>
		<div class="cle"></div>
	</div>
</div>
		


  <!-- 表单统计 -->

  <div class="section-form" style="height: 300px; background: url(/assets/images/jingjiadt/ruanzhuang/biaodan1.png);?v=1599804028276" >
    <form id="form">
        <div class="form-group form-group-txt" style="padding-top: 40px; margin-bottom: 20px; color: #fff; font-size: 24px;">
			0元免费试听
        </div>
        <div class="form-group">
            <input type='text' name='name' id="name" placeholder="请输入您的姓名" class="form-control" />
        </div>
        <div class="form-group">
            <input type="text" name='tel' id="tel" class="form-control" placeholder="请输入您的手机号码" />
        </div>
        <input type="text" name='time' id='time' style="display: none;" />

        <div class="form-submit">
            <button class="btn" type="button" onclick="add_ajaxmessage()" style="color: #fff;">确认提交</button>
        </div>
    </form>
</div>
		
<!--学员-->
<div class="part-box part-kaozheng">
	<div class="titlebox">
		<h1>轻松入名企？TA就是最佳论证！</h1>
	</div>
	<div class="part-content">
		<img src="/assets/images/jingjiadt/ruanzhuang/xueyuan1.png?v=1599804028276">
		<img src="/assets/images/jingjiadt/ruanzhuang/xueyuan2.png?v=1599804028276">
		<img src="/assets/images/jingjiadt/ruanzhuang/xueyuan3.png?v=1599804028276">
		<img src="/assets/images/jingjiadt/ruanzhuang/xueyuan4.png?v=1599804028276">
	</div>
	<div class="section-btn" style="margin: 0 auto; text-align: center; padding-top: 6px; ">
		<a class="btn doyoo-btn" style="padding-top: 6px; font-size: 0.38rem;?v=1599804028276"><b>跟TA们聊聊</b></a>
	</div>

</div>		

<!--学员-->
<div class="part-box" style="background: #f4f4f4">
    <div class="titlebox">
		<h1>听学员真实反馈</h1>
		<p style="width: 90%;margin: 0.1rem auto 0 auto;line-height: 0.4rem;?v=1599804028276">原来他们与你一样，对未来感到迷茫，对自己的现状充满不满，现在他们已经完成蜕变，找到心仪的职位。</p>
	</div>
    <div class="part-content" style="font-size: 50px">
		<img src="/assets/images/jingjiadt/ruanzhuang/phone.png?v=1599804028276" style="width: 100%;">
	</div>
</div>


<!--课程软件-->	
<div class="part-box" style="background-color:#1b192e">
    <div class="titlebox">
		<h1 style="color:#fff">5大室内设计软件</h1>
	</div> 
    <div class="part-content" style="font-size: 50px">
		<img src="/assets/images/jingjiadt/ruanzhuang/kc-rj.png?v=1599804028276" style="width: 100%;">
	</div>
</div>

		
<!--课程大纲-->
<div class="part-box kechengdagang">
	<div class="titlebox">
		<h1>业界大牛精编课程</h1>
		<p>理论实践双管齐下</p>
	</div>
	<div class="kenchengbox">
		<div class="kecheng">
			<img src="/assets/images/jingjiadt/ruanzhuang/kecheng1.png?v=1599804028276" style="width:100%;">
			<div class="kechengming" >01&nbsp;&nbsp;室内软装概论</div>
		</div>
		<div class="kecheng1">
			<img src="/assets/images/jingjiadt/ruanzhuang/kecheng2.png?v=1599804028276" style="width:100%; display: block;">
			<div class="kechengming" >02&nbsp;&nbsp;户型彩色平面布置</div>
		</div>
	</div>
	<div class="cle"></div>
	
	<div class="kenchengbox">
		<div class="kecheng">
			<img src="/assets/images/jingjiadt/ruanzhuang/kecheng3.png?v=1599804028276" style="width:100%;">
			<div class="kechengming" >03&nbsp;&nbsp;室内色彩与配色</div>
		</div>
		<div class="kecheng1">
			<img src="/assets/images/jingjiadt/ruanzhuang/kecheng4.png?v=1599804028276" style="width:100%; display: block;">
			<div class="kechengming" >04&nbsp;&nbsp;软装风格概论</div>
		</div>
	</div>
	<div class="cle"></div>
	
	<div class="kenchengbox">
		<div class="kecheng">
			<img src="/assets/images/jingjiadt/ruanzhuang/kecheng5.png?v=1599804028276" style="width:100%;">
			<div class="kechengming" >05&nbsp;&nbsp;软装八要素</div>
		</div>
		<div class="kecheng1">
			<img src="/assets/images/jingjiadt/ruanzhuang/kecheng6.png?v=1599804028276" style="width:100%; display: block;">
			<div class="kechengming" >06&nbsp;&nbsp;室内风水与美学</div>
		</div>
	</div>
	<div class="cle"></div>
	<div class="kenchengbox">
		<div class="kecheng">
			<img src="/assets/images/jingjiadt/ruanzhuang/kecheng7.png?v=1599804028276" style="width:100%;">
			<div class="kechengming" >07&nbsp;&nbsp;软装与当代美学</div>
		</div>
		<div class="kecheng1">
			<img src="/assets/images/jingjiadt/ruanzhuang/kecheng8.png?v=1599804028276" style="width:100%; display: block;">
			<div class="kechengming" >08&nbsp;&nbsp;形象与谈单技巧</div>
		</div>
	</div>
	<div class="cle"></div>
	<div class="section-btn" style="margin: 0 auto; text-align: center; padding-top: 6px; ">
		<a class="btn doyoo-btn" style="padding-top: 6px; font-size: 0.38rem;?v=1599804028276"><b>查询详细课程</b></a>
	</div>

	
</div>			
		
<!--讲师-->
<div class="part-box part-teacher">
	<div class="titlebox">
		<h1>室内设计大咖</h1>
		<p style="line-height: 0.5rem; margin-top: 10px;?v=1599804028276">10年设计经验坐堂分享</p>
	</div>
	<div class="part-content">
		
		<div class="teacher-item">
			<img src="/assets/images/jingjiadt/ruanzhuang/teacher3.png?v=1599804028276">
			<div class="teacher-text" >
				<h2 >刘老师&nbsp;&nbsp;<span>9年从业经验、室内设计大师</span></h2>
				<div style="margin-top: 10px;"><img src="/assets/images/jingjiadt/ruanzhuang/xuxian.png?v=1599804028276"></div>
				<p>代表项目：长江实业售楼中心、港式会所设计、康明眼镜、新明眼镜、卓越蔚蓝城邦.....</p>
			</div>
			<div class="cle"></div>
		</div>
		<div class="teacher-item">
			<img src="/assets/images/jingjiadt/ruanzhuang/teacher4.png?v=1599804028276">
			<div class="teacher-text">	<h2>列老师 &nbsp;&nbsp;<span>9年从业经验、丝路室内高级讲师</span></h2>
				<div style="margin-top: 10px;"></div><img src="/assets/images/jingjiadt/ruanzhuang/xuxian.png?v=1599804028276">
				<p>代表项目：佛山朝安西路城市、广东惠州新桂城景观设计、深圳普拉提工作室.....</p>
			</div>
			<div class="cle"></div>
		</div>
		
		<div class="teacher-item">
			<img src="/assets/images/jingjiadt/ruanzhuang/ls01.png?v=1599804028276">
			<div class="teacher-text">
				<h2>张老师&nbsp;&nbsp;<span>7年从业经验、原政府重点项目负责人</span></h2>
				<div style="margin-top: 10px;"></div><img src="/assets/images/jingjiadt/ruanzhuang/xuxian.png?v=1599804028276">
				<p>代表项目：沧州图书馆书吧、张家口量贩KTV</br>天泽电子办公楼装饰....</p>
			</div>
			<div class="cle"></div>
		</div>
		
	</div>
	<div class="section-btn" style="margin: 0 auto; text-align: center; padding-top: 6px; ">
		<a class="btn doyoo-btn" style="padding-top: 6px; font-size: 0.38rem;?v=1599804028276"><b>查有问题？咨询老师</b></a>
	</div>

	
</div>
		
<!--四大服务-->
<div class="part-box" style="background-color:#f4f4f4">
    <div class="titlebox">
		<h1>4大全面服务，学员无忧学习</h1>
		<p>丝路学员独享福利，1对1推荐就业</p>
	</div>
    <div class="part-content" style="font-size: 1px">
		<img src="/assets/images/jingjiadt/ruanzhuang/four-dz.png?v=1599804028276" style="width: 100%;">
	</div>
</div>
<!--作品-->
<div class="part-box part-zuopin" style="background-color:#fff">
	<div class="titlebox">
		<h1>TA们的作品获HR盛誉</h1>
		<p>好作品是高薪职位的敲门砖</p>
	</div>
	<div class="part-content">
		<img src="/assets/images/jingjiadt/ruanzhuang/zuoping.png?v=1599804028276">
	</div>
	<div class="section-btn" style="margin: 0 auto; text-align: center; padding-top: 6px; ">
		<a class="btn doyoo-btn" style="padding-top: 6px; font-size: 0.38rem;?v=1599804028276"><b>查看更多学生作品</b></a>
	</div>

</div>		
		
<!--问题-->
<div class="part-box part-wenti" style="height: 370px;">
	<div class="titlebox">
		<h1>软装学习，头疼恼的不止你一人</h1>
	</div>
	<div class="part-content">
		<a onclick="doyoo.util.openChat('g=10075108');return false;?v=1599804028276"><div class="wenti-item">
			<p>如何申请助学金？</p>
			<p>查看答案</p>
			<div class="cle"></div>
		</div><a>
		<a onclick="doyoo.util.openChat('g=10075108');return false;?v=1599804028276"><div class="wenti-item">
			<p>0基础，可以学习软装吗？</p>
			<p>查看答案</p>
			<div class="cle"></div>
		</div></a>
		<a onclick="doyoo.util.openChat('g=10075108');return false;?v=1599804028276"><div class="wenti-item">
			<p>真的推荐就业吗？</p>
			<p>查看答案</p>
			<div class="cle"></div>
		</div></a>
		<a onclick="doyoo.util.openChat('g=10075108');return false;?v=1599804028276"><div class="wenti-item">
			<p>学习周期要多久？</p>
			<p>查看答案</p>
			<div class="cle"></div>
		</div></a>
		<a onclick="doyoo.util.openChat('g=10075108');return false;?v=1599804028276"><div class="wenti-item">
			<p>软装工资高吗？</p>
			<p>查看答案</p>
			<div class="cle"></div>
		</div></a>
		<a onclick="doyoo.util.openChat('g=10075108');return false;?v=1599804028276"><div class="wenti-item wenti-lastitem">
			<p>学室内软装，发展前景如何？</p>
			<p>查看答案</p>
			<div class="cle"></div>
		</div></a>
	</div>
</div>
		
		
<!--合作-->
<div class="part-box part-hezuo">
	<div class="titlebox">
		<h1>名企定向委培 毕业即就业</h1>
	</div>
	<div class="part-content">
		<img src="/assets/images/jingjiadt/ruanzhuang/qiye.png?v=1599804028276">
	</div>
	<div class="section-btn" style="margin: 0 auto; text-align: center; padding-top: 6px; ">
		<a class="btn doyoo-btn" style="padding-top: 6px; font-size: 0.38rem;?v=1599804028276"><b>查看企业招聘要求</b></a>
	</div>
	
</div>	
		
<!--合作企业环境-->
		
	<div class="part-box part-hzhj">
	<div class="titlebox">
		<h1>就业企业环境</h1>
	</div>
	<div class="part-content">
		<img src="/assets/images/jingjiadt/ruanzhuang/hzhj.png?v=1599804028276">
	</div>
	<div class="section-btn" style="margin: 0 auto; text-align: center; padding-top: 6px; ">
		<a class="btn doyoo-btn" style="padding-top: 6px; font-size: 0.38rem;?v=1599804028276"><b>了解更多合作企业</b></a>
	</div>

</div>		
		
<!--合作企业环境-->
	
  <!-- 表单统计 -->

  <div class="section-form" style="height: 300px; background: url(/assets/images/jingjiadt/ruanzhuang/biaodan2.jpg);?v=1599804028276" >
    <form id="form">
        <div class="form-group form-group-txt" style="padding-top: 40px; margin-bottom: 20px; color: #fff; font-size: 24px;">
			越努力越幸运!
        </div>
        <div class="form-group">
            <input type='text' name='name1' id="name1" placeholder="请输入您的姓名" class="form-control" />
        </div>
        <div class="form-group">
            <input type="text" name='tel1' id="tel1" class="form-control" placeholder="请输入您的手机号码" />
        </div>
        <input type="text" name='time' id='time' style="display: none;" />

        <div class="form-submit">
            <button class="btn" type="button" onclick="add_ajaxmessage11()" style="color: #fff;">预约免费试学</button>
        </div>
    </form>
</div>



		
		
<!-- end footer -->    
   <style>
	.dbdh-box{width: 100%;background:#1b2129;border-top:0.1vw solid #000;}
	.dbdh-ms a{ color:#FFF;}
	.dbdh-ms{width:24.9%;line-height: 10vw;font-size: 4vw;text-align: center;color: #fff;float: left;border-right: 0.1vw solid #000;}
</style>
<div style="position:fixed;left: 0;bottom: 0;width: 100%;">
<div class="dbdh-box">
	<div class="dbdh-ms"><a onclick="doyoo.util.openChat('g=10075108');return false;?v=1599804028276">课程咨询</a></div>
	<div class="dbdh-ms"><a onclick="doyoo.util.openChat('g=10075108');return false;?v=1599804028276">申请奖学金</a></div>
	<div class="dbdh-ms"><a href="http://m.silucg.com/html/contact/contact.html">查看地图</a></div>
	<div class="dbdh-ms" style="border-right: none;"><a onclick="doyoo.util.openChat('g=10075108');return false;?v=1599804028276">电话咨询</a></div>
</div>
<div style="background:#1b2129;text-align: center; font-size: 3vw;color: #b8b8b8;line-height:5vw;">本网站版权归丝路视觉科技股份有限公司所有，盗用必究
</div>
</div> 	
		
		
		
<script>
	$('#subInfoForm1').submit(function(){
		$(this).ajaxSubmit(function(){
			alert('提交成功')
		});
		return false;
	});
	$('#subInfoForm2').submit(function(){
		$(this).ajaxSubmit(function(){
			alert('提交成功')
		});
		return false;
	});


/*底部每个表单*/
function add_ajaxmessage11() {

var name = document.getElementById("name1");
var tel = document.getElementById("tel1");
var time = document.getElementById("time");
var url = window.location.href;
var mobile = "!/^1\d{10}$/";

if ($("#name1").val() == "") {

	layer.msg("姓名不能为空，请输入姓名!");

	return;

}
if ($("#tel1").val() == "" || !/^1\d{10}$/.test($("#tel1").val())) {

	layer.msg("请输入正确的手机号码!");

	return;

}

var dataString =
	'name=' + name.value +
	'&tel=' + tel.value +
	'&time=' + time.value +
	'&url=' + url +
	'&action=post' +
	'&diyid=1&do=2&dede_fields=name,text;tel,text;time,text;url,text&dede_fieldshash=3d48ac0a96fa6a607608161ca1e226e9';


$.ajax({
	type: "POST",
	url: "/plus/diy.php?v=1599804028276", //提交到后台文件
	data: dataString, //传值
	success: function(data) {
		//$("#666").html(data);//以html的形式显示在指定id的元素里，看下面注释01
		layer.msg("提交成功"); //显示PHP返回的值，如不需要显示，注释掉这行即可
		$('#form')[0].reset(); //提交后清除id="form"的值
	}
});
return false;
}


</script>

</div>
<!--页脚 -->
<div class="endfoot-box">
    <div class="endfoot">
        <a class="doyoo-btn">
            <div class="endfoot-item">
                <p>名师在线</p>
                <p>免费试听</p>
            </div>
        </a>
    </div>
    <h3>本网站版权归丝路教育所有，盗用必究</h3>
</div>

<script src="/assets/js/libs/jquery.min.js"></script>
<script src="/assets/js/plugs/vide7.4.1/js/video.js"></script>
<script src="/assets/js/plugs/picViewer/picViewer.js"></script>
<script src="/assets/js/plugs/swiper/swiper.js"></script>
<script src="/assets/js/plugs/layer-v3.1.1/layer/layer.js"></script>
<script src="/assets/js/global/common.js"></script>
<script src="http://op.jiain.net/20002985/10085553.js"></script>
<script>
    var doyooBtns = [].slice.call(document.querySelectorAll('.doyoo-btn'));
    for (var i = 0, len = doyooBtns.length; i < len; i++) {
        doyooBtns[i].onclick = function() {
            doyoo.util.openChat('g=10075108');
            return false;
        }
    }
</script>

<!-- 百度统计代码 -->
<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?57448cbcd9efb5a61b8ba648ba49f3e2";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>

<!-- 表单 -->
<script src="/assets/js/plugs/formbd.js"></script>

</div>
<!--乐语系统-->
<script type="text/javascript" charset="utf-8" src="http://lead.soperson.com/20002985/10086210.js"></script>

<!--统计工具：CNZZ-->
<div style="font-size: 0.1rem;?v=1599804028276">
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? "https://" : "http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1276821672'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s23.cnzz.com/z_stat.php%3Fid%3D1276821672%26show%3Dpic' type='text/javascript'%3E%3C/script%3E?v=1599804028276"));</script> 
</div>

<!--百度呼-->
<script>
var _hmt = _hmt || []; (function() { var hm = document.createElement("script"); hm.src = "https://hm.baidu.com/hm.js?57448cbcd9efb5a61b8ba648ba49f3e2"; var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(hm, s); })(); 
</script> 
<script type="text/javascript" charset="utf-8" async src="http://lxbjs.baidu.com/lxb.js?sid=8881824"></script>

</body>
</html>
