<!doctype html>
<html>
<head>
<meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
<title>室内设计培训|室内软件设计培训|室内设计培训全科班</title>
<link rel="stylesheet" href="../../css/public.css?v=1587519579162">
<link rel="stylesheet" href="../../img/jingjiadt/shineiqk/style.css?v=1587519579162">
<!--menu-->
<link type="text/css" rel="stylesheet" href="../../css/index/jquery.mmenu.css?v=1587519579162" />
<link type="text/css" rel="stylesheet" href="../../css/index/menu.css?v=1587519579162" />
<script type="text/javascript" src="../../js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="../../js/jquery.form.js"></script>
<script type="text/javascript" src="../../js/jquery.mmenu.min.js"></script>
<!--menu-->
</head>

<body>

<!--导航-->
<div id="page">
  <div class="header"> <a href="#menu"><img src="../../img/index/iconmenu.jpg?v=1587519579162" style="width: 100%;display: block;" /></a> <a href="#"><img src="../../img/index/logo.jpg?v=1587519579162" style="width: 100%;display: block;" /></a> <a onclick="doyoo.util.openChat('g=10075108');return false;?v=1587519579162"><img src="../../img/index/tel.jpg?v=1587519579162" style="width: 100%;display: block;" /></a> </div>
  <nav id="menu" style="visibility: hidden;">
    <ul>
      <li> <a href="../../index.html">首页</a> </li>
      <li> <a href="../../html/rssl/rssl.html">认识丝路</a> </li>
      <li> <a href="#">室内设计课程</a>
        <ul>
          <li> <a href="../../html/shinei/shineiqk.html">室内设计全科班</a> </li>
          <li> <a href="../../html/shinei/shouhui.html">室内手绘班</a> </li>
          <li> <a href="../../html/shinei/cad.html">CAD应用班</a> </li>
          <li> <a href="../../html/shinei/ruanzhuang.html">室内软装班</a> </li>
        </ul>
      </li>
      <li> <a href="#">UI设计课程</a>
        <ul>
          <li> <a href="../../html/uisheji/ui.html">UI设计全科班</a> </li>
          <li> <a href="../../html/uisheji/ps.html">PS应用班</a> </li>
          <li> <a href="../../html/uisheji/pingmian.html">平面设计班</a> </li>
          <li> <a href="../../html/uisheji/meigong.html">美工特训班</a> </li>
          <li> <a href="../../html/uisheji/wangyesheji.html">网页设计班</a> </li>
          <li> <a href="../../html/uisheji/dianshang.html">电商设计班</a> </li>
          <li> <a href="../../html/uisheji/ai.html">AI应用班</a> </li>
          <li> <a href="../../html/uisheji/chanpinjl.html">产品经理班</a> </li>
          <li> <a href="../../html/uisheji/c4d.html">C4D应用班</a> </li>
        </ul>
      </li>
      <li> <a href="#">建筑表现课程</a>
        <ul>
          <li> <a href="../../html/jianzhu/jzqk.html">建筑表现全科班</a> </li>
          <li> <a href="../../html/jianzhu/3dmax.html">3DMAX应用班</a> </li>
          <li> <a href="../../html/jianzhu/jianzhumoxing.html">建筑模型特训班</a> </li>
          <li> <a href="../../html/jianzhu/jzxuanran.html">建筑渲染特训班</a> </li>
          <li> <a href="../../html/jianzhu/jzdh.html">建筑动画特训班</a> </li>
          <li> <a href="../../html/jianzhu/3ddonghua.html">三维动画特训班</a> </li>
          <li> <a href="../../html/jianzhu/xgt.html">效果图特训班</a> </li>
        </ul>
      </li>
      <li> <a href="#">VR游戏课程</a>
        <ul>
          <li> <a href="../../html/youxi/yxquanke.html">VR游戏全科班</a> </li>
          <li> <a href="../../html/youxi/youximeishu.html">3D游戏美术班</a> </li>
          <li> <a href="../../html/youxi/youxiyuanhua.html">游戏原画设计班</a> </li>
          <li> <a href="../../html/youxi/yxtx.html">游戏动作特效班</a> </li>
          <li> <a href="../../html/youxi/vr.html">VR技术特训班</a> </li>
          <li> <a href="../../html/youxi/yxcehua.html">游戏策划班</a> </li>
        </ul>
      </li>
      <li> <a href="#">BIM应用课程</a>
        <ul>
          <li> <a href="../../html/bim/bim.html">BIM应用全科班</a> </li>
          <li> <a href="../../html/bim/revit.html">Revit应用班</a> </li>
          <li> <a href="../../html/bim/lumion.html">Lumion应用班</a> </li>
        </ul>
      </li>
      <li> <a href="#">影视后期课程</a>
        <ul>
          <li> <a href="../../html/yingshi/yingshidh.html">影视动画大师班</a> </li>
          <li> <a href="../../html/yingshi/AE.html">AE影视后期大师班</a> </li>
          <li> <a href="../../html/yingshi/jianji.html">影视后期剪辑大师班</a> </li>
        </ul>
      </li>
      <li> <a href="../../html/mingshi/mingshi.html">业界名师</a> </li>
      <li> <a href="../../html/xszp/xszp.html">学生作品</a> </li>
      <li> <a href="#">报名入口</a>
        <ul>
          <li> <a href="../../html/bmrk/slxf.html">丝路学费</a> </li>
          <li> <a href="../../html/bmrk/xgcs.html">性格测试</a> </li>
          <li> <a href="../../html/bmrk/mfst.html">免费试听</a> </li>
          <li> <a href="../../html/bmrk/zxbm.html">在线报名</a> </li>
        </ul>
      </li>
      <li> <a href="../../html/contact/contact.html">联系我们</a> </li>
    </ul>
  </nav>
</div>
<script type="text/javascript">
	$(document).ready(function(){
		$('nav#menu').mmenu();
		$("#menu").css("visibility","visible");
	});
</script> 
<!--导航结束-->

<div style=" width:100%;"><a onclick="doyoo.util.openChat('g=10075108');return false;"><img src="../../img/jingjiadt/shineiqk/banner.jpg" style=" width:100%;margin-top: 0.32rem;display: block;"></a></div>
<style>
.icon{ width:90%; margin:0 auto 0 auto; background:#fff;}
.icon li{ float:left; width:28%; text-align:center;color:#f28024; margin-left:4%; margin-top:20px; font-size:3.5vw;}
</style>
<div style="padding:8% 0;">
  <div style=" font-size:6vw;line-height: 6vw; color:#323232;margin-bottom: 2%; text-align:center;"> 丝路学习，六大保障 </div>
  <ul class="icon">
    <li>
      <p><img src="../../img/jingjiadt/shineiqk/icon01.png?v=1587519579162" style=" width:100%;"></p>
      <p>免费试听</p>
    </li>
    <li>
      <p><img src="../../img/jingjiadt/shineiqk/icon06.png?v=1587519579162" style=" width:100%;"></p>
      <p>名企定向就业</p>
    </li>
    <li>
      <p><img src="../../img/jingjiadt/shineiqk/icon03.png?v=1587519579162" style=" width:100%;"></p>
      <p>全程名师面授</p>
    </li>
    <li>
      <p><img src="../../img/jingjiadt/shineiqk/icon02.png?v=1587519579162" style=" width:100%;"></p>
      <p>先学习，后付款</p>
    </li>
    <li>
      <p><img src="../../img/jingjiadt/shineiqk/icon05.png?v=1587519579162" style=" width:100%;"></p>
      <p>企业项目实训</p>
    </li>
    <li>
      <p><img src="../../img/jingjiadt/shineiqk/icon04.png?v=1587519579162" style=" width:100%;"></p>
      <p>案例教学</p>
    </li>
    <div class="c"></div>
  </ul>
</div>
<div style=" background:url(../../img/jingjiadt/shineiqk/bj02.jpg) no-repeat center top; background-size:120%; padding:8% 0;">
  <div style=" font-size:6.5vw; color:#404040; text-align:center;">简历写的牛, 不如作品更直观</div>
  <div style=" width:100%; padding-top:20px;"><a onclick="doyoo.util.openChat('g=10075108');return false;"><img src="../../img/jingjiadt/shineiqk/images01.jpg" style=" width:100%;"></a></div>
  <a onclick="doyoo.util.openChat('g=10075108');return false;?v=1587519579162">
  <div style=" width:50%; margin:0 25%; background:#f64f4f; margin-top:20px; color:#fff; font-size:5vw; text-align:center; padding:10px 0; font-weight:bold;">查看更多学员作品</div>
  </a> </div>
<div style=" background:#f8f8f8; padding:20px 0;">
  <div style=" font-size:6vw; color:#404040; text-align:center; margin-top:20px;">定制化“阶段性快速提升”</div>
  <style>
.icon22{ width:96%; margin:0 2%; background:#f8f8f8;}
.icon22 li{ float:left; width:40%; text-align:center;color:#f28024; margin-left:6%; font-size:4vw;}
</style>
  <a onclick="doyoo.util.openChat('g=10075108');return false;?v=1587519579162">
  <ul class="icon22">
    <li>
      <p><img src="../../img/jingjiadt/shineiqk/01.jpg?v=1587519579162" style=" width:100%;"></p>
      <p>零基础小白</p>
      <p>一线设计师1对1教你</p>
    </li>
    <li>
      <p><img src="../../img/jingjiadt/shineiqk/02.jpg?v=1587519579162" style=" width:100%;"></p>
      <p>在校学生</p>
      <p>理论大于技能</p>
      <p>毕业无门</p>
    </li>
    <li>
      <p><img src="../../img/jingjiadt/shineiqk/03.jpg?v=1587519579162" style=" width:100%;"></p>
      <p>想转行</p>
      <p>专业不对口</p>
      <p>转行就业难</p>
    </li>
    <li>
      <p><img src="../../img/jingjiadt/shineiqk/04.jpg?v=1587519579162" style=" width:100%;"></p>
      <p>上升瓶颈</p>
      <p>工作遇到瓶颈</p>
      <p>不想停滞不前</p>
    </li>
  </ul>
  </a>
  <div class="c"></div>
</div>
<style>
/*表单按钮*/	
.btn{background: #f64f4f;color: #fff;font-size: 4.5vw;font-weight: bold;}
</style>
<!--表单1-->
<div class="part-box part-form" style="background: url(../../img/jingjiadt/shineiqk/bdbj1.jpg) center no-repeat;background-size: 100%;?v=1587519579162">
  <div class="titlebox">
    <h1 style="color: #333;font-weight: bold;">0元免费试学，仅剩20个名额</h1>
  </div>
  <form id="subInfoForm1" enctype="multipart/form-data" method="post" action="http://47.110.235.105:8080/slweb/Webs/subInfo.shtml?v=1587519579162">
	<input type="hidden" name="url" value="shineiqkdt-wap.html" />
	<input type="text" name='userName' id='userName' onchange="checkName();" placeholder="我们怎么称呼您" class="infor">
	<input type="text" name='phoneNum' id='student_phone' placeholder="请输入正确的手机号" required  pattern="[0-9]{11}" onChange="checkPhone()" class="infor">
	<input type="submit" value="确认提交" class="btn">                            
  </form>
</div>
<style>
	.qiangxian td{text-align: center;}
</style>
<div style=" font-size:7vw; color:#323232; text-align:center; margin-top:35px;" >抢先一步，胜人一筹</div>
<div style=" width:96%; margin:20px 2%; text-align:center;">
  <table width="100%" border="0" align="center" style.color="#fff" style="font-size:16px; ">
    <tbody class="qiangxian">
      <tr width="40%" style="border-bottom:#fff 1px solid;" bgcolor="#323232" >
        <td height="80%" align="center" valign="middle" bgcolor="#323232" style="border-right:#fff 1px solid;"><font style=" color:#FFF;">职业</font></td>
        <td align="center" valign="middle" style="border-right:#fff 1px solid;"><font style=" color:#FFF;">年薪/元</font></td>
        <td align="center" valign="middle" bgcolor="#323232"><font style=" color:#FFF;">就业方向</font></td>
      </tr>
      <tr width="20%" style="border-bottom:#fff 1px solid;" bgcolor="#a4a4a4">
        <td  height="80%" align="center" valign="middle" style="border-right:#fff 1px solid;" ><font style=" color:#FFF;">一般教育<br/>
          机构绘图员</font></td>
        <td align="center" valign="middle" style="border-right:#fff 1px solid;"><font style=" color:#FFF;">40000+</font></td>
        <td align="center" valign="middle" ><font style=" color:#FFF;">家居设计、装饰公司</font></td>
      </tr>
      <tr width="40%" style="border-bottom:#fff 1px solid;" bgcolor="#f33e14" >
        <td height="80%" align="center" valign="middle" style="border-right:#fff 1px solid;"><font style=" color:#FFF;">丝路教育<br/>
          室内表现<br/>
          设计师</font></td>
        <td align="center" valign="middle" style="border-right:#fff 1px solid;"><font style=" color:#FFF;">100000+</font></td>
        <td align="center" valign="middle" ><font style=" color:#FFF;">展览展示，装饰公司，房地产，影视机构</font></td>
      </tr>
    </tbody>
  </table>
</div>
<div style=" font-size:7vw; color:#404040; text-align:center; margin-top:35px;">室内效果全景图 </div>
<div style=" font-size:4vw; color:#565656; padding-bottom:20px; padding-top:10px;text-align:center;">360°漫游，全方位观赏，体验真实家装</div>
<div style=" width:100%;">
  <div style=" width:20%; float:left;"><img src="../../img/jingjiadt/shineiqk/images03.jpg" style=" width:100%;" ></div>
  <div style=" width:60%; float:left; margin-top:5px;"><img src="../../img/jingjiadt/shineiqk/vr.gif" style=" width:100%;" ></div>
  <div style=" width:20%; float:left;"><img src="../../img/jingjiadt/shineiqk/images04.jpg" style=" width:100%;" ></div>
  <div class="c"></div>
  <a onclick="doyoo.util.openChat('g=10075108');return false;?v=1587519579162">
  <div style=" width:60%; margin:0 20%; background:#f64f4f; margin-top:20px; color:#fff; font-size:5vw; text-align:center; padding:10px 0; font-weight:bold;">点击查看更多学员作品</div>
  </a> </div>
<div style=" font-size:6.5vw; color:#404040; text-align:center; margin-top:60px;">“名企定制班” 实现薪可能</div>
<div style=" font-size:3.6vw; color:#565656; padding-bottom:10px; padding-top:10px;text-align:center;">前学院后企业 / 定制培养人才/参与项目实训 / 直接进丝路</div>
<div style=" width:100%; padding-top:20px;"><a onclick="doyoo.util.openChat('g=10075108');return false;"><img src="../../img/jingjiadt/shineiqk/images05.jpg" style=" width:100%;"></a></div>
<div onclick="doyoo.util.openChat('g=10075108');return false;?v=1587519579162" style=" width:50%; margin:0 25%; background:#f64f4f; margin-top:20px; color:#fff; font-size:5vw; text-align:center; padding:10px 0; font-weight:bold;">我要咨询定制课程</div>
<div style=" font-size:6vw; color:#404040; text-align:center; margin-top:60px;">丝路室内设计课程，“独创大手笔”</div>
<div style=" font-size:3vw; color:#565656; padding-bottom:10px; padding-top:10px;text-align:center;">紧跟行业需求  加入VR+新技术 培养高端室内设计公司紧缺型VR人才</div>
<div style=" background:url(../../img/jingjiadt/shineiqk/cad-bj.jpg) no-repeat center top; background-size:120%; padding:40px 0;">
  <div style=" width:60%; float:left; height:64px; margin-left:2%;background:#FFF;">
    <div style=" width:30%; float:left;"><img src="../../img/jingjiadt/shineiqk/cad01.jpg" style=" width:100%;"></div>
    <div style="float:left; font-size:4vw; padding-top:8%; padding-left:3%;" >AutoCAD基础</div>
    <div class="c"></div>
  </div>
  <div class="c"></div>
  <div style=" width:60%; float:left; height:64px; margin-left:2%; margin-top:10px;background:#FFF;">
    <div style=" width:30%; float:left;"><img src="../../img/jingjiadt/shineiqk/cad02.jpg" style=" width:100%;"></div>
    <div style=" float:left; font-size:4vw; padding-top:8%; padding-left:3%;" >AutoCAD施工图基础</div>
    <div class="c"></div>
  </div>
  <div class="c"></div>
  <div style=" width:60%; float:left; height:64px; margin-left:2%; margin-top:10px;background:#FFF;">
    <div style=" width:30%; float:left;"><img src="../../img/jingjiadt/shineiqk/cad03.jpg" style=" width:100%;"></div>
    <div style=" float:left; font-size:4vw; padding-top:8%; padding-left:3%;" >AutoCAD施工图进阶</div>
    <div class="c"></div>
  </div>
  <div class="c"></div>
  <div style=" width:60%; float:left; height:64px; margin-left:2%; margin-top:10px;background:#FFF;">
    <div style=" width:30%; float:left;"><img src="../../img/jingjiadt/shineiqk/cad04.jpg" style=" width:100%;"></div>
    <div style="  float:left; font-size:4vw; padding-top:8%; padding-left:3%;" >AutoCAD施工图高级</div>
    <div class="c"></div>
  </div>
  <div class="c"></div>
</div>
<div style=" background:url(../../img/jingjiadt/shineiqk/bj03.jpg) no-repeat center top; background-size:120%; padding:40px 0;">
  <div style=" width:60%; float:right; height:64px; margin-right:2%;background:#FFF;">
    <div style=" width:30%; float:left;"><img src="../../img/jingjiadt/shineiqk/bb01.jpg" style=" width:100%;"></div>
    <div style=" float:left; font-size:4vw; padding-top:8%; padding-left:3%;" >3DSMAX基础（1）</div>
    <div class="c"></div>
  </div>
  <div class="c"></div>
  <div style=" width:60%; float:right; height:64px; margin-right:2%; margin-top:10px;background:#FFF;">
    <div style=" width:30%; float:left;"><img src="../../img/jingjiadt/shineiqk/bb02.jpg" style=" width:100%;"></div>
    <div style=" float:left; font-size:4vw; padding-top:8%; padding-left:3%;" >3DSMAX基础（2）</div>
    <div class="c"></div>
  </div>
  <div class="c"></div>
  <div style=" width:60%; float:right; height:64px; margin-right:2%; margin-top:10px;background:#FFF;">
    <div style=" width:30%; float:left;"><img src="../../img/jingjiadt/shineiqk/bb03.jpg" style=" width:100%;"></div>
    <div style=" float:left; font-size:4vw; padding-top:8%; padding-left:3%;" >简单客厅设计</div>
    <div class="c"></div>
  </div>
  <div class="c"></div>
  <div style=" width:60%; float:right; height:64px; margin-right:2%; margin-top:10px;background:#FFF;">
    <div style=" width:30%; float:left;"><img src="../../img/jingjiadt/shineiqk/bb04.jpg" style=" width:100%;"></div>
    <div style=" float:left; font-size:4vw; padding-top:8; padding-left:3%;" >四室两厅设计</div>
    <div class="c"></div>
  </div>
  <div class="c"></div>
</div>
<div style=" background:url(../../img/jingjiadt/shineiqk/bj04.jpg) no-repeat center top; background-size:120%; padding:40px 0;">
  <div style=" width:60%; float:left; height:64px; margin-left:2%;background:#FFF;">
    <div style=" width:30%; float:left;"><img src="../../img/jingjiadt/shineiqk/bb05.jpg" style=" width:100%;"></div>
    <div style=" float:left; font-size:4vw; padding-top:8%; padding-left:3%;" >顾家家居设计</div>
    <div class="c"></div>
  </div>
  <div class="c"></div>
  <div style=" width:60%; float:left; height:64px; margin-left:2%; margin-top:10px;background:#FFF;">
    <div style=" width:30%; float:left;"><img src="../../img/jingjiadt/shineiqk/bb06.jpg" style=" width:100%;"></div>
    <div style=" float:left; font-size:4vw; padding-top:8%; padding-left:3%;" >欧式大堂设计</div>
    <div class="c"></div>
  </div>
  <div class="c"></div>
  <div style=" width:60%; float:left; height:64px; margin-left:2%; margin-top:10px;background:#FFF;">
    <div style=" width:30%; float:left;"><img src="../../img/jingjiadt/shineiqk/bb07.jpg" style=" width:100%;"></div>
    <div style=" float:left; font-size:4vw;padding-top:8%; padding-left:3%;" >公装会所设计</div>
    <div class="c"></div>
  </div>
  <div class="c"></div>
  <div style=" width:60%; float:left; height:64px; margin-left:2%; margin-top:10px;background:#FFF;">
    <div style=" width:30%; float:left;"><img src="../../img/jingjiadt/shineiqk/bb08.jpg" style=" width:100%;"></div>
    <div style=" float:left; font-size:4vw; padding-top:8%; padding-left:3%;" >清晨渲染</div>
    <div class="c"></div>
  </div>
  <div class="c"></div>
</div>
<div style=" background:url(../../img/jingjiadt/shineiqk/bj05.jpg) no-repeat center top; background-size:120%; padding:40px 0;">
  <div style=" width:60%; float:right; height:64px; margin-right:2%;background:#FFF;">
    <div style=" width:30%; float:left;"><img src="../../img/jingjiadt/shineiqk/bb09.jpg" style=" width:100%;"></div>
    <div style=" float:left; font-size:4vw; padding-top:8%; padding-left:3%;" >露台渲染</div>
    <div class="c"></div>
  </div>
  <div class="c"></div>
  <div style=" width:60%; float:right; height:64px; margin-right:2%; margin-top:10px;background:#FFF;">
    <div style=" width:30%; float:left;"><img src="../../img/jingjiadt/shineiqk/bb10.jpg" style=" width:100%;"></div>
    <div style=" float:left; font-size:4vw; padding-top:8%; padding-left:3%;" >茶壶灯光材质渲染</div>
    <div class="c"></div>
  </div>
  <div class="c"></div>
  <div style=" width:60%; float:right; height:64px; margin-right:2%; margin-top:10px;background:#FFF;">
    <div style=" width:30%; float:left;"><img src="../../img/jingjiadt/shineiqk/bb11.jpg" style=" width:100%;"></div>
    <div style=" float:left; font-size:4vw; padding-top:8%; padding-left:3%;" >衰减</div>
    <div class="c"></div>
  </div>
  <div class="c"></div>
  <div style=" width:60%; float:right; height:64px; margin-right:2%; margin-top:10px;background:#FFF;">
    <div style=" width:30%; float:left;"><img src="../../img/jingjiadt/shineiqk/bb12.jpg" style=" width:100%;"></div>
    <div style=" float:left; font-size:4vw; padding-top:8%; padding-left:3%;" >
      <p>Loft室内</p>
      <p>阳光表现技法 </p>
    </div>
    <div class="c"></div>
  </div>
  <div class="c"></div>
</div>
<div style=" background:url(../../img/jingjiadt/shineiqk/bj06.jpg) no-repeat center top; background-size:130%; padding:22px 0;">
  <div style=" width:60%; float:left; height:64px; margin-left:2%;background:#FFF;">
    <div style=" width:30%; float:left;"><img src="../../img/jingjiadt/shineiqk/bb13.jpg" style=" width:100%;"></div>
    <div style=" float:left; font-size:4vw;padding-top:8%; padding-left:3%;" >
      <p>客厅、书房设计</p>
      <p>(线性工作流）</p>
    </div>
    <div class="c"></div>
  </div>
  <div class="c"></div>
  <div style=" width:60%; float:left; height:64px; margin-left:2%; margin-top:10px;background:#FFF;">
    <div style=" width:30%; float:left;"><img src="../../img/jingjiadt/shineiqk/bb14.jpg" style=" width:100%;"></div>
    <div style=" float:left; font-size:4vw; padding-top:8%; padding-left:3%;" >欧式大堂设计</div>
    <div class="c"></div>
  </div>
  <div class="c"></div>
  <div style=" width:60%; float:left; height:64px; margin-left:2%; margin-top:10px;background:#FFF;">
    <div style=" width:30%; float:left;"><img src="../../img/jingjiadt/shineiqk/bb15.jpg" style=" width:100%;"></div>
    <div style=" float:left; font-size:4vw; padding-top:8%; padding-left:3%;" >
      <p>DWP设计—苏州项目</p>
    </div>
    <div class="c"></div>
  </div>
  <div class="c"></div>
  <div style=" width:60%; float:left; height:64px; margin-left:2%; margin-top:10px;background:#FFF;">
    <div style=" width:30%; float:left;"><img src="../../img/jingjiadt/shineiqk/bb16.jpg" style=" width:100%;"></div>
    <div style=" float:left; font-size:4vw;padding-top:8%; padding-left:3%;" >360室内效果全景图</div>
    <div class="c"></div>
  </div>
  <div class="c"></div>
  <div style=" width:60%; float:left; height:64px; margin-left:2%; margin-top:10px;background:#FFF;">
    <div style=" width:30%; float:left;"><img src="../../img/jingjiadt/shineiqk/bb17.jpg" style=" width:100%;"></div>
    <div style=" float:left; font-size:4vw; padding-top:8%; padding-left:3%;" >VR虚拟现实</div>
    <div class="c"></div>
  </div>
  <div class="c"></div>
</div>
<div onclick="doyoo.util.openChat('g=10075108');return false;?v=1587519579162" style=" width:50%; margin:8% auto; background:#f64f4f; margin-top:20px; color:#fff; font-size:5vw; text-align:center; padding:10px 0; font-weight:bold;">申请免费试听</div>

<!--总监-->
<div style=" width:100%; background:#323232; padding:20px 0;color:#fff;">
  <div style=" font-size:7vw; margin:0 2%; color:#fff; text-align:center;">丝路总监大咖教学助阵</div>
  <div style=" font-size:3.2vw; color:#fff; line-height:10px; text-align:center;">
    <p>真实企业项目实训，4个阶段=1年工作经验</p>
  </div>
  <style>
.icon3{ width:96%; margin:20px 2%; }
.icon3 li{ float:left; width:30%; text-align:center;margin-left:2.5%; }
.icon3 li p{ color:#fff; font-size:4vw}
</style>
  <ul class="icon3">
    <li>
      <p><img src="../../img/jingjiadt/shineiqk/ls05.jpg?v=1587519579162" style=" width:100%;"></p>
      <p>吴伟坚</p>
      <p>丝路数字视觉</p>
      <p>展览展示总监</p>
    </li>
    <li>
      <p><img src="../../img/jingjiadt/shineiqk/ls04.jpg?v=1587519579162" style=" width:100%;"></p>
      <p>罗晓白</p>
      <p>丝路数字视觉</p>
      <p>集团艺术总监</p>
    </li>
    <li>
      <p><img src="../../img/jingjiadt/shineiqk/ls02.jpg?v=1587519579162" style=" width:100%;"></p>
      <p>黄宏刚</p>
      <p>丝路数字视觉</p>
      <p>运营制作总监</p>
    </li>
  </ul>
  <div class="c"></div>
</div>
<div style=" font-size:6vw; text-align:center;color:#404040; line-height:35px; margin-top:35px; ">
  <p>辅导面试技巧</p>
  <p>解决学员就业难问题</p>
</div>
<div style=" width:96%; margin-left:2%; padding-top:20px;">
  <p><img src="../../img/jingjiadt/shineiqk/images06.jpg?v=1587519579162" style=" width:100%;"></p>
</div>
<div onclick="doyoo.util.openChat('g=10075108');return false;?v=1587519579162" style=" width:60%; margin:20px 20% 30px 20%; background:#f64f4f;color:#fff; font-size:5vw; text-align:center; padding:10px 0; font-weight:bold;">咨询课程具体内容</div>

<!--表单2-->
<div class="part-box part-form" style="background: url(../../img/jingjiadt/shineiqk/bdbj2.jpg) center no-repeat;background-size: 100%; margin-bottom: 10vw;?v=1587519579162">
  <div class="titlebox">
    <h1 style="font-weight: bold;">预约7天免费试听</h1>
  </div>
  <form id="subInfoForm2" enctype="multipart/form-data" method="post" action="http://47.110.235.105:8080/slweb/Webs/subInfo.shtml?v=1587519579162">
	<input type="hidden" name="url" value="shineiqkdt-wap.html" />
	<input type="text" name='userName' id='userName' required onchange="checkName();" placeholder="我们怎么称呼您" class="infor">
	<input type="text" name='phoneNum' id='student_phone' placeholder="请输入正确的手机号" required  pattern="[0-9]{11}" onChange="checkPhone()" class="infor">
	<input type="submit" value="确认提交" class="btn">                            
  </form>
</div>
	
	<!-- end footer -->    
   <style>
	.dbdh-box{width: 100%;background:#1b2129;border-top:0.1vw solid #000;}
	.dbdh-ms a{ color:#FFF;}
	.dbdh-ms{width:24.9%;line-height: 10vw;font-size: 4vw;text-align: center;color: #fff;float: left;border-right: 0.1vw solid #000;}
</style>
<div style="position:fixed;left: 0;bottom: 0;width: 100%;">
<div class="dbdh-box">
	<div class="dbdh-ms"><a onclick="doyoo.util.openChat('g=10075108');return false;?v=1587519579162">课程咨询</a></div>
	<div class="dbdh-ms"><a onclick="doyoo.util.openChat('g=10075108');return false;?v=1587519579162">申请奖学金</a></div>
	<div class="dbdh-ms"><a href="http://m.silucg.com/html/contact/contact.html">查看地图</a></div>
	<div class="dbdh-ms" style="border-right: none;"><a onclick="doyoo.util.openChat('g=10075108');return false;?v=1587519579162">电话咨询</a></div>
</div>
<div style="background:#1b2129;text-align: center; font-size: 3vw;color: #b8b8b8;line-height:5vw;">本网站版权归丝路视觉科技股份有限公司所有，盗用必究
</div>
</div> 	
	
	
<script>
	$('#subInfoForm1').submit(function(){
		$(this).ajaxSubmit(function(){
			alert('提交成功')
		});
		return false;
	});
	$('#subInfoForm2').submit(function(){
		$(this).ajaxSubmit(function(){
			alert('提交成功')
		});
		return false;
	});
</script>

<!--乐语系统--> 
<script type="text/javascript" charset="utf-8" src="http://lead.soperson.com/20002985/10086210.js"></script> 

<!--统计工具：CNZZ-->
<div style="font-size: 0.1rem;?v=1587519579162"> 
  <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? "https://" : "http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1276821672'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s23.cnzz.com/z_stat.php%3Fid%3D1276821672%26show%3Dpic' type='text/javascript'%3E%3C/script%3E?v=1587519579162"));</script> 
</div>

<!--百度呼--> 
<script>
var _hmt = _hmt || []; (function() { var hm = document.createElement("script"); hm.src = "https://hm.baidu.com/hm.js?57448cbcd9efb5a61b8ba648ba49f3e2"; var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(hm, s); })(); 
</script> 
<script type="text/javascript" charset="utf-8" async src="http://lxbjs.baidu.com/lxb.js?sid=8881824"></script>
</body>
</html>
