<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
<script>
    (function flexible(window, document) {
        var docEl = document.documentElement
        var dpr = window.devicePixelRatio || 1

        // adjust body font size
        function setBodyFontSize() {
            if (document.body) {
                document.body.style.fontSize = (12 * dpr) + 'px'
            } else {
                document.addEventListener('DOMContentLoaded', setBodyFontSize)
            }
        }
        setBodyFontSize();

        // set 1rem = viewWidth / 10
        function setRemUnit() {
            var rem = docEl.clientWidth / 10
            docEl.style.fontSize = rem + 'px'
        }

        setRemUnit()

        // reset rem unit on page resize
        window.addEventListener('resize', setRemUnit)
        window.addEventListener('pageshow', function(e) {
            if (e.persisted) {
                setRemUnit()
            }
        })

        // detect 0.5px supports
        if (dpr >= 2) {
            var fakeBody = document.createElement('body')
            var testElement = document.createElement('div')
            testElement.style.border = '.5px solid transparent'
            fakeBody.appendChild(testElement)
            docEl.appendChild(fakeBody)
            if (testElement.offsetHeight === 1) {
                docEl.classList.add('hairlines')
            }
            docEl.removeChild(fakeBody)
        }
    }(window, document))
</script>
    <title>VR游戏全科培训|VR游戏软件培训|VR游戏培训全科班</title>
    <link rel="stylesheet" href="/assets/js/plugs/vide-7.4.1/css/video-js.min.css?v=1592537531003">
<link rel="stylesheet" href="/assets/js/plugs/picViewer/picViewer.css?v=1592537531003">
<link rel="stylesheet" href="/assets/js/plugs/swiper-3.4.0/swiper-3.4.2.min.css?v=1592537531003">
    <link rel="stylesheet" href="/assets/css/jingjiadt/public.css?v=1592537531003">

    <!--menu-->
    <link rel="stylesheet" href="/assets/css/jingjiadt/yxtx.css?v=1592537531003">

</head>

<body>
    <div class="header">
    <div class="header-tp" id="header-tp">
        <div class="header-menu"></div>
        <ul class="header-menu-list">
            <li class="header-menu-first">
                <a href="/index.html" style="color: #fff;">首页</a>
            </li>
            <li class="header-menu-first arrow-right">
     影视视效课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/yingshi/ysqn.html">影视视效全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ystx.html">特效合成大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ysjj.html">剪辑包装创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ysdh.html">影视动画精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/c4d.html">C4D特效大师班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
     游戏视觉课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/youxi/yxqn.html">游戏视觉全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxyh.html">游戏原画创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxms.html">3D美术精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxrj.html">游戏软件精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxtx.html">动作特效精英班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
     室内设计课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/shinei/snqk.html">APEC室内设计全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/cad.html">CAD制图大师班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snrz.html">室内软装精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snsh.html">室内手绘创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snxgt.html">室内效果图精英班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
     U X 全栈课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/ui/uiqn.html">UX全栈视效全能班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/psds.html">Photoshop大师班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/pmsj.html">品牌视觉创意班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/dsmg.html">
                电商美工精英班
            </a></li>
        <li class="header-menu-second">
            <a href="/ui/wysj.html">全链路设计精英班
            </a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
     建筑视效课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/jianzhu/jzsx.html">建筑视效全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/3dsMax.html">3ds MAX大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/3djm.html"> 3D建模精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/xrys.html">渲染艺术精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/jzxgt.html"> 建筑效果图精英班 </a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
     BIM应用课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/bim/bimqn.html">BIM应用全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/bimkz.html">BIM考证精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/revitds.html">Revit大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/lumion.html">Lumion大师班</a>
        </li>
    </ul>
</li>
            <li class="header-menu-first">
                <a href="/home/studentworks.html" style="color: #fff;">学员作品</a>
            </li>
            <li class="header-menu-first">
                <a href="/home/onlinebao.html" style="color: #fff;">在线报名</a>
            </li>
            <li class="header-menu-first">
                <a href="/home/contactus.html" style="color: #fff;">联系我们</a>
            </li>

        </ul>
        <div class="header-logo"></div>
        <div class="header-phone"></div>
    </div>
    <div class="header-nav">
        <ul class="header-nav-wrap">
            <li class="header-nav-first header-nav-active">
                <a href="/index.html">首页</a>
            </li>
            <li class="header-nav-first" id="header-nav-first-course">课程
                <span class="arrow-down"></span>
                <ul class="header-nav-course">
                    <li class="header-menu-first arrow-right">
      影视视效 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/yingshi/ysqn.html">影视视效全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ystx.html">特效合成大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ysjj.html">剪辑包装创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ysdh.html">影视动画精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/c4d.html">C4D特效大师班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
      游戏视觉 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/youxi/yxqn.html">游戏视觉全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxyh.html">游戏原画创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxms.html">3D美术精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxrj.html">游戏软件精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxtx.html">动作特效精英班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
      室内设计 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/shinei/snqk.html">APEC室内设计全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/cad.html">CAD制图大师班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snrz.html">室内软装精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snsh.html">室内手绘创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snxgt.html">室内效果图精英班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
      UX 全栈 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/ui/uiqn.html">UX全栈视效全能班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/psds.html">Photoshop大师班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/pmsj.html">品牌视觉创意班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/dsmg.html">
                电商美工精英班
            </a></li>
        <li class="header-menu-second">
            <a href="/ui/wysj.html">全链路设计精英班
            </a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
      建筑视效 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/jianzhu/jzsx.html">建筑视效全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/3dsMax.html">3ds MAX大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/3djm.html"> 3D建模精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/xrys.html">渲染艺术精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/jzxgt.html"> 建筑效果图精英班 </a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
      BIM应用 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/bim/bimqn.html">BIM应用全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/bimkz.html">BIM考证精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/revitds.html">Revit大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/lumion.html">Lumion大师班</a>
        </li>
    </ul>
</li>
                </ul>
            </li>
            <li class="header-nav-first">
                <a href="/home/famousteacher.html">名师</a>
            </li>
            <li class="header-nav-first">
                <a href="/home/obtain.html">就业</a>
            </li>
            <li class="header-nav-first">
                <a href="/home/about.html">关于丝路</a>
            </li>
        </ul>
    </div>
</div>
<div class="header-mask" id="header-mask"></div>




    <!--公用-->
    <style>
        body {
            margin: 0;
        }
        
        .bim * {
            font-family: "Microsoft YaHei", PingFangSC-Mediu, SimSun, Arial, Helvetica;
            color: #323232;
            font-size: 4vw;
            line-height: 4vw;
            margin: 0;
            padding: 0;
            box-shadow: none;
        }
        
        .uibox {
            padding: 10% 0;
        }
        
        .uinrk {
            width: 90%;
            margin: 0 auto;
        }
        
        .uibt {
            text-align: center;
            font-size: 6vw;
            line-height: 8vw;
            margin-bottom: 6%;
        }
        
        .ui img {
            display: block;
        }
        
        h1,
        h2 {
            font-weight: normal;
        }
        
        a {
            text-decoration: none;
            cursor: pointer;
        }
        
        .clearfix {
            clear: both;
        }
        
        .anniu {
            color: #fff;
            text-align: center;
            line-height: 12vw;
            border-radius: 6vw;
            font-size: 4.5vw;
            margin: 0 auto;
            background: #ff6700;
        }
        
        .line {
            background: #dcdcdc;
            width: 95%;
            height: 0.2vw;
            margin: 0 auto;
            margin-top: 4vw;
            margin-bottom: 4vw;
        }
        
        .anniubox {
            margin: 0 auto;
            padding-top: 6vw;
            width: 80%;
        }
    </style>
    <div class="ui">

        <!--banner-->
        <div>
            <a class="doyoo-btn"><img src="/assets/images/jingjiadt/vryouxi/banner.png?v=1592537531003" style="width: 100%;margin-top: 20%;"></a>
        </div>

        <!--人群-->
        <section style="padding: 14% 0;">
            <div class="uinrk">
                <h1 class="uibt">哪些人群适合学习VR游戏设计？</h1>
                <img src="/assets/images/jingjiadt/vryouxi/renqun1.png?v=1592537531003" style="width: 100%">
                <div class="line"></div>
                <img src="/assets/images/jingjiadt/vryouxi/renqun2.png?v=1592537531003" style="width: 100%">
                <div class="line"></div>
                <img src="/assets/images/jingjiadt/vryouxi/renqun3.png?v=1592537531003" style="width: 100%">
                <div class="line"></div>
                <img src="/assets/images/jingjiadt/vryouxi/renqun4.png?v=1592537531003" style="width: 100%">
                <div class="anniubox">
                    <a class="doyoo-btn"><img src="/assets/images/jingjiadt/vryouxi/anniu1.png?v=1592537531003" style="margin: 0 auto;width: 80%;"></a>
                </div>
            </div>
        </section>

        <!--美术基础-->
        <section style="background: #f8f7fc; padding-top: 10%;padding-bottom: 10%;">
            <h1 class="uibt">没有美术/编程基础<br/>也能学VR游戏设计吗？</h1>
            <a class="doyoo-btn"><img src="/assets/images/jingjiadt/vryouxi/meishu1.png?v=1592537531003" style="width: 100%; padding-bottom: 2%;"></a>
            <a class="doyoo-btn"><img src="/assets/images/jingjiadt/vryouxi/meishu2.png?v=1592537531003" style="width: 100%;"></a>
        </section>

        <!--薪资-->
        <section class="uibox" style="background: url(/assets/images/jingjiadt/vryouxi/xinzi-bj.jpg) no-repeat center;background-size: 100%;?v=1592537531003">
            <h1 class="uibt" style="color: #fff;">游戏行业迎来黄金时期<br/>领域人才薪资高升职稳</h1>
            <!--<p style="text-align: center;font-size: 5vw;color: #fff;padding-bottom: 5vw;">视觉创意人才亟待补缺</p>-->
            <a class="doyoo-btn"><img src="/assets/images/jingjiadt/vryouxi/xinzi1.png?v=1592537531003" style="width: 100%;"></a>
            <p style="text-align: center;font-size: 3vw;color: #fff;padding-bottom: 5vw;line-height: 5vw;">全国56家大中型招聘网站，<br/> 单日发布了30000+条与VR游戏设计相关的招聘信息
            </p>
        </section>

        <!--薪资-->
        <section class="uibox">
            <h1 class="uibt">游戏人才好择业，薪资水涨船高</h1>
            <img src="/assets/images/jingjiadt/vryouxi/xinzi.png?v=1592537531003" style="width: 96%; padding-bottom: 2vw; margin: 0 auto;">
            <div class="anniubox">
                <a class="doyoo-btn"><img src="/assets/images/jingjiadt/vryouxi/anniu2.png?v=1592537531003" style="margin: 0 auto;width: 65%;"></a>
            </div>
        </section>




        <!--软件-->
        <section class="uibox">
            <h1 class="uibt">游戏设计软件全掌握<br/>让你“小白”变“老兵”</h1>
            <img src="/assets/images/jingjiadt/vryouxi/ruanjian1.png?v=1592537531003" style="width: 100%; padding-bottom: 2vw;">
            <!--		<img src="/assets/images/jingjiadt/vryouxi/ruanjian2.png?v=1592537531003" style="width: 100%; " >-->
            <div class="anniubox">
                <a class="doyoo-btn"><img src="/assets/images/jingjiadt/vryouxi/anniu3.png?v=1592537531003" style="margin: 0 auto; width: 80%; "></a>
            </div>
        </section>

        <!--课程-->
        <section class="uibox" style="background: #f8f7fc;">
            <h1 class="uibt">掌握一线游戏设计能力<br/>助你职场“吃鸡”</h1>
            <img src="/assets/images/jingjiadt/vryouxi/kc1.png?v=1592537531003" style="width: 96%; padding-bottom: 2vw; margin: 0 auto;">
            <!--
		<img src="/assets/images/jingjiadt/vryouxi/kc2.png?v=1592537531003" style="width: 96%; padding-bottom: 2vw; margin: 0 auto;" > 
		<img src="/assets/images/jingjiadt/vryouxi/kc3.png?v=1592537531003" style="width: 96%; padding-bottom: 2vw; margin: 0 auto;" > 
-->

            <div class="anniubox">
                <a class="doyoo-btn"><img src="/assets/images/jingjiadt/vryouxi/anniu4.png?v=1592537531003" style="margin: 0 auto; width: 80%; "></a>
            </div>
        </section>


        <!--学员-->
        <section class="uibox" style="background: url(/assets/images/jingjiadt/vryouxi/xueyuan-bj.jpg)no-repeat center;background-size: 100%;?v=1592537531003">
            <h1 class="uibt" style="color: #fff;">月薪过万不是梦<br/>丝路学员已在职场“大杀四方”！</h1>
            <img src="/assets/images/jingjiadt/vryouxi/xueyuan.png?v=1592537531003" style="width: 100%; padding-bottom: 2vw; margin: 0 auto;">
            <div class="anniubox">
            </div>
        </section>

        <!--环境-->
        <section class="uibox" style="background: #f8f7fc; margin-bottom: 6vw;">
            <img src="/assets/images/jingjiadt/vryouxi/huanjing.png?v=1592537531003" style="width: 100%; padding-bottom: 2vw; margin: 0 auto;">
            <p style="text-align: center;font-size: 3vw;color: #333;line-height: 5vw;">(*毕业学员入职的企业环境部分展示)</p>
            <div class="anniubox">
            </div>
        </section>




        <!--老师-->
        <section class="uibox">
            <h1 class="uibt" style="color: #333;">“最强王者”全程带飞<br/>技能实战同步提升</h1>
            <!--		<p style="text-align: center;font-size: 5vw;color: #666;padding-bottom: 5vw;">从初级到资深，全案设计经验倾囊相授</p>-->
            <img src="/assets/images/jingjiadt/vryouxi/laoshi.jpg?v=1592537531003" style="width: 90%; padding-bottom: 2vw; margin: 0 auto;">
            <div class="anniubox">
                <a class="doyoo-btn"><img src="/assets/images/jingjiadt/vryouxi/anniu5.png?v=1592537531003" style="margin: 0 auto; width: 80%; "></a>
            </div>
        </section>



        <!--六大-->
        <section class="uibox" style="background: #f8f7fc;">
            <h1 class="uibt">6大保障 助力学员4个月完美蜕变</h1>
            <a class="doyoo-btn">
                <div style="width: 100%">
                    <img src="/assets/images/jingjiadt/vryouxi/liuda1.png?v=1592537531003" style="width: 90%; padding-bottom: 2vw; margin: 0 auto;">
                    <img src="/assets/images/jingjiadt/vryouxi/liuda2.png?v=1592537531003" style="width: 90%; padding-bottom: 2vw; margin: 0 auto;"> </div>
            </a>
        </section>



        <!-- 表单统计 -->
        <style>
            .section-form {
                background: url(/assets/images/jingjiadt/bim/bdbj.jpg) no-repeat center;
                background-size: cover;
                padding-top: 1.5333rem;
                height: 9.3333rem;
            }
            
            .section-form .form-group {
                font-size: 0.6133rem;
                line-height: 1.5;
                text-align: center;
                color: #fff;
            }
            
            .section-form .btn {
                display: inline-block;
                line-height: 1;
                width: 5.3333rem;
                height: 0.8rem;
                line-height: 0.8rem;
                border-radius: 4px;
                font-size: 0.3733rem;
                border: 1px solid #EC6941;
                text-align: center;
                color: #fff;
                background-color: #EC6941;
                -webkit-appearance: none;
            }
        </style>
        <div class="section-form">
            <form id="form">
                <div class="form-group form-group-txt">
                    “玩物”不丧志<br/>学游戏设计，迈上职场高薪路
                </div>
                <div class="form-group">
                    <input type='text' name='name' id="name" placeholder="姓名：请填写姓名" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="text" name='tel' id="tel" class="form-control" placeholder="联系方式：请填写手机号码" />
                </div>
                <input type="text" name='time' id='time' style="display: none;" />

                <div class="form-submit">
                    <button class="btn" type="button" onclick="add_ajaxmessage()"> 预约免费试学</button>
                </div>
            </form>
        </div>



        <!-- end footer -->
        <!--页脚 -->
<div class="endfoot-box">
    <div class="endfoot">
        <a class="doyoo-btn">
            <div class="endfoot-item">
                <p>名师在线</p>
                <p>免费试听</p>
            </div>
        </a>
    </div>
    <h3>本网站版权归丝路教育所有，盗用必究</h3>
</div>

<script src="/assets/js/libs/jquery.min.js"></script>
<script src="/assets/js/plugs/vide7.4.1/js/video.js"></script>
<script src="/assets/js/plugs/picViewer/picViewer.js"></script>
<script src="/assets/js/plugs/swiper/swiper.js"></script>
<script src="/assets/js/plugs/layer-v3.1.1/layer/layer.js"></script>
<script src="/assets/js/global/common.js"></script>
<script src="http://op.jiain.net/20002985/10085553.js"></script> 
<script>
    var doyooBtns = [].slice.call(document.querySelectorAll('.doyoo-btn'));
    for (var i = 0, len = doyooBtns.length; i < len; i++) {
        doyooBtns[i].onclick = function() {
            doyoo.util.openChat('g=10075108');
            return false;
        }
    }
</script>
<!-- 表单 -->
<script src="/assets/js/plugs/formbd.js"></script>

</div>


        <!--统计工具：CNZZ-->
        <div style="font-size: 0.1rem;?v=1592537531003">
            <script type="text/javascript">
                var cnzz_protocol = (("https:" == document.location.protocol) ? "https://" : "http://");
                document.write(unescape("%3Cspan id='cnzz_stat_icon_1276821672'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s23.cnzz.com/z_stat.php%3Fid%3D1276821672%26show%3Dpic' type='text/javascript'%3E%3C/script%3E?v=1592537531003"));
            </script>
        </div>

        <!--百度呼-->
        <script>
            var _hmt = _hmt || [];
            (function() {
                var hm = document.createElement("script");
                hm.src = "https://hm.baidu.com/hm.js?57448cbcd9efb5a61b8ba648ba49f3e2";
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(hm, s);
            })();
        </script>
        <script type="text/javascript" charset="utf-8" async src="http://lxbjs.baidu.com/lxb.js?sid=8881824"></script>
</body>

</html>