<!doctype html>
<html>
<head>
<meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
<title>影视</title>
	<link rel="stylesheet" href="../../css/swiper-3.4.2.min.css?v=1587519579162">
	<script src="../..js/swiper-3.4.2.min.js"></script>
	<!--menu-->
	<link type="text/css" rel="stylesheet" href="../../css/index/jquery.mmenu.css?v=1587519579162" />
	<link type="text/css" rel="stylesheet" href="../../css/index/menu.css?v=1587519579162" />
	<link type="text/css" rel="stylesheet" href="../../css/jingjiadt/yingshixxl.min.css?v=1587519579162" />
	<script type="text/javascript" src="../../js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="../../js/jquery.form.js"></script>
	<script type="text/javascript" src="../../js/jquery.mmenu.min.js"></script>
	
	<!--头部样式-->
	<link type="text/css" rel="stylesheet" href="../../css/jingjiadt/header.css?v=1587519579162" />
	<!--menu-->
	<!--menu-->
	<link rel="stylesheet" href="../../css/youxi/yxtx.css?v=1587519579162">
	<!-- 滑动 -->

	<!-- 滑动 -->
	<link rel="stylesheet" href="../../css/index/swiper.min.css?v=1587519579162">
	<script src="../../js/swiper.jquery.min.js"></script>
	<link rel="stylesheet" href="../../css/index/index.css?v=1587519579162">
	
		
<!--	基础代码-->
	<script>
        window._agl = window._agl || [];
        (function () {
            _agl.push(
                ['production', '_f7L2XwGXjyszb4d1e2oxPybgD']
            );
            (function () {
                var agl = document.createElement('script');
                agl.type ='text/javascript';
                agl.async = true;
                agl.src = 'https://fxgate.baidu.com/angelia/fcagl.js?production=_f7L2XwGXjyszb4d1e2oxPybgD';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(agl, s);
            })();
        })();
        </script>
	
	
</head>

<body>

<!--导航-->
<div id="page" style="z-index: 2;">
  <div class="header" style="z-index: 2;"> <a href="#menu"><img src="../../img/index/iconmenu.jpg?v=1587519579162" style="width: 100%;display: block;" /></a> <a href="#"><img src="../../img/index/logo.jpg?v=1587519579162" style="width: 100%;display: block;" /></a> <a onclick="doyoo.util.openChat('g=10075108');return false;?v=1587519579162" style=" cursor: pointer;"><img src="../../img/index/tel.jpg" style="width: 100%;display: block;" /></a> </div>
  <nav id="menu" style="visibility: hidden;">
    <ul>
      <li> <a href="../../index.html">首页</a> </li>
      <li> <a href="../../html/rssl/rssl.html">认识丝路</a> </li>
      <li> <a href="#">室内设计课程</a>
        <ul>
          <li> <a href="../../html/shinei/shineiqk.html">室内设计全科班</a> </li>
          <li> <a href="../../html/shinei/shouhui.html">室内手绘班</a> </li>
          <li> <a href="../../html/shinei/cad.html">CAD应用班</a> </li>
          <li> <a href="../../html/shinei/ruanzhuang.html">室内软装班</a> </li>
        </ul>
      </li>
      <li> <a href="#">UI设计课程</a>
        <ul>
          <li> <a href="../../html/uisheji/ui.html">UI设计全科班</a> </li>
          <li> <a href="../../html/uisheji/ps.html">PS应用班</a> </li>
          <li> <a href="../../html/uisheji/pingmian.html">平面设计班</a> </li>
          <li> <a href="../../html/uisheji/meigong.html">美工特训班</a> </li>
          <li> <a href="../../html/uisheji/wangyesheji.html">网页设计班</a> </li>
          <li> <a href="../../html/uisheji/dianshang.html">电商设计班</a> </li>
          <li> <a href="../../html/uisheji/ai.html">AI应用班</a> </li>
          <li> <a href="../../html/uisheji/chanpinjl.html">产品经理班</a> </li>
          <li> <a href="../../html/uisheji/c4d.html">C4D应用班</a> </li>
        </ul>
      </li>
      <li> <a href="#">建筑表现课程</a>
        <ul>
          <li> <a href="../../html/jianzhu/jzqk.html">建筑表现全科班</a> </li>
          <li> <a href="../../html/jianzhu/3dmax.html">3DMAX应用班</a> </li>
          <li> <a href="../../html/jianzhu/jianzhumoxing.html">建筑模型特训班</a> </li>
          <li> <a href="../../html/jianzhu/jzxuanran.html">建筑渲染特训班</a> </li>
          <li> <a href="../../html/jianzhu/jzdh.html">建筑动画特训班</a> </li>
          <li> <a href="../../html/jianzhu/3ddonghua.html">三维动画特训班</a> </li>
          <li> <a href="../../html/jianzhu/xgt.html">效果图特训班</a> </li>
        </ul>
      </li>
      <li> <a href="#">VR游戏课程</a>
        <ul>
          <li> <a href="../../html/youxi/yxquanke.html">VR游戏全科班</a> </li>
          <li> <a href="../../html/youxi/youximeishu.html">3D游戏美术班</a> </li>
          <li> <a href="../../html/youxi/youxiyuanhua.html">游戏原画设计班</a> </li>
          <li> <a href="../../html/youxi/yxtx.html">游戏动作特效班</a> </li>
          <li> <a href="../../html/youxi/vr.html">VR技术特训班</a> </li>
          <li> <a href="../../html/youxi/yxcehua.html">游戏策划班</a> </li>
        </ul>
      </li>
      <li> <a href="#">BIM应用课程</a>
        <ul>
          <li> <a href="../../html/bim/bim.html">BIM应用全科班</a> </li>
          <li> <a href="../../html/bim/revit.html">Revit应用班</a> </li>
          <li> <a href="../../html/bim/lumion.html">Lumion应用班</a> </li>
        </ul>
      </li>
      <li> <a href="#">影视后期课程</a>
        <ul>
          <li> <a href="../../html/yingshi/yingshidh.html">影视动画大师班</a> </li>
          <li> <a href="../../html/yingshi/AE.html">AE影视后期大师班</a> </li>
          <li> <a href="../../html/yingshi/jianji.html">影视后期剪辑大师班</a> </li>
        </ul>
      </li>
      <li> <a href="../../html/mingshi/mingshi.html">业界名师</a> </li>
      <li> <a href="../../html/xszp/xszp.html">学生作品</a> </li>
      <li> <a href="#">报名入口</a>
        <ul>
          <li> <a href="../../html/bmrk/slxf.html">丝路学费</a> </li>
          <li> <a href="../../html/bmrk/xgcs.html">性格测试</a> </li>
          <li> <a href="../../html/bmrk/mfst.html">免费试听</a> </li>
          <li> <a href="../../html/bmrk/zxbm.html">在线报名</a> </li>
        </ul>
      </li>
      <li> <a href="../../html/contact/contact.html">联系我们</a> </li>
    </ul>
  </nav>
</div>
<script type="text/javascript">
	$(document).ready(function(){
		$('nav#menu').mmenu();
		$("#menu").css("visibility","visible");
	});
</script> 
	
	
<!--导航结束-->
	
<div class="pm"> 
<!-- 首屏banner -->
	<div class="swiper-container">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<a onclick="doyoo.util.openChat('g=10075108');return false;?v=1587519579162" style=" cursor: pointer; "><img src="../../img/jingjiadt/yingshixxl/ys_01.jpg" alt="" style="margin-top: 30px;"></a>
			</div>
			<div class="swiper-slide">
					<a onclick="doyoo.util.openChat('g=10075108');return false;?v=1587519579162" style=" cursor: pointer;"><img src="../../img/jingjiadt/yingshixxl/ys_01.jpg" alt=""></a>
				</div>
				<div class="swiper-slide">
						<a onclick="doyoo.util.openChat('g=10075108');return false;?v=1587519579162" style=" cursor: pointer;"><img src="../../img/jingjiadt/yingshixxl/ys_01.jpg" alt=""></a>
					</div>

		</div>
	</div>

	<div class="infoBox">
		<p class="hd1">来丝路打通后期制作全流程</p>
		<p class="hd1">轻松驾驭不同影视项目</p>
		<p class="hd2">让你的创意“洪荒之力”，精准匹配项目需求</p>

		<div class="infoList">
			<div class="infoItem">
				<div class="img">
					<img src="../../img/jingjiadt/yingshixxl/kc_09.jpg?v=1587519579162" />
				</div>
				<p class="infoDt">影视剪辑</p>
			</div>
			<div class="infoItem">
				<div class="img">
					<img src="../../img/jingjiadt/yingshixxl/kc_11.jpg?v=1587519579162" />
				</div>
				<p class="infoDt">影视特效</p>
			</div>
			<div class="infoItem">
				<div class="img">
					<img src="../../img/jingjiadt/yingshixxl/kc_23.jpg?v=1587519579162" />
				</div>
				<p class="infoDt">后期合成</p>
			</div>
			<div class="infoItem">
				<div class="img">
					<img src="../../img/jingjiadt/yingshixxl/kc_23.jpg?v=1587519579162" />
				</div>
				<p class="infoDt">高阶调色</p>
			</div>
			<div class="infoItem">
				<div class="img">
					<img src="../../img/jingjiadt/yingshixxl/kc_25.jpg?v=1587519579162" />
				</div>
				<p class="infoDt">C4D/AE/Pr</p>
			</div>
			<div class="infoItem">
				<div class="img">
					<img src="../../img/jingjiadt/yingshixxl/kc_27.jpg?v=1587519579162" />
				</div>
				<p class="infoDt">影视包装</p>
			</div>

		</div>
	</div>
	<!-- <div>
		<img src="../dist/images/xgt/bn_03.png?v=1587519579162" />
	</div> -->

	<div class="csBox2">
		<p class="hd1">丝路课程大纲</p>
		<p class="hd2">12年专业沉淀，0基础快速进阶</p>

		<div class="csList">
			<div class="item">
				<p class="tt"><span>01</span>影视基础与剪辑</p>
				<p>学习内容：视听语言、影视软件教学、镜头与影视剪辑</p>
				<p>可胜任：分镜头设计师、影视剪辑师</p>

			</div>
			<div class="item">
				<p class="tt"><span>02</span>影视后期进阶</p>
				<p>学习内容：AE应用与调色、特效制作与合成、三维设计与包装</p>
				<p>可胜任：后期调色师、影视特效师、后期合成师、影视后期包装师</p>

			</div>
			<div class="item">
				<p class="tt"><span>03</span>C4D与作品包装</p>
				<p>学习内容：视听语言、影视软件教学、镜头与影视剪辑</p>
				<p>学习内容：C4D三维动画制作、针对性个别指导、作品与简历包装</p>

			</div>

		</div>
		<a onclick="doyoo.util.openChat('g=10075108');return false;?v=1587519579162" style=" cursor: pointer;"><button class="mbtn">了解详细课程</button></a>
	</div>
	<div class="gmBox">
		<p class="hd1">影视行业火爆，想要入行就趁现在</p>
		<p class="hd2">2014-2018年中国影视市场规模及增速</p>
		<img src="../../img/jingjiadt/yingshixxl/xz_02.jpg?v=1587519579162" />
	</div>
	<div class="gmBox2">
		<p class="hd1">影视人才紧缺，未毕业先就业</p>
		<p class="hd2">影视岗位每日招聘数高达<span>100000</span></p>
		<img style="margin-top: 20px;" src="../../img/jingjiadt/yingshixxl/zz_05.jpg?v=1587519579162" />
		<p class="hd2" style="color: #333333;margin-top: 20px;">影视后期平均薪资</p>
		<img src="../../img/jingjiadt/yingshixxl/zz_08.jpg?v=1587519579162" />
		<a onclick="doyoo.util.openChat('g=10075108');return false;?v=1587519579162" style=" cursor: pointer;"><button class="mbtn">我要拿高薪</button>
	</div></a>

	<div class="txBox2">
		<p class="hd1">上市品牌更安心，学的放心</p>
		<p class="hd2">丝路教育是上市公司丝路视觉<br>
			（股票代码：300556）旗下全国CG人才培训基地</p>
		<div class="iconList">
			<div class="item">
				<div class="imgBox">
					<img src="../../img/jingjiadt/yingshixxl/ic1.png?v=1587519579162" alt="">
				</div>

				<p>7天免费试学</p>
			</div>
			<div class="item">
				<div class="imgBox">
					<img src="../../img/jingjiadt/yingshixxl/ic2.png?v=1587519579162" alt="">
				</div>
				<p>先学习后付款</p>
			</div>
			<div class="item">
				<div class="imgBox">
					<img src="../../img/jingjiadt/yingshixxl/ic3.png?v=1587519579162" alt="">
				</div>
				<p>学不会免费重修</p>
			</div>
			<div class="item">
				<div class="imgBox">
					<img src="../../img/jingjiadt/yingshixxl
					/ic4.png" alt="">
				</div>
				<p>名师全程面授</p>
			</div>
			<div class="item">
				<div class="imgBox">
					<img src="../../img/jingjiadt/yingshixxl/ic5.png?v=1587519579162" alt="">
				</div>
				<p>真实项目实训</p>
			</div>
			<div class="item">
				<div class="imgBox">
					<img src="../../img/jingjiadt/yingshixxl/ic6.png?v=1587519579162" alt="">
				</div>
				<p>名企定向就业</p>
			</div>
		</div>
		<a onclick="doyoo.util.openChat('g=10075108');return false;?v=1587519579162" style=" cursor: pointer;"><button class="mbtn">申请免费试学</button></a>
	</div>

	<div class="infoBox3">
		<p class="hd1">本事过硬，才能教你</p>
		<p class="hd1" style="font-size: 2.0rem?v=1587519579162">丝路，影视培训中的“奥斯卡”级品牌</p>
		<p class="hd2">丝路参与过的影视项目</p>
		<p class="dt">
			丝路集团专注CG视觉创意领域20年，战略投资的瑞云科技
			为全球50多个国家/地区提供影视制作服务，其中更有奥斯卡
			得奖作品。来丝路学习，你将深入了解好莱坞级影视制作
			流程，并参与真实项目的模拟实战。
		</p>
		<div class="infoList">
			<div class="infoItem">
				<div class="img">
					<img src="../../img/jingjiadt/yingshixxl/dy_51.jpg?v=1587519579162" />
				</div>
			</div>
			<div class="infoItem">
				<div class="img">
					<img src="../../img/jingjiadt/yingshixxl/dy_53.jpg?v=1587519579162" />
				</div>
			</div>
			<div class="infoItem">
				<div class="img">
					<img src="../../img/jingjiadt/yingshixxl/dy_55.jpg?v=1587519579162" />
				</div>
			</div>
			<div class="infoItem">
				<div class="img">
					<img src="../../img/jingjiadt/yingshixxl/dy_65.jpg?v=1587519579162" />
				</div>
			</div>
			<div class="infoItem">
				<div class="img">
					<img src="../../img/jingjiadt/yingshixxl/dy_67.jpg?v=1587519579162" />
				</div>
			</div>
			<div class="infoItem">
				<div class="img">
					<img src="../../img/jingjiadt/yingshixxl/dy_69.jpg?v=1587519579162" />
				</div>
			</div>


		</div>
		<a onclick="doyoo.util.openChat('g=10075108');return false;?v=1587519579162" style=" cursor: pointer;"><button class="mbtn">了解丝路实力</button></a>
	</div>

	<div class="hjBox2">
		<p class="hd1">独栋教学楼+高端设备=一流学习体验</p>
		<div class="hjList2">

			<div class="row">
				<div>
					<img src="../../img/jingjiadt/yingshixxl/sl_79.jpg?v=1587519579162" />
				</div>
				<div>
					<img src="../../img/jingjiadt/yingshixxl/sl_81.jpg?v=1587519579162" />
				</div>
				<div>
					<img src="../../img/jingjiadt/yingshixxl/sl_83.jpg?v=1587519579162" />
				</div>
			</div>
			<div class="row">
				<div>
					<img src="../../img/jingjiadt/yingshixxl/sl_93.jpg?v=1587519579162" />
				</div>
				<div>
					<img src="../../img/jingjiadt/yingshixxl/sl_95.jpg?v=1587519579162" />
				</div>


			</div>
		</div>

	</div>
	

	<div class="btnImg">
		<a onclick="doyoo.util.openChat('g=10075108');return false;?v=1587519579162" style=" cursor: pointer;"><img src="../../img/jingjiadt/yingshixxl/btn_104.jpg" /></a>
	</div>


	
	
	<!-- end footer -->    
   <style>
	.dbdh-box{width: 100%;background:#1b2129;border-top:0.1vw solid #000;}
	.dbdh-ms a{ color:#FFF;}
	.dbdh-ms{width:24.9%;line-height: 10vw;font-size: 4vw;text-align: center;color: #fff;float: left;border-right: 0.1vw solid #000;}
</style>
<div style="position:fixed;left: 0;bottom: 0;width: 100%;">
<div class="dbdh-box">
	<div class="dbdh-ms"><a onclick="doyoo.util.openChat('g=10075108');return false;?v=1587519579162">课程咨询</a></div>
	<div class="dbdh-ms"><a onclick="doyoo.util.openChat('g=10075108');return false;?v=1587519579162">申请奖学金</a></div>
	<div class="dbdh-ms"><a href="http://m.silucg.com/html/contact/contact.html">查看地图</a></div>
	<div class="dbdh-ms" style="border-right: none;"><a onclick="doyoo.util.openChat('g=10075108');return false;?v=1587519579162">电话咨询</a></div>
</div>
<div style="background:#1b2129;text-align: center; font-size: 3vw;color: #b8b8b8;line-height:5vw;">本网站版权归丝路视觉科技股份有限公司所有，盗用必究
</div>
</div> 	
	
	
	<script src="../dist/js/swiper.min.js"></script>
	<script>
		var mySwiper = new Swiper('.swiper-container', {
			loop: true, // 循环模式选项
		})        
	</script>
	
<!--乐语系统--> 
<script type="text/javascript" charset="utf-8" src="http://lead.soperson.com/20002985/10086210.js"></script> 

<!--统计工具：CNZZ-->
<div style="font-size: 0.1rem; width: 50px;height: 12px;?v=1587519579162"> 
  <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? "https://" : "http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1276821672'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s23.cnzz.com/z_stat.php%3Fid%3D1276821672%26show%3Dpic' type='text/javascript'%3E%3C/script%3E?v=1587519579162"));</script> 
</div>

<!--百度呼--> 
<script>
var _hmt = _hmt || []; (function() { var hm = document.createElement("script"); hm.src = "https://hm.baidu.com/hm.js?57448cbcd9efb5a61b8ba648ba49f3e2"; var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(hm, s); })(); 
</script> 
<script type="text/javascript" charset="utf-8" async src="http://lxbjs.baidu.com/lxb.js?sid=8881824"></script>
</body>
</html>
