<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
<script>
    (function flexible(window, document) {
        var docEl = document.documentElement
        var dpr = window.devicePixelRatio || 1

        // adjust body font size
        function setBodyFontSize() {
            if (document.body) {
                document.body.style.fontSize = (12 * dpr) + 'px'
            } else {
                document.addEventListener('DOMContentLoaded', setBodyFontSize)
            }
        }
        setBodyFontSize();

        // set 1rem = viewWidth / 10
        function setRemUnit() {
            var rem = docEl.clientWidth / 10
            docEl.style.fontSize = rem + 'px'
        }

        setRemUnit()

        // reset rem unit on page resize
        window.addEventListener('resize', setRemUnit)
        window.addEventListener('pageshow', function(e) {
            if (e.persisted) {
                setRemUnit()
            }
        })

        // detect 0.5px supports
        if (dpr >= 2) {
            var fakeBody = document.createElement('body')
            var testElement = document.createElement('div')
            testElement.style.border = '.5px solid transparent'
            fakeBody.appendChild(testElement)
            docEl.appendChild(fakeBody)
            if (testElement.offsetHeight === 1) {
                docEl.classList.add('hairlines')
            }
            docEl.removeChild(fakeBody)
        }
    }(window, document))
</script>
    <title>游戏动画动</title>
    <link rel="stylesheet" href="/assets/js/plugs/vide-7.4.1/css/video-js.min.css?v=1593509322675">
<link rel="stylesheet" href="/assets/js/plugs/picViewer/picViewer.css?v=1593509322675">
<link rel="stylesheet" href="/assets/js/plugs/swiper-3.4.0/swiper-3.4.2.min.css?v=1593509322675">
    <link rel="stylesheet" href="/assets/css/jingjiadt/public.css?v=1593509322675">

    <!--menu-->
    <link rel="stylesheet" href="/assets/css/jingjiadt/yxtx.css?v=1593509322675">

</head>

<body>
    <div class="header">
    <div class="header-tp" id="header-tp">
        <div class="header-menu"></div>
        <ul class="header-menu-list">
            <li class="header-menu-first">
                <a href="/index.html" style="color: #fff;">首页</a>
            </li>
            <li class="header-menu-first arrow-right">
     影视视效课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/yingshi/ysqn.html">影视视效全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ystx.html">特效合成大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ysjj.html">剪辑包装创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ysdh.html">影视动画精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/c4d.html">C4D特效大师班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
     游戏视觉课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/youxi/yxqn.html">游戏视觉全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxyh.html">游戏原画创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxms.html">3D美术精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxrj.html">游戏软件精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxtx.html">动作特效精英班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
     室内设计课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/shinei/snqk.html">APEC室内设计全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/cad.html">CAD制图大师班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snrz.html">室内软装精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snsh.html">室内手绘创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snxgt.html">室内效果图精英班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
     U X 全栈课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/ui/uiqn.html">UX全栈视效全能班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/psds.html">Photoshop大师班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/pmsj.html">品牌视觉创意班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/dsmg.html">
                电商美工精英班
            </a></li>
        <li class="header-menu-second">
            <a href="/ui/wysj.html">全链路设计精英班
            </a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
     建筑视效课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/jianzhu/jzsx.html">建筑视效全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/3dsMax.html">3ds MAX大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/3djm.html"> 3D建模精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/xrys.html">渲染艺术精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/jzxgt.html"> 建筑效果图精英班 </a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
     BIM应用课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/bim/bimqn.html">BIM应用全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/bimkz.html">BIM考证精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/revitds.html">Revit大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/lumion.html">Lumion大师班</a>
        </li>
    </ul>
</li>
            <li class="header-menu-first">
                <a href="/home/studentworks.html" style="color: #fff;">学员作品</a>
            </li>
            <li class="header-menu-first">
                <a href="/home/onlinebao.html" style="color: #fff;">在线报名</a>
            </li>
            <li class="header-menu-first">
                <a href="/home/contactus.html" style="color: #fff;">联系我们</a>
            </li>

        </ul>
        <div class="header-logo"></div>
        <a class="doyoo-btn">
            <div class="header-phone"></div>
        </a>
    </div>
    <div class="header-nav">
        <ul class="header-nav-wrap">
            <li class="header-nav-first header-nav-active">
                <a href="/index.html">首页</a>
            </li>
            <li class="header-nav-first" id="header-nav-first-course">课程
                <span class="arrow-down"></span>
                <ul class="header-nav-course">
                    <li class="header-menu-first arrow-right">
      影视视效 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/yingshi/ysqn.html">影视视效全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ystx.html">特效合成大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ysjj.html">剪辑包装创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ysdh.html">影视动画精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/c4d.html">C4D特效大师班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
      游戏视觉 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/youxi/yxqn.html">游戏视觉全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxyh.html">游戏原画创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxms.html">3D美术精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxrj.html">游戏软件精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxtx.html">动作特效精英班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
      室内设计 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/shinei/snqk.html">APEC室内设计全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/cad.html">CAD制图大师班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snrz.html">室内软装精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snsh.html">室内手绘创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snxgt.html">室内效果图精英班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
      UX 全栈 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/ui/uiqn.html">UX全栈视效全能班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/psds.html">Photoshop大师班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/pmsj.html">品牌视觉创意班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/dsmg.html">
                电商美工精英班
            </a></li>
        <li class="header-menu-second">
            <a href="/ui/wysj.html">全链路设计精英班
            </a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
      建筑视效 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/jianzhu/jzsx.html">建筑视效全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/3dsMax.html">3ds MAX大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/3djm.html"> 3D建模精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/xrys.html">渲染艺术精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/jzxgt.html"> 建筑效果图精英班 </a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
      BIM应用 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/bim/bimqn.html">BIM应用全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/bimkz.html">BIM考证精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/revitds.html">Revit大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/lumion.html">Lumion大师班</a>
        </li>
    </ul>
</li>
                </ul>
            </li>
            <li class="header-nav-first">
                <a href="/home/famousteacher.html">名师</a>
            </li>
            <li class="header-nav-first">
                <a href="/home/obtain.html">就业</a>
            </li>
            <li class="header-nav-first">
                <a href="/home/about.html">关于丝路</a>
            </li>
        </ul>
    </div>
</div>
<div class="header-mask" id="header-mask"></div>





    <!--公用-->
    <style>
        body {
            margin: 0;
        }
        
        .bim * {
            font-family: "Microsoft YaHei", PingFangSC-Mediu, SimSun, Arial, Helvetica;
            color: #323232;
            font-size: 4vw;
            line-height: 4vw;
            margin: 0;
            padding: 0;
            box-shadow: none;
        }
        
        .yxdhdmbox {
            margin-bottom: 10%;
        }
        
        .yxdhdmnrk {
            width: 90%;
            margin: 0 auto;
        }
        
        .yxdhdmbt {
            text-align: center;
            font-size: 6vw;
            line-height: 8vw;
            padding-bottom: 6%;
            padding-top: 10%;
        }
        
        .yxdhdm img {
            display: block;
        }
        
        h1,
        h2 {
            font-weight: normal;
        }
        
        a {
            text-decoration: none;
            cursor: pointer;
        }
        
        .clearfix {
            clear: both;
        }
        
        .anniu {
            color: #333;
            text-align: center;
            line-height: 12vw;
            border-radius: 6vw;
            font-size: 4.5vw;
            margin: 0 auto;
            background: #fcc800;
        }
    </style>
    <div class="yxdhdm">



        <!--banner-->
        <div>
            <a class="doyoo-btn"><img src="/assets/images/jingjiadt/yxdhdm/banner.jpg?v=1593509322675" style="width: 100%;margin-top: 18%;"></a>
        </div>



        <!--前景-->
        <div class="yxdhdmbox;" style="background: #f5f5f5; padding-bottom: 10%;">
            <section>
                <h1 class="yxdhdmbt">您的顾虑，我们都会尽力解决</h1>
                <a class="doyoo-btn"><img src="/assets/images/jingjiadt/yxdhdm/wenti1.png?v=1593509322675" style="width: 96%; margin: 0 2% 3% 2%;"></a>
                <a class="doyoo-btn"><img src="/assets/images/jingjiadt/yxdhdm/wenti2.png?v=1593509322675" style="width: 96%; margin: 0 2% 3% 2%;"></a>
                <a class="doyoo-btn"><img src="/assets/images/jingjiadt/yxdhdm/wenti3.png?v=1593509322675" style="width: 96%; margin: 0 2% 3% 2%;"></a>
                <a class="doyoo-btn"><img src="/assets/images/jingjiadt/yxdhdm/wenti4.png?v=1593509322675" style="width: 96%; margin: 0 2% 3% 2%;"></a>

            </section>
        </div>

        <!--行业-->
        <section class="yxdhdmbox;" style="background: url(/assets/images/jingjiadt/yxdhdm/hangye.jpg) center no-repeat;background-size: 100%; height: 530px;?v=1593509322675">
            <h1 class="yxdhdmbt" style="color: aliceblue;">中国动漫崛起 下一个风口来临</h1>
            <p style="font-size: 2vw; margin: 0 auto; text-align: center; color: #9c9c9c; width:90%;">随着游戏行业迎来春天，当下诸多影视公司、大型网站都在向数字动漫产业靠拢，大量招募动漫动画人才，今年全国15个动漫产业基地陆续建设完成，动漫产业人才缺口更是达到60万，机遇众多。</p>
            <a class="doyoo-btn">
                <div class="anniu" style=" width: 60%; margin-top: 80%;">测测我适合学吗？</div>
            </a>
        </section>



        <!--前景-->
        <section class="yxdhdmbox;" style=" padding-bottom: 10%;">
            <img src="/assets/images/jingjiadt/yxdhdm/hangye2.jpg?v=1593509322675" style="width: 100%; ">
        </section>



        <!--薪资-->
        <section class="yxdhdmbox; ">
            <div class="titlebox">
                <h1>游戏动漫60万人才缺口 “钱”途无量</h1>
                <p>入行年薪8-10W+项目提成，身价随经验逐步上升</p>
            </div>
            <img src="/assets/images/jingjiadt/yxdhdm/xinzi.png?v=1593509322675" style="width: 90%; margin: 6% 5% 10% 5%;">
            <a class="doyoo-btn">
                <div class="anniu" style=" width: 60%; margin-bottom:10%; ">我要拿高薪</div>
            </a>
        </section>


        <!--课程-->
        <section class="yxdhdmbox;" style=" padding-bottom: 10%; background: #f5f5f5;">
            <h1 class="yxdhdmbt">丝路干货课程<br/>打造高薪游戏动漫人才</h1>
            <img src="/assets/images/jingjiadt/yxdhdm/kecheng1.png?v=1593509322675" style="width: 96%; margin: 0 2% 3% 2%;">
            <img src="/assets/images/jingjiadt/yxdhdm/kecheng2.png?v=1593509322675" style="width: 96%; margin: 0 2% 3% 2%;">
            <img src="/assets/images/jingjiadt/yxdhdm/kecheng3.png?v=1593509322675" style="width: 96%; margin: 0 2% 3% 2%;">
            <img src="/assets/images/jingjiadt/yxdhdm/kecheng3.png?v=1593509322675" style="width: 96%; margin: 0 2% 3% 2%;">
            <a class="doyoo-btn">
                <div class="anniu" style=" width: 50%; margin-top: 8%;">获取课程详情</div>
            </a>
        </section>


        <!--软件-->
        <style>
            .part-jxbz {
                padding: 14vw 0;
            }
            
            .part-jxbz .titlebox h1 {
                padding-bottom: 8vw;
            }
            
            .jxbz-item {
                margin-top: 4vw;
            }
            
            .jxbz-item h2 {
                margin-top: 4vw;
            }
        </style>

        <div class="part-box part-jxbz" style=" background:#ffffff;">
            <div class="titlebox">
                <h1>精编软件学习体系，助你技能满点</h1>
            </div>
            <div class="part-content">
                <a class="doyoo-btn">
                    <div class="jxbz-item">
                        <img src="/assets/images/jingjiadt/yxms/ruanjian1.png?v=1593509322675">
                        <h2>Photoshop</h2>
                    </div>
                </a>
                <a class="doyoo-btn">
                    <div class="jxbz-item">
                        <img src="/assets/images/jingjiadt/yxms/ruanjian2.png?v=1593509322675">
                        <h2>3D MAX</h2>
                    </div>
                </a>
                <a class="doyoo-btn">
                    <div class="jxbz-item  jxbz-threeitem">
                        <img src="/assets/images/jingjiadt/yxms/ruanjian3.png?v=1593509322675">
                        <h2>Bodypaint3d</h2>
                    </div>
                </a>
                <div class="cle"></div>
            </div>
            <div class="part-content jxbz-ctn">
                <a class="doyoo-btn">
                    <div class="jxbz-item">
                        <img src="/assets/images/jingjiadt/yxms/ruanjian4.png?v=1593509322675">
                        <h2>zbrush</h2>
                    </div>
                </a>
                <a class="doyoo-btn">
                    <div class="jxbz-item">
                        <img src="/assets/images/jingjiadt/yxms/ruanjian5.png?v=1593509322675">
                        <h2>Marmoset Toolbag</h2>
                    </div>
                </a>
                <a class="doyoo-btn">
                    <div class="jxbz-item  jxbz-threeitem">
                        <img src="/assets/images/jingjiadt/yxms/ruanjian6.png?v=1593509322675">
                        <h2>Designer</h2>
                    </div>
                </a>
                <div class="cle"></div>
            </div>
            <div class="part-content jxbz-ctn">
                <a class="doyoo-btn">
                    <div class="jxbz-item">
                        <img src="/assets/images/jingjiadt/yxms/ruanjian7.png?v=1593509322675">
                        <h2>UE4</h2>
                    </div>
                </a>
                <a class="doyoo-btn">
                    <div class="jxbz-item">
                        <img src="/assets/images/jingjiadt/yxms/ruanjian8.png?v=1593509322675">
                        <h2>Marvelous</h2>
                    </div>
                </a>
                <a class="doyoo-btn">
                    <div class="jxbz-item  jxbz-threeitem">
                        <img src="/assets/images/jingjiadt/yxms/ruanjian9.png?v=1593509322675">
                        <h2>SubstancPainter</h2>
                    </div>
                </a>
                <div class="cle"></div>
            </div>
            <a class="doyoo-btn">
                <div class="anniu" style=" width: 50%; margin-top: 8%;">免费领取学习资料</div>
            </a>
        </div>



        <!--学员-->
        <section class="yxdhdmbox;" style=" padding-bottom: 10%; background: #f5f5f5;">
            <h1 class="yxdhdmbt">学游戏设计，圆你的游戏梦</h1>
            <img src="/assets/images/jingjiadt/yxdhdm/xueyuan.png?v=1593509322675" style="width: 90%; margin: 0 5% 3% 5%;">

        </section>


        <!--讲师-->

        <style>
            /*讲师*/
            
            .part-teacher .titlebox h1 {
                line-height: 0.3rem;
            }
            
            .teacher-item {
                margin-bottom: 0.1rem;
            }
            
            .teacher-item img {
                float: left;
                width: 23.2%;
            }
            
            .teacher-text {
                float: right;
                width: 72.5%;
            }
            
            .teacher-text h2 {
                color: #333;
                font-size: 0.3733rem;
                line-height: 1.5;
                margin-top: 0.08rem;
            }
            
            .teacher-text h2 span,
            .teacher-text p {
                font-size: 0.2667rem;
                line-height: 1.5;
                color: #999;
            }
            
            .teacher-text img {
                display: block;
                width: 100%;
                margin: 0.1rem 0;
            }
            
            .part-teacher .btn {
                width: 56%;
            }
        </style>

        <div class="part-box part-teacher">
            <div class="titlebox">
                <h1 style="margin-bottom:6%;">金牌讲师开启的你的动漫之旅</h1>
            </div>
            <div class="part-content">
                <div class="teacher-item"> <img src="/assets/images/jingjiadt/yxdhdm/teacher1.png?v=1593509322675">
                    <div class="teacher-text">
                        <h2>鲍金陶&nbsp;&nbsp;<span>10年从业经验、3D游戏美术高级讲师
</span></h2>
                        <img src="/assets/images/jingjiadt/yxdhdm/xuxian.png?v=1593509322675">
                        <p>代表项目：《神秘海域》、《阴阳师》、《英雄联盟》......

                        </p>
                    </div>
                    <div class="cle"></div>
                </div>
                <div class="teacher-item"> <img src="/assets/images/jingjiadt/yxdhdm/teacher2.png?v=1593509322675">
                    <div class="teacher-text">
                        <h2>蔡雯璐&nbsp;&nbsp;<span>7年从业经验、3D游戏美术高级讲师</span></h2>
                        <img src="/assets/images/jingjiadt/yxdhdm/xuxian.png?v=1593509322675">
                        <p>代表项目:神秘海域》、《剑灵》、《生化危机》</p>
                    </div>
                    <div class="cle"></div>
                </div>
                <div class="teacher-item"> <img src="/assets/images/jingjiadt/yxdhdm/teacher3.png?v=1593509322675">
                    <div class="teacher-text">
                        <h2>张红亮&nbsp;&nbsp;<span>6年从业经验、VR游戏美术高级讲师</span></h2>
                        <img src="/assets/images/jingjiadt/yxdhdm/xuxian.png?v=1593509322675">
                        <p>代表项目：使命召唤》、《FORTNITE》（堡垒之夜）、《坦克世界》.....</p>
                    </div>
                    <div class="cle"></div>
                </div>
                <div class="teacher-item"> <img src="/assets/images/jingjiadt/yxdhdm/teacher4.png?v=1593509322675">
                    <div class="teacher-text">
                        <h2>周琴&nbsp;&nbsp;<span>10年从业经验、3D游戏美术高级讲师</span></h2>
                        <img src="/assets/images/jingjiadt/yxdhdm/xuxian.png?v=1593509322675">
                        <p>代表项目：《使命召唤》、《神秘海域》、《英雄联盟》.....</p>
                    </div>
                    <div class="cle"></div>
                </div>


            </div>
            <a class="doyoo-btn">
                <div class="anniu" style="width: 60%;margin:10vw auto;">有问题？老师为你解答</div>
            </a>
        </div>



        <!--教学保障-->
        <div class="part-box part-jxbz" style="background: #f5f5f5;">
            <div class="titlebox">
                <h1>丝路学员6大保障</h1>
            </div>
            <div class="part-content">
                <a class="doyoo-btn">
                    <div class="jxbz-item">
                        <img src="/assets/images/jingjiadt/yszz/jxbz1.png?v=1593509322675">
                        <h2>免费试听体验</h2>
                    </div>
                </a>
                <a class="doyoo-btn">
                    <div class="jxbz-item">
                        <img src="/assets/images/jingjiadt/yszz/jxbz2.png?v=1593509322675">
                        <h2>名企定向就业</h2>
                    </div>
                </a>
                <a class="doyoo-btn">
                    <div class="jxbz-item  jxbz-threeitem">
                        <img src="/assets/images/jingjiadt/yszz/jxbz3.png?v=1593509322675">
                        <h2>全程名师面授</h2>
                    </div>
                </a>
                <div class="cle"></div>
            </div>
            <div class="part-content jxbz-ctn">
                <a class="doyoo-btn">
                    <div class="jxbz-item">
                        <img src="/assets/images/jingjiadt/yszz/jxbz4.png?v=1593509322675">
                        <h2>先学习后付款</h2>
                    </div>
                </a>
                <a class="doyoo-btn">
                    <div class="jxbz-item">
                        <img src="/assets/images/jingjiadt/yszz/jxbz5.png?v=1593509322675">
                        <h2>企业项目实训</h2>
                    </div>
                </a>
                <a class="doyoo-btn">
                    <div class="jxbz-item  jxbz-threeitem">
                        <img src="/assets/images/jingjiadt/yszz/jxbz6.png?v=1593509322675">
                        <h2>真实案例教学</h2>
                    </div>
                </a>
                <div class="cle"></div>
            </div>
        </div>



        <!--丝路教育-->
        <div class="yxdhdmbox;" style=" padding-bottom: 10%;">
            <section>
                <h1 class="yxdhdmbt">丝路教育 12年匠心打磨教学高品质</h1>
                <img src="/assets/images/jingjiadt/yxdhdm/wenhua.png?v=1593509322675" style="width: 92%; margin: 0 4% 3% 4%;">
                <a class="doyoo-btn">
                    <div class="anniu" style=" width: 50%; margin-top: 20px; ">进一步了解丝路</div>
                </a>
            </section>
        </div>



        <!--招聘会-->
        <div class="yxdhdmbox;" style=" background: #f5f5f5; padding-bottom: 10%;">
            <section>
                <h1 class="yxdhdmbt">特设专场招聘会 面对面交流更高效</h1>
                <img src="/assets/images/jingjiadt/yxdhdm/zhaoping.png?v=1593509322675" style="width: 92%; margin: 0 4% 3% 4%;">
            </section>
        </div>



        <!--合作-->
        <div class="yxdhdmbox;" style="padding-bottom: 10%;">
            <section>
                <div class="titlebox">
                    <h1 class="yxdhdmbt" style="padding-top: 40px;">名企定向就业 毕业工作不愁</h1>
                </div>
                <img src="/assets/images/jingjiadt/yxdhdm/logo.jpg?v=1593509322675" style="width: 92%; margin: 0 4% 3% 4%;">
            </section>
        </div>


        <!-- 表单统计 -->
        <style>
            .section-form {
                background: url(/assets/images/jingjiadt/yxdhdm/bj2.jpg) no-repeat center;
                background-size: cover;
                padding-top: 1.5333rem;
                height: 9.3333rem;
                margin-bottom: 0;
            }
            
            .section-form .form-group {
                font-size: 0.6133rem;
                line-height: 1.5;
                text-align: center;
                color: #fff;
            }
            
            .section-form .btn {
                display: inline-block;
                line-height: 1;
                width: 5.3333rem;
                height: 0.8rem;
                line-height: 0.8rem;
                border-radius: 4px;
                font-size: 0.3733rem;
                border: 1px solid #EC6941;
                text-align: center;
                color: #fff;
                background-color: #EC6941;
                -webkit-appearance: none;
            }
        </style>
        <div class="section-form">
            <form id="form">
                <div class="form-group form-group-txt">
                    0基础踏上主美人生！
                </div>
                <div class="form-group">
                    <input type='text' name='name' id="name" placeholder="请输入您的姓名" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="text" name='tel' id="tel" class="form-control" placeholder="请输入您的手机号码" />
                </div>
                <input type="text" name='time' id='time' style="display: none;" />

                <div class="form-submit">
                    <button class="btn" type="button" onclick="add_ajaxmessage()"> 预约免费试学</button>
                </div>
            </form>
        </div>



        <!-- end footer -->
        <!--页脚 -->
<div class="endfoot-box">
    <div class="endfoot">
        <a class="doyoo-btn">
            <div class="endfoot-item">
                <p>名师在线</p>
                <p>免费试听</p>
            </div>
        </a>
    </div>
    <h3>本网站版权归丝路教育所有，盗用必究</h3>
</div>

<script src="/assets/js/libs/jquery.min.js"></script>
<script src="/assets/js/plugs/vide7.4.1/js/video.js"></script>
<script src="/assets/js/plugs/picViewer/picViewer.js"></script>
<script src="/assets/js/plugs/swiper/swiper.js"></script>
<script src="/assets/js/plugs/layer-v3.1.1/layer/layer.js"></script>
<script src="/assets/js/global/common.js"></script>
<script src="http://op.jiain.net/20002985/10085553.js"></script>
<script>
    var doyooBtns = [].slice.call(document.querySelectorAll('.doyoo-btn'));
    for (var i = 0, len = doyooBtns.length; i < len; i++) {
        doyooBtns[i].onclick = function() {
            doyoo.util.openChat('g=10075108');
            return false;
        }
    }
</script>

<!-- 百度统计代码 -->
<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?57448cbcd9efb5a61b8ba648ba49f3e2";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>

<!-- 表单 -->
<script src="/assets/js/plugs/formbd.js"></script>

</div>



        <!--统计工具：CNZZ-->
        <div style="font-size: 0.1rem;?v=1593509322675">
            <script type="text/javascript">
                var cnzz_protocol = (("https:" == document.location.protocol) ? "https://" : "http://");
                document.write(unescape("%3Cspan id='cnzz_stat_icon_1276821672'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s23.cnzz.com/z_stat.php%3Fid%3D1276821672%26show%3Dpic' type='text/javascript'%3E%3C/script%3E?v=1593509322675"));
            </script>
        </div>

        <!--百度呼-->
        <script>
            var _hmt = _hmt || [];
            (function() {
                var hm = document.createElement("script");
                hm.src = "https://hm.baidu.com/hm.js?57448cbcd9efb5a61b8ba648ba49f3e2";
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(hm, s);
            })();
        </script>
        <script type="text/javascript" charset="utf-8" async src="http://lxbjs.baidu.com/lxb.js?sid=8881824"></script>
</body>

</html>