<!doctype html>
<html>


<head>
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
<script>
    (function flexible(window, document) {
        var docEl = document.documentElement
        var dpr = window.devicePixelRatio || 1

        // adjust body font size
        function setBodyFontSize() {
            if (document.body) {
                document.body.style.fontSize = (12 * dpr) + 'px'
            } else {
                document.addEventListener('DOMContentLoaded', setBodyFontSize)
            }
        }
        setBodyFontSize();

        // set 1rem = viewWidth / 10
        function setRemUnit() {
            var rem = docEl.clientWidth / 10
            docEl.style.fontSize = rem + 'px'
        }

        setRemUnit()

        // reset rem unit on page resize
        window.addEventListener('resize', setRemUnit)
        window.addEventListener('pageshow', function(e) {
            if (e.persisted) {
                setRemUnit()
            }
        })

        // detect 0.5px supports
        if (dpr >= 2) {
            var fakeBody = document.createElement('body')
            var testElement = document.createElement('div')
            testElement.style.border = '.5px solid transparent'
            fakeBody.appendChild(testElement)
            docEl.appendChild(fakeBody)
            if (testElement.offsetHeight === 1) {
                docEl.classList.add('hairlines')
            }
            docEl.removeChild(fakeBody)
        }
    }(window, document))
</script>
    <title>游戏动作特效班</title>
    <link rel="stylesheet" href="/assets/js/plugs/vide-7.4.1/css/video-js.min.css?v=1598320525284">
<link rel="stylesheet" href="/assets/js/plugs/picViewer/picViewer.css?v=1598320525284">
<link rel="stylesheet" href="/assets/js/plugs/swiper-3.4.0/swiper-3.4.2.min.css?v=1598320525284">
    <link rel="stylesheet" href="/assets/css/jingjiadt/public.css?v=1598320525284">

    <!--menu-->
    <link rel="stylesheet" href="/assets/css/jingjiadt/yxtx.css?v=1598320525284">

</head>

<body>
    <div class="header">
    <div class="header-tp" id="header-tp">
        <div class="header-menu"></div>
        <ul class="header-menu-list">
            <li class="header-menu-first">
                <a href="/index.html" style="color: #fff;">首页</a>
            </li>
            <li class="header-menu-first arrow-right">
     影视视效课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/yingshi/ysqn.html">影视视效全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ystx.html">特效合成大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ysjj.html">剪辑包装创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ysdh.html">影视动画精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/c4d.html">C4D特效大师班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
     游戏视觉课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/youxi/yxqn.html">游戏视觉全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxyh.html">游戏原画创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxms.html">3D美术精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxrj.html">游戏软件精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxtx.html">动作特效精英班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
     室内设计课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/shinei/snqk.html">APEC室内设计全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/cad.html">CAD制图大师班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snrz.html">室内软装精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snsh.html">室内手绘创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snxgt.html">室内效果图精英班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
     U X 全栈课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/ui/uiqn.html">UX全栈视效全能班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/psds.html">Photoshop大师班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/pmsj.html">品牌视觉创意班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/dsmg.html">
                电商美工精英班
            </a></li>
        <li class="header-menu-second">
            <a href="/ui/wysj.html">全链路设计精英班
            </a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
     建筑视效课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/jianzhu/jzsx.html">建筑视效全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/3dsMax.html">3ds MAX大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/3djm.html"> 3D建模精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/xrys.html">渲染艺术精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/jzxgt.html"> 建筑效果图精英班 </a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
     BIM应用课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/bim/bimqn.html">BIM应用全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/bimkz.html">BIM考证精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/revitds.html">Revit大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/lumion.html">Lumion大师班</a>
        </li>
    </ul>
</li>
            <li class="header-menu-first">
                <a href="/home/studentworks.html" style="color: #fff;">学员作品</a>
            </li>
            <li class="header-menu-first">
                <a href="/home/onlinebao.html" style="color: #fff;">在线报名</a>
            </li>
            <li class="header-menu-first">
                <a href="/home/contactus.html" style="color: #fff;">联系我们</a>
            </li>

        </ul>
        <div class="header-logo"></div>
        <a class="doyoo-btn">
            <div class="header-phone"></div>
        </a>
    </div>
    <div class="header-nav">
        <ul class="header-nav-wrap">
            <li class="header-nav-first header-nav-active">
                <a href="/index.html">首页</a>
            </li>
            <li class="header-nav-first" id="header-nav-first-course">课程
                <span class="arrow-down"></span>
                <ul class="header-nav-course">
                    <li class="header-menu-first arrow-right">
      影视视效 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/yingshi/ysqn.html">影视视效全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ystx.html">特效合成大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ysjj.html">剪辑包装创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ysdh.html">影视动画精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/c4d.html">C4D特效大师班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
      游戏视觉 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/youxi/yxqn.html">游戏视觉全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxyh.html">游戏原画创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxms.html">3D美术精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxrj.html">游戏软件精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxtx.html">动作特效精英班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
      室内设计 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/shinei/snqk.html">APEC室内设计全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/cad.html">CAD制图大师班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snrz.html">室内软装精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snsh.html">室内手绘创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snxgt.html">室内效果图精英班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
      UX 全栈 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/ui/uiqn.html">UX全栈视效全能班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/psds.html">Photoshop大师班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/pmsj.html">品牌视觉创意班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/dsmg.html">
                电商美工精英班
            </a></li>
        <li class="header-menu-second">
            <a href="/ui/wysj.html">全链路设计精英班
            </a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
      建筑视效 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/jianzhu/jzsx.html">建筑视效全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/3dsMax.html">3ds MAX大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/3djm.html"> 3D建模精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/xrys.html">渲染艺术精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/jzxgt.html"> 建筑效果图精英班 </a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
      BIM应用 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/bim/bimqn.html">BIM应用全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/bimkz.html">BIM考证精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/revitds.html">Revit大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/lumion.html">Lumion大师班</a>
        </li>
    </ul>
</li>
                </ul>
            </li>
            <li class="header-nav-first">
                <a href="/home/famousteacher.html">名师</a>
            </li>
            <li class="header-nav-first">
                <a href="/home/obtain.html">就业</a>
            </li>
            <li class="header-nav-first">
                <a href="/home/about.html">关于丝路</a>
            </li>
        </ul>
    </div>
</div>
<div class="header-mask" id="header-mask"></div>



    <!--公用-->
    <style>
        body {
            margin: 0;
        }
        
        .bim * {
            font-family: "Microsoft YaHei", PingFangSC-Mediu, SimSun, Arial, Helvetica;
            color: #323232;
            font-size: 4vw;
            line-height: 4vw;
            margin: 0;
            padding: 0;
            box-shadow: none;
        }
        
        .yxdxbox {
            margin-bottom: 10%;
        }
        
        .yxdxnrk {
            width: 90%;
            margin: 0 auto;
        }
        
        .yxdxbt {
            text-align: center;
            font-size: 6vw;
            line-height: 8vw;
            padding-bottom: 6%;
            padding-top: 10%;
        }
        
        .yxdx img {
            display: block;
        }
        
        h1,
        h2 {
            font-weight: normal;
        }
        
        a {
            text-decoration: none;
            cursor: pointer;
        }
        
        .clearfix {
            clear: both;
        }
        
        .anniu {
            color: #333;
            text-align: center;
            line-height: 12vw;
            border-radius: 6vw;
            font-size: 4.5vw;
            margin: 0 auto;
            background: #fcc800;
        }
    </style>
    <div class="yxdx">



        <!--banner-->
        <div>
            <a class="doyoo-btn"><img src="/assets/images/jingjiadt/yxdx/banner-one.jpg?v=1598320525284" style="width: 100%;margin-top: 18%;"></a>
        </div>

        <!--介绍-->
        <div style="padding: 1.3333rem 0 0;?v=1598320525284" class="part-box part-jieshao">
            <div class="titlebox">
                <h1>稀缺！高薪！</h1>
                <h1 style="margin-top:6vw;">现在入行门槛低，机不可失！</h1>
                <p></p>
                <p>游戏行业迎来春天，人才缺口高达60万，各大游戏公司</br>
                    纷纷以高薪高福利谋求专业游戏人才，起薪8000，</br>
                    年终30万+高薪福利，才是标配。</p>
            </div>
            <div class="yxdxbox" style=" padding-bottom: 10%;width:90%;margin:auto; margin-top: 5%;">

                <img src="/assets/images/jingjiadt/yxdx/fenlei-photo.png?v=1598320525284">
            </div>
        </div>

        <!--前景-->
        <div class="yxdxbox;" style="background: #f5f5f5; padding-bottom: 10%;">
            <section>
                <h1 class="yxdxbt">哪些人群适合学习游戏动效？</h1>
                <a class="doyoo-btn"><img src="/assets/images/jingjiadt/yxdx/renqun1.png?v=1598320525284" style="width: 96%; margin: 0 2% 3% 2%;"></a>
                <a class="doyoo-btn"><img src="/assets/images/jingjiadt/yxdx/renqun2.png?v=1598320525284" style="width: 96%; margin: 0 2% 3% 2%;"></a>
                <a class="doyoo-btn"><img src="/assets/images/jingjiadt/yxdx/renqun3.png?v=1598320525284" style="width: 96%; margin: 0 2% 3% 2%;"></a>
                <a class="doyoo-btn"><img src="/assets/images/jingjiadt/yxdx/renqun4.png?v=1598320525284" style="width: 96%; margin: 0 2% 6% 2%;"></a>
                <a class="doyoo-btn">
                    <div class="anniu" style=" width: 60%; ">我适合学游戏动效吗？</div>
                </a>
            </section>
        </div>

        <!--申请-->
        <section class="yxdxbox;" style=" padding-bottom: 10%;">
            <h1 class="yxdxbt">没有美术基础<br/>能学游戏动效吗？</h1>
            <a class="doyoo-btn"><img src="/assets/images/jingjiadt/yxdx/shenqing1.png?v=1598320525284" style="width: 100%; margin-bottom: 3%;"></a>
            <a class="doyoo-btn"><img src="/assets/images/jingjiadt/yxdx/shenqing2.png?v=1598320525284" style="width: 100%;"></a>
        </section>

        <!--薪资-->
        <section class="yxdxbox; " style=" padding-bottom: 10%;background: #f5f5f5;">
            <h1 class="yxdxbt">VR技术来袭<br/>引领游戏行业冲击“薪”纪元</h1>
            <img src="/assets/images/jingjiadt/yxdx/xinzione.png?v=1598320525284" style="width: 96%; margin: 0 3% 6% 3%;">
            <a class="doyoo-btn">
                <div class="anniu" style=" width: 50%;">如何完成职位晋升？</div>
            </a>
        </section>


        <!--软件-->
        <div class="part-box part-jxbz" style=" background:#ffffff;">
            <div class="titlebox">
                <h1>0基础由浅入深，专项软件扎实学</h1>
            </div>
            <div class="part-content">
                <a class="doyoo-btn">
                    <div class="jxbz-item">
                        <img src="/assets/images/jingjiadt/yxdx/ruanjian1.png?v=1598320525284">
                        <h2>Photoshop</h2>
                    </div>
                </a>
                <a class="doyoo-btn">
                    <div class="jxbz-item">
                        <img src="/assets/images/jingjiadt/yxdx/ruanjian2.png?v=1598320525284">
                        <h2>3D MAX</h2>
                    </div>
                </a>
                <a class="doyoo-btn">
                    <div class="jxbz-item  jxbz-threeitem">
                        <img src="/assets/images/jingjiadt/yxdx/ruanjian3.png?v=1598320525284">
                        <h2>Unity 3D</h2>
                    </div>
                </a>
                <div class="cle"></div>
            </div>
            <div class="part-content jxbz-ctn">
                <a class="doyoo-btn">
                    <div class="jxbz-item">
                        <img src="/assets/images/jingjiadt/yxdx/ruanjian4.png?v=1598320525284">
                        <h2>AE</h2>
                    </div>
                </a>
                <a class="doyoo-btn">
                    <div class="jxbz-item">
                        <img src="/assets/images/jingjiadt/yxdx/ruanjian5.png?v=1598320525284">
                        <h2>UE4</h2>
                    </div>
                </a>
                <a class="doyoo-btn">
                    <div class="jxbz-item  jxbz-threeitem">
                        <img src="/assets/images/jingjiadt/yxdx/ruanjian6.png?v=1598320525284">
                        <h2>UDK</h2>
                    </div>
                </a>
                <div class="cle"></div>
            </div>
            <a class="doyoo-btn">
                <div class="anniu" style=" width: 50%; margin-top: 8%;">免费领取学习资料</div>
            </a>
        </div>

        <!--课程-->
        <section class="yxdxbox;" style=" padding-bottom: 10%; background: #f5f5f5;">
            <h1 class="yxdxbt">完善课程体系，无缝衔接市场需求</h1>
            <img src="/assets/images/jingjiadt/yxdx/kecheng1.png?v=1598320525284" style="width: 96%; margin: 0 2% 3% 2%;">
            <img src="/assets/images/jingjiadt/yxdx/kecheng2.png?v=1598320525284" style="width: 96%; margin: 0 2% 3% 2%;">
            <img src="/assets/images/jingjiadt/yxdx/kecheng3.png?v=1598320525284" style="width: 96%; margin: 0 2% 3% 2%;">
            <a class="doyoo-btn">
                <div class="anniu" style=" width: 50%; margin-top: 8%;">查看详细课程大纲</div>
            </a>
        </section>




        <style>
            .part-jxbz {
                padding: 16% 0;
            }
            
            .part-jxbz .titlebox {
                padding-bottom: 10vw;
            }
            
            .jxbz-item {
                margin-bottom: 6vw;
            }
            
            .jxbz-item h2 {
                padding-top: 4vw;
            }
        </style>





        <!--教学保障-->
        <div class="part-box part-jxbz" style="background: #fff;">
            <div class="titlebox">
                <h1>6大就业保障 ，横扫就业“难”</h1>
            </div>
            <div class="part-content">
                <a class="doyoo-btn">
                    <div class="jxbz-item">
                        <img src="/assets/images/jingjiadt/yxdx/jxbz1.png?v=1598320525284">
                        <h2>免费试听体验</h2>
                    </div>
                </a>
                <a class="doyoo-btn">
                    <div class="jxbz-item">
                        <img src="/assets/images/jingjiadt/yxdx/jxbz2.png?v=1598320525284">
                        <h2>名企定向就业</h2>
                    </div>
                </a>
                <a class="doyoo-btn">
                    <div class="jxbz-item  jxbz-threeitem">
                        <img src="/assets/images/jingjiadt/yxdx/jxbz3.png?v=1598320525284">
                        <h2>全程名师面授</h2>
                    </div>
                </a>
                <div class="cle"></div>
            </div>
            <div class="part-content jxbz-ctn">
                <a class="doyoo-btn">
                    <div class="jxbz-item">
                        <img src="/assets/images/jingjiadt/yxdx/jxbz4.png?v=1598320525284">
                        <h2>先学习后付款</h2>
                    </div>
                </a>
                <a class="doyoo-btn">
                    <div class="jxbz-item">
                        <img src="/assets/images/jingjiadt/yxdx/jxbz5.png?v=1598320525284">
                        <h2>企业项目实训</h2>
                    </div>
                </a>
                <a class="doyoo-btn">
                    <div class="jxbz-item  jxbz-threeitem">
                        <img src="/assets/images/jingjiadt/yxdx/jxbz6.png?v=1598320525284">
                        <h2>真实案例教学</h2>
                    </div>
                </a>
                <div class="cle"></div>
            </div>
        </div>







        <!--丝路-->
        <section class="yxmsbox;" style="  padding-bottom: 10%;background: #f5f5f5; ">
            <h1 class="yxdxbt">丝路教育 12年匠心打磨教学高品质</h1>
            <img src="/assets/images/jingjiadt/yxkf/silu.png?v=1598320525284" style="width: 96%; margin: 0 2% 3% 2%;">
            <a class="doyoo-btn">
                <div class="anniu" style=" width: 50%; margin-top: 8%;">走进丝路</div>
            </a>
        </section>






        <!--讲师-->
        <section class="yxmsbox;" style="  padding-bottom: 10%; background: #f5f5f5;">
            <h1 class="yxdxbt">名师全程面授，技术倾囊相授</h1>
            <img src="/assets/images/jingjiadt/yxkf/laoshi1.png?v=1598320525284" style="width: 92%; margin: 0 4% 3% 4%;">
            <img src="/assets/images/jingjiadt/yxkf/laoshi2.png?v=1598320525284" style="width: 92%; margin: 0 4% 3% 4%;">
            <a class="doyoo-btn">
                <div class="anniu" style=" width: 50%; margin-top: 8%;">预约讲师1对1咨询</div>
            </a>
        </section>




        <!--教学保障-->
        <style>
            .part-jxbz .titlebox h1 {
                line-height: 0.3rem;
            }
            
            .jxbz-item {
                float: left;
                text-align: center;
                width: 33.33%;
            }
            
            .jxbz-item img {
                width: 52%;
                margin: 0 auto;
                display: block;
            }
            
            .jxbz-threeitem {
                float: right;
            }
            
            .jxbz-item h2 {
                color: #333;
                font-size: 0.14rem;
                line-height: 0.14rem;
                margin-top: 0.1rem;
            }
            
            .jxbz-ctn {
                margin-top: 0.15rem;
            }
            /*问题*/
            
            .part-wenti {
                background: url(/assets/images/jingjiadt/yxdx/wentback.png)no-repeat top;
                background-size: 112%;
            }
            
            .part-wenti .titlebox h1 {
                color: #fff;
            }
            
            .wenti-item {
                margin-bottom: 0.1rem;
            }
            
            .wenti-item p {
                float: left;
                font-size: 0.14rem;
                line-height: 0.4rem;
            }
            
            .wenti-item p:nth-of-type(1) {
                color: #999;
                width: 67%;
                padding-left: 4%;
                border: 1px solid #5e5e66;
                border-right: none;
            }
            
            .wenti-item p:nth-of-type(2) {
                color: #fff;
                width: 28%;
                background: #fcc800;
                border: 1px solid #fcc800;
                text-align: center;
            }
            
            .part-xinzi .btn {
                width: 56%;
            }
            
            .part-xinzi {
                background: #ececec;
            }
            
            .titlebox h1 {
                line-height: 0.3rem;
            }
        </style>


        <!--学员-->
        <section class="yxdxbox;" style=" padding-bottom: 10%;">
            <h1 class="yxdxbt">学员高薪就业，见证课程效果</h1>
            <!-- <img src="/assets/images/jingjiadt/yxdx/xueyuan.png?v=1598320525284" style="width:90%;margin: 0 5% 3% 5%;">
	 <p style=" font-size: 0.14rem; margin: 6% 20% 2% 20%">(*丝路学员入职企业环境部分展示)</p>
	<img src="/assets/images/jingjiadt/yxdx/huanjing.png?v=1598320525284" style="width: 90%; margin: 0 5% 3% 5%;">-->
            <img src="/assets/images/jingjiadt/yszz/xueyuan1.png?v=1598320525284" style="width: 90%; margin: 0 auto; padding-bottom: 40px;">
            <img src="/assets/images/jingjiadt/yszz/xueyuan2.png?v=1598320525284" style="width: 90%; margin: 0 auto; padding-bottom: 40px;">
        </section>

        <!--作品-->
        <div class="part-box part-zuopin" style="padding:10vw 0;">
            <div class="titlebox">
                <h1 style="padding-bottom: 6vw;">优秀作品集，你的最佳求职简历</h1>
            </div>
            <div class="part-content"> <img src="/assets/images/jingjiadt/yxdx/zuoping.png?v=1598320525284"> </div>
            <a class="doyoo-btn">
                <div class="anniu" style=" width: 50%; margin-top: 8%;">查看详细课程大纲</div>
            </a>
            </section>
        </div>

        <!--合作-->
        <div class="part-box part-hezuo" style="padding:10vw 0;">
            <div class="titlebox">
                <h1 style="padding-bottom: 6vw;">与众多名企达成合作</h1>
                <p>为你提供更多选择</p>
            </div>
            <div class="part-content"> <img src="/assets/images/jingjiadt/yxdx/qiyehezuo.png?v=1598320525284"> </div>
            <a class="doyoo-btn">
                <div class="anniu" style=" width: 50%; margin-top: 8%;">查看详细课程大纲</div>
            </a>
            </section>
        </div>

        <!--问题-->
        <div class="part-box part-wenti" style="padding: 0.3rem 0;?v=1598320525284">
            <div class="titlebox">
                <h1>有疑问？老师帮你解答</h1>
            </div>
            <div class="part-content" style="width: 90%; margin: 0 auto; margin-top: 6vw;">
                <a class="doyoo-btn">
                    <div class="wenti-item">
                        <p>学游戏特效要多少钱？</p>
                        <p style=" color: #333;">查看解答</p>
                        <div class="cle"></div>
                    </div>
                </a>
                <a class="doyoo-btn">
                    <div class="wenti-item">
                        <p>学完能找到工作？</p>
                        <p style=" color: #333;">查看解答</p>
                        <div class="cle"></div>
                    </div>
                </a>
                <a class="doyoo-btn">
                    <div class="wenti-item">
                        <p>没钱学怎么办？</p>
                        <p style=" color: #333;">查看解答</p>
                        <div class="cle"></div>
                    </div>
                </a>
                <a class="doyoo-btn">
                    <div class="wenti-item">
                        <p>学历低能学游戏特效？</p>
                        <p style=" color: #333;">查看解答</p>
                        <div class="cle"></div>
                    </div>
                </a>
                <a class="doyoo-btn">
                    <div class="wenti-item">
                        <p>在哪里上课的？</p>
                        <p style=" color: #333;">查看解答</p>
                        <div class="cle"></div>
                    </div>
                </a>
                <a class="doyoo-btn">
                    <div class="wenti-item">
                        <p>上课时间怎么安排的？</p>
                        <p style=" color: #333;">查看解答</p>
                        <div class="cle"></div>
                    </div>
                </a>
                <a class="doyoo-btn">
                    <div class="wenti-item">
                        <p>零基础能学会吗？</p>
                        <p style=" color: #333;">查看解答</p>
                        <div class="cle"></div>
                    </div>
                </a>
                <a class="doyoo-btn">
                    <div class="wenti-item">
                        <p>可以免费试学吗？</p>
                        <p style=" color: #333;">查看解答</p>
                        <div class="cle"></div>
                    </div>
                </a>
                <a class="doyoo-btn">
                    <div class="anniu" style="width: 60%; margin-top: 6vw;">更多问题点击查询</div>
                </a>
            </div>
        </div>



        <!-- 表单统计 -->
        <style>
            .section-form {
                background: url(/assets/images/jingjiadt/yxdx/bj2.jpg) no-repeat center;
                background-size: cover;
                padding-top: 1.5333rem;
                height: 9.3333rem;
            }
            
            .section-form .form-group {
                font-size: 0.6133rem;
                line-height: 1.5;
                text-align: center;
                color: #fff;
            }
            
            .section-form .btn {
                display: inline-block;
                line-height: 1;
                width: 5.3333rem;
                height: 0.8rem;
                line-height: 0.8rem;
                border-radius: 4px;
                font-size: 0.3733rem;
                border: 1px solid #EC6941;
                text-align: center;
                color: #fff;
                background-color: #EC6941;
                -webkit-appearance: none;
            }
        </style>
        <div class="section-form">
            <form id="form">
                <div class="form-group form-group-txt">
                    名师掌舵，打造高薪人才<br/>0基础入门，助你圆梦游戏动效师
                </div>
                <div class="form-group">
                    <input type='text' name='name' id="name" placeholder="请输入您的姓名" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="text" name='tel' id="tel" class="form-control" placeholder="请输入您的手机号码" />
                </div>
                <input type="text" name='time' id='time' style="display: none;" />

                <div class="form-submit">
                    <button class="btn" type="button" onclick="add_ajaxmessage()"> 预约免费试学</button>
                </div>
            </form>
        </div>




        <!-- end footer -->
        <!--页脚 -->
<div class="endfoot-box">
    <div class="endfoot">
        <a class="doyoo-btn">
            <div class="endfoot-item">
                <p>名师在线</p>
                <p>免费试听</p>
            </div>
        </a>
    </div>
    <h3>本网站版权归丝路教育所有，盗用必究</h3>
</div>

<script src="/assets/js/libs/jquery.min.js"></script>
<script src="/assets/js/plugs/vide7.4.1/js/video.js"></script>
<script src="/assets/js/plugs/picViewer/picViewer.js"></script>
<script src="/assets/js/plugs/swiper/swiper.js"></script>
<script src="/assets/js/plugs/layer-v3.1.1/layer/layer.js"></script>
<script src="/assets/js/global/common.js"></script>
<script src="http://op.jiain.net/20002985/10085553.js"></script>
<script>
    var doyooBtns = [].slice.call(document.querySelectorAll('.doyoo-btn'));
    for (var i = 0, len = doyooBtns.length; i < len; i++) {
        doyooBtns[i].onclick = function() {
            doyoo.util.openChat('g=10075108');
            return false;
        }
    }
</script>

<!-- 百度统计代码 -->
<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?57448cbcd9efb5a61b8ba648ba49f3e2";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>

<!-- 表单 -->
<script src="/assets/js/plugs/formbd.js"></script>

</div>


        <!--乐语系统-->
        <script type="text/javascript" charset="utf-8" src="http://lead.soperson.com/20002985/10086210.js"></script>

        <!--统计工具：CNZZ-->
        <div style="font-size: 0.1rem;?v=1598320525284">
            <script type="text/javascript">
                var cnzz_protocol = (("https:" == document.location.protocol) ? "https://" : "http://");
                document.write(unescape("%3Cspan id='cnzz_stat_icon_1276821672'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s23.cnzz.com/z_stat.php%3Fid%3D1276821672%26show%3Dpic' type='text/javascript'%3E%3C/script%3E?v=1598320525284"));
            </script>
        </div>

        <!--百度呼-->
        <script>
            var _hmt = _hmt || [];
            (function() {
                var hm = document.createElement("script");
                hm.src = "https://hm.baidu.com/hm.js?57448cbcd9efb5a61b8ba648ba49f3e2";
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(hm, s);
            })();
        </script>
        <script type="text/javascript" charset="utf-8" async src="http://lxbjs.baidu.com/lxb.js?sid=8881824"></script>
</body>

</html>