<!doctype html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
<script>
    (function flexible(window, document) {
        var docEl = document.documentElement
        var dpr = window.devicePixelRatio || 1

        // adjust body font size
        function setBodyFontSize() {
            if (document.body) {
                document.body.style.fontSize = (12 * dpr) + 'px'
            } else {
                document.addEventListener('DOMContentLoaded', setBodyFontSize)
            }
        }
        setBodyFontSize();

        // set 1rem = viewWidth / 10
        function setRemUnit() {
            var rem = docEl.clientWidth / 10
            docEl.style.fontSize = rem + 'px'
        }

        setRemUnit()

        // reset rem unit on page resize
        window.addEventListener('resize', setRemUnit)
        window.addEventListener('pageshow', function(e) {
            if (e.persisted) {
                setRemUnit()
            }
        })

        // detect 0.5px supports
        if (dpr >= 2) {
            var fakeBody = document.createElement('body')
            var testElement = document.createElement('div')
            testElement.style.border = '.5px solid transparent'
            fakeBody.appendChild(testElement)
            docEl.appendChild(fakeBody)
            if (testElement.offsetHeight === 1) {
                docEl.classList.add('hairlines')
            }
            docEl.removeChild(fakeBody)
        }
    }(window, document))
</script>
<title>游戏软件学院</title>
<link rel="stylesheet" href="/assets/js/plugs/vide-7.4.1/css/video-js.min.css?v=1595986561652">
<link rel="stylesheet" href="/assets/js/plugs/picViewer/picViewer.css?v=1595986561652">
<link rel="stylesheet" href="/assets/js/plugs/swiper-3.4.0/swiper-3.4.2.min.css?v=1595986561652">
<link rel="stylesheet" href="/assets/css/jingjiadt/public.css?v=1595986561652">

<!--menu-->
<link rel="stylesheet" href="/assets/css/jingjiadt/yxtx.css?v=1595986561652">

</head>

<body>
    <div class="header">
    <div class="header-tp" id="header-tp">
        <div class="header-menu"></div>
        <ul class="header-menu-list">
            <li class="header-menu-first">
                <a href="/index.html" style="color: #fff;">首页</a>
            </li>
            <li class="header-menu-first arrow-right">
     影视视效课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/yingshi/ysqn.html">影视视效全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ystx.html">特效合成大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ysjj.html">剪辑包装创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ysdh.html">影视动画精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/c4d.html">C4D特效大师班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
     游戏视觉课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/youxi/yxqn.html">游戏视觉全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxyh.html">游戏原画创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxms.html">3D美术精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxrj.html">游戏软件精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxtx.html">动作特效精英班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
     室内设计课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/shinei/snqk.html">APEC室内设计全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/cad.html">CAD制图大师班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snrz.html">室内软装精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snsh.html">室内手绘创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snxgt.html">室内效果图精英班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
     U X 全栈课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/ui/uiqn.html">UX全栈视效全能班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/psds.html">Photoshop大师班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/pmsj.html">品牌视觉创意班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/dsmg.html">
                电商美工精英班
            </a></li>
        <li class="header-menu-second">
            <a href="/ui/wysj.html">全链路设计精英班
            </a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
     建筑视效课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/jianzhu/jzsx.html">建筑视效全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/3dsMax.html">3ds MAX大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/3djm.html"> 3D建模精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/xrys.html">渲染艺术精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/jzxgt.html"> 建筑效果图精英班 </a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
     BIM应用课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/bim/bimqn.html">BIM应用全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/bimkz.html">BIM考证精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/revitds.html">Revit大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/lumion.html">Lumion大师班</a>
        </li>
    </ul>
</li>
            <li class="header-menu-first">
                <a href="/home/studentworks.html" style="color: #fff;">学员作品</a>
            </li>
            <li class="header-menu-first">
                <a href="/home/onlinebao.html" style="color: #fff;">在线报名</a>
            </li>
            <li class="header-menu-first">
                <a href="/home/contactus.html" style="color: #fff;">联系我们</a>
            </li>

        </ul>
        <div class="header-logo"></div>
        <a class="doyoo-btn">
            <div class="header-phone"></div>
        </a>
    </div>
    <div class="header-nav">
        <ul class="header-nav-wrap">
            <li class="header-nav-first header-nav-active">
                <a href="/index.html">首页</a>
            </li>
            <li class="header-nav-first" id="header-nav-first-course">课程
                <span class="arrow-down"></span>
                <ul class="header-nav-course">
                    <li class="header-menu-first arrow-right">
      影视视效 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/yingshi/ysqn.html">影视视效全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ystx.html">特效合成大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ysjj.html">剪辑包装创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ysdh.html">影视动画精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/c4d.html">C4D特效大师班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
      游戏视觉 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/youxi/yxqn.html">游戏视觉全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxyh.html">游戏原画创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxms.html">3D美术精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxrj.html">游戏软件精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxtx.html">动作特效精英班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
      室内设计 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/shinei/snqk.html">APEC室内设计全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/cad.html">CAD制图大师班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snrz.html">室内软装精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snsh.html">室内手绘创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snxgt.html">室内效果图精英班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
      UX 全栈 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/ui/uiqn.html">UX全栈视效全能班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/psds.html">Photoshop大师班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/pmsj.html">品牌视觉创意班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/dsmg.html">
                电商美工精英班
            </a></li>
        <li class="header-menu-second">
            <a href="/ui/wysj.html">全链路设计精英班
            </a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
      建筑视效 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/jianzhu/jzsx.html">建筑视效全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/3dsMax.html">3ds MAX大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/3djm.html"> 3D建模精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/xrys.html">渲染艺术精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/jzxgt.html"> 建筑效果图精英班 </a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
      BIM应用 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/bim/bimqn.html">BIM应用全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/bimkz.html">BIM考证精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/revitds.html">Revit大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/lumion.html">Lumion大师班</a>
        </li>
    </ul>
</li>
                </ul>
            </li>
            <li class="header-nav-first">
                <a href="/home/famousteacher.html">名师</a>
            </li>
            <li class="header-nav-first">
                <a href="/home/obtain.html">就业</a>
            </li>
            <li class="header-nav-first">
                <a href="/home/about.html">关于丝路</a>
            </li>
        </ul>
    </div>
</div>
<div class="header-mask" id="header-mask"></div>


    <!--公用-->
    <style>
        body {
            margin: 0;
        }
        
        .bim * {
            font-family: "Microsoft YaHei", PingFangSC-Mediu, SimSun, Arial, Helvetica;
            color: #323232;
            font-size: 4vw;
            line-height: 4vw;
            margin: 0;
            padding: 0;
            box-shadow: none;
        }
        
        .yxmsbox {
            margin-bottom: 10%;
        }
        
        .yxmsnrk {
            width: 90%;
            margin: 0 auto;
        }
        
        .yxmsbt {
            text-align: center;
            font-size: 6vw;
            line-height: 8vw;
            padding-bottom: 6%;
            padding-top: 10%;
        }
        
        .yxms img {
            display: block;
        }
        
        h1,
        h2 {
            font-weight: normal;
        }
        
        a {
            text-decoration: none;
            cursor: pointer;
        }
        
        .clearfix {
            clear: both;
        }
        
        .anniu {
            color: #333;
            text-align: center;
            line-height: 12vw;
            border-radius: 6vw;
            font-size: 4.5vw;
            margin: 0 auto;
            background: #fcc800;
        }
    </style>
    <div class="yxms">



        <!--banner-->
        <div>
            <a class="doyoo-btn"><img src="/assets/images/jingjiadt/yxrjdt/banner.jpg?v=1595986561652" style="width: 100%;margin-top: 10%;"></a>
        </div>



        <!--介绍-->
        <div class="yxmsbox;" style="padding-bottom: 10%;">
            <section>
                <h1 class="yxmsbt">时下热门软件<br/>承包爆款游戏制作全流程</h1>
                <p style="font-size: 4.5vw; margin: 0 auto; text-align: center; color: #333; width:90%;?v=1595986561652"><b>>>游戏引擎/开发软件<<</b></p>
                <img src="/assets/images/jingjiadt/yxrjdt/yingqing1.jpg?v=1595986561652" style="width: 92%; margin: 4% 4% 3% 4%;">
                <p style="font-size: 4.5vw; margin: 0 auto; text-align: center; color: #333; width:90%; margin-top: 40px;?v=1595986561652"><b>>>游戏引擎/开发软件<<</b></p>
                <img src="/assets/images/jingjiadt/yxrjdt/yingqing2.jpg?v=1595986561652" style="width: 92%; margin: 4% 4% 3% 4%;">
            </section>
        </div>

        <!--介绍-->
        <div class="yxmsbox;" style="padding-bottom: 10%; background: #0d0d0d; padding-top: 10%;">
            <section>
                <p style="font-size: 4.5vw; margin: 0 auto; text-align: center; color: #fff; width:90%;?v=1595986561652"><b>>>游戏美术制作软件<<</b></p>
                <p style="font-size: 4.5vw; margin: 0 auto; text-align: center; color: #fff; width:90%; margin-top: 20px;?v=1595986561652"><b>MAYA（玛雅）</b></p>
                <p style="font-size: 3.5vw; margin: 0 auto; text-align: center; color: #9c9c9c; width:90%;?v=1595986561652">软件简介：Autodesk Maya是美国Autodesk公司出品的世界顶级的三维动画软件，应用对象是专业的游戏美术、影视广告、电影特技等。Maya功能完善，工作灵活，易学易用，制作效率极高，渲染真实感极强，是次世代级别的高端制作软件。</p>
                <img src="/assets/images/jingjiadt/yxrjdt/ruanjian1.png?v=1595986561652" style="width: 94%; margin: 4% 2% 3% 2%;">

                <p style="font-size: 4.5vw; margin: 0 auto; text-align: center; color: #fff; width:90%;  margin-top: 20px;?v=1595986561652"><b>ZBrush</b></p>
                <p style="font-size: 3.5vw; margin: 0 auto; text-align: center; color: #9c9c9c; width:90%;?v=1595986561652">软件简介：ZBrush 是一个数字雕刻和绘画软件，是按照世界领先的特效工作室和全世界范围内的游戏设计者的需要开发而成的，它提供了极其优秀的功能和特色，将游戏制作中间最复杂最耗费精力的角色建模和贴图工作，变得简单高效。</p>
                <img src="/assets/images/jingjiadt/yxrjdt/ruanjian2.png?v=1595986561652" style="width: 94%; margin: 4% 2% 3% 2%;">

                <p style="font-size: 4.5vw; margin: 0 auto; text-align: center; color: #fff; width:90%;  margin-top: 20px;?v=1595986561652"><b>Substance Painter</b></p>
                <p style="font-size: 3.5vw; margin: 0 auto; text-align: center; color: #9c9c9c; width:90%;?v=1595986561652">软件简介：Substance Painter是一款基于物理效果的材质绘制神器，将在3DMAX、MAYA、ZBrush软件中制作的模型放入Substance Painter软件中，可以高效的在模型上绘制出各种物理属性，如材质、高光、法线等。</p>
                <img src="/assets/images/jingjiadt/yxrjdt/ruanjian3.png?v=1595986561652" style="width: 94%; margin: 4% 2% 3% 2%;">

            </section>
        </div>


        <!--职业-->
        <div class="yxmsbox;" style="padding-bottom: 10%; background: #f7f7f7;">
            <section>
                <h1 class="yxmsbt">将兴趣变成职业<br/>学软件，做游戏，拿高薪</h1>
                <img src="/assets/images/jingjiadt/yxrjdt/zhiye1.png?v=1595986561652" style="width: 96%; margin: 0% 1.5% 3% 1.5%;?v=1595986561652">
                <img src="/assets/images/jingjiadt/yxrjdt/zhiye2.png?v=1595986561652" style="width: 96%; margin: 2% 1.5% 2% 1.5%;?v=1595986561652">
                <img src="/assets/images/jingjiadt/yxrjdt/zhiye3.png?v=1595986561652" style="width: 96%; margin: 2% 1.5% 2% 1.5%;?v=1595986561652">
                <img src="/assets/images/jingjiadt/yxrjdt/zhiye4.png?v=1595986561652" style="width: 96%; margin: 2% 1.5% 2% 1.5%;?v=1595986561652">
            </section>
        </div>

        <!--人群-->
        <div class="yxmsbox;" style="padding-bottom: 10%; ">
            <section>
                <h1 class="yxmsbt">哪些人群适合学习游戏制作软件？</h1>
                <img src="/assets/images/jingjiadt/yxrjdt/renqun.png?v=1595986561652" style="width: 92%; margin: 0% 4% 3% 4%;">

            </section>
        </div>

        <!--数据-->
        <div class="yxmsbox;" style="padding-bottom: 10%; background: url(/assets/images/jingjiadt/yxrjdt/hangyebj.jpg) center no-repeat;background-size: 100%; height: 720px;?v=1595986561652">
            <section>
                <h1 class="yxmsbt" style="color: #fff;">为什么那么多的人学习游戏制作软件</h1>
                <p style="font-size: 4.5vw; margin: 0 auto; text-align: center; color: #fff; width:90%; margin-bottom: 10px?v=1595986561652"><b>中国游戏市场产值巨大，发展前景广阔</b></p>
                <p style="font-size: 3.5vw; margin: 0 auto; text-align: center; color: #9c9c9c; width:96%;?v=1595986561652">中国游戏市场产值巨大，发展前景广阔，用户规模和全年产值均保持稳步增长，可见我国游戏产业庞大的市场发展潜力。</p>
                <img src="/assets/images/jingjiadt/yxrjdt/shuju.png?v=1595986561652" style="width: 92%; margin: 60% 4% 3% 4%;">
                <a class="doyoo-btn">
                    <div class="anniu" style=" width: 50%; margin-top: 8%;">查看更多行业信息</div>
                </a>
            </section>
        </div>

        <!--软件-->
        <div class="yxmsbox;" style="padding-bottom: 10%; ">
            <section>
                <h1 class="yxmsbt">核心制作软件全掌握</br>让你一身神装迎战职场</h1>
                <img src="/assets/images/jingjiadt/yxrjdt/ruanjian.png?v=1595986561652" style="width: 92%; margin: 0% 4% 3% 4%;">
                <a class="doyoo-btn">
                    <div class="anniu" style=" width: 50%; margin-top: 8%;">查看更多软件</div>
                </a>
            </section>
        </div>

        <!--课程-->
        <div class="yxmsbox;" style="padding-bottom: 10%; background: #f7f7f7; ">
            <section>
                <h1 class="yxmsbt">课程由浅至深，0基础也可快速提升</h1>
                <img src="/assets/images/jingjiadt/yxrjdt/kecheng1.jpg?v=1595986561652" style="width: 100%; margin: 4% 0% 0% 0%;">
                <img src="/assets/images/jingjiadt/yxrjdt/kecheng2.jpg?v=1595986561652" style="width: 100%; margin: 0% 0% 0% 0%;">
                <img src="/assets/images/jingjiadt/yxrjdt/kecheng3.jpg?v=1595986561652" style="width: 100%; margin: 0% 0% 0% 0%;">
                <img src="/assets/images/jingjiadt/yxrjdt/kecheng4.jpg?v=1595986561652" style="width: 100%; margin: 0% 0% 0% 0%;">

            </section>
        </div>

        <!--教学保障-->
        <style>
            .titlebox h1 {
                padding: 6vw;
            }
            
            .jxbz-item {
                margin-top: 5vw;
            }
            
            .jxbz-item h2 {
                padding-top: 5vw;
            }
        </style>


        <div class="part-box part-jxbz" style="background: #ffffff;padding-top: 10vw; padding-bottom: 10vw;">
            <div class="titlebox">
                <h1>0基础0负担，报名即享优惠</h1>
            </div>
            <div class="part-content">
                <a class="doyoo-btn">
                    <div class="jxbz-item">
                        <img src="/assets/images/jingjiadt/yxrjdt/jxbz1.png?v=1595986561652">
                        <h2>免费试听体验</h2>
                    </div>
                </a>
                <a class="doyoo-btn">
                    <div class="jxbz-item">
                        <img src="/assets/images/jingjiadt/yxrjdt/jxbz2.png?v=1595986561652">
                        <h2>名企定向就业</h2>
                    </div>
                </a>
                <a class="doyoo-btn">
                    <div class="jxbz-item  jxbz-threeitem">
                        <img src="/assets/images/jingjiadt/yxrjdt/jxbz3.png?v=1595986561652">
                        <h2>全程名师面授</h2>
                    </div>
                </a>
                <div class="cle"></div>
            </div>
            <div class="part-content jxbz-ctn">
                <a class="doyoo-btn">
                    <div class="jxbz-item">
                        <img src="/assets/images/jingjiadt/yxrjdt/jxbz4.png?v=1595986561652">
                        <h2>先学习后付款</h2>
                    </div>
                </a>
                <a class="doyoo-btn">
                    <div class="jxbz-item">
                        <img src="/assets/images/jingjiadt/yxrjdt/jxbz5.png?v=1595986561652">
                        <h2>免费重修课程</h2>
                    </div>
                </a>
                <a class="doyoo-btn">
                    <div class="jxbz-item  jxbz-threeitem">
                        <img src="/assets/images/jingjiadt/yxrjdt/jxbz6.png?v=1595986561652">
                        <h2>真实案例教学</h2>
                    </div>
                </a>
                <div class="cle"></div>
            </div>
        </div>




        <!--学员-->
        <div class="yxmsbox;" style="padding-bottom: 10%; ">
            <section>
                <h1 class="yxmsbt">在丝路学课程，毕业就是好就业</h1>
                <img src="/assets/images/jingjiadt/yxrjdt/xueyuan.png?v=1595986561652" style="width: 92%; margin: 0% 4% 3% 4%;">
                <a class="doyoo-btn">
                    <div class="anniu" style=" width: 50%; margin-top: 8%;">查看更多学生信息</div>
                </a>
            </section>
        </div>

        <!--作品-->
        <div class="yxmsbox;" style="padding-bottom: 10%; background: #f7f7f7; ">
            <section>
                <h1 class="yxmsbt">一年学员打造老手作品</h1>
                <img src="/assets/images/jingjiadt/yxrjdt/zuoping.png?v=1595986561652" style="width: 92%; margin: 0% 4% 3% 4%;">
                <a class="doyoo-btn">
                    <div class="anniu" style=" width: 50%; margin-top: 8%;">查看更多学生作品</div>
                </a>
            </section>
        </div>

        <!--证书-->
        <div class="yxmsbox;" style="padding-bottom: 10%; background: url(/assets/images/jingjiadt/yxrjdt/zhengshubj.jpg) center no-repeat;background-size: 100%; height: 350px;?v=1595986561652">
            <section>
                <h1 class="yxmsbt" style="color: #fff;">12年专注CG教育，学得更放心</h1>
                <img src="/assets/images/jingjiadt/yxrjdt/zhengshu.png?v=1595986561652" style="width: 92%; margin: 0% 4% 3% 4%;">
            </section>
        </div>

        <!--作品-->
        <div class="yxmsbox;" style="padding-bottom: 10%; background: #f7f7f7; ">
            <section>
                <h1 class="yxmsbt">优越的教学环境为你造梦</h1>
                <img src="/assets/images/jingjiadt/yxrjdt/huangjing.png?v=1595986561652" style="width: 92%; margin: 0% 4% 3% 4%;">

            </section>
        </div>

        <!--logo-->
        <div class="yxmsbox;">
            <section>
                <h1 class="yxmsbt">与众多名企达成合作<br/>为你提供更多选择</h1>
                <img src="/assets/images/jingjiadt/yxrjdt/logo.jpg?v=1595986561652" style="width: 100%; ">
            </section>
        </div>



        <style>
            .section-form {
                background: url(/assets/images/jingjiadt/yxrjdt/biaodan2.jpg) no-repeat center;
                background-size: cover;
                padding-top: 1.5333rem;
                height: 9.3333rem;
                margin-bottom: 0;
            }
            
            .section-form .form-group {
                font-size: 0.6133rem;
                line-height: 1.5;
                text-align: center;
                color: #fff;
            }
            
            .section-form .btn {
                display: inline-block;
                line-height: 1;
                width: 5.3333rem;
                height: 0.8rem;
                line-height: 0.8rem;
                border-radius: 4px;
                font-size: 0.3733rem;
                border: 1px solid #EC6941;
                text-align: center;
                color: #fff;
                background-color: #EC6941;
                -webkit-appearance: none;
            }
        </style>
        <div class="section-form">
            <form id="form">
                <div class="form-group form-group-txt">
                    换种方式“玩游戏”
                    <br/>开启职场高薪路
                </div>
                <div class="form-group">
                    <input type='text' name='name' id="name" placeholder="请输入您的姓名" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="text" name='tel' id="tel" class="form-control" placeholder="请输入您的手机号码" />
                </div>
                <input type="text" name='time' id='time' style="display: none;" />

                <div class="form-submit">
                    <button class="btn" type="button" onclick="add_ajaxmessage()"> 预约免费试学</button>
                </div>
            </form>
        </div>


        <!--页脚 -->
<div class="endfoot-box">
    <div class="endfoot">
        <a class="doyoo-btn">
            <div class="endfoot-item">
                <p>名师在线</p>
                <p>免费试听</p>
            </div>
        </a>
    </div>
    <h3>本网站版权归丝路教育所有，盗用必究</h3>
</div>

<script src="/assets/js/libs/jquery.min.js"></script>
<script src="/assets/js/plugs/vide7.4.1/js/video.js"></script>
<script src="/assets/js/plugs/picViewer/picViewer.js"></script>
<script src="/assets/js/plugs/swiper/swiper.js"></script>
<script src="/assets/js/plugs/layer-v3.1.1/layer/layer.js"></script>
<script src="/assets/js/global/common.js"></script>
<!-- <script src="http://op.jiain.net/20002985/10085553.js"></script> -->
<script>
    var doyooBtns = [].slice.call(document.querySelectorAll('.doyoo-btn'));
    for (var i = 0, len = doyooBtns.length; i < len; i++) {
        doyooBtns[i].onclick = function() {
            doyoo.util.openChat('g=10075108');
            return false;
        }
    }
</script>

<!-- 百度统计代码 -->
<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?57448cbcd9efb5a61b8ba648ba49f3e2";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>

<!-- 表单 -->
<script src="/assets/js/plugs/formbd.js"></script>

</div>




        <!--乐语系统-->
        <script type="text/javascript" charset="utf-8" src="http://lead.soperson.com/20002985/10086210.js"></script>

        <!--统计工具：CNZZ-->
        <div style="font-size: 0.1rem;?v=1595986561652">
            <script type="text/javascript">
                var cnzz_protocol = (("https:" == document.location.protocol) ? "https://" : "http://");
                document.write(unescape("%3Cspan id='cnzz_stat_icon_1276821672'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s23.cnzz.com/z_stat.php%3Fid%3D1276821672%26show%3Dpic' type='text/javascript'%3E%3C/script%3E?v=1595986561652"));
            </script>
        </div>

        <!--百度呼-->
        <script>
            var _hmt = _hmt || [];
            (function() {
                var hm = document.createElement("script");
                hm.src = "https://hm.baidu.com/hm.js?57448cbcd9efb5a61b8ba648ba49f3e2";
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(hm, s);
            })();
        </script>
        <script type="text/javascript" charset="utf-8" async src="http://lxbjs.baidu.com/lxb.js?sid=8881824"></script>
</body>

</html>