<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
<script>
    (function flexible(window, document) {
        var docEl = document.documentElement
        var dpr = window.devicePixelRatio || 1

        // adjust body font size
        function setBodyFontSize() {
            if (document.body) {
                document.body.style.fontSize = (12 * dpr) + 'px'
            } else {
                document.addEventListener('DOMContentLoaded', setBodyFontSize)
            }
        }
        setBodyFontSize();

        // set 1rem = viewWidth / 10
        function setRemUnit() {
            var rem = docEl.clientWidth / 10
            docEl.style.fontSize = rem + 'px'
        }

        setRemUnit()

        // reset rem unit on page resize
        window.addEventListener('resize', setRemUnit)
        window.addEventListener('pageshow', function(e) {
            if (e.persisted) {
                setRemUnit()
            }
        })

        // detect 0.5px supports
        if (dpr >= 2) {
            var fakeBody = document.createElement('body')
            var testElement = document.createElement('div')
            testElement.style.border = '.5px solid transparent'
            fakeBody.appendChild(testElement)
            docEl.appendChild(fakeBody)
            if (testElement.offsetHeight === 1) {
                docEl.classList.add('hairlines')
            }
            docEl.removeChild(fakeBody)
        }
    }(window, document))
</script>
    <title>游戏制作培训|游戏制作软件培训|游戏制作全科班</title>
    <link rel="stylesheet" href="/assets/js/plugs/vide-7.4.1/css/video-js.min.css?v=1595915801326">
<link rel="stylesheet" href="/assets/js/plugs/picViewer/picViewer.css?v=1595915801326">
<link rel="stylesheet" href="/assets/js/plugs/swiper-3.4.0/swiper-3.4.2.min.css?v=1595915801326">
    <link rel="stylesheet" href="/assets/css/jingjiadt/public.css?v=1595915801326">

    <!--menu-->
    <link rel="stylesheet" href="/assets/css/jingjiadt/yxtx.css?v=1595915801326">

</head>

<body>
    <div class="header">
    <div class="header-tp" id="header-tp">
        <div class="header-menu"></div>
        <ul class="header-menu-list">
            <li class="header-menu-first">
                <a href="/index.html" style="color: #fff;">首页</a>
            </li>
            <li class="header-menu-first arrow-right">
     影视视效课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/yingshi/ysqn.html">影视视效全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ystx.html">特效合成大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ysjj.html">剪辑包装创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ysdh.html">影视动画精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/c4d.html">C4D特效大师班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
     游戏视觉课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/youxi/yxqn.html">游戏视觉全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxyh.html">游戏原画创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxms.html">3D美术精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxrj.html">游戏软件精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxtx.html">动作特效精英班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
     室内设计课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/shinei/snqk.html">APEC室内设计全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/cad.html">CAD制图大师班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snrz.html">室内软装精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snsh.html">室内手绘创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snxgt.html">室内效果图精英班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
     U X 全栈课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/ui/uiqn.html">UX全栈视效全能班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/psds.html">Photoshop大师班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/pmsj.html">品牌视觉创意班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/dsmg.html">
                电商美工精英班
            </a></li>
        <li class="header-menu-second">
            <a href="/ui/wysj.html">全链路设计精英班
            </a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
     建筑视效课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/jianzhu/jzsx.html">建筑视效全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/3dsMax.html">3ds MAX大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/3djm.html"> 3D建模精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/xrys.html">渲染艺术精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/jzxgt.html"> 建筑效果图精英班 </a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
     BIM应用课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/bim/bimqn.html">BIM应用全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/bimkz.html">BIM考证精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/revitds.html">Revit大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/lumion.html">Lumion大师班</a>
        </li>
    </ul>
</li>
            <li class="header-menu-first">
                <a href="/home/studentworks.html" style="color: #fff;">学员作品</a>
            </li>
            <li class="header-menu-first">
                <a href="/home/onlinebao.html" style="color: #fff;">在线报名</a>
            </li>
            <li class="header-menu-first">
                <a href="/home/contactus.html" style="color: #fff;">联系我们</a>
            </li>

        </ul>
        <div class="header-logo"></div>
        <a class="doyoo-btn">
            <div class="header-phone"></div>
        </a>
    </div>
    <div class="header-nav">
        <ul class="header-nav-wrap">
            <li class="header-nav-first header-nav-active">
                <a href="/index.html">首页</a>
            </li>
            <li class="header-nav-first" id="header-nav-first-course">课程
                <span class="arrow-down"></span>
                <ul class="header-nav-course">
                    <li class="header-menu-first arrow-right">
      影视视效 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/yingshi/ysqn.html">影视视效全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ystx.html">特效合成大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ysjj.html">剪辑包装创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ysdh.html">影视动画精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/c4d.html">C4D特效大师班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
      游戏视觉 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/youxi/yxqn.html">游戏视觉全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxyh.html">游戏原画创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxms.html">3D美术精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxrj.html">游戏软件精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxtx.html">动作特效精英班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
      室内设计 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/shinei/snqk.html">APEC室内设计全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/cad.html">CAD制图大师班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snrz.html">室内软装精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snsh.html">室内手绘创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snxgt.html">室内效果图精英班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
      UX 全栈 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/ui/uiqn.html">UX全栈视效全能班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/psds.html">Photoshop大师班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/pmsj.html">品牌视觉创意班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/dsmg.html">
                电商美工精英班
            </a></li>
        <li class="header-menu-second">
            <a href="/ui/wysj.html">全链路设计精英班
            </a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
      建筑视效 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/jianzhu/jzsx.html">建筑视效全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/3dsMax.html">3ds MAX大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/3djm.html"> 3D建模精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/xrys.html">渲染艺术精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/jzxgt.html"> 建筑效果图精英班 </a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
      BIM应用 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/bim/bimqn.html">BIM应用全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/bimkz.html">BIM考证精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/revitds.html">Revit大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/lumion.html">Lumion大师班</a>
        </li>
    </ul>
</li>
                </ul>
            </li>
            <li class="header-nav-first">
                <a href="/home/famousteacher.html">名师</a>
            </li>
            <li class="header-nav-first">
                <a href="/home/obtain.html">就业</a>
            </li>
            <li class="header-nav-first">
                <a href="/home/about.html">关于丝路</a>
            </li>
        </ul>
    </div>
</div>
<div class="header-mask" id="header-mask"></div>



    <!--公用-->
    <style>
        body {
            margin: 0;
        }
        
        .bim * {
            font-family: "Microsoft YaHei", PingFangSC-Mediu, SimSun, Arial, Helvetica;
            color: #323232;
            font-size: 4vw;
            line-height: 4vw;
            margin: 0;
            padding: 0;
            box-shadow: none;
        }
        
        .yxbox {
            padding: 10% 0;
        }
        
        .yxnrk {
            width: 90%;
            margin: 0 auto;
        }
        
        .yxbt {
            text-align: center;
            font-size: 6vw;
            line-height: 8vw;
            margin-bottom: 6%;
        }
        
        .yx img {
            display: block;
        }
        
        h1,
        h2 {
            font-weight: normal;
        }
        
        a {
            text-decoration: none;
            cursor: pointer;
        }
        
        .clearfix {
            clear: both;
        }
        
        .anniu {
            color: #333;
            text-align: center;
            line-height: 12vw;
            border-radius: 6vw;
            font-size: 4.5vw;
            margin: 0 auto;
            background: #fcc800;
        }
        
        .line {
            background: #dcdcdc;
            width: 95%;
            height: 0.2vw;
            margin: 0 auto;
            margin-top: 4vw;
            margin-bottom: 4vw;
        }
        
        .anniubox {
            margin: 0 auto;
            padding-top: 6vw;
            width: 80%;
        }
    </style>
    <div class="yx">

        <!--banner-->
        <div>
            <a class="doyoo-btn"><img src="/assets/images/jingjiadt/yxzhizuo/banner.jpg?v=1595915801326" style="width: 100%;margin-top: 20%;"></a>
        </div>

        <!--游戏行业-->
        <style>
            .hangye-box {
                background: url(/assets/images/jingjiadt/yxzhizuo/bj1.png) no-repeat center;
                background-size: 100%;
            }
        </style>
        <section class="hangye-box" style="padding: 10% 0;">
            <h1 class="yxbt" style="color: #fff;">丝路行业大爆发 游戏制作高光时刻 </h1>

            <div class="yxnrk">
                <p style="text-align: center;font-size: 4vw;color: #fff; padding-bottom: 4vw; opacity: 0.5;?v=1595915801326">
                    2019年，中国成为毋庸置疑的头号游戏大国，大多数游戏公司无论是营收还是利润仍呈现飞速发展的态势， 我国游戏产业从业者的平均月薪已经超过1万元，在新媒体、影视、动漫、广告等多个产业中处于领先地位。
                </p>
                <img src="/assets/images/jingjiadt/yxzhizuo/qiye.png?v=1595915801326" style="width: 100%;padding-bottom: 4vw;">
                <a class="doyoo-btn">
                    <img src="/assets/images/jingjiadt/yxzhizuo/qiye-btn.png?v=1595915801326" style=" width: 80%; margin: 0 auto;">
                </a>
            </div>
        </section>

        <!--游戏公司-->
        <style>
            .co-box {
                background: url(/assets/images/jingjiadt/yxzhizuo/bj2.png) no-repeat center;
                background-size: 100%;
            }
        </style>
        <section class="co-box" style="padding: 10% 0;">
            <h1 class="yxbt" style="color: #333;">游戏行业大爆发 游戏大厂任你选！ </h1>
            <div class="yxnrk">
                <img src="/assets/images/jingjiadt/yxzhizuo/co1.png?v=1595915801326" style="width: 100%;padding-bottom: 4vw;">
                <img src="/assets/images/jingjiadt/yxzhizuo/co2.png?v=1595915801326" style="width: 100%;padding-bottom: 4vw;">
                <a class="doyoo-btn">
                    <img src="/assets/images/jingjiadt/yxzhizuo/co-btn.png?v=1595915801326" style=" width: 80%; margin: 0 auto;">
                </a>
            </div>
        </section>

        <!--薪资-->
        <style>
            .xinzi-box {
                background: url(/assets/images/jingjiadt/yxzhizuo/bj3.png) no-repeat center;
                background-size: 100%;
            }
        </style>
        <section class="xinzi-box" style="padding: 10% 0;">
            <h1 class="yxbt" style="color: #fff;">玩物不丧志 “钱”景广阔 </h1>

            <div class="yxnrk">
                <p style="text-align: center;font-size: 4vw;color: #fff; padding-bottom: 4vw;">上海游戏原画师平均薪资水平
                    <span style="font-size: 5vw; color: #fcc800; font-weight: bold;">12950元/月</span></p>
                <img src="/assets/images/jingjiadt/yxzhizuo/xinzi.png?v=1595915801326" style="width: 100%;padding-bottom: 4vw;">
                <a class="doyoo-btn">
                    <img src="/assets/images/jingjiadt/yxzhizuo/xinzi-btn.png?v=1595915801326" style=" width: 80%; margin: 0 auto;">
                </a>
            </div>
        </section>


        <!--软件-->
        <section class="yxbox" style="background: #f9f9f9;">
            <h1 class="yxbt" style="color: #333;">多款游戏制作主流软件 一网打尽</h1>
            <div class="yxnrk">
                <img src="/assets/images/jingjiadt/yxzhizuo/ruanjian.jpg?v=1595915801326" style="width: 100%;padding-bottom: 4vw;">
            </div>
            <a class="doyoo-btn">
                <img src="/assets/images/jingjiadt/yxzhizuo/ruanjian-btn.png?v=1595915801326" style=" width: 65%; margin: 0 auto;">
            </a>
        </section>

        <!--薪资-->
        <style>
            .kc-box {
                background: url(/assets/images/jingjiadt/yxzhizuo/kc-bj1.jpg) no-repeat center;
                background-size: 100%;
            }
        </style>
        <section class="kc-box" style="padding: 10% 0;">
            <h1 class="yxbt" style="color:  #f5d24f;">全程大咖名师1V1教学<br />手把手攻克课程难点 </h1>

            <div class="yxnrk">
                <p style="text-align: center;font-size: 4vw;color: #fff; padding-bottom: 4vw; opacity: 0.5; line-height: 7vw;?v=1595915801326">
                    本专业课程根据最新游戏模型制作技术发展现状，遵从游戏公司工作规范和岗位需求出发，由浅入深系统传授游戏模型与贴图相关知识、 手绘模型及次世代模型的制作方法和技巧。全程名师1对1教学，学员通过系统学习能够独立制作各类游戏模型，达到行业相关的用人标准！
                </p>
                <img src="/assets/images/jingjiadt/yxzhizuo/jiantou.png?v=1595915801326" style="margin: 0 auto; padding-bottom: 4vw;">
            </div>
        </section>
        <div class="kcimg-box" style="width: 100%;">
            <img src="/assets/images/jingjiadt/yxzhizuo/kc-bj2.jpg?v=1595915801326" style="width: 100%;">
            <img src="/assets/images/jingjiadt/yxzhizuo/kc-bj3.jpg?v=1595915801326" style="width: 100%;">
            <img src="/assets/images/jingjiadt/yxzhizuo/kc-bj4.jpg?v=1595915801326" style="width: 100%;">
        </div>


        <style>
            .guiquan-bj {
                background: url(/assets/images/jingjiadt/yxzhizuo/wenti-bj.jpg) no-repeat center;
                background-size: 100%;
            }
        </style>

        <!--问题-->
        <section style="padding: 10% 0;" class="guiquan-bj">
            <div class="yxnrk">
                <h1 class="yxbt" style="margin-bottom: 4vw;">您的顾虑，我们都会尽力解决</h1>
                <!--	  <p style="text-align: center;font-size: 4vw;color: #666; padding-bottom: 4vw;">影视圈的“贵圈”之称不是白给的：2019年春节档期间，全国电影综合票房58亿，1.3亿人次走进电影院，观影289万场，平均增长23%。</p>-->
                <a class="doyoo-btn">
                    <img src="/assets/images/jingjiadt/yxzhizuo/wt1.png?v=1595915801326" style="width: 100%;padding-bottom: 4vw;">
                    <img src="/assets/images/jingjiadt/yxzhizuo/wt2.png?v=1595915801326" style="width: 100%;padding-bottom: 4vw;">
                    <img src="/assets/images/jingjiadt/yxzhizuo/wt3.png?v=1595915801326" style="width: 100%;padding-bottom: 4vw;">
                    <img src="/assets/images/jingjiadt/yxzhizuo/wt4.png?v=1595915801326" style="width: 100%;padding-bottom: 4vw;">
                    <img src="/assets/images/jingjiadt/yxzhizuo/wt5.png?v=1595915801326" style="width: 100%;padding-bottom: 4vw;">
                </a>
            </div>
            <a class="doyoo-btn">
                <img src="/assets/images/jingjiadt/yxzhizuo/wenti-btn.png?v=1595915801326" style=" width: 50%; margin: 0 auto;">

            </a>



        </section>

        <!--讲师-->
        <section style="padding: 10% 0; background: #f9f9f9;" class="yxbox">
            <div class="yxnrk">
                <h1 class="yxbt" style="margin-bottom: 4vw;">丝路教育游戏专业师资阵容</h1>
                <p style="text-align: center;font-size: 4vw;color: #666; padding-bottom: 4vw;">丝路教育游戏专业组的老师均来自各大知名游戏公司， 拥有丰富的游戏设计经验和教学管理经验，为学员提供最优质的教学
                </p>
                <a class="doyoo-btn">
                    <img src="/assets/images/jingjiadt/yxzhizuo/js1.jpg?v=1595915801326" style="width: 100%;padding-bottom: 4vw;">
                    <img src="/assets/images/jingjiadt/yxzhizuo/js2.jpg?v=1595915801326" style="width: 100%;padding-bottom: 4vw;">
                    <img src="/assets/images/jingjiadt/yxzhizuo/js3.jpg?v=1595915801326" style="width: 100%;padding-bottom: 4vw;">
                </a>
            </div>


            <!--学员-->
            <section class="yxbox" style="padding: 10% 0;">
                <h1 class="yxbt">曾经迷茫的他们，现已月薪过万</h1>
                <div class="yxnrk">
                    <img src="/assets/images/jingjiadt/yxzhizuo/xueyuan1.png?v=1595915801326" style="width: 100%;padding-bottom: 4vw;">
                    <img src="/assets/images/jingjiadt/yxzhizuo/xueyuan2.png?v=1595915801326" style="width: 100%;padding-bottom: 4vw;">

                </div>
            </section>

            <!--作品-->
            <section class="yxbox" style="padding: 10% 0; background: #f5f5f5;">
                <h1 class="yxbt">好的作品，是高薪职位的敲门砖</h1>
                <div class="yxnrk">
                    <img src="/assets/images/jingjiadt/yxzhizuo/zuopin.png?v=1595915801326" style="width: 100%;padding-bottom: 4vw;">
                </div>
            </section>

            <!--六大-->
            <section class="yxbox" style="padding: 10% 0; background: #282627;">
                <h1 class="yxbt" style="color: #fff;">丝路学员6大保障</h1>
                <div class="yxnrk">
                    <a class="doyoo-btn"> <img src="/assets/images/jingjiadt/yxzhizuo/liuda.png?v=1595915801326" style="width: 100%;padding-bottom: 4vw;"> </a>

                </div>
            </section>



            <!--应用-->
            <section class="yxbox">
                <h1 class="yxbt" style="color: #333; margin-bottom: 4vw;">丝路教育<br />12年匠心打磨教学高品质</h1>
                <div class="yxnrk">
                    <img src="/assets/images/jingjiadt/yxzhizuo/zizhi1.jpg?v=1595915801326" style="width: 100%;padding-bottom: 4vw;">
                    <img src="/assets/images/jingjiadt/yxzhizuo/zizhi2.jpg?v=1595915801326" style="width: 100%;padding-bottom: 4vw;">

                </div>
                <a class="doyoo-btn">
                    <div class="anniu" style="width: 60%;" margin-top: 5vw;>查看更多保障</div>
                </a>
            </section>

            <!--面试-->
            <section style="padding: 10% 0; background: #f5f5f5" class="yxbox">
                <div class="yxnrk">
                    <h1 class="yxbt" style="margin-bottom: 4vw;">特设专场招聘会<br/>面对面交流更高效</h1>
                    <p style="text-align: center;font-size: 4vw;color: #666; padding-bottom: 4vw;">3000家合作企业 每年6000+ CG人才输出</p>
                    <a class="doyoo-btn">
                        <img src="/assets/images/jingjiadt/yxzhizuo/mianshi.png?v=1595915801326" style="width: 100%;padding-bottom: 4vw;">
                    </a>
                </div>
            </section>




            <!--合作企业-->
            <section class="yxbox" style="background: #fff;">
                <h1 class="yxbt" style="color: #333;">强强联手，铺设名企直达通路</h1>
                <div class="yxnrk">
                    <img src="/assets/images/jingjiadt/yxzhizuo/hezuo.jpg?v=1595915801326" style="width: 100%;padding-bottom: 4vw;">
                </div>
            </section>

            <!-- 表单统计 -->
            <style>
                .section-form {
                    background: url(/assets/images/jingjiadt/yxzhizuo/bd-bj1.jpg) no-repeat center;
                    background-size: cover;
                    padding-top: 1.5333rem;
                    height: 9.3333rem;
                    margin-bottom: 0;
                }
                
                .section-form .form-group {
                    font-size: 0.6133rem;
                    line-height: 1.5;
                    text-align: center;
                    color: #fff;
                }
                
                .section-form .btn {
                    display: inline-block;
                    line-height: 1;
                    width: 5.3333rem;
                    height: 0.8rem;
                    line-height: 0.8rem;
                    border-radius: 4px;
                    font-size: 0.3733rem;
                    border: 1px solid #EC6941;
                    text-align: center;
                    color: #fff;
                    background-color: #EC6941;
                    -webkit-appearance: none;
                }
            </style>
            <div class="section-form">
                <form id="form">
                    <div class="form-group form-group-txt">
                        0基础变身游戏制作大师<br/> 现在报名立减2000！
                    </div>
                    <div class="form-group">
                        <input type='text' name='name' id="name" placeholder="请输入您的姓名" class="form-control" />
                    </div>
                    <div class="form-group">
                        <input type="text" name='tel' id="tel" class="form-control" placeholder="请输入您的手机号码" />
                    </div>
                    <input type="text" name='time' id='time' style="display: none;" />

                    <div class="form-submit">
                        <button class="btn" type="button" onclick="add_ajaxmessage()"> 预约免费试学</button>
                    </div>
                </form>
            </div>


            <!-- end footer -->
            <!--页脚 -->
<div class="endfoot-box">
    <div class="endfoot">
        <a class="doyoo-btn">
            <div class="endfoot-item">
                <p>名师在线</p>
                <p>免费试听</p>
            </div>
        </a>
    </div>
    <h3>本网站版权归丝路教育所有，盗用必究</h3>
</div>

<script src="/assets/js/libs/jquery.min.js"></script>
<script src="/assets/js/plugs/vide7.4.1/js/video.js"></script>
<script src="/assets/js/plugs/picViewer/picViewer.js"></script>
<script src="/assets/js/plugs/swiper/swiper.js"></script>
<script src="/assets/js/plugs/layer-v3.1.1/layer/layer.js"></script>
<script src="/assets/js/global/common.js"></script>
<script src="http://op.jiain.net/20002985/10085553.js"></script>
<script>
    var doyooBtns = [].slice.call(document.querySelectorAll('.doyoo-btn'));
    for (var i = 0, len = doyooBtns.length; i < len; i++) {
        doyooBtns[i].onclick = function() {
            doyoo.util.openChat('g=10075108');
            return false;
        }
    }
</script>

<!-- 百度统计代码 -->
<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?57448cbcd9efb5a61b8ba648ba49f3e2";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>

<!-- 表单 -->
<script src="/assets/js/plugs/formbd.js"></script>

</div>

            <!--统计工具：CNZZ-->
            <div style="font-size: 0.1rem;?v=1595915801326">
                <script type="text/javascript">
                    var cnzz_protocol = (("https:" == document.location.protocol) ? "https://" : "http://");
                    document.write(unescape("%3Cspan id='cnzz_stat_icon_1276821672'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s23.cnzz.com/z_stat.php%3Fid%3D1276821672%26show%3Dpic' type='text/javascript'%3E%3C/script%3E?v=1595915801326"));
                </script>
            </div>

            <!--百度呼-->
            <script>
                var _hmt = _hmt || [];
                (function() {
                    var hm = document.createElement("script");
                    hm.src = "https://hm.baidu.com/hm.js?57448cbcd9efb5a61b8ba648ba49f3e2";
                    var s = document.getElementsByTagName("script")[0];
                    s.parentNode.insertBefore(hm, s);
                })();
            </script>
            <script type="text/javascript" charset="utf-8" async src="http://lxbjs.baidu.com/lxb.js?sid=8881824"></script>
</body>

</html>