<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
<script>
    (function flexible(window, document) {
        var docEl = document.documentElement
        var dpr = window.devicePixelRatio || 1

        // adjust body font size
        function setBodyFontSize() {
            if (document.body) {
                document.body.style.fontSize = (12 * dpr) + 'px'
            } else {
                document.addEventListener('DOMContentLoaded', setBodyFontSize)
            }
        }
        setBodyFontSize();

        // set 1rem = viewWidth / 10
        function setRemUnit() {
            var rem = docEl.clientWidth / 10
            docEl.style.fontSize = rem + 'px'
        }

        setRemUnit()

        // reset rem unit on page resize
        window.addEventListener('resize', setRemUnit)
        window.addEventListener('pageshow', function(e) {
            if (e.persisted) {
                setRemUnit()
            }
        })

        // detect 0.5px supports
        if (dpr >= 2) {
            var fakeBody = document.createElement('body')
            var testElement = document.createElement('div')
            testElement.style.border = '.5px solid transparent'
            fakeBody.appendChild(testElement)
            docEl.appendChild(fakeBody)
            if (testElement.offsetHeight === 1) {
                docEl.classList.add('hairlines')
            }
            docEl.removeChild(fakeBody)
        }
    }(window, document))
</script>
    <title>APEC室内设计全能班</title>
    <link rel="stylesheet" href="/assets/js/plugs/vide-7.4.1/css/video-js.min.css?v=1592537531003">
<link rel="stylesheet" href="/assets/js/plugs/picViewer/picViewer.css?v=1592537531003">
<link rel="stylesheet" href="/assets/js/plugs/swiper-3.4.0/swiper-3.4.2.min.css?v=1592537531003">
    <link rel="stylesheet" href="/assets/css/shinei/snqk.css?v=1592537531003">
</head>

<body>
    <div class="header">
    <div class="header-tp" id="header-tp">
        <div class="header-menu"></div>
        <ul class="header-menu-list">
            <li class="header-menu-first">
                <a href="/index.html" style="color: #fff;">首页</a>
            </li>
            <li class="header-menu-first arrow-right">
     影视视效课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/yingshi/ysqn.html">影视视效全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ystx.html">特效合成大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ysjj.html">剪辑包装创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ysdh.html">影视动画精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/c4d.html">C4D特效大师班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
     游戏视觉课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/youxi/yxqn.html">游戏视觉全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxyh.html">游戏原画创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxms.html">3D美术精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxrj.html">游戏软件精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxtx.html">动作特效精英班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
     室内设计课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/shinei/snqk.html">APEC室内设计全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/cad.html">CAD制图大师班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snrz.html">室内软装精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snsh.html">室内手绘创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snxgt.html">室内效果图精英班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
     U X 全栈课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/ui/uiqn.html">UX全栈视效全能班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/psds.html">Photoshop大师班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/pmsj.html">品牌视觉创意班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/dsmg.html">
                电商美工精英班
            </a></li>
        <li class="header-menu-second">
            <a href="/ui/wysj.html">全链路设计精英班
            </a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
     建筑视效课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/jianzhu/jzsx.html">建筑视效全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/3dsMax.html">3ds MAX大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/3djm.html"> 3D建模精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/xrys.html">渲染艺术精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/jzxgt.html"> 建筑效果图精英班 </a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
     BIM应用课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/bim/bimqn.html">BIM应用全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/bimkz.html">BIM考证精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/revitds.html">Revit大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/lumion.html">Lumion大师班</a>
        </li>
    </ul>
</li>
            <li class="header-menu-first">
                <a href="/home/studentworks.html" style="color: #fff;">学员作品</a>
            </li>
            <li class="header-menu-first">
                <a href="/home/onlinebao.html" style="color: #fff;">在线报名</a>
            </li>
            <li class="header-menu-first">
                <a href="/home/contactus.html" style="color: #fff;">联系我们</a>
            </li>

        </ul>
        <div class="header-logo"></div>
        <div class="header-phone"></div>
    </div>
    <div class="header-nav">
        <ul class="header-nav-wrap">
            <li class="header-nav-first header-nav-active">
                <a href="/index.html">首页</a>
            </li>
            <li class="header-nav-first" id="header-nav-first-course">课程
                <span class="arrow-down"></span>
                <ul class="header-nav-course">
                    <li class="header-menu-first arrow-right">
      影视视效 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/yingshi/ysqn.html">影视视效全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ystx.html">特效合成大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ysjj.html">剪辑包装创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ysdh.html">影视动画精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/c4d.html">C4D特效大师班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
      游戏视觉 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/youxi/yxqn.html">游戏视觉全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxyh.html">游戏原画创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxms.html">3D美术精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxrj.html">游戏软件精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxtx.html">动作特效精英班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
      室内设计 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/shinei/snqk.html">APEC室内设计全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/cad.html">CAD制图大师班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snrz.html">室内软装精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snsh.html">室内手绘创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snxgt.html">室内效果图精英班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
      UX 全栈 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/ui/uiqn.html">UX全栈视效全能班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/psds.html">Photoshop大师班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/pmsj.html">品牌视觉创意班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/dsmg.html">
                电商美工精英班
            </a></li>
        <li class="header-menu-second">
            <a href="/ui/wysj.html">全链路设计精英班
            </a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
      建筑视效 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/jianzhu/jzsx.html">建筑视效全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/3dsMax.html">3ds MAX大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/3djm.html"> 3D建模精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/xrys.html">渲染艺术精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/jzxgt.html"> 建筑效果图精英班 </a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
      BIM应用 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/bim/bimqn.html">BIM应用全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/bimkz.html">BIM考证精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/revitds.html">Revit大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/lumion.html">Lumion大师班</a>
        </li>
    </ul>
</li>
                </ul>
            </li>
            <li class="header-nav-first">
                <a href="/home/famousteacher.html">名师</a>
            </li>
            <li class="header-nav-first">
                <a href="/home/obtain.html">就业</a>
            </li>
            <li class="header-nav-first">
                <a href="/home/about.html">关于丝路</a>
            </li>
        </ul>
    </div>
</div>
<div class="header-mask" id="header-mask"></div>
    <div class="layout">
        <div class="banner">
            <a class="doyoo-btn">
                <img class="banner-cover" src="/assets/images/shinei/snqk/banner.jpg?v=1592537531003" alt="">
            </a>
        </div>
        <div class="section section-bg-write study-design-sec">
            <div class="container">
                <div class="section-title">
                    为什么学室内设计？
                </div>
                <div class="study-design-sec1">
                    <div class="section-serial">
                        <div class="section-serial-number">01</div>
                        <div class="section-serial-line"> <img src="/assets/images/shinei/snqk/line.png?v=1592537531003" alt=""></div>
                        <div class="section-serial-txt">
                            就业范围广<br>单日招聘岗位100000+
                        </div>
                    </div>
                    <img src="/assets/images/shinei/snqk/image1-1.jpg?v=1592537531003" alt="">
                </div>
                <div class="study-design-sec2">
                    <div class="section-serial">
                        <div class="section-serial-number">02</div>
                        <div class="section-serial-line"> <img src="/assets/images/shinei/snqk/line.png?v=1592537531003" alt=""></div>
                        <div class="section-serial-txt">
                            岗位晋升快<br>升职加薪机会多
                        </div>
                    </div>
                    <img src="/assets/images/shinei/snqk/image2-1.jpg?v=1592537531003" alt="">
                </div>
            </div>
        </div>
        <div class="section section-bg-write designing-workers-sec">
            <div class="container">
                <div class="section-title">
                    为何大部分设计师沦为<br> “设计民工”？
                </div>
                <div class="designing-workers-content">
                    <div class="designing-workers-row">
                        <div class="section-describe"><b>室内设计入行两大人群</b>

                        </div>
                        <div class="designing-workers-area">
                            <img src="/assets/images/shinei/snqk/image3-1.png?v=1592537531003" alt="">
                            <img src="/assets/images/shinei/snqk/image3-2.png?v=1592537531003" alt="">
                        </div>
                    </div>
                    <div class="designing-workers-row">
                        <div class="section-describe">
                            <b>丝路教育成就非凡设计人生！</b>
                        </div>
                        <div class="designing-workers-area">
                            <img src="/assets/images/shinei/snqk/image4-1.jpg?v=1592537531003" alt="">
                        </div>
                        <div class="section-btn">
                            <a class="btn doyoo-btn">查看开班计划</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="section fit-design-sec">
            <div class="container">
                <div class="section-title">
                    哪些人群<br> 适合学室内设计？
                </div>
                <div class="fit-design-list">
                    <div class="fit-design-item">
                        <img src="/assets/images/shinei/snqk/image5-1.png?v=1592537531003" alt="">
                        <dl>
                            <dt>相关专业毕业</dt>
                            <dd>缺乏项目实操</dd>
                            <dd>想提升实战</dd>
                            <dd>技巧与能力</dd>
                        </dl>
                    </div>
                    <div class="fit-design-item">
                        <img src="/assets/images/shinei/snqk/image5-2.png?v=1592537531003" alt="">
                        <dl>
                            <dt>0基础爱好者</dt>
                            <dd>热衷室内设计行业</dd>
                            <dd>想通过学习</dd>
                            <dd>获得工作能力</dd>
                        </dl>
                    </div>
                    <div class="fit-design-item">
                        <img src="/assets/images/shinei/snqk/image5-3.png?v=1592537531003" alt="">
                        <dl>
                            <dt>不同领域转行</dt>
                            <dd>看准室内行业的前景</dd>
                            <dd>想通过学习</dd>
                            <dd>成功入行</dd>
                        </dl>
                    </div>
                    <div class="fit-design-item">
                        <img src="/assets/images/shinei/snqk/image5-4.png?v=1592537531003" alt="">
                        <dl>
                            <dt>行内从业者</dt>
                            <dd>职业发展遇到瓶颈</dd>
                            <dd>急于专项提升</dd>
                            <dd>得到突破</dd>
                        </dl>
                    </div>
                </div>
                <div class="section-btn">
                    <a class="btn doyoo-btn">免费试听看看</a>
                </div>

            </div>
        </div>
        <div class="section section-bg-write select-silkroad-reason-sec">
            <div class="container">
                <div class="section-title">
                    为什么选择丝路教育？
                </div>
                <div class="section-describe">
                    国内唯一具备最高建筑装饰设计<br/>展览展示工程资质的培训机构
                </div>
                <div class="select-silkroad-reason-list">
                    <div class="select-silkroad-reason-item">
                        <img src="/assets/images/shinei/snqk/image6-1.jpg?v=1592537531003" alt="">
                        <h3>建筑装饰工程设计专项甲级证书</h3>
                    </div>
                    <div class="select-silkroad-reason-item">
                        <img src="/assets/images/shinei/snqk/image6-2.jpg?v=1592537531003" alt="">
                        <h3>展览展示设计工程甲级资质</h3>
                    </div>
                    <div class="select-silkroad-reason-item">
                        <img src="/assets/images/shinei/snqk/image6-3.jpg?v=1592537531003" alt="">
                        <h3>国家高新技术企业证书</h3>
                    </div>
                    <div class="select-silkroad-reason-item">
                        <img src="/assets/images/shinei/snqk/image6-4.jpg?v=1592537531003" alt="">
                        <h3>企业3A信用等级证书</h3>
                    </div>
                    <div class="select-silkroad-reason-item">
                        <img src="/assets/images/shinei/snqk/image6-5.jpg?v=1592537531003" alt="">
                        <h3>Autodesk官方认证证书</h3>
                    </div>
                    <div class="select-silkroad-reason-item">
                        <img src="/assets/images/shinei/snqk/image6-6.jpg?v=1592537531003" alt="">
                        <h3>Adobe官方认证证书</h3>
                    </div>
                </div>
                <div class="section-btn">
                    <a class="btn doyoo-btn">查看更多荣誉资质</a>
                </div>

            </div>
        </div>
        <div class="section apec-course-sec">
            <div class="apec-course-sec1">
                <div class="container">
                    <div class="section-title">
                        APEC亚太高端<br>室内设计课程
                    </div>
                    <div class="section-serial">
                        <div class="section-serial-number">01</div>
                        <div class="section-serial-line"> <img src="/assets/images/shinei/snqk/line.png?v=1592537531003" alt=""></div>
                        <div class="section-serial-txt">
                            自我超越<br>课如其名
                        </div>
                    </div>
                    <div class="fit-design-list">
                        <div class="fit-design-item">
                            <img src="/assets/images/shinei/snqk/image7-1.png?v=1592537531003" alt="">
                            <dl>
                                <dt>10年不断磨砺课程</dt>
                                <dd>相当</dd>
                                <dd>北美大学</dd>
                                <dd>3年的教学内容</dd>
                            </dl>
                        </div>
                        <div class="fit-design-item">
                            <img src="/assets/images/shinei/snqk/image7-2.png?v=1592537531003" alt="">
                            <dl>
                                <dt> 吸纳高端设计精髓</dt>
                                <dd>省去自学成本</dd>
                                <dd>减少试错</dd>
                                <dd>提高效率</dd>
                            </dl>
                        </div>
                        <div class="fit-design-item">
                            <img src="/assets/images/shinei/snqk/image7-3.png?v=1592537531003" alt="">
                            <dl>
                                <dt>贴合业界岗位需求</dt>
                                <dd>学成入职名企</dd>
                                <dd>短期内即可</dd>
                                <dd>获得收益</dd>
                            </dl>
                        </div>
                        <div class="fit-design-item">
                            <img src="/assets/images/shinei/snqk/image7-4.png?v=1592537531003" alt="">
                            <dl>
                                <dt> 商业项目案例实训</dt>
                                <dd>上市企业</dd>
                                <dd>项目共享</dd>
                                <dd>成长期大幅缩短</dd>
                            </dl>
                        </div>
                    </div>
                    <div class="section-btn">
                        <a class="btn doyoo-btn">看看我适合学吗？</a>
                    </div>

                </div>
            </div>
            <div class="apec-course-sec2">
                <div class="container">
                    <div class="section-serial">
                        <div class="section-serial-number">02</div>
                        <div class="section-serial-line"> <img src="/assets/images/shinei/snqk/line.png?v=1592537531003" alt=""></div>
                        <div class="section-serial-txt">
                            掌握主流软件<br>全面提升技能
                        </div>
                    </div>
                    <div class="fit-design-list">
                        <img src="/assets/images/shinei/snqk/image8-1.png?v=1592537531003" alt="">
                    </div>
                </div>
            </div>
            <div class="apec-course-sec3">
                <div class="container">
                    <div class="section-serial">
                        <div class="section-serial-number">03</div>
                        <div class="section-serial-line"> <img src="/assets/images/shinei/snqk/line.png?v=1592537531003" alt=""></div>
                        <div class="section-serial-txt">
                            汇聚前沿高端技术<br>hold住职场竞争力
                        </div>
                    </div>
                    <div class="section-describe">
                        2020课程全新迭代，适用广泛，更适合你
                    </div>
                    <div class="fit-design-list">
                        <div class="fit-design-item">
                            <dl>
                                <dt>设计基础阶段</dt>
                                <dd>徒手手绘表现 </dd>
                                <dd>设计方案深化</dd>
                                <dd>SketchUp表现</dd>
                                <dd>Enscape表现</dd>
                            </dl>
                        </div>
                        <div class="fit-design-item">
                            <dl>
                                <dt style="margin-right: 0.4933rem;?v=1592537531003">室内表现阶段</dt>
                                <dd>室内场景建模&emsp;&emsp;&emsp;</dd>
                                <dd>室内家具建模&emsp;&emsp;&emsp;</dd>
                                <dd>室内效果图表现&emsp;&emsp;</dd>
                                <dd>VR/720°效果图表现</dd>
                            </dl>
                        </div>
                        <div class="fit-design-item">
                            <dl>
                                <dt>家装设计阶段</dt>
                                <dd>工艺材料基础</dd>
                                <dd>样板房设计</dd>
                                <dd>精品住宅设计</dd>
                                <dd>高端豪宅设计</dd>
                            </dl>
                        </div>
                        <div class="fit-design-item">
                            <dl>
                                <dt style="margin-right: 0.4rem;?v=1592537531003">公装设计阶段</dt>
                                <dd>设计风格与原则&emsp;&ensp; </dd>
                                <dd>施工图与设计方案&ensp; </dd>
                                <dd>办公/餐饮空间设计</dd>
                                <dd>展览展示空间设计&ensp;</dd>
                            </dl>
                        </div>
                        <div class="fit-design-item">
                            <dl>
                                <dt>项目实战 </dt>
                                <dd>方案设计、深化设计</dd>
                                <dd>家装设计、公装设计</dd>
                                <dd>软装设计、全案设计</dd>
                                <dd>独立创业、个人工作室</dd>
                            </dl>
                        </div>
                    </div>
                    <div class="section-btn">
                        <a class="btn doyoo-btn">查看课程详情</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="section oneline-coffee-sec">
            <div class="container">
                <div class="section-title">
                    一线大咖<br>全力传授设计宝典
                </div>
                <div class="swiper-container" style="height: 7.8rem;?v=1592537531003">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="/assets/images/shinei/snqk/laoshi1.png?v=1592537531003" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="/assets/images/shinei/snqk/laoshi2.png?v=1592537531003" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="/assets/images/shinei/snqk/laoshi3.png?v=1592537531003" alt="">
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>

                <div class="section-btn">
                    <a class="btn doyoo-btn">名师一对一交流</a>
                </div>
            </div>
        </div>
        <div class="section highest-salary-sec">
            <a class="doyoo-btn">
                <img src="/assets/images/shinei/snqk/image11-1.jpg?v=1592537531003" alt="">
            </a>
        </div>
        <div class="section section-bg-write good-works-sec">
            <div class="section-title">
                优秀作品<br>让你在HR眼里脱颖而出
            </div>
            <div class="section-nav-tab">
                <div class="section-nav-item section-nav-btn section-nav-active"> 室内手绘</div>
                <div class="section-nav-item section-nav-btn"> CAD施工图</div>
                <div class="section-nav-item section-nav-btn"> 家装设计</div>
                <div class="section-nav-item section-nav-btn"> 公装设计</div>
                <div class="section-nav-item section-nav-btn"> 720全景</div>
                <div class="section-nav-item section-nav-btn"> 软装方案</div>
            </div>
            <div class="section-tab-list">
                <div class="section-tab-col">
                    <img src="/assets/images/shinei/snqk/image12-1.jpg?v=1592537531003" alt="" style="height: 11rem;">
                </div>
                <div class="section-tab-col">
                    <img src="/assets/images/shinei/snqk/image12-2.jpg?v=1592537531003" alt="" style="height: 11rem;">
                </div>
                <div class="section-tab-col">
                    <img src="/assets/images/shinei/snqk/image12-3.jpg?v=1592537531003" alt="" style="height: 11rem;">
                </div>
                <div class="section-tab-col">
                    <img src="/assets/images/shinei/snqk/image12-4.jpg?v=1592537531003" alt="" style="height: 11rem;">
                </div>
                <div class="section-tab-col">
                    <img src="/assets/images/shinei/snqk/image12-5.jpg?v=1592537531003" alt="" style="height: 11rem;">
                </div>
                <div class="section-tab-col">
                    <img src="/assets/images/shinei/snqk/image12-6.jpg?v=1592537531003" alt="" style="height: 11rem;">
                </div>
            </div>
            <div class="container">
                <div class="section-btn">
                    <a class="btn doyoo-btn">查看更多作品</a>
                </div>
            </div>
        </div>
        <div class="section student-evaluation-sec">
            <div class="container">
                <div class="section-title">
                    真实学员评价<br><b>实力打Call</b>
                </div>
                <div class="student-evaluation-list">
                    <div class="student-evaluation-item"><img src="/assets/images/shinei/snqk/image13-3.png?v=1592537531003" alt=""></div>
                    <div class="student-evaluation-item"><img src="/assets/images/shinei/snqk/image13-2.png?v=1592537531003" alt=""></div>
                    <div class="student-evaluation-item"><img src="/assets/images/shinei/snqk/image13-1.png?v=1592537531003" alt=""></div>
                </div>
            </div>
        </div>
        <div class="section learning-guarantee-sec">
            <div class="container">
                <div class="section-title">
                    丝路教育<br><b> 六大学习保障</b>
                </div>
                <div class="learning-guarantee-list">
                    <img src="/assets/images/shinei/snqk/liuda.png?v=1592537531003" alt="" style=" width: 100%; height: 7rem;">
                </div>
                <div class="section-btn">
                    <a class="btn doyoo-btn">申请学费减免</a>
                </div>
            </div>
        </div>
        <div class="section section-bg-write">
            <div class="container">
                <div class="section-title">
                    <b>3000+合作企业</b><br>轻松入职名企
                </div>
                <img src="/assets/images/shinei/snqk/image15-1.jpg?v=1592537531003" alt="">
                <div class="section-btn">
                    <a class="btn doyoo-btn">查看企业招聘信息</a>
                </div>
            </div>
        </div>



        <!-- 表单统计 -->
        <div class="section-form">
            <form id="form">

                <div class="form-group">
                    <input type='text' name='name' id="name" placeholder="姓名：请填写姓名" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="text" name='tel' id="tel" class="form-control" placeholder="联系方式：请填写手机号码" />
                </div>
                <input type="text" name='time' id='time' style="display: none;" />

                <div class="form-submit">
                    <button class="btn" type="button" onclick="add_ajaxmessage()"> 预约免费试学</button>
                </div>
            </form>
        </div>
    </div>


    <!--页脚 -->
<div class="endfoot-box">
    <div class="endfoot">
        <a class="doyoo-btn">
            <div class="endfoot-item">
                <p>名师在线</p>
                <p>免费试听</p>
            </div>
        </a>
    </div>
    <h3>本网站版权归丝路教育所有，盗用必究</h3>
</div>

<script src="/assets/js/libs/jquery.min.js"></script>
<script src="/assets/js/plugs/vide7.4.1/js/video.js"></script>
<script src="/assets/js/plugs/picViewer/picViewer.js"></script>
<script src="/assets/js/plugs/swiper/swiper.js"></script>
<script src="/assets/js/plugs/layer-v3.1.1/layer/layer.js"></script>
<script src="/assets/js/global/common.js"></script>
<script src="http://op.jiain.net/20002985/10085553.js"></script> 
<script>
    var doyooBtns = [].slice.call(document.querySelectorAll('.doyoo-btn'));
    for (var i = 0, len = doyooBtns.length; i < len; i++) {
        doyooBtns[i].onclick = function() {
            doyoo.util.openChat('g=10075108');
            return false;
        }
    }
</script>
<!-- 表单 -->
<script src="/assets/js/plugs/formbd.js"></script>

</div>



    <!--老师轮播 -->




</body>

</html>