<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
<script>
    (function flexible(window, document) {
        var docEl = document.documentElement
        var dpr = window.devicePixelRatio || 1

        // adjust body font size
        function setBodyFontSize() {
            if (document.body) {
                document.body.style.fontSize = (12 * dpr) + 'px'
            } else {
                document.addEventListener('DOMContentLoaded', setBodyFontSize)
            }
        }
        setBodyFontSize();

        // set 1rem = viewWidth / 10
        function setRemUnit() {
            var rem = docEl.clientWidth / 10
            docEl.style.fontSize = rem + 'px'
        }

        setRemUnit()

        // reset rem unit on page resize
        window.addEventListener('resize', setRemUnit)
        window.addEventListener('pageshow', function(e) {
            if (e.persisted) {
                setRemUnit()
            }
        })

        // detect 0.5px supports
        if (dpr >= 2) {
            var fakeBody = document.createElement('body')
            var testElement = document.createElement('div')
            testElement.style.border = '.5px solid transparent'
            fakeBody.appendChild(testElement)
            docEl.appendChild(fakeBody)
            if (testElement.offsetHeight === 1) {
                docEl.classList.add('hairlines')
            }
            docEl.removeChild(fakeBody)
        }
    }(window, document))
</script>
    <title>室内软装精英班</title>
    <link rel="stylesheet" href="/assets/js/plugs/vide-7.4.1/css/video-js.min.css?v=1593509322675">
<link rel="stylesheet" href="/assets/js/plugs/picViewer/picViewer.css?v=1593509322675">
<link rel="stylesheet" href="/assets/js/plugs/swiper-3.4.0/swiper-3.4.2.min.css?v=1593509322675">
    <link rel="stylesheet" href="/assets/css/shinei/snrz.css?v=1593509322675">
</head>

<body>
    <div class="header">
    <div class="header-tp" id="header-tp">
        <div class="header-menu"></div>
        <ul class="header-menu-list">
            <li class="header-menu-first">
                <a href="/index.html" style="color: #fff;">首页</a>
            </li>
            <li class="header-menu-first arrow-right">
     影视视效课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/yingshi/ysqn.html">影视视效全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ystx.html">特效合成大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ysjj.html">剪辑包装创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ysdh.html">影视动画精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/c4d.html">C4D特效大师班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
     游戏视觉课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/youxi/yxqn.html">游戏视觉全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxyh.html">游戏原画创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxms.html">3D美术精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxrj.html">游戏软件精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxtx.html">动作特效精英班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
     室内设计课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/shinei/snqk.html">APEC室内设计全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/cad.html">CAD制图大师班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snrz.html">室内软装精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snsh.html">室内手绘创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snxgt.html">室内效果图精英班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
     U X 全栈课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/ui/uiqn.html">UX全栈视效全能班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/psds.html">Photoshop大师班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/pmsj.html">品牌视觉创意班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/dsmg.html">
                电商美工精英班
            </a></li>
        <li class="header-menu-second">
            <a href="/ui/wysj.html">全链路设计精英班
            </a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
     建筑视效课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/jianzhu/jzsx.html">建筑视效全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/3dsMax.html">3ds MAX大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/3djm.html"> 3D建模精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/xrys.html">渲染艺术精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/jzxgt.html"> 建筑效果图精英班 </a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
     BIM应用课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/bim/bimqn.html">BIM应用全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/bimkz.html">BIM考证精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/revitds.html">Revit大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/lumion.html">Lumion大师班</a>
        </li>
    </ul>
</li>
            <li class="header-menu-first">
                <a href="/home/studentworks.html" style="color: #fff;">学员作品</a>
            </li>
            <li class="header-menu-first">
                <a href="/home/onlinebao.html" style="color: #fff;">在线报名</a>
            </li>
            <li class="header-menu-first">
                <a href="/home/contactus.html" style="color: #fff;">联系我们</a>
            </li>

        </ul>
        <div class="header-logo"></div>
        <a class="doyoo-btn">
            <div class="header-phone"></div>
        </a>
    </div>
    <div class="header-nav">
        <ul class="header-nav-wrap">
            <li class="header-nav-first header-nav-active">
                <a href="/index.html">首页</a>
            </li>
            <li class="header-nav-first" id="header-nav-first-course">课程
                <span class="arrow-down"></span>
                <ul class="header-nav-course">
                    <li class="header-menu-first arrow-right">
      影视视效 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/yingshi/ysqn.html">影视视效全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ystx.html">特效合成大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ysjj.html">剪辑包装创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ysdh.html">影视动画精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/c4d.html">C4D特效大师班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
      游戏视觉 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/youxi/yxqn.html">游戏视觉全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxyh.html">游戏原画创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxms.html">3D美术精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxrj.html">游戏软件精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxtx.html">动作特效精英班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
      室内设计 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/shinei/snqk.html">APEC室内设计全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/cad.html">CAD制图大师班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snrz.html">室内软装精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snsh.html">室内手绘创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snxgt.html">室内效果图精英班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
      UX 全栈 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/ui/uiqn.html">UX全栈视效全能班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/psds.html">Photoshop大师班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/pmsj.html">品牌视觉创意班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/dsmg.html">
                电商美工精英班
            </a></li>
        <li class="header-menu-second">
            <a href="/ui/wysj.html">全链路设计精英班
            </a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
      建筑视效 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/jianzhu/jzsx.html">建筑视效全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/3dsMax.html">3ds MAX大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/3djm.html"> 3D建模精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/xrys.html">渲染艺术精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/jzxgt.html"> 建筑效果图精英班 </a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
      BIM应用 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/bim/bimqn.html">BIM应用全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/bimkz.html">BIM考证精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/revitds.html">Revit大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/lumion.html">Lumion大师班</a>
        </li>
    </ul>
</li>
                </ul>
            </li>
            <li class="header-nav-first">
                <a href="/home/famousteacher.html">名师</a>
            </li>
            <li class="header-nav-first">
                <a href="/home/obtain.html">就业</a>
            </li>
            <li class="header-nav-first">
                <a href="/home/about.html">关于丝路</a>
            </li>
        </ul>
    </div>
</div>
<div class="header-mask" id="header-mask"></div>
    <!-- banner -->
    <div class="layout">
        <div class="banner">
            <a class="doyoo-btn">
                <img class="banner-cover" src="/assets/images/shinei/snrz/banner.jpg?v=1593509322675" alt="">
            </a>
        </div>
        <!-- 介绍 -->
        <div class="section  study-design-sec">
            <div class="container">
                <div class="section-title">
                    <b>软装设计</b><br/>将审美创意变现
                </div>
                <div class="study-design-sec1">
                    <div class="section-serial">
                        <div class="section-serial-line"> <img src="/assets/images/shinei/snqk/line.png?v=1593509322675" alt=""></div>

                        <div class="section-serial-txt">
                            正所谓“屋品”如人品，人们对“家”的要求，正在从“生活场所”向“生活方式”转变，个性化装饰的增多，使得软装设计人才需求激增。
                        </div>
                    </div>
                    <div class="swiper-container" style="height: 5.2rem;?v=1593509322675">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img src="/assets/images/shinei/snrz/hangye4.png?v=1593509322675" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="/assets/images/shinei/snrz/hangye5.png?v=1593509322675" alt="">
                            </div>

                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
                <div class="section-btn" style="margin-top: 0.0333rem;?v=1593509322675">
                    <a class="btn doyoo-btn">看看我适合学吗？</a>
                </div>
            </div>
        </div>


        <!-- 薪资 -->
        <div class="section study-design-sec section-bg-write">
            <div class="container">
                <div class="section-title">
                    高薪就靠<b>“想得美”</b>
                </div>
                <div class="study-design-sec1">

                    <div class="section-serial">
                        <div class="section-serial-line"> <img src="/assets/images/shinei/snqk/line.png?v=1593509322675" alt=""></div>
                        <div class="section-serial-txt">
                            软装是讲室内空间的环境、风格、风水、文化等多种元素进行创造性融合。软装设计师，一个靠审美和创造力吃饭的岗位，每一次的设计构思都是创意变现的过程！
                        </div>
                    </div>
                    <img src="/assets/images/shinei/snrz/xinzi.png?v=1593509322675" alt="">
                </div>
                <div class="section-btn">
                    <a class="btn doyoo-btn">查看更多软装岗位</a>
                </div>
            </div>
        </div>




        <!-- 人群 -->
        <div class="section  study-design-sec">
            <div class="container">
                <div class="section-title">
                    <b>课程专为以下人群定制</b>
                </div>
                <div class="study-design-sec1">
                    <div class="section-serial">
                    </div>

                    <img src="/assets/images/shinei/snrz/renqun.png?v=1593509322675" alt="">


                </div>
                <div class="section-btn" style="margin-top: 0.0333rem;?v=1593509322675">
                    <a class="btn doyoo-btn">测测我适合学软装吗？</a>
                </div>
            </div>
        </div>




        <!-- 资质 -->
        <div class="section study-design-sec section-bg-write">
            <div class="container">
                <div class="section-title">
                    丝路教育<br/><b>室内设计教育专家</b>
                </div>
                <div class="study-design-sec1">

                    <div class="section-serial">
                        <div class="section-serial-line"> <img src="/assets/images/shinei/snqk/line.png?v=1593509322675" alt=""></div>
                        <div class="section-serial-txt">
                            国内唯一具备最高建筑装饰设计、展览展示工程资质的培训机构，培养数以万计室内设计人才，载誉无数。
                        </div>
                    </div>
                    <img src="/assets/images/shinei/snrz/zizhi.png?v=1593509322675" alt="">
                </div>
                <div class="section-btn">
                    <a class="btn doyoo-btn">查看更多软装岗位</a>
                </div>
            </div>
        </div>




        <!-- 课程 -->
        <div class="section  study-design-sec">
            <div class="container">
                <div class="section-title">
                    <b>2020新升级课程<br/>
                集亚太高端<br/>
                室内设计之大成</b>
                </div>
                <div class="study-design-sec1">
                    <div class="section-serial">
                    </div>
                    <img src="/assets/images/shinei/snrz/kecheng1.png?v=1593509322675" alt="">
                    <img src="/assets/images/shinei/snrz/kecheng2.png?v=1593509322675" alt="">
                    <img src="/assets/images/shinei/snrz/kecheng3.png?v=1593509322675" alt="">
                </div>
                <div class="section-btn" style="margin-top: 0.0333rem;?v=1593509322675">
                    <a class="btn doyoo-btn">获取完整课程大纲</a>
                </div>
            </div>
        </div>




        <!-- 优势三连 -->
        <div class="section study-design-sec section-bg-write">
            <div class="container">
                <div class="section-title">
                    <b>丝路教育优势三连</b> <br/>打造强势人才
                </div>
                <div class="study-design-sec1">

                    <div class="section-serial">
                        <div class="section-serial-number"><b>01</b></div>
                        <div class="section-serial-line"> <img src="/assets/images/shinei/snqk/line.png?v=1593509322675" alt=""></div>
                        <div class="section-serial-txt1">
                            外出实践耳濡目染
                            <br/>在逛gai中提升审美
                        </div>
                    </div>
                    <img src="/assets/images/shinei/snrz/sanlian1.png?v=1593509322675" alt="">
                </div>
                <div class="study-design-sec1">

                    <div class="section-serial">
                        <div class="section-serial-number"><b>02</b></div>
                        <div class="section-serial-line"> <img src="/assets/images/shinei/snqk/line.png?v=1593509322675" alt=""></div>
                        <div class="section-serial-txt1">
                            在校阶段性汇报
                            <br/>谈单表达有技巧
                        </div>
                    </div>
                    <img src="/assets/images/shinei/snrz/sanlian2.png?v=1593509322675" alt="">
                </div>
                <div class="study-design-sec1">

                    <div class="section-serial">
                        <div class="section-serial-number"><b>03</b></div>
                        <div class="section-serial-line"> <img src="/assets/images/shinei/snqk/line.png?v=1593509322675" alt=""></div>
                        <div class="section-serial-txt1">
                            在校实训拿奖励
                            <br/>行业好感提升不止一个度
                        </div>
                    </div>
                    <img src="/assets/images/shinei/snrz/sanlian3.png?v=1593509322675" alt="">
                </div>
                <div class="section-btn">
                    <a class="btn doyoo-btn"> 心动了！咨询更多</a>
                </div>
            </div>
        </div>



        <!-- 老师 -->
        <div class="section  study-design-sec">
            <div class="container">
                <div class="section-title">
                    室内专业“掌门人”<br/>
                    <b>全程面授软装绝学</b>
                </div>
                <div class="study-design-sec1">
                    <div class="section-serial">
                    </div>
                    <img src="/assets/images/shinei/snrz/laoshi1.png?v=1593509322675" alt="">
                    <img src="/assets/images/shinei/snrz/laoshi2.png?v=1593509322675" alt="">
                    <img src="/assets/images/shinei/snrz/laoshi4.png?v=1593509322675" alt="">
                    <img src="/assets/images/shinei/snrz/laoshi5.png?v=1593509322675" alt="">

                </div>
                <div class="section-btn" style="margin-top: 0.0333rem;?v=1593509322675">
                    <a class="btn doyoo-btn">免费向老师提问</a>
                </div>
            </div>
        </div>






        <!-- 作品 -->
        <div class="section study-design-sec section-bg-write">
            <div class="container">
                <div class="section-title">
                    <b>学员养眼作品</b>
                </div>
                <div class="study-design-sec1">

                    <div class="section-serial">
                        <div class="section-serial-line"> <img src="/assets/images/shinei/snqk/line.png?v=1593509322675" alt=""></div>
                        <div class="section-serial-txt">
                            丝路教育学员作品，均有老师指导点评，
                            <br/>保证作品质量，面试时更硬气！
                        </div>
                    </div>
                    <img src="/assets/images/shinei/snrz/zuoping.png?v=1593509322675" alt="">
                </div>
                <div class="section-btn">
                    <a class="btn doyoo-btn">查看更多学员作品</a>
                </div>
            </div>
        </div>


        <!-- 前学院后企业 打造就业闭环-->
        <div class="section study-design-sec section-bg-write">
            <div class="container">
                <div class="section-title">
                    <b>前学院后企业
                        <br/>打造就业闭环</br>
                </div>
                <div class="study-design-sec1">
                    <img src="/assets/images/shinei/snrz/liuda7.png?v=1593509322675" alt="">
                </div>
                <div class="section-btn">
                    <a class="btn doyoo-btn">了解更多就业细节</a>
                </div>
            </div>
        </div>


        <!-- logo -->
        <div class="section  study-design-sec">
            <div class="container">
                <div class="section-title">
                    <b>3000+合作企业</b><br/> 轻松入职名企
                </div>
                <div class="study-design-sec1">
                    <div class="section-serial">
                    </div>
                    <img src="/assets/images/shinei/snrz/logo.png?v=1593509322675" alt="">


                </div>
                <div class="section-btn" style="margin-top: 0.0333rem;?v=1593509322675">
                    <a class="btn doyoo-btn">查看更多合作企业</a>
                </div>
            </div>
        </div>


        <!-- 表单统计 -->
        <div class="section-form">
            <form id="form">

                <div class="form-group">
                    <input type='text' name='name' id="name" placeholder="请输入您的姓名" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="text" name='tel' id="tel" class="form-control" placeholder="请输入您的手机号码" />
                </div>
                <input type="text" name='time' id='time' style="display: none;" />

                <div class="form-submit">
                    <button class="btn" type="button" onclick="add_ajaxmessage()"> 预约免费试学</button>
                </div>
            </form>
        </div>
    </div>

    <!--页脚 -->
<div class="endfoot-box">
    <div class="endfoot">
        <a class="doyoo-btn">
            <div class="endfoot-item">
                <p>名师在线</p>
                <p>免费试听</p>
            </div>
        </a>
    </div>
    <h3>本网站版权归丝路教育所有，盗用必究</h3>
</div>

<script src="/assets/js/libs/jquery.min.js"></script>
<script src="/assets/js/plugs/vide7.4.1/js/video.js"></script>
<script src="/assets/js/plugs/picViewer/picViewer.js"></script>
<script src="/assets/js/plugs/swiper/swiper.js"></script>
<script src="/assets/js/plugs/layer-v3.1.1/layer/layer.js"></script>
<script src="/assets/js/global/common.js"></script>
<script src="http://op.jiain.net/20002985/10085553.js"></script>
<script>
    var doyooBtns = [].slice.call(document.querySelectorAll('.doyoo-btn'));
    for (var i = 0, len = doyooBtns.length; i < len; i++) {
        doyooBtns[i].onclick = function() {
            doyoo.util.openChat('g=10075108');
            return false;
        }
    }
</script>

<!-- 百度统计代码 -->
<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?57448cbcd9efb5a61b8ba648ba49f3e2";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>

<!-- 表单 -->
<script src="/assets/js/plugs/formbd.js"></script>

</div>







</body>

</html>