<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
<script>
    (function flexible(window, document) {
        var docEl = document.documentElement
        var dpr = window.devicePixelRatio || 1

        // adjust body font size
        function setBodyFontSize() {
            if (document.body) {
                document.body.style.fontSize = (12 * dpr) + 'px'
            } else {
                document.addEventListener('DOMContentLoaded', setBodyFontSize)
            }
        }
        setBodyFontSize();

        // set 1rem = viewWidth / 10
        function setRemUnit() {
            var rem = docEl.clientWidth / 10
            docEl.style.fontSize = rem + 'px'
        }

        setRemUnit()

        // reset rem unit on page resize
        window.addEventListener('resize', setRemUnit)
        window.addEventListener('pageshow', function(e) {
            if (e.persisted) {
                setRemUnit()
            }
        })

        // detect 0.5px supports
        if (dpr >= 2) {
            var fakeBody = document.createElement('body')
            var testElement = document.createElement('div')
            testElement.style.border = '.5px solid transparent'
            fakeBody.appendChild(testElement)
            docEl.appendChild(fakeBody)
            if (testElement.offsetHeight === 1) {
                docEl.classList.add('hairlines')
            }
            docEl.removeChild(fakeBody)
        }
    }(window, document))
</script>
    <title>室内效果图精英班</title>
    <link rel="stylesheet" href="/assets/js/plugs/vide-7.4.1/css/video-js.min.css?v=1595915801326">
<link rel="stylesheet" href="/assets/js/plugs/picViewer/picViewer.css?v=1595915801326">
<link rel="stylesheet" href="/assets/js/plugs/swiper-3.4.0/swiper-3.4.2.min.css?v=1595915801326">
    <link rel="stylesheet" href="/assets/css/shinei/snxgt.css?v=1595915801326">
</head>

<body>
    <div class="header">
    <div class="header-tp" id="header-tp">
        <div class="header-menu"></div>
        <ul class="header-menu-list">
            <li class="header-menu-first">
                <a href="/index.html" style="color: #fff;">首页</a>
            </li>
            <li class="header-menu-first arrow-right">
     影视视效课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/yingshi/ysqn.html">影视视效全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ystx.html">特效合成大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ysjj.html">剪辑包装创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ysdh.html">影视动画精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/c4d.html">C4D特效大师班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
     游戏视觉课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/youxi/yxqn.html">游戏视觉全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxyh.html">游戏原画创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxms.html">3D美术精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxrj.html">游戏软件精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxtx.html">动作特效精英班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
     室内设计课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/shinei/snqk.html">APEC室内设计全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/cad.html">CAD制图大师班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snrz.html">室内软装精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snsh.html">室内手绘创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snxgt.html">室内效果图精英班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
     U X 全栈课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/ui/uiqn.html">UX全栈视效全能班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/psds.html">Photoshop大师班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/pmsj.html">品牌视觉创意班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/dsmg.html">
                电商美工精英班
            </a></li>
        <li class="header-menu-second">
            <a href="/ui/wysj.html">全链路设计精英班
            </a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
     建筑视效课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/jianzhu/jzsx.html">建筑视效全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/3dsMax.html">3ds MAX大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/3djm.html"> 3D建模精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/xrys.html">渲染艺术精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/jzxgt.html"> 建筑效果图精英班 </a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
     BIM应用课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/bim/bimqn.html">BIM应用全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/bimkz.html">BIM考证精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/revitds.html">Revit大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/lumion.html">Lumion大师班</a>
        </li>
    </ul>
</li>
            <li class="header-menu-first">
                <a href="/home/studentworks.html" style="color: #fff;">学员作品</a>
            </li>
            <li class="header-menu-first">
                <a href="/home/onlinebao.html" style="color: #fff;">在线报名</a>
            </li>
            <li class="header-menu-first">
                <a href="/home/contactus.html" style="color: #fff;">联系我们</a>
            </li>

        </ul>
        <div class="header-logo"></div>
        <a class="doyoo-btn">
            <div class="header-phone"></div>
        </a>
    </div>
    <div class="header-nav">
        <ul class="header-nav-wrap">
            <li class="header-nav-first header-nav-active">
                <a href="/index.html">首页</a>
            </li>
            <li class="header-nav-first" id="header-nav-first-course">课程
                <span class="arrow-down"></span>
                <ul class="header-nav-course">
                    <li class="header-menu-first arrow-right">
      影视视效 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/yingshi/ysqn.html">影视视效全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ystx.html">特效合成大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ysjj.html">剪辑包装创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ysdh.html">影视动画精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/c4d.html">C4D特效大师班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
      游戏视觉 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/youxi/yxqn.html">游戏视觉全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxyh.html">游戏原画创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxms.html">3D美术精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxrj.html">游戏软件精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxtx.html">动作特效精英班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
      室内设计 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/shinei/snqk.html">APEC室内设计全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/cad.html">CAD制图大师班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snrz.html">室内软装精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snsh.html">室内手绘创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snxgt.html">室内效果图精英班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
      UX 全栈 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/ui/uiqn.html">UX全栈视效全能班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/psds.html">Photoshop大师班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/pmsj.html">品牌视觉创意班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/dsmg.html">
                电商美工精英班
            </a></li>
        <li class="header-menu-second">
            <a href="/ui/wysj.html">全链路设计精英班
            </a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
      建筑视效 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/jianzhu/jzsx.html">建筑视效全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/3dsMax.html">3ds MAX大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/3djm.html"> 3D建模精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/xrys.html">渲染艺术精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/jzxgt.html"> 建筑效果图精英班 </a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
      BIM应用 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/bim/bimqn.html">BIM应用全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/bimkz.html">BIM考证精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/revitds.html">Revit大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/lumion.html">Lumion大师班</a>
        </li>
    </ul>
</li>
                </ul>
            </li>
            <li class="header-nav-first">
                <a href="/home/famousteacher.html">名师</a>
            </li>
            <li class="header-nav-first">
                <a href="/home/obtain.html">就业</a>
            </li>
            <li class="header-nav-first">
                <a href="/home/about.html">关于丝路</a>
            </li>
        </ul>
    </div>
</div>
<div class="header-mask" id="header-mask"></div>
    <!-- banner -->
    <div class="layout">
        <div class="banner">
            <a class="doyoo-btn">
                <img class="banner-cover" src="/assets/images/shinei/snxgt/banner.jpg?v=1595915801326" alt="">
            </a>
        </div>
        <!-- 介绍 -->
        <div class="section  study-design-sec">
            <div class="container">
                <div class="section-title">
                    效果图已成<br/>室内行业的<b>标配技能</b>
                </div>
                <div class="study-design-sec1">
                    <div class="section-serial">
                        <div class="section-serial-line"> <img src="/assets/images/shinei/snqk/line.png?v=1595915801326" alt=""></div>
                        <div class="section-serial-txt">
                            “要看设计，就等于是看效果图”是室内行业中的普遍观念。室内效果图通过对设计方案中结构、色彩、质感等诸多因素的忠实表现，可以使观者直观地了解方案中的各项性能与构造。
                        </div>

                    </div>
                    <img src="/assets/images/shinei/snxgt/jieshao.jpg?v=1595915801326" alt="">
                </div>
                <div class="section-btn">
                    <a class="btn doyoo-btn">了解更多行业“内幕”</a>
                </div>
            </div>
        </div>


        <!-- 技能 -->
        <div class="section study-design-sec section-bg-write">
            <div class="container">
                <div class="section-title">
                    掌握效果图<br/>就“图”个省事、高薪
                </div>

                <div class="study-design-sec1">

                    <div class="section-serial">
                        <div class="section-serial-line"> <img src="/assets/images/shinei/snqk/line.png?v=1595915801326" alt=""></div>
                        <div class="section-serial-txt1">
                            哪些人群适合学习室内效果图
                        </div>
                        <div class="section-serial-number" style="margin-top: 20px;">01</div>
                        <div class="section-serial-line"> <img src="/assets/images/shinei/snqk/line.png?v=1595915801326" alt=""></div>
                        <div class="section-serial-txt1" style="color: #333;">
                            室内设计从业者：一“图”抵千言
                        </div>
                    </div>
                    <img src="/assets/images/shinei/snxgt/sanlian1.jpg?v=1595915801326" alt="">
                </div>

                <div class="study-design-sec1">
                    <div class="section-serial">

                        <div class="section-serial-number" style="margin-top: 20px;">02</div>
                        <div class="section-serial-line"> <img src="/assets/images/shinei/snqk/line.png?v=1595915801326" alt=""></div>
                        <div class="section-serial-txt1" style="color: #333;">
                            转行/0基础求学者：一“图”价万金
                        </div>
                    </div>
                    <img src="/assets/images/shinei/snxgt/sanlian2.jpg?v=1595915801326" alt="">
                </div>

                <div class="study-design-sec1">
                    <div class="section-serial">

                        <div class="section-serial-number" style="margin-top: 20px;">03</div>
                        <div class="section-serial-line"> <img src="/assets/images/shinei/snqk/line.png?v=1595915801326" alt=""></div>
                        <div class="section-serial-txt1" style="color: #333;">
                            大学进修者：就业多选择
                        </div>
                    </div>
                    <img src="/assets/images/shinei/snxgt/xinzi.png?v=1595915801326" alt="">
                </div>


                <div class="section-btn">
                    <a class="btn doyoo-btn">测一测我适合哪个岗位</a>
                </div>
            </div>
        </div>


        <!-- 六大 -->
        <div class="section  study-design-sec liudabjtu">
            <div class="container">
                <div class="section-title" style="color: #fff;">
                    一站式学习体验<br/>走向高薪
                </div>
                <div class="study-design-sec1">
                    <div class="section-serial">


                    </div>
                    <img src="/assets/images/shinei/snxgt/liuda.png?v=1595915801326" alt="">
                </div>
                <div class="section-btn">
                    <a class="btn doyoo-btn">申请学费减免</a>
                </div>
            </div>
        </div>





        <div class="section section-bg-write good-works-sec">
            <div class="section-title">
                商业级别学员作品
                <br/>逼真效果恐怖如斯
            </div>
            <div class="section-nav-tab">
                <div class="section-nav-item section-nav-btn section-nav-active"> 家装效果图</div>
                <div class="section-nav-item section-nav-btn"> 公装效果图</div>

                <div class="section-nav-item section-nav-btn"> 建筑/景观效果图 </div>
                <div class="section-nav-item section-nav-btn"> 720°全景效果图</div>
            </div>
            <div class="section-tab-list">
                <div class="section-tab-col">
                    <img src="/assets/images/shinei/snxgt/zuopingtu1.png?v=1595915801326" alt="" style="height: 11rem;">
                </div>
                <div class="section-tab-col">
                    <img src="/assets/images/shinei/snxgt/zuopingtu2.png?v=1595915801326" alt="" style="height: 11rem;">
                </div>


                <div class="section-tab-col">
                    <img src="/assets/images/shinei/snxgt/zuopingtu3.png?v=1595915801326" alt="" style="height: 11rem;">
                </div>
                <div class="section-tab-col">
                    <img src="/assets/images/shinei/snxgt/zuopingtu4.png?v=1595915801326" alt="" style="height: 11rem;">
                </div>
            </div>
            <div class="container">
                <div class="section-btn">
                    <a class="btn doyoo-btn">查看更多作品</a>
                </div>
            </div>
        </div>



        <!-- 学生 -->
        <div class="section  study-design-sec ">
            <div class="container">
                <div class="section-title">
                    学员毕业有成<br/> 升职加薪羡煞旁人
                </div>
                <div class="study-design-sec1">
                    <div class="section-serial">

                    </div>
                    <img src="/assets/images/shinei/snxgt/xueyuan1.png?v=1595915801326" alt="">
                    <img src="/assets/images/shinei/snxgt/xueyuan2.png?v=1595915801326" alt="">
                    <img src="/assets/images/shinei/snxgt/xueyuan3.png?v=1595915801326" alt="">
                </div>

            </div>
        </div>


        <!-- 通栏 -->
        <div class="banner">
            <a class="doyoo-btn">
                <img class="banner-cover" src="/assets/images/shinei/snxgt/tonglan.jpg?v=1595915801326" alt="">
            </a>
        </div>


        <!-- 优势 -->
        <div class="section  study-design-sec youshibjtu">
            <div class="container">
                <div class="section-title" style="color: #fff;">
                    背靠效果图上市企业<br/> 项目+技术
                    <br/>渗透教学与实战
                </div>

                <div class="study-design-sec1">
                    <div class="section-serial">
                        <div class="section-serial-txt" style="color: #fff;">
                            丝路教育是上市企业丝路视觉（股票代码：300556）旗下全国人才培训基地，依托丝路集团二十年效果图项目经验和技术成果转化，每年向室内设计行业输送数以万计的复合型紧缺人才。
                        </div>
                        <div class="section-serial-number" style="margin-top: 20px; color: #fff;">01</div>
                        <div class="section-serial-line"> <img src="/assets/images/shinei/snqk/line.png?v=1595915801326" alt=""></div>
                        <div class="section-serial-txt1" style="color: #fff;">
                            丝路视觉（股票代码：300556）<br/> 效果图业务遍布全球
                        </div>
                    </div>
                    <img src="/assets/images/shinei/snxgt/shili.png?v=1595915801326" alt="">
                    <img src="/assets/images/shinei/snxgt/xaingmu1.png?v=1595915801326" alt="">
                    <img src="/assets/images/shinei/snxgt/xaingmu2.png?v=1595915801326" alt="">

                </div>


                <div class="section-btn">
                    <a class="btn doyoo-btn">查看更多案例</a>
                </div>
            </div>
        </div>




        <!-- 02 -->
        <div class="section  study-design-sec">
            <div class="container">
                <div class="study-design-sec1">
                    <div class="section-serial">

                        <div class="section-serial-number">02</div>
                        <div class="section-serial-line"> <img src="/assets/images/shinei/snqk/line.png?v=1595915801326" alt=""></div>
                        <div class="section-serial-txt1" style="color: #333;">
                            行业资质，首屈一指
                        </div>
                    </div>
                    <img src="/assets/images/shinei/snxgt/zhengshu1.png?v=1595915801326" alt="">
                    <img src="/assets/images/shinei/snxgt/zhengshu2.png?v=1595915801326" alt="">
                    <img src="/assets/images/shinei/snxgt/zhengshu3.png?v=1595915801326" alt="">
                </div>
                <div class="study-design-sec1">
                    <div class="section-serial">

                        <div class="section-serial-number" style="margin-top: 40px;">03</div>
                        <div class="section-serial-line"> <img src="/assets/images/shinei/snqk/line.png?v=1595915801326" alt=""></div>
                        <div class="section-serial-txt1" style="color: #333;">
                            总监大咖精编课程，紧跟行业用人需求
                        </div>
                    </div>
                    <img src="/assets/images/shinei/snxgt/kecheng1.png?v=1595915801326" alt="">
                    <img src="/assets/images/shinei/snxgt/kecheng2.png?v=1595915801326" alt="">
                    <img src="/assets/images/shinei/snxgt/kecheng3.png?v=1595915801326" alt="">


                </div>
                <div class="section-btn">
                    <a class="btn doyoo-btn">查看详细课程大纲</a>
                </div>
            </div>
        </div>




        <!-- 名师 -->
        <div class="section  study-design-sec section-bg-write">
            <div class="container">
                <div class="section-title">
                    一线名师团队
                    <br/> 面授实战干货
                </div>
                <div class="study-design-sec1">
                    <div class="section-serial">
                        <div class="section-serial-line"> <img src="/assets/images/shinei/snqk/line.png?v=1595915801326" alt=""></div>
                        <div class="section-serial-txt">
                            “教学+项目”双经验讲师团队，手把手帮助不同基础的学员夯实基础，让能力稳步提升
                        </div>
                    </div>
                    <img src="/assets/images/shinei/snxgt/laoshi7.png?v=1595915801326" alt="">
                    <img src="/assets/images/shinei/snxgt/laoshi8.png?v=1595915801326" alt="">
                    <img src="/assets/images/shinei/snxgt/laoshi9.png?v=1595915801326" alt="">
                </div>
            </div>
        </div>




        <!-- 实训 -->
        <div class="section  study-design-sec section-bg-write">
            <div class="container">
                <div class="section-title">
                    实战带动教学<br/> 参与内部项目实训
                </div>
                <div class="study-design-sec1">
                    <div class="section-serial">
                        <div class="section-serial-line"> <img src="/assets/images/shinei/snqk/line.png?v=1595915801326" alt=""></div>
                        <div class="section-serial-txt">
                            学员实训阶段由总监级讲师带队参与丝路集团真实<br/>效果图项目制作，增长项目经验，优秀团队还将<br/>获得项目提成，赚回学费指日可待。
                        </div>
                    </div>
                    <img src="/assets/images/shinei/snxgt/shixun.png?v=1595915801326" alt="">
                </div>
            </div>
        </div>


        <!-- logo -->
        <div class="section  study-design-sec ">
            <div class="container">
                <div class="section-title">
                    整合上市企业资源<br/>名企排队任你选
                </div>
                <div class="study-design-sec1">
                    <div class="section-serial">
                    </div>
                    <img src="/assets/images/shinei/snxgt/logo.png?v=1595915801326" alt="">
                </div>
            </div>
        </div>


        <!-- 问题 -->
        <div class="section  study-design-sec section-bg-write">
            <div class="container">
                <div class="section-title">
                    <b>更多疑问，请点击</b>
                </div>
                <div class="study-design-sec1">
                    <div class="section-serial">
                    </div>
                    <a class="doyoo-btn">
                        <img src="/assets/images/shinei/snxgt/wuda.png?v=1595915801326" alt="">
                    </a>
                </div>
            </div>
        </div>






        <!-- 表单统计 -->
        <div class="section-form">
            <form id="form">

                <div class="form-group">
                    <input type='text' name='name' id="name" placeholder="请输入您的姓名" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="text" name='tel' id="tel" class="form-control" placeholder="请输入您的手机号码" />
                </div>
                <input type="text" name='time' id='time' style="display: none;" />

                <div class="form-submit">
                    <button class="btn" type="button" onclick="add_ajaxmessage()"> 预约试听，触碰高薪</button>
                </div>
            </form>
        </div>
    </div>




    <!--页脚 -->
<div class="endfoot-box">
    <div class="endfoot">
        <a class="doyoo-btn">
            <div class="endfoot-item">
                <p>名师在线</p>
                <p>免费试听</p>
            </div>
        </a>
    </div>
    <h3>本网站版权归丝路教育所有，盗用必究</h3>
</div>

<script src="/assets/js/libs/jquery.min.js"></script>
<script src="/assets/js/plugs/vide7.4.1/js/video.js"></script>
<script src="/assets/js/plugs/picViewer/picViewer.js"></script>
<script src="/assets/js/plugs/swiper/swiper.js"></script>
<script src="/assets/js/plugs/layer-v3.1.1/layer/layer.js"></script>
<script src="/assets/js/global/common.js"></script>
<!-- <script src="http://op.jiain.net/20002985/10085553.js"></script> -->
<script>
    var doyooBtns = [].slice.call(document.querySelectorAll('.doyoo-btn'));
    for (var i = 0, len = doyooBtns.length; i < len; i++) {
        doyooBtns[i].onclick = function() {
            doyoo.util.openChat('g=10075108');
            return false;
        }
    }
</script>

<!-- 百度统计代码 -->
<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?57448cbcd9efb5a61b8ba648ba49f3e2";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>

<!-- 表单 -->
<script src="/assets/js/plugs/formbd.js"></script>

</div>







</body>

</html>