@import "../common/variable";
@import "../common/base";
// 游戏3D美术适合谁学？
.suitable-whom-sec {
    background-color: #FFFBF9;
}

//  兴趣变职业 娱乐赚大钱
.interest-career-sec {
    .swiper-container {
        height: 6.6667rem;
        .swiper-wrapper {
            height: 5.6rem;
        }
    }
}

// 项目高提成薪资
.royalty-sec {
    .section-list {
        .section-item {
            width: 2.84rem;
            h3 {
                font-size: 0.32rem;
                text-align: center;
                padding: 10px auto;
            }
            .section-cover {
                height: 3.8933rem;
            }
            .section-txt {
                text-align: center;
                .royalty-label {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 1.8933rem;
                    height: 0.5333rem;
                    margin: 0 auto;
                    border-radius: 0.1067rem;
                    font-size: 0.32rem;
                    background: #FFB400;
                }
                p {
                    color: #333;
                }
            }
        }
    }
}

// 完善课程体系助阵
.perfect-curriculum-sec {
    .swiper-container {
        height: 5.4rem;
    }
    .swiper-wrapper {
        height: 4.9867rem;
    }
    .swiper-slide {
        img {
            height: 100%;
        }
    }
}

// 倾力研发精编课程
.fivestep-method-sec {
    .fivestep-method-list {
        color: #fff;
        .fivestep-method-item {
            height: 3.4667rem;
            padding: 0.4rem;
            margin-bottom: 0.4rem;
            background: url("/assets/images/youxi/yxms/kc1.png") no-repeat center;
            background-size: cover;
            box-shadow: 0 0 9px 2px rgba(0, 0, 0, 0.1);
            &:nth-child(odd) {
                dl {
                    margin-left: auto;
                }
            }
            &:nth-child(2) {
                background: url("/assets/images/youxi/yxms/kc2.png") no-repeat center;
                background-size: cover;
            }
            &:nth-child(3) {
                background: url("/assets/images/youxi/yxms/kc3.png") no-repeat center;
                background-size: cover;
            }
            &:nth-child(4) {
                background: url("/assets/images/youxi/yxms/kc4.png") no-repeat center;
                background-size: cover;
            }
            &:nth-child(5) {
                background: url("/assets/images/youxi/yxms/kc5.png") no-repeat center;
                background-size: cover;
            }
            dl {
                width: 45%;
                dt {
                    margin-bottom: 0.1333rem;
                    font-size: 0.3733rem;
                }
                dd {
                    margin-bottom: 0.0667rem;
                    font-size: 0.2667rem;
                }
            }
        }
    }
}

// AAA级项目案例加持
.level-project-sec {
    .section-list {
        .section-item {
            width: 4.5333rem;
        }
    }
}

// 金牌讲师 倾囊相授
.medal-lecturer-sec {
    .section-list {
        font-size: 0.2667rem;
        .section-item {
            width: 50%;
            margin-bottom: 0.4rem;
            background-color: transparent;
            .section-cover {
                width: 2.3067rem;
                height: 2.3067rem;
            }
            .section-txt {
                padding: 0.2667rem 0.4rem;
                text-align: center;
                h3 {
                    margin-bottom: 0.2667rem;
                    font-size: 0.3467rem;
                    span {
                        font-size: 0.2667rem;
                    }
                }
                .medal-lecturer-pos {
                    margin-bottom: 0.2rem;
                    color: #F54F23;
                }
                p {
                    color: #666;
                }
            }
        }
    }
}

// 学员实力展示
.student-strength-sec {
    .section-list {
        font-size: 0.2667rem;
        .section-item {
            width: 50%;
            background-color: transparent;
            .section-cover {
                width: 4.4667rem;
                height: 2.5867rem;
            }
            .section-txt {
                padding-bottom: 0px;
                text-align: center;
                h3 {
                    margin-bottom: 0.2667rem;
                    font-size: 0.3467rem;
                }
            }
        }
    }
}

// 独享六大就业保障
.employment-security-sec {
    .section-list {
        font-size: 0.2667rem;
        .section-item {
            width: 33.33%;
            background-color: transparent;
            .section-cover {
                width: 1.92rem;
                height: 1.92rem;
            }
            .section-txt {
                padding-bottom: 0px;
                text-align: center;
                h3 {
                    margin-bottom: 0.2667rem;
                    font-size: 0.3467rem;
                }
            }
        }
    }
}

// 高质量教学口碑
.teaching-word-sec {
    .section-list {
        font-size: 0.2667rem;
        .section-item {
            width: 33.33%;
            background-color: transparent;
            .section-cover {
                width: 2.0267rem;
                height: 2.0267rem;
            }
            .section-txt {
                padding: 0.1333rem 0.05rem;
                padding-bottom: 0px;
                text-align: center;
                h3 {
                    margin-bottom: 0.2667rem;
                    font-size: 0.3467rem;
                }
            }
        }
    }
}

// 表单
.section-form {
    height: 10.6667rem;
    background: url("/assets/images/youxi/yxms/foot-bj.jpg") no-repeat center;
    background-size: cover;
    .form-group-txt {
        line-height: 1rem;
        padding-top: 1.8rem;
        margin-bottom: 0.6rem;
        font-size: 0.8rem;
        color: #fff;
    }
}