@import "../common/variable";
@import "../common/base";
.line {
    width: 0.5333rem;
    height: 0.0533rem;
    margin: 0.2667rem auto 0.4rem;
    background: linear-gradient(-90deg, rgba(211, 56, 134, 1), rgba(152, 89, 203, 1));
}

// 全民游戏热潮
.game-craze-sec {
    .section-list {
        display: flex;
        justify-content: space-between;
        .section-item {
            box-shadow: 0 0 9px 2px rgba(0, 0, 0, 0.1);
            img {
                width: 4.04rem;
                height: 4.8533rem;
            }
        }
    }
}

.ruhang {
    background-color: #f2f5fa;
}

.renqun {
    background-color: #f9fafc;
}

.xinzi {
    background-color: #f9fafc;
}

// 丝路教育5步法
.fivestep-method-sec {
    background-color: #e0e0e0;
    .fivestep-method-nav {
        text-align: center;
        .fivestep-method-num {
            font-size: 0.4267rem;
        }
        .line {
            margin: 0.1333rem auto 0.4rem;
        }
        .fivestep-method-title {
            font-size: 0.3733rem;
            font-weight: bold;
        }
        .fivestep-method-describe {
            margin-bottom: 0.5333rem;
            font-size: 0.3733rem;
        }
    }
    .fivestep-method-sec1 {
        .fivestep-method-list {
            .fivestep-method-item {
                height: 4rem;
                padding: 0.4rem;
                margin-bottom: 0.4rem;
                background: url("/assets/images/youxi/yxyh/kc1.jpg") no-repeat center;
                background-size: cover;
                color: #fff;
                &:nth-child(2) {
                    background: url("/assets/images/youxi/yxyh/kc2.jpg") no-repeat center;
                    background-size: cover;
                }
                &:nth-child(3) {
                    background: url("/assets/images/youxi/yxyh/kc3.jpg") no-repeat center;
                    background-size: cover;
                }
                &:nth-child(4) {
                    background: url("/assets/images/youxi/yxyh/kc4.jpg") no-repeat center;
                    background-size: cover;
                }
                dl {
                    dt {
                        margin-bottom: 0.1333rem;
                        font-size: 0.3733rem;
                    }
                    dd {
                        margin-bottom: 0.0667rem;
                        font-size: 0.2667rem;
                    }
                }
            }
        }
        .fivestep-method-form {
            height: 7.1333rem;
            margin-top: 1.6rem;
            background: url("/assets/images/youxi/yxyh/tonglan.jpg") no-repeat center;
            background-size: cover;
            text-align: center;
            h3 {
                padding-top: 0.7733rem;
                font-size: 0.5333rem;
                font-style: italic;
                color: #F39800;
            }
            .form-group {
                margin-bottom: 0.1333rem;
            }
            .form-control {
                width: 5.3333rem;
                height: 0.8rem;
                border-color: #fff;
                border-radius: 4px;
            }
        }
    }
    .fivestep-method-sec2 {
        padding-top: 1.3333rem;
        .fivestep-method-list {
            .fivestep-method-item {
                height: 3.4667rem;
                padding: 0.4rem;
                margin-bottom: 0.4rem;
                background: url("/assets/images/youxi/yxyh/tec1.jpg") no-repeat center;
                background-size: cover;
                box-shadow: 0 0 9px 2px rgba(0, 0, 0, 0.1);
                &:nth-child(2) {
                    background: url("/assets/images/youxi/yxyh/tec2.jpg") no-repeat center;
                    background-size: cover;
                }
                &:nth-child(3) {
                    background: url("/assets/images/youxi/yxyh/tec3.jpg") no-repeat center;
                    background-size: cover;
                }
                &:nth-child(4) {
                    background: url("/assets/images/youxi/yxyh/tec4.jpg") no-repeat center;
                    background-size: cover;
                }
                dl {
                    dt {
                        margin-bottom: 0.1333rem;
                        font-size: 0.3733rem;
                    }
                    dd {
                        margin-bottom: 0.0667rem;
                        font-size: 0.2667rem;
                    }
                }
            }
        }
    }
    .fivestep-method-sec3 {
        padding-top: 1.3333rem;
        .section-nav-tab {
            margin: 0 -0.4rem 0.5333rem;
            .section-nav-item.section-nav-btn {
                width: 1.9867rem;
                height: 1.0667rem;
                border-radius: 0.5333rem;
                background-color: transparent;
                border: 1px solid #9859cb;
                color: #9859cb;
                &:last-child {
                    width: 2.4rem;
                }
            }
            .section-nav-item.section-nav-btn.section-nav-active {
                background-color: #9859cb;
                color: #fff;
            }
        }
    }
    .fivestep-method-sec4,
    .fivestep-method-sec5 {
        padding-top: 1.3333rem;
    }
}

.section-tab-list .section-tab-col {
    width: 9.16rem;
    height: 10.44rem;
}

// 学员
.stu {
    .swiper-container {
        height: 11rem;
        .swiper-wrapper {
            height: 10rem;
            .swiper-slide {
                img {
                    height: 100%;
                }
            }
        }
        .swiper-pagination-bullet {
            width: 0.2667rem;
            height: 0.2667rem;
            border-radius: 50%;
            background-color: #EC6941;
        }
        .swiper-pagination-bullet-active {
            background-color: #F39800;
        }
    }
}

// 表单
.section-form {
    height: 13.4133rem;
    padding-top: 7rem;
    background: url("/assets/images/youxi/yxyh/foot-bj.jpg") no-repeat center;
    background-size: cover;
}