<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">

    <title>C4D特效大师班</title>
    <link rel="stylesheet" href="/assets/js/plugs/vide7.4.1/css/video-js.min.css?v=1586759525495">
<link rel="stylesheet" href="/assets/js/plugs/picViewer/picViewer.css?v=1586759525495">
<link rel="stylesheet" href="/assets/js/plugs/swiper/swiper.min.css?v=1586759525495">
    <link rel="stylesheet" href="/assets/css/bim/bimqn.css?v=1586759525495">
</head>

<body>
    <div class="header">
    <div class="header-tp" id="header-tp">
        <div class="header-menu"></div>
        <ul class="header-menu-list">
            <li class="header-menu-first">首页</li>
            <li class="header-menu-first arrow-right">
    
    影视视效课程
    
    
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/yingshi/ysqn.html">影视后期全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ystx.html">影视特效合成大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ysjj.html">剪辑包装创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ysdh.html">影视动画精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/c4d.html">C4D特效大师班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
    
    游戏视觉课程
    
    
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/youxi/yxqn.html">游戏视觉设计全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxyh.html">游戏原画创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxms.html">游戏3D美术精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxrj.html">游戏软件精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxtx.html">游戏动作特效精英班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
    
    APEC室内课程
    
    
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">影视后期全能班</li>
        <li class="header-menu-second">影视特效合成大师班</li>
        <li class="header-menu-second">剪辑包装创意班</li>
        <li class="header-menu-second">影视动画精英班</li>
        <li class="header-menu-second">C4D特效大师班</li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
    
    UX全栈课程
    
    
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">影视后期全能班</li>
        <li class="header-menu-second">影视特效合成大师班</li>
        <li class="header-menu-second">剪辑包装创意班</li>
        <li class="header-menu-second">影视动画精英班</li>
        <li class="header-menu-second">C4D特效大师班</li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
    
    建筑视效课程
    
    
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">影视后期全能班</li>
        <li class="header-menu-second">影视特效合成大师班</li>
        <li class="header-menu-second">剪辑包装创意班</li>
        <li class="header-menu-second">影视动画精英班</li>
        <li class="header-menu-second">C4D特效大师班</li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
    
    BIM应用课程
    
    
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/bim/bimqn.html">BIM应用全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/bimkz.html">BIM考证精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/revitds.html">Revit大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/lumion.html">Lumion大师班</a>
        </li>
    </ul>
</li>
            <li class="header-menu-first">联系我们</li>
        </ul>
        <div class="header-logo"></div>
        <div class="header-phone"></div>
    </div>
    <div class="header-nav">
        <ul class="header-nav-wrap">
            <li class="header-nav-first header-nav-active">首页</li>
            <li class="header-nav-first" id="header-nav-first-course">课程
                <span class="arrow-down"></span>
                <ul class="header-nav-course">
                    <li class="header-menu-first arrow-right">
    
    
    影视视效
    
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/yingshi/ysqn.html">影视后期全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ystx.html">影视特效合成大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ysjj.html">剪辑包装创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ysdh.html">影视动画精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/c4d.html">C4D特效大师班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
    
    
    游戏视觉
    
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/youxi/yxqn.html">游戏视觉设计全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxyh.html">游戏原画创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxms.html">游戏3D美术精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxrj.html">游戏软件精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxtx.html">游戏动作特效精英班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
    
    
    APEC室内
    
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">影视后期全能班</li>
        <li class="header-menu-second">影视特效合成大师班</li>
        <li class="header-menu-second">剪辑包装创意班</li>
        <li class="header-menu-second">影视动画精英班</li>
        <li class="header-menu-second">C4D特效大师班</li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
    
    
    UX全栈
    
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">影视后期全能班</li>
        <li class="header-menu-second">影视特效合成大师班</li>
        <li class="header-menu-second">剪辑包装创意班</li>
        <li class="header-menu-second">影视动画精英班</li>
        <li class="header-menu-second">C4D特效大师班</li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
    
    
    建筑视效
    
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">影视后期全能班</li>
        <li class="header-menu-second">影视特效合成大师班</li>
        <li class="header-menu-second">剪辑包装创意班</li>
        <li class="header-menu-second">影视动画精英班</li>
        <li class="header-menu-second">C4D特效大师班</li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
    
    
    BIM应用
    
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/bim/bimqn.html">BIM应用全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/bimkz.html">BIM考证精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/revitds.html">Revit大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/lumion.html">Lumion大师班</a>
        </li>
    </ul>
</li>
                </ul>
            </li>
            <li class="header-nav-first">名师</li>
            <li class="header-nav-first">就业</li>
            <li class="header-nav-first">关于丝路</li>
        </ul>
    </div>
</div>
<div class="header-mask" id="header-mask"></div>
<script src="/assets/js/libs/lib-flexible.js"></script>
    <div class="layout">
        <div class="banner">
            <a class="doyoo-btn">
                <img src="/assets/images/bim/bimqn/banner.jpg?v=1586759525495" alt="">
            </a>
        </div>
        <div class="section banner-next-sec">
            <div class="container">
                <div class="section-list">
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/bim/bimqn/liuda1.png?v=1586759525495">
                        <div class="section-txt tac">
                            <h3>免费试听</h3>
                            <p>
                                7天免费现场试听
                                不满意可退费
                            </p>
                        </div>
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/bim/bimqn/liuda2.png?v=1586759525495">
                        <div class="section-txt tac">
                            <h3>免费试听</h3>
                            <p>
                                7天免费现场试听
                                不满意可退费
                            </p>
                        </div>
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/bim/bimqn/liuda3.png?v=1586759525495">
                        <div class="section-txt tac">
                            <h3>免费试听</h3>
                            <p>
                                7天免费现场试听
                                不满意可退费
                            </p>
                        </div>
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/bim/bimqn/liuda4.png?v=1586759525495">
                        <div class="section-txt tac">
                            <h3>免费试听</h3>
                            <p>
                                7天免费现场试听
                                不满意可退费
                            </p>
                        </div>
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/bim/bimqn/liuda5.png?v=1586759525495">
                        <div class="section-txt tac">
                            <h3>免费试听</h3>
                            <p>
                                7天免费现场试听
                                不满意可退费
                            </p>
                        </div>
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/bim/bimqn/liuda6.png?v=1586759525495">
                        <div class="section-txt tac">
                            <h3>免费试听</h3>
                            <p>
                                7天免费现场试听
                                不满意可退费
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section section-bg-write">
            <div class="container">
                <div class="section-title">
                    <em>BIM：</em>建筑行业热搜关键词
                </div>
                <div class="section-list">
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/bim/bimqn/gongneng.png?v=1586759525495">
                    </div>

                </div>
                <div class="section-btn">
                    <a class="btn doyoo-btn">了解更多BIM介绍</a>
                </div>
            </div>
        </div>
        <div class="section section-bg-write five-plan-sec">
            <div class="container">
                <div class="section-title">
                    <em>BIM：</em>国家“十三五” 规划主推技术
                </div>
                <div class="section-describe">
                    大型项目明确要求应用BIM技术：国家体育场、青岛海湾大桥、广州西塔等工程项目成功实现4D 施工动态集成管理；上海中心项目工程总承包招标，明确要求应用BIM
                    技术；上海金融交易广场和广联达信息大厦项目，不仅在方案设计阶段运用BIM 技术，还规划引入面向建筑全生命周期的BIM 应用整体方案。
                </div>
                <div class="section-list">
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/bim/bimqn/zhengce1.png?v=1586759525495">
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/bim/bimqn/zhengce2.png?v=1586759525495">
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/bim/bimqn/zhengce3.png?v=1586759525495">
                    </div>
                </div>
                <div class="section-btn">
                    <a class="btn doyoo-btn">查看更多BIM政策</a>
                </div>
            </div>
        </div>
        <div class="section section-bg-write">
            <div class="container">
                <div class="section-title">
                    抓住BIM政策机遇<br>
                    薪资甩开同行一大截
                </div>
                <div class="section-describe">
                    大型项目明确要求应用BIM技术：国家体育场、青岛海湾大桥、广州西塔等工程项目成功实现4D 施工动态集成管理；上海中心项目工程总承包招标，明确要求应用BIM
                    技术；上海金融交易广场和广联达信息大厦项目，不仅在方案设计阶段运用BIM 技术，还规划引入面向建筑全生命周期的BIM 应用整体方案。
                </div>
                <div class="section-list">
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/bim/bimqn/xinzi.png?v=1586759525495">
                    </div>
                </div>
                <div class="section-btn">
                    <a class="btn doyoo-btn">我适合学BIM课程吗？</a>
                </div>
            </div>
        </div>
        <div class="section five-plan-sec">
            <div class="container">
                <div class="section-title">
                    丝路教育<br>
                    视觉创意领域的先行者
                </div>
                <div class="section-describe">
                    拥有Adobe与Autodesk官方认证证书，是国内唯一拥有展览展示设计及施工甲级、建筑装饰工程设计及施工一级资质的教育机构。
                </div>
                <div class="section-list">
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/bim/bimqn/zizhi1.png?v=1586759525495">
                        <div class="section-txt tac">
                            <h3>
                                亚洲教育<br>
                                十大领军企业
                            </h3>
                        </div>
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/bim/bimqn/zizhi2.png?v=1586759525495">
                        <div class="section-txt tac">
                            <h3>
                                亚洲教育<br>
                                十大领军企业
                            </h3>
                        </div>
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/bim/bimqn/zizhi3.png?v=1586759525495">
                        <div class="section-txt tac">
                            <h3>
                                亚洲教育<br>
                                十大领军企业
                            </h3>
                        </div>
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/bim/bimqn/zizhi4.png?v=1586759525495">
                        <div class="section-txt tac">
                            <h3>
                                亚洲教育<br>
                                十大领军企业
                            </h3>
                        </div>
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/bim/bimqn/zizhi5.png?v=1586759525495">
                        <div class="section-txt tac">
                            <h3>
                                亚洲教育<br>
                                十大领军企业
                            </h3>
                        </div>
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/bim/bimqn/zizhi5.png?v=1586759525495">
                        <div class="section-txt tac">
                            <h3>
                                亚洲教育<br>
                                十大领军企业
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="section-btn">
                    <a class="btn doyoo-btn">查看更多BIM政策</a>
                </div>
            </div>
        </div>
        <div class="section section-bg-write bim-expert-sec">
            <div class="container">
                <div class="section-title">
                    联手BIM专家梯队教学研发<em>技能+证书</em>一步到位
                </div>
                <div class="bim-expert-sec1">
                    <div class="bim-expert-title tac">
                        01.课程软件覆盖
                    </div>
                    <div class="section-list">
                        <div class="section-item">
                            <img class="section-cover" src="/assets/images/bim/bimqn/ruanjian1.png?v=1586759525495">
                        </div>
                        <div class="section-item">
                            <img class="section-cover" src="/assets/images/bim/bimqn/ruanjian2.png?v=1586759525495">
                        </div>
                        <div class="section-item">
                            <img class="section-cover" src="/assets/images/bim/bimqn/ruanjian3.png?v=1586759525495">
                        </div>
                        <div class="section-item">
                            <img class="section-cover" src="/assets/images/bim/bimqn/ruanjian4.png?v=1586759525495">
                        </div>
                        <div class="section-item">
                            <img class="section-cover" src="/assets/images/bim/bimqn/ruanjian5.png?v=1586759525495">
                        </div>
                    </div>
                    <div class="section-btn">
                        <a class="btn doyoo-btn">下载安装包</a>
                    </div>
                </div>
                <div class="bim-expert-sec2">
                    <div class="bim-expert-title tac">
                        02.BIM技能证书
                    </div>
                    <div class="section-list">
                        <div class="section-item">
                            <img class="section-cover" src="/assets/images/bim/bimqn/zhengshu1.jpg?v=1586759525495">
                        </div>
                        <div class="section-item">
                            <img class="section-cover" src="/assets/images/bim/bimqn/zhengshu2.jpg?v=1586759525495">
                        </div>
                        <div class="section-item">
                            <img class="section-cover" src="/assets/images/bim/bimqn/zhengshu3.jpg?v=1586759525495">
                        </div>
                    </div>
                    <div class="section-btn">
                        <a class="btn doyoo-btn">查看报考流程</a>
                    </div>
                </div>

            </div>
        </div>
        <div class="section practice-course-sec">
            <div class="container">
                <div class="section-title">
                    商用实战课程
                </div>
                <div class="section-list">
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/bim/bimqn/kecheng1.jpg?v=1586759525495">
                        <h3>Revit软件教学</h3>
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/bim/bimqn/kecheng2.jpg?v=1586759525495">
                        <h3>Revit软件教学</h3>
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/bim/bimqn/kecheng3.jpg?v=1586759525495">
                        <h3>Revit软件教学</h3>
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/bim/bimqn/kecheng4.jpg?v=1586759525495">
                        <h3>Revit软件教学</h3>
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/bim/bimqn/kecheng5.jpg?v=1586759525495">
                        <h3>Revit软件教学</h3>
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/bim/bimqn/kecheng6.jpg?v=1586759525495">
                        <h3>Revit软件教学</h3>
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/bim/bimqn/kecheng7.jpg?v=1586759525495">
                        <h3>Revit软件教学</h3>
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/bim/bimqn/kecheng8.jpg?v=1586759525495">
                        <h3>Revit软件教学</h3>
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/bim/bimqn/kecheng9.jpg?v=1586759525495">
                        <h3>Revit软件教学</h3>
                    </div>
                </div>
                <div class="section-btn">
                    <a class="btn doyoo-btn">查看详细课程内容</a>
                </div>
            </div>
        </div>
        <div class="section section-bg-write">
            <div class="container">
                <div class="section-title">
                    <em>行业大牛</em>面授<br>技能实战同步双修
                </div>
                <div class="section-list">
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/bim/bimqn/laoshi1.jpg?v=1586759525495">
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/bim/bimqn/laoshi2.jpg?v=1586759525495">
                    </div>
                </div>
                <div class="section-btn">
                    <a class="btn doyoo-btn">查看讲师授课安排</a>
                </div>
            </div>
        </div>
        <div class="section commercial-level-sec">
            <div class="container">
                <div class="section-title">
                    商业级别学员作品
                </div>
                <div class="section-list">
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/bim/bimqn/zuoping1.jpg?v=1586759525495">
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/bim/bimqn/zuoping2.jpg?v=1586759525495">
                    </div>
                </div>
                <div class="section-btn">
                    <a class="btn doyoo-btn">查看更多作品</a>
                </div>
            </div>
        </div>
        <div class="section section-bg-write put-action-sec">
            <div class="container">
                <div class="section-title">
                    为学员<em>满意就业</em><br>我们付诸行动
                </div>
                <div class="section-list">
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/bim/bimqn/tubiao1.png?v=1586759525495">
                        <h3>入学签订就业协议</h3>
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/bim/bimqn/tubiao2.png?v=1586759525495">
                        <h3>入学签订就业协议</h3>
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/bim/bimqn/tubiao3.png?v=1586759525495">
                        <h3>入学签订就业协议</h3>
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/bim/bimqn/tubiao4.png?v=1586759525495">
                        <h3>入学签订就业协议</h3>
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/bim/bimqn/tubiao5.png?v=1586759525495">
                        <h3>入学签订就业协议</h3>
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/bim/bimqn/tubiao6.png?v=1586759525495">
                        <h3>入学签订就业协议</h3>
                    </div>
                </div>
                <div class="section-btn">
                    <a class="btn doyoo-btn">查看更多作品</a>
                </div>
            </div>
        </div>
        <!-- 丝路与3000+名企合作 -->
        <div class="section">
            <div class="container">
                <div class="section-title">
                    与众多名企达成合作
                    <br>学员还未毕业已被“预定”
                </div>
                <img src="/assets/images/bim/bimqn/logo.jpg?v=1586759525495" alt="">
            </div>
        </div>
        <!-- 表单统计 -->
        <div class="section-form">
            <form action="/plus/diy.php?v=1586759525495" enctype="multipart/form-data" method="post"
                onsubmit="return checkMobile(this);">
                <div class="form-group form-group-txt">
                    你离掌握BIM只差一门课！
                </div>
                <div class="form-group">
                    <input type='text' name='name' placeholder="姓名：请填写姓名" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="text" name='tel' class="form-control" placeholder="联系方式：请填写手机号码" />
                </div>
                <div class="form-submit">
                    <button class="btn" type="submit">预约免费试听</button>
                </div>
            </form>
        </div>
    </div>
    <script src="/assets/js/libs/jquery.min.js"></script>
<script src="/assets/js/plugs/vide7.4.1/js/video.js"></script>
<script src="/assets/js/plugs/picViewer/picViewer.js"></script>
<script src="/assets/js/plugs/swiper/swiper.js"></script>
<script src="/assets/js/plugs/layer-v3.1.1/layer/layer.js"></script>
<script src="/assets/js/global/common.js"></script>
<!-- <script src="http://op.jiain.net/20002985/10085553.js"></script> -->
<script>
    var doyooBtns = [].slice.call(document.querySelectorAll('.doyoo-btn'));
    for (var i = 0, len = doyooBtns.length; i < len; i++) {
        doyooBtns[i].onclick = function () {
            doyoo.util.openChat('g=10075108'); return false;
        }
    }
</script>
</body>

</html>