<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
<script>
    (function flexible(window, document) {
        var docEl = document.documentElement
        var dpr = window.devicePixelRatio || 1

        // adjust body font size
        function setBodyFontSize() {
            if (document.body) {
                document.body.style.fontSize = (12 * dpr) + 'px'
            } else {
                document.addEventListener('DOMContentLoaded', setBodyFontSize)
            }
        }
        setBodyFontSize();

        // set 1rem = viewWidth / 10
        function setRemUnit() {
            var rem = docEl.clientWidth / 10
            docEl.style.fontSize = rem + 'px'
        }

        setRemUnit()

        // reset rem unit on page resize
        window.addEventListener('resize', setRemUnit)
        window.addEventListener('pageshow', function(e) {
            if (e.persisted) {
                setRemUnit()
            }
        })

        // detect 0.5px supports
        if (dpr >= 2) {
            var fakeBody = document.createElement('body')
            var testElement = document.createElement('div')
            testElement.style.border = '.5px solid transparent'
            fakeBody.appendChild(testElement)
            docEl.appendChild(fakeBody)
            if (testElement.offsetHeight === 1) {
                docEl.classList.add('hairlines')
            }
            docEl.removeChild(fakeBody)
        }
    }(window, document))
</script>
    <title>Revit大师班</title>
    <link rel="stylesheet" href="/assets/js/plugs/vide-7.4.1/css/video-js.min.css?v=1599789597711">
<link rel="stylesheet" href="/assets/js/plugs/picViewer/picViewer.css?v=1599789597711">
<link rel="stylesheet" href="/assets/js/plugs/swiper-3.4.0/swiper-3.4.2.min.css?v=1599789597711">
    <link rel="stylesheet" href="/assets/css/bim/revitds.css?v=1599789597711">
</head>

<body>
    <div class="header">
    <div class="header-tp" id="header-tp">
        <div class="header-menu"></div>
        <ul class="header-menu-list">
            <li class="header-menu-first">
                <a href="/index.html" style="color: #fff;">首页</a>
            </li>
            <li class="header-menu-first arrow-right">
     影视视效课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/yingshi/ysqn.html">影视视效全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ystx.html">特效合成大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ysjj.html">剪辑包装创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ysdh.html">影视动画精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/c4d.html">C4D特效大师班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
     游戏视觉课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/youxi/yxqn.html">游戏视觉全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxyh.html">游戏原画创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxms.html">3D美术精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxrj.html">游戏软件精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxtx.html">动作特效精英班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
     室内设计课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/shinei/snqk.html">APEC室内设计全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/cad.html">CAD制图大师班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snrz.html">室内软装精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snsh.html">室内手绘创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snxgt.html">室内效果图精英班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
     U X 全栈课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/ui/uiqn.html">UX全栈视效全能班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/psds.html">Photoshop大师班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/pmsj.html">品牌视觉创意班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/dsmg.html">
                电商美工精英班
            </a></li>
        <li class="header-menu-second">
            <a href="/ui/wysj.html">全链路设计精英班
            </a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
     建筑视效课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/jianzhu/jzsx.html">建筑视效全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/3dsMax.html">3ds MAX大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/3djm.html"> 3D建模精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/xrys.html">渲染艺术精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/jzxgt.html"> 建筑效果图精英班 </a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
     BIM应用课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/bim/bimqn.html">BIM应用全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/bimkz.html">BIM考证精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/revitds.html">Revit大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/lumion.html">Lumion大师班</a>
        </li>
    </ul>
</li>
            <li class="header-menu-first">
                <a href="/home/studentworks.html" style="color: #fff;">学员作品</a>
            </li>
            <li class="header-menu-first">
                <a href="/home/onlinebao.html" style="color: #fff;">在线报名</a>
            </li>
            <li class="header-menu-first">
                <a href="/home/contactus.html" style="color: #fff;">联系我们</a>
            </li>

        </ul>
        <div class="header-logo"></div>
        <a class="doyoo-btn">
            <div class="header-phone"></div>
        </a>
    </div>
    <div class="header-nav">
        <ul class="header-nav-wrap">
            <li class="header-nav-first header-nav-active">
                <a href="/index.html">首页</a>
            </li>
            <li class="header-nav-first" id="header-nav-first-course">课程
                <span class="arrow-down"></span>
                <ul class="header-nav-course">
                    <li class="header-menu-first arrow-right">
      影视视效 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/yingshi/ysqn.html">影视视效全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ystx.html">特效合成大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ysjj.html">剪辑包装创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ysdh.html">影视动画精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/c4d.html">C4D特效大师班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
      游戏视觉 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/youxi/yxqn.html">游戏视觉全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxyh.html">游戏原画创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxms.html">3D美术精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxrj.html">游戏软件精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxtx.html">动作特效精英班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
      室内设计 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/shinei/snqk.html">APEC室内设计全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/cad.html">CAD制图大师班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snrz.html">室内软装精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snsh.html">室内手绘创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snxgt.html">室内效果图精英班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
      UX 全栈 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/ui/uiqn.html">UX全栈视效全能班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/psds.html">Photoshop大师班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/pmsj.html">品牌视觉创意班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/dsmg.html">
                电商美工精英班
            </a></li>
        <li class="header-menu-second">
            <a href="/ui/wysj.html">全链路设计精英班
            </a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
      建筑视效 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/jianzhu/jzsx.html">建筑视效全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/3dsMax.html">3ds MAX大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/3djm.html"> 3D建模精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/xrys.html">渲染艺术精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/jzxgt.html"> 建筑效果图精英班 </a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
      BIM应用 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/bim/bimqn.html">BIM应用全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/bimkz.html">BIM考证精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/revitds.html">Revit大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/lumion.html">Lumion大师班</a>
        </li>
    </ul>
</li>
                </ul>
            </li>
            <li class="header-nav-first">
                <a href="/home/famousteacher.html">名师</a>
            </li>
            <li class="header-nav-first">
                <a href="/home/obtain.html">就业</a>
            </li>
            <li class="header-nav-first">
                <a href="/home/about.html">关于丝路</a>
            </li>
        </ul>
    </div>
</div>
<div class="header-mask" id="header-mask"></div>
    <div class="layout">
        <div class="banner">
            <a class="doyoo-btn">
                <img class="banner-cover" src="/assets/images/bim/revitds/banner.jpg?v=1599789597711" alt="">
            </a>
        </div>
        <div class="section section-bg-write hot-software-sec">
            <div class="container">
                <div class="section-title">
                    Revit在手
                    <br> 掀起BIM“薪”革命
                </div>
                <div class="section-describe">随着地产建筑行业的进一步发展，BIM技术将在建筑行业得到全面普及和应用，预计到2020年，BIM专业人才需求量将突破60万人， 人才紧缺！而Revit是入行BIM的必学软件之一，成为高薪就业的第一步！
                </div>
                <div class="section-list">
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/bim/revitds/two1.png?v=1599789597711">
                        <div class="section-txt">
                            <h3>《建筑业信息化发展纲要的通知》</h3>
                            <p>2020年末，实现企业BIM团队管理一体应用90%建设项目采用BIM进行管理。</p>
                        </div>
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/bim/revitds/two2.png?v=1599789597711">
                        <div class="section-txt">
                            <h3>《施工总承包企业特级资质标准》</h3>
                            <p>BIM应用和装配式建筑的业绩将作为考核资质的标准。</p>
                        </div>
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/bim/revitds/two3.png?v=1599789597711">
                        <div class="section-txt">
                            <h3>《工程质量安全提升行动季度报表》</h3>
                            <p>颁布通知中，强调需把BIM技术单独立项填报明确列出工程技术进步情况。</p>
                        </div>
                    </div>
                </div>
                <div class="section-btn">
                    <a class="btn doyoo-btn">我要高薪</a>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="section-title">
                    掌握建工龙头企业必备<br>技能行业薪资由你引领
                </div>
                <div class="section-list">
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/bim/revitds/zyxz.png?v=1599789597711">
                    </div>
                </div>
                <div class="section-btn">
                    <a class="btn doyoo-btn">看看我未来薪资有多少？</a>
                </div>
            </div>
        </div>
        <div class="section section-bg-write efficient-software-sec">
            <div class="container">
                <div class="section-title">
                    高效软件Revit<br> 备受行业人士青睐
                </div>
                <div class="section-describe">
                    Revit是Autodesk公司一套系列软件的名称，可帮助建筑设计师设计、建造和维护质量更好、能效更高的建筑。是我国建筑业BIM体系中使用最广泛的软件之一。
                </div>
                <div class="section-list">
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/bim/revitds/left.jpg?v=1599789597711">
                        <div class="section-txt">
                            <dl>
                                <dt>Architecture 建筑设计</dt>
                                <dd>Revit可按照设计师的思考方式进行设计，可以提供更高质量、更加精确的设计思路</dd>
                            </dl>
                            <dl>
                                <dt>MEP 机械管通</dt>
                                <dd>Revit可设计复杂的建筑系统，可帮助导出更高效、更精确的设计、分析和文档</dd>
                            </dl>
                            <dl>
                                <dt>Structure 建筑结构</dt>
                                <dd>Revit为结构工程师和设计师提供了工具，可以更加精确地设计和建造建筑结构</dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <div class="section-btn">
                    <a class="btn doyoo-btn">查看更多软件应用场景</a>
                </div>
            </div>
        </div>
        <div class="section autodesk-official-sec">
            <div class="container">
                <div class="section-title">
                    丝路教育Revit课程
                    <br>专为以下人士打造
                </div>
                <div class="section-list">
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/bim/revitds/rq1.png?v=1599789597711">
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/bim/revitds/rq2.png?v=1599789597711">
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/bim/revitds/rq3.png?v=1599789597711">
                    </div>
                </div>
                <div class="section-btn">
                    <a class="btn doyoo-btn">测测我适合学吗？</a>
                </div>
            </div>
        </div>
        <div class="section">
            <a class="doyoo-btn">
                <img src="/assets/images/bim/revitds/bd.jpg?v=1599789597711" alt="">
            </a>
        </div>
        <div class="section section-bg-write fivestep-method-sec">
            <div class="container">
                <div class="section-title">
                    丝路教育 <br> 视觉创意领域的先行者
                </div>
                <div class="section-describe">丝路教育是上市公司丝路视觉旗下的CG人才培养基地，依托丝路集团二十年大型视觉项目经验和技术成果，专注CG培训十数年。 同时，丝路教育拥有Adobe与Autodesk公司权威资格认证， 并且丝路教育还是国内唯一拥有展览展示设计及施工甲级资质、高级建筑装饰工程设计及施工资质的教育学院。
                </div>
                <div class="section-list">
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/bim/revitds/zs1.jpg?v=1599789597711">
                        <h3>
                            亚洲教育<br> 十大领军企业
                        </h3>
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/bim/revitds/zs2.jpg?v=1599789597711">
                        <h3>
                            职业培训
                            <br/> 影响力品牌
                        </h3>
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/bim/revitds/zs3.jpg?v=1599789597711">
                        <h3>
                            中国（行业）年度
                            <br/>杰出贡献奖
                        </h3>
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/bim/revitds/zs4.jpg?v=1599789597711">
                        <h3>
                            Adobe官方
                            <br/>认证证书
                        </h3>
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/bim/revitds/zs5.jpg?v=1599789597711">
                        <h3>
                            AUTODESK官方
                            <br/>认证证书
                        </h3>
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/bim/revitds/zs6.jpg?v=1599789597711">
                        <h3>
                            建筑装修装饰工程 <br/>专业承包壹级证书
                        </h3>
                    </div>
                </div>
                <div class="section-btn">
                    <a class="btn doyoo-btn">查看更多学院资质荣誉</a>
                </div>
            </div>
        </div>
        <div class="section accompanied-teachers-sec">
            <div class="section-title">
                BIM专家精编
                <br>Revit软件课程
            </div>
            <div class="container">
                <div class="section-list">
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/bim/revitds/kc1.jpg?v=1599789597711">
                        <div class="section-txt">
                            <h3><em>01</em>Revit建筑阶段</h3>
                            <ul>
                                <li>BIM基础及Revit系列软件基础操作，CAD处理及导入。</li>
                                <li>桩、基础、结构柱、剪力墙、梁结构构件创建。</li>
                                <li>出图与工程量，尺寸标注、标记、明细表、漫游动画等。</li>
                            </ul>
                        </div>
                    </div>
                    <div class="section-item">
                        <div class="section-txt">
                            <h3><em>02</em>Revit结构阶段</h3>
                            <ul>
                                <li>砌体墙、幕墙、门窗、楼板、屋顶等Revit建筑构件创建。</li>
                                <li>自定义族及高级命令，拉伸、融合、旋转、放样融合等。</li>
                                <li>Revit工作流，链接模型、创建工作集和中心文件注意事项。</li>
                            </ul>
                        </div>
                        <img class="section-cover" src="/assets/images/bim/revitds/kc2.jpg?v=1599789597711">

                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/bim/revitds/kc3.jpg?v=1599789597711">
                        <div class="section-txt">
                            <h3><em>03</em>Revit机电阶段</h3>
                            <ul>
                                <li>风管、水管、电缆桥架的创建，创建风管系统、管道布置。</li>
                                <li>管线基本识图，不同区域管线排布方案，管线方案及明细表。</li>
                                <li>MEP族的基本功能介绍，MEP族连接件与族制作。</li>
                            </ul>
                        </div>
                    </div>
                    <div class="section-item">
                        <div class="section-txt">
                            <h3><em>04</em>项目管理阶段</h3>
                            <ul>
                                <li>Project进度管理，Project的界面介绍以及和Excel的区别。</li>
                                <li>项目信息及创建工作分解结构WBS，设置任务依赖关系。</li>
                                <li>设置里程碑、周期性任务，分析历史数据。</li>
                            </ul>
                        </div>
                        <img class="section-cover" src="/assets/images/bim/revitds/kc4.jpg?v=1599789597711">
                    </div>

                </div>
                <div class="section-btn">
                    <a class="btn doyoo-btn">获取完整课程大纲</a>
                </div>
            </div>
        </div>
        <div class="section section-bg-write software-sec">
            <div class="container">
                <div class="section-title">
                    高级讲师全程面授
                    <br> Revit软件强势操作经验
                </div>
                <div class="section-list">
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/bim/lumion/img5-1.jpg?v=1599789597711">
                        <div class="section-txt">
                            <h3>肖丽红<span>BIM应用高级讲师</span></h3>
                            <div class="software-experience">8年从业经验</div>
                            <p>多次参与国内外重大的模型项目和BIM项目制作，曾任北京伟景行数字科技有限公司可视化设计项目负责人， 被中铁十一局等多家企业指定为BIM专业课程培训讲师。
                            </p>
                            <div class="software-works"><b>
                                    代表项目：
                                </b> 北京CBD、德胜门修复、妇幼保健院中心地下工程规划等。
                            </div>
                        </div>
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/bim/lumion/img5-2.jpg?v=1599789597711">
                        <div class="section-txt">
                            <h3>胡亚夫<span>BIM应用高级讲师</span></h3>
                            <div class="software-experience">7年从业经验</div>
                            <p>拥有丰富的企业培训经验，曾为中建电力、江苏华建、中核二三南方核电、华强地产等众多知名公司进行BIM培训。
                            </p>
                            <div class="software-works"><b>
                                    代表项目：
                                </b>宏发天汇城商业综合体、国银/民生金融大厦、深圳万科滨海大厦等。
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section-btn">
                    <a class="btn doyoo-btn">有问题问老师</a>
                </div>
            </div>
        </div>
        <div class="section ">
            <div class="container">
                <div class="section-title">
                    硬实力造就好作品
                    <br>名企高薪通通拿下
                </div>
                <div class="section-list">
                    <div class="section-item">
                        <img src="/assets/images/bim/revitds/zp.png?v=1599789597711" alt="">
                    </div>
                </div>
                <div class="section-btn">
                    <a class="btn doyoo-btn">查看更多学员作品</a>
                </div>
            </div>
        </div>
        <div class="section section-bg-write">
            <div class="container">
                <div class="section-title">
                    5A级校园环境
                    <br>给你全新学习体验
                </div>
                <div class="section-list">
                    <div class="section-item">
                        <img src="/assets/images/bim/revitds/xy.png?v=1599789597711" alt="">
                    </div>
                </div>
                <div class="section-btn">
                    <a class="btn doyoo-btn">查看更多校区图片</a>
                </div>
            </div>
        </div>
        <!-- 丝路与3000+名企合作 -->
        <div class="section">
            <div class="container">
                <div class="section-title">
                    丝路学员
                    <br>企业优先之选
                </div>
                <img src="/assets/images/bim/revitds/logo.png?v=1599789597711" alt="">
                <div class="section-btn">
                    <a class="btn doyoo-btn">查看更多合作企业</a>
                </div>
            </div>
        </div>
        <!-- 表单统计 -->
        <div class="section-form">
            <form id="form">
                <div class="form-group form-group-txt">
                    Revit专为BIM而生
                    <br> 高薪第一步，就等你来！
                </div>
                <div class="form-group">
                    <input type='text' name='name' id="name" placeholder="请输入您的姓名" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="text" name='tel' id="tel" class="form-control" placeholder="请输入您的手机号码" />
                </div>

                <input type="text" name='time' id='time' style="display: none;" />

                <div class="form-submit">
                    <button class="btn" type="button" onclick="add_ajaxmessage()"> 预约免费试学</button>
                </div>
            </form>
        </div>

    </div>
    <!--页脚 -->
<div class="endfoot-box">
    <div class="endfoot">
        <a class="doyoo-btn">
            <div class="endfoot-item">
                <p>名师在线</p>
                <p>免费试听</p>
            </div>
        </a>
    </div>
    <h3>本网站版权归丝路教育所有，盗用必究</h3>
</div>

<script src="/assets/js/libs/jquery.min.js"></script>
<script src="/assets/js/plugs/vide7.4.1/js/video.js"></script>
<script src="/assets/js/plugs/picViewer/picViewer.js"></script>
<script src="/assets/js/plugs/swiper/swiper.js"></script>
<script src="/assets/js/plugs/layer-v3.1.1/layer/layer.js"></script>
<script src="/assets/js/global/common.js"></script>
<script src="http://op.jiain.net/20002985/10085553.js"></script>
<script>
    var doyooBtns = [].slice.call(document.querySelectorAll('.doyoo-btn'));
    for (var i = 0, len = doyooBtns.length; i < len; i++) {
        doyooBtns[i].onclick = function() {
            doyoo.util.openChat('g=10075108');
            return false;
        }
    }
</script>

<!-- 百度统计代码 -->
<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?57448cbcd9efb5a61b8ba648ba49f3e2";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>

<!-- 表单 -->
<script src="/assets/js/plugs/formbd.js"></script>

</div>
</body>

</html>