<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">

    <title>C4D特效大师班</title>
    <link rel="stylesheet" href="/assets/js/plugs/vide7.4.1/css/video-js.min.css?v=1586759525495">
<link rel="stylesheet" href="/assets/js/plugs/picViewer/picViewer.css?v=1586759525495">
<link rel="stylesheet" href="/assets/js/plugs/swiper/swiper.min.css?v=1586759525495">
    <link rel="stylesheet" href="/assets/css/bim/revitds.css?v=1586759525495">
</head>

<body>
    <div class="header">
    <div class="header-tp" id="header-tp">
        <div class="header-menu"></div>
        <ul class="header-menu-list">
            <li class="header-menu-first">首页</li>
            <li class="header-menu-first arrow-right">
    
    影视视效课程
    
    
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/yingshi/ysqn.html">影视后期全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ystx.html">影视特效合成大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ysjj.html">剪辑包装创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ysdh.html">影视动画精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/c4d.html">C4D特效大师班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
    
    游戏视觉课程
    
    
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/youxi/yxqn.html">游戏视觉设计全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxyh.html">游戏原画创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxms.html">游戏3D美术精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxrj.html">游戏软件精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxtx.html">游戏动作特效精英班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
    
    APEC室内课程
    
    
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">影视后期全能班</li>
        <li class="header-menu-second">影视特效合成大师班</li>
        <li class="header-menu-second">剪辑包装创意班</li>
        <li class="header-menu-second">影视动画精英班</li>
        <li class="header-menu-second">C4D特效大师班</li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
    
    UX全栈课程
    
    
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">影视后期全能班</li>
        <li class="header-menu-second">影视特效合成大师班</li>
        <li class="header-menu-second">剪辑包装创意班</li>
        <li class="header-menu-second">影视动画精英班</li>
        <li class="header-menu-second">C4D特效大师班</li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
    
    建筑视效课程
    
    
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">影视后期全能班</li>
        <li class="header-menu-second">影视特效合成大师班</li>
        <li class="header-menu-second">剪辑包装创意班</li>
        <li class="header-menu-second">影视动画精英班</li>
        <li class="header-menu-second">C4D特效大师班</li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
    
    BIM应用课程
    
    
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/bim/bimqn.html">BIM应用全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/bimkz.html">BIM考证精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/revitds.html">Revit大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/lumion.html">Lumion大师班</a>
        </li>
    </ul>
</li>
            <li class="header-menu-first">联系我们</li>
        </ul>
        <div class="header-logo"></div>
        <div class="header-phone"></div>
    </div>
    <div class="header-nav">
        <ul class="header-nav-wrap">
            <li class="header-nav-first header-nav-active">首页</li>
            <li class="header-nav-first" id="header-nav-first-course">课程
                <span class="arrow-down"></span>
                <ul class="header-nav-course">
                    <li class="header-menu-first arrow-right">
    
    
    影视视效
    
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/yingshi/ysqn.html">影视后期全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ystx.html">影视特效合成大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ysjj.html">剪辑包装创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ysdh.html">影视动画精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/c4d.html">C4D特效大师班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
    
    
    游戏视觉
    
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/youxi/yxqn.html">游戏视觉设计全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxyh.html">游戏原画创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxms.html">游戏3D美术精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxrj.html">游戏软件精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxtx.html">游戏动作特效精英班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
    
    
    APEC室内
    
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">影视后期全能班</li>
        <li class="header-menu-second">影视特效合成大师班</li>
        <li class="header-menu-second">剪辑包装创意班</li>
        <li class="header-menu-second">影视动画精英班</li>
        <li class="header-menu-second">C4D特效大师班</li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
    
    
    UX全栈
    
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">影视后期全能班</li>
        <li class="header-menu-second">影视特效合成大师班</li>
        <li class="header-menu-second">剪辑包装创意班</li>
        <li class="header-menu-second">影视动画精英班</li>
        <li class="header-menu-second">C4D特效大师班</li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
    
    
    建筑视效
    
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">影视后期全能班</li>
        <li class="header-menu-second">影视特效合成大师班</li>
        <li class="header-menu-second">剪辑包装创意班</li>
        <li class="header-menu-second">影视动画精英班</li>
        <li class="header-menu-second">C4D特效大师班</li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
    
    
    BIM应用
    
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/bim/bimqn.html">BIM应用全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/bimkz.html">BIM考证精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/revitds.html">Revit大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/lumion.html">Lumion大师班</a>
        </li>
    </ul>
</li>
                </ul>
            </li>
            <li class="header-nav-first">名师</li>
            <li class="header-nav-first">就业</li>
            <li class="header-nav-first">关于丝路</li>
        </ul>
    </div>
</div>
<div class="header-mask" id="header-mask"></div>
<script src="/assets/js/libs/lib-flexible.js"></script>
    <div class="layout">
        <div class="banner">
            <a class="doyoo-btn">
                <img class="banner-cover" src="/assets/images/bim/revitds/banner.jpg?v=1586759525495" alt="">
            </a>
        </div>
        <div class="section section-bg-write hot-software-sec">
            <div class="container">
                <div class="section-title">
                    时下热门软件
                    <br><b>
                        承包爆款游戏制作全流程
                    </b>
                </div>
                <div class="hot-software-list">
                    <div class="hot-software-item">
                        <div class="hot-software-title">游戏引擎/开发软件</div>
                        <div class="section-nav-tab">
                            <div class="section-nav-item section-nav-active">UE4（虚拟4）引擎</div>
                            <div class="section-nav-item">Unity 3D引擎</div>
                        </div>
                        <div class="section-tab-list">
                            <div class="section-tab-col"> <img src="/assets/images/youxi/yxrj/rj1-1.jpg?v=1586759525495" alt=""></div>
                            <div class="section-tab-col"> <img src="/assets/images/youxi/yxrj/rj2-1.jpg?v=1586759525495" alt=""></div>
                        </div>
                    </div>
                    <div class="hot-software-item">
                        <div class="hot-software-title">游戏引擎/开发软件</div>
                        <div class="section-nav-tab">
                            <div class="section-nav-item section-nav-active">Maya</div>
                            <div class="section-nav-item">3ds max</div>
                            <div class="section-nav-item">ZBrush</div>
                            <div class="section-nav-item">Substance Painter</div>
                        </div>
                        <div class="section-tab-list">
                            <div class="section-tab-col"> <img src="/assets/images/youxi/yxrj/rj2-1.jpg?v=1586759525495" alt=""></div>
                            <div class="section-tab-col"> <img src="/assets/images/youxi/yxrj/rj1-1.jpg?v=1586759525495" alt=""></div>
                            <div class="section-tab-col"> <img src="/assets/images/youxi/yxrj/rj2-1.jpg?v=1586759525495" alt=""></div>
                            <div class="section-tab-col"> <img src="/assets/images/youxi/yxrj/rj1-1.jpg?v=1586759525495" alt=""></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="section-title">
                    将兴趣变成职业
                    <br><b>
                        学软件，做游戏，拿高薪
                    </b>
                </div>
                <img src="/assets/images/youxi/yxrj/xinzi.jpg?v=1586759525495" alt="">
            </div>
        </div>
        <div class="section section-bg-write">
            <div class="container">
                <div class="section-title">
                    为什么那么多的人
                    <br><b>
                        学习游戏制作软件
                    </b>
                </div>
                <div class="section-describe">
                    掌握游戏主流软件，更好“淘金”
                </div>
                <img src="/assets/images/youxi/yxrj/dachang1.jpg?v=1586759525495" alt="">
                <br><br>
                <div class="section-describe">
                    游戏产业概况
                </div>
                <img src="/assets/images/youxi/yxrj/dachang2.jpg?v=1586759525495" alt="">
                <div class="section-btn">
                    <a class="btn doyoo-btn">查看更多薪资</a>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="section-title">
                    自学软件仅入门
                    <br>求职晋升提薪难
                </div>
                <div class="line"></div>
                <div class="section-describe">
                    丝路教育深耕游戏培训十数年，拥有完善的培训与就业体系，学员毕业即就业，85%的毕业学员入职2-3年
                    晋升管理层！
                </div>
                <img src="/assets/images/youxi/yxrj/duibi.jpg?v=1586759525495" alt="">
            </div>
        </div>
        <div class="section section-bg-write autodesk-official-sec">
            <div class="container">
                <div class="section-title">
                    <b>
                        AUTODESK<br>
                        官方指定学院
                    </b>
                </div>
                <div class="section-describe">
                    AUTODESK证书图片展示
                </div>
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"> <img src="/assets/images/youxi/yxrj/zs1.jpg?v=1586759525495" alt=""></div>
                        <div class="swiper-slide"> <img src="/assets/images/youxi/yxrj/zs1.jpg?v=1586759525495" alt=""></div>
                        <div class="swiper-slide"> <img src="/assets/images/youxi/yxrj/zs1.jpg?v=1586759525495" alt=""></div>
                        <div class="swiper-slide"> <img src="/assets/images/youxi/yxrj/zs1.jpg?v=1586759525495" alt=""></div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="section-title">
                    <b>
                        核心软件全掌握
                        <br>
                        一身神装战职场
                    </b>
                </div>
                <img src="/assets/images/youxi/yxrj/ruanjian1.jpg?v=1586759525495" alt="">
                <div class="section-btn">
                    <a class="btn doyoo-btn">领取学习教程</a>
                </div>
            </div>
        </div>
        <div class="section section-bg-write fivestep-method-sec">
            <div class="section-title">
                课程由浅至深
                <br><b>
                    0基础也可快速提升
                </b>
            </div>
            <div class="container">
                <div class="fivestep-method-list">
                    <div class="fivestep-method-item">
                        <dl>
                            <dt>Body Painter课程大纲</dt>
                            <dd>
                                软件基础界面熟悉与操作
                            </dd>
                            <dd>
                                场景原画设计的原理
                            </dd>
                            <dd>
                                自然地貌绘制与场景模型的制作
                            </dd>
                            <dd>
                                四方连续、二方连续贴图的使用
                            </dd>
                        </dl>
                    </div>
                    <div class="fivestep-method-item">
                        <dl>
                            <dt>Body Painter课程大纲</dt>
                            <dd>
                                软件基础界面熟悉与操作
                            </dd>
                            <dd>
                                场景原画设计的原理
                            </dd>
                            <dd>
                                自然地貌绘制与场景模型的制作
                            </dd>
                            <dd>
                                四方连续、二方连续贴图的使用
                            </dd>
                        </dl>
                    </div>
                    <div class="fivestep-method-item">
                        <dl>
                            <dt>Body Painter课程大纲</dt>
                            <dd>
                                软件基础界面熟悉与操作
                            </dd>
                            <dd>
                                场景原画设计的原理
                            </dd>
                            <dd>
                                自然地貌绘制与场景模型的制作
                            </dd>
                            <dd>
                                四方连续、二方连续贴图的使用
                            </dd>
                        </dl>
                    </div>
                    <div class="fivestep-method-item">
                        <dl>
                            <dt>Body Painter课程大纲</dt>
                            <dd>
                                软件基础界面熟悉与操作
                            </dd>
                            <dd>
                                场景原画设计的原理
                            </dd>
                            <dd>
                                自然地貌绘制与场景模型的制作
                            </dd>
                            <dd>
                                四方连续、二方连续贴图的使用
                            </dd>
                        </dl>
                    </div>
                    <div class="fivestep-method-item">
                        <dl>
                            <dt>Body Painter课程大纲</dt>
                            <dd>
                                软件基础界面熟悉与操作
                            </dd>
                            <dd>
                                场景原画设计的原理
                            </dd>
                            <dd>
                                自然地貌绘制与场景模型的制作
                            </dd>
                            <dd>
                                四方连续、二方连续贴图的使用
                            </dd>
                        </dl>
                    </div>
                    <div class="fivestep-method-item">
                        <dl>
                            <dt>Body Painter课程大纲</dt>
                            <dd>
                                软件基础界面熟悉与操作
                            </dd>
                            <dd>
                                场景原画设计的原理
                            </dd>
                            <dd>
                                自然地貌绘制与场景模型的制作
                            </dd>
                            <dd>
                                四方连续、二方连续贴图的使用
                            </dd>
                        </dl>
                    </div>
                    <div class="fivestep-method-item">
                        <dl>
                            <dt>Body Painter课程大纲</dt>
                            <dd>
                                软件基础界面熟悉与操作
                            </dd>
                            <dd>
                                场景原画设计的原理
                            </dd>
                            <dd>
                                自然地貌绘制与场景模型的制作
                            </dd>
                            <dd>
                                四方连续、二方连续贴图的使用
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="section-btn">
                    <a class="btn doyoo-btn">领取学习教程</a>
                </div>
            </div>
        </div>
        <div class="section accompanied-teachers-sec">
            <div class="container">
                <div class="section-title">
                    <b> 名师全程陪同
                        <br>实战经验倾囊相授</b>
                </div>
                <div class="section-list">
                    <div class="section-item">
                        <img src="/assets/images/youxi/yxrj/tec1.jpg?v=1586759525495" alt="">
                    </div>
                    <div class="section-item">
                        <img src="/assets/images/youxi/yxrj/tec2.jpg?v=1586759525495" alt="">
                    </div>
                    <div class="section-item">
                        <img src="/assets/images/youxi/yxrj/tec3.jpg?v=1586759525495" alt="">
                    </div>
                    <div class="section-item">
                        <img src="/assets/images/youxi/yxrj/tec4.jpg?v=1586759525495" alt="">
                    </div>
                </div>
                <div class="section-btn">
                    <a class="btn doyoo-btn">一键与老师聊课程</a>
                </div>
            </div>
        </div>
        <div class="section section-bg-write silkroad-stu-sec">
            <div class="container">
                <div class="section-title">
                    丝路学员成功入职
                    <br> <b>
                        游戏名企
                    </b>
                </div>
                <div class="section-describe">
                    一样爱玩，同样高薪，你也可以
                </div>
                <div class="section-list">
                    <div class="section-item">
                        <img src="/assets/images/youxi/yxrj/stu1.jpg?v=1586759525495" alt="">
                    </div>
                    <div class="section-item">
                        <img src="/assets/images/youxi/yxrj/stu2.jpg?v=1586759525495" alt="">
                    </div>
                    <div class="section-item">
                        <img src="/assets/images/youxi/yxrj/stu3.jpg?v=1586759525495" alt="">
                    </div>
                    <div class="section-item">
                        <img src="/assets/images/youxi/yxrj/stu4.jpg?v=1586759525495" alt="">
                    </div>
                </div>
                <div class="section-btn">
                    <a class="btn doyoo-btn">查看更多学员</a>
                </div>
            </div>
        </div>
        <div class="section section-bg-write silkroad-stu-sec">
            <div class="container">
                <div class="section-title">
                    在校参与真实项目
                    <br> <b>
                        “实战+奖金”一手掌握
                    </b>
                </div>
                <div class="section-describe">
                    在校学习有机会参与一线大厂项目制作，
                    涨经验还拿奖金！
                </div>
                <img src="/assets/images/youxi/yxrj/shixun.png?v=1586759525495" alt="">
                <div class="section-btn">
                    <a class="btn doyoo-btn">了解项目实训过程</a>
                </div>
            </div>
        </div>
        <!-- 丝路与3000+名企合作 -->
        <div class="section">
            <div class="container">
                <div class="section-title">
                    丝路与3000+名企合作
                    <br><b>
                        助你搭乘高薪直通车
                    </b>
                </div>
                <img src="/assets/images/bim/bimqn/logo.png?v=1586759525495" alt="">
            </div>
        </div>
        <!-- 表单统计 -->
        <div class="section-form">
            <form action="/plus/diy.php?v=1586759525495" enctype="multipart/form-data" method="post"
                onsubmit="return checkMobile(this);">
                <div class="form-group">
                    <input type='text' name='name' placeholder="姓名：" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="text" name='tel' class="form-control" placeholder="电话：" />
                </div>
                <div class="form-submit">
                    <button class="btn" type="submit">预约免费试学</button>
                </div>
            </form>
        </div>
    </div>
    <script src="/assets/js/libs/jquery.min.js"></script>
<script src="/assets/js/plugs/vide7.4.1/js/video.js"></script>
<script src="/assets/js/plugs/picViewer/picViewer.js"></script>
<script src="/assets/js/plugs/swiper/swiper.js"></script>
<script src="/assets/js/plugs/layer-v3.1.1/layer/layer.js"></script>
<script src="/assets/js/global/common.js"></script>
<!-- <script src="http://op.jiain.net/20002985/10085553.js"></script> -->
<script>
    var doyooBtns = [].slice.call(document.querySelectorAll('.doyoo-btn'));
    for (var i = 0, len = doyooBtns.length; i < len; i++) {
        doyooBtns[i].onclick = function () {
            doyoo.util.openChat('g=10075108'); return false;
        }
    }
</script>
</body>

</html>