@import "../common/variable";
@import "../common/base";

// 游戏红利席卷全球
.game-bonus-sec {
    .game-bonus-sub {
        padding-top: 0.6667rem;

        .section-item {
            margin-bottom: 0.4rem;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

// 丝路学员独享6大保障
.six-guarantee-sec {
    .section-list {
        .section-item {
            width: 33.33%;
            margin-bottom: 0.8rem;
            text-align: center;

            .section-cover {
                width: 1.6533rem;
                height: 1.6533rem;
            }
        }
    }
}

// 热门课程
.hot-courses-sec {
    .section-list {
        .section-item {
            width: 100%;
            height: 4.36rem;
            margin-bottom: 0.4rem;
            padding: 0.5333rem 0.2667rem;
            background: url("/assets/images/youxi/yxtx/kc1.png") no-repeat center;
            background-size: cover;

            &:nth-child(2) {
                background: url("/assets/images/youxi/yxtx/kc2.png") no-repeat center;
                background-size: cover;
            }

            &:nth-child(3) {
                background: url("/assets/images/youxi/yxtx/kc3.png") no-repeat center;
                background-size: cover;
            }

            .section-txt {
                width: 6rem;
                font-size: 0.3733rem;
                color: #fff;

                h3 {
                    margin-bottom: 0.2rem;
                }

                p {
                    color: #fff;
                }
            }
        }
    }
}

.software-sec {
    background-color: #F7F2FF;

    .section-list {
        .section-item {
            width: 25%;
            margin-bottom: 0.2667rem;
            text-align: center;

            .section-cover {
                width: 1.4667rem;
                height: 1.4667rem;
            }

            h3 {
                font-size: 0.2667rem;
            }
        }
    }
}

// 3A级项目实训
.dachang-making-sec {
    .section-list {
        .section-item {
            margin-bottom: 0.2667rem;
            text-align: center;

            .section-cover {
                margin-bottom: 0.2667rem;
                height: 4.1867rem;
            }

            h3 {
                font-size: 0.2667rem;
            }
        }
    }
}

// 行业一线大咖名师
.line-coffee-sec {
    background-color: #F7F2FF;

    .section-list {
        .section-item {
            width: 50%;
            margin-bottom: 0.2667rem;
            background-color: transparent;
            text-align: center;

            .section-cover {
                width: 4.2rem;
                margin-bottom: 0.2667rem;
            }

            h3 {
                font-size: 0.2667rem;
            }
        }
    }
}

// 完善就业体系
.perfect-employment-sec {
    background-color: #F7F2FF;
}

// 表单
.section-form {
    height: 10.8rem;
    background: url("/assets/images/youxi/yxtx/foot-bj.png") no-repeat center;
    background-size: cover;

    .form-group-txt {
        line-height: 1.5;
        padding-top: 1.3333rem;
        color: #fff;
    }
}
