@import "../common/variable";
@import "../common/base";
.title-line {
    width: 0.5333rem;
    height: 0.0533rem;
    background: linear-gradient(-90deg, rgba(177, 6, 43, 1), rgba(246, 79, 35, 1));
    margin: 0 auto 0.4rem;
}
.banner{
    background-color: #fff;
}

// 建筑视效市场持续火爆
.learning-guarantee-sec {
    .section-list {
        .section-item {
            width: 100%;
            font-size: 0.3467rem;
            color: #666;
            text-align: center;
            background: transparent;
            .section-cover {
                
                margin-bottom: 0.3333rem;
            }
        }
    }
}
.one-bj{
    background: url("/assets/images/jianzhu/jzsx/bj1.jpg") no-repeat center;
    background-size: cover;
}

.gwxq{
    font-size:0.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0.3125rem;
}
//建筑视效行业发展迅猛
.bj2{
    background: url("/assets/images/jianzhu/jzsx/bj2.jpg") no-repeat center;
    background-size: cover;
    .section-title{
        color: #fff;
        margin-bottom: 0.3rem;
    }
    .section-describe{
        color: #fff;
        margin-bottom: 0.6rem;
    }
}
.tops{
    font-size: 0.5rem;
    text-align: center;
    color: #fff;
}
.xian{
    width: 0.5rem;
    height: 0.08rem;
    background-color: #f64f23;
    margin:0.3rem  auto;
    
}
// 建筑视效学习
.treasure-land-sec {
    .treasure-land-sec1 {
        margin-bottom: 0.4rem;
        text-align: center;
        img {
            width: 5.2667rem;
            height: 6.52rem;
        }
    }
    .treasure-land-sec2 {
        display: flex;
        img {
            width: 50%;
            width: 4.6rem;
            height: 6.52rem;
        }
    }
}
//建筑视效领域
.bj3{
    background-color: #0f053b;;
    .section-title{
        color: #fff;
    }
    .section-list{
        justify-content: space-around;
    }
}
.fourzi{
    font-size: 0.7rem;
    color:#ffea00;
    position: relative;
    font-weight: lighter;
    text-align: center;
    .z{
        font-size: 0.3733rem;
        color: #fff;
        position: absolute;
        top: 0;
        right: -0.4rem;
    }
    .z2{
        font-size: 0.3733rem;
        color: #fff;
        position: absolute;
        top: 0;
        right: 0.45rem;
    }
    .z3{
        font-size: 0.3733rem;
        color: #fff;
        position: absolute;
        top: 0;
        right: -0.1rem;
    }
}
.yw{
    font-size: 0.3733rem;
    color:#fff;
    text-align: center;
 
}
.shu{
    width: 0.025rem;
    height: 0.56rem;
    background-color: #3f3762;
    margin-top: 0.7rem;
}
//CG技术应用领域
.bj4{
    background: url("/assets/images/jianzhu/jzsx/bj3.jpg") no-repeat center;
    background-size: cover;
    .section-title{
        color: #fff;
    }
}
// 毕业入职丝路视觉
.film-editing-sec {
    .section-serial {
        margin-bottom: 0.5333rem;
        text-align: center;
        .section-serial-number {
            font-size: 0.4267rem;
            margin-bottom: 0.1333rem;
        }
        .section-serial-txt {
            font-size: 0.3733rem;
        }
        .section-serial-line {
            width: 0.5333rem;
            height: 0.0533rem;
            margin: 0 auto 0.4rem;
            background: linear-gradient(-90deg, rgba(177, 6, 43, 1), rgba(246, 79, 35, 1));
        }
    }
    .film-editing-sec1 {
        margin-bottom: 0.8rem;
        .section-list {
            .section-item {
                margin-bottom: 0.1067rem;
                .section-cover {
                    width: 4.5333rem;
                    height: 4.5rem;
                }
                .section-txt {
                    font-size: 0.3733rem;
                    text-align: center;
                }
            }
        }
    }
    .film-editing-sec2 {
        .film-editing-list {
            .film-editing-item {
                height: 4.8rem;
                margin-bottom: 0.4rem;
                &:last-child {
                    .film-editing-txt {
                        margin-left: 0.8rem;
                    }
                }
                &:first-child {
                    .film-editing-txt {
                        margin-left: auto;
                        padding-right: 0.2667rem;
                    }
                }
                .film-editing-txt {
                    width: 4.5333rem;
                    padding-top: 0.5333rem;
                    color: #fff;
                    font-size: 12px;
                    h3 {
                        font-size: 0.3733rem;
                        margin-bottom: 0.4rem;
                    }
                    ul {
                        li {
                            position: relative;
                            margin-bottom: 0.1333rem;
                            i {
                                width: 6px;
                                height: 6px;
                                position: absolute;
                                left: -10px;
                                top: 5px;
                                border-radius: 50%;
                                background: #fff;
                            }
                            div {
                                display: inline-block;
                            }
                        }
                    }
                }
            }
        }
    }
    .film-editing-sec33 {
        margin-bottom: 0.8rem;
        .section-list {
            .section-item {
                margin-bottom: 0.1067rem;
                .section-cover {
                    width: 4.5333rem;
                }
                .section-txt {
                    font-size: 0.3733rem;
                    text-align: center;
                }
            }
        }
    }
}
// 学员阶段作品展示
.stage-works-sec{
    .section-nav-tab{
        margin: 0 -0.4rem 0.5333rem;
        .section-nav-item.section-nav-btn{
            
            height: 1.0667rem;
            border-radius: 0.5333rem;
            background-color: transparent;
            border:1px solid $base-color;
            color: $base-color;
        }
        .section-nav-item.section-nav-btn.section-nav-active{
            background-color: $base-color;
            color: #fff;
        }
    }

}
.section-tab-col{
   
    img{
        height: 8rem;
    }
}

// 表单
.section-form {
    height: 11.3333rem;
    
    background: url("/assets/images/jianzhu/jzsx/footbj.jpg") no-repeat center;
    background-size: cover;
    .form-group-txt {
        line-height: 1rem;
        padding-top: 1.8rem;
        font-size: 0.8rem;
        color: #fff;
    }
}