<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
<script>
    (function flexible(window, document) {
        var docEl = document.documentElement
        var dpr = window.devicePixelRatio || 1

        // adjust body font size
        function setBodyFontSize() {
            if (document.body) {
                document.body.style.fontSize = (12 * dpr) + 'px'
            } else {
                document.addEventListener('DOMContentLoaded', setBodyFontSize)
            }
        }
        setBodyFontSize();

        // set 1rem = viewWidth / 10
        function setRemUnit() {
            var rem = docEl.clientWidth / 10
            docEl.style.fontSize = rem + 'px'
        }

        setRemUnit()

        // reset rem unit on page resize
        window.addEventListener('resize', setRemUnit)
        window.addEventListener('pageshow', function(e) {
            if (e.persisted) {
                setRemUnit()
            }
        })

        // detect 0.5px supports
        if (dpr >= 2) {
            var fakeBody = document.createElement('body')
            var testElement = document.createElement('div')
            testElement.style.border = '.5px solid transparent'
            fakeBody.appendChild(testElement)
            docEl.appendChild(fakeBody)
            if (testElement.offsetHeight === 1) {
                docEl.classList.add('hairlines')
            }
            docEl.removeChild(fakeBody)
        }
    }(window, document))
</script>
    <title>丝路名师</title>
    <link rel="stylesheet" href="/assets/js/plugs/vide-7.4.1/css/video-js.min.css?v=1587179319710">
<link rel="stylesheet" href="/assets/js/plugs/picViewer/picViewer.css?v=1587179319710">
<link rel="stylesheet" href="/assets/js/plugs/swiper-3.4.0/swiper-3.4.2.min.css?v=1587179319710">
    <link rel="stylesheet" href="/assets/css/home/famousteacher.css?v=1587179319710">
</head>

<body>
    <div class="header">
    <div class="header-tp" id="header-tp">
        <div class="header-menu"></div>
        <ul class="header-menu-list">
            <li class="header-menu-first">
                <a href="/index.html">首页</a>
            </li>
            <li class="header-menu-first arrow-right">
     影视视效课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/yingshi/ysqn.html">影视视效全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ystx.html">特效合成大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ysjj.html">剪辑包装创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ysdh.html">影视动画精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/c4d.html">C4D特效大师班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
     游戏视觉课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/youxi/yxqn.html">游戏视觉全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxyh.html">游戏原画创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxms.html">3D美术精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxrj.html">游戏软件精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxtx.html">动作特效精英班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
     室内设计课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/shinei/snqk.html">APEC室内设计全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/cad.html">CAD制图大师班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snrz.html">室内软装精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snsh.html">室内手绘创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snxgt.html">室内效果图精英班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
     U X 全栈课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/ui/uiqn.html">UX全栈视效全能班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/psds.html">Photoshop大师班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/pmsj.html">品牌视觉创意班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/dsmg.html">
                电商美工精英班
            </a></li>
        <li class="header-menu-second">
            <a href="/ui/wysj.html">全链路设计精英班
            </a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
     建筑视效课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/jianzhu/jzsx.html">建筑视效全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/3dsMax.html">3ds MAX大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/3djm.html"> 3D建模精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/xrys.html">渲染艺术精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/jzxgt.html"> 建筑效果图精英班 </a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
     BIM应用课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/bim/bimqn.html">BIM应用全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/bimkz.html">BIM考证精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/revitds.html">Revit大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/lumion.html">Lumion大师班</a>
        </li>
    </ul>
</li>
            <li class="header-menu-first">
                <a href="/home/studentworks.html">学员作品</a>
            </li>
            <li class="header-menu-first">
                <a href="/home/onlinebao.html">在线报名</a>
            </li>
            <li class="header-menu-first">
                <a href="/home/contactus.html">联系我们</a>
            </li>

        </ul>
        <div class="header-logo"></div>
        <div class="header-phone"></div>
    </div>
    <div class="header-nav">
        <ul class="header-nav-wrap">
            <li class="header-nav-first header-nav-active">
                <a href="/index.html">首页</a>
            </li>
            <li class="header-nav-first" id="header-nav-first-course">课程
                <span class="arrow-down"></span>
                <ul class="header-nav-course">
                    <li class="header-menu-first arrow-right">
      影视视效 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/yingshi/ysqn.html">影视视效全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ystx.html">特效合成大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ysjj.html">剪辑包装创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ysdh.html">影视动画精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/c4d.html">C4D特效大师班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
      游戏视觉 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/youxi/yxqn.html">游戏视觉全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxyh.html">游戏原画创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxms.html">3D美术精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxrj.html">游戏软件精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxtx.html">动作特效精英班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
      室内设计 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/shinei/snqk.html">APEC室内设计全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/cad.html">CAD制图大师班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snrz.html">室内软装精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snsh.html">室内手绘创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snxgt.html">室内效果图精英班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
      UX 全栈 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/ui/uiqn.html">UX全栈视效全能班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/psds.html">Photoshop大师班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/pmsj.html">品牌视觉创意班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/dsmg.html">
                电商美工精英班
            </a></li>
        <li class="header-menu-second">
            <a href="/ui/wysj.html">全链路设计精英班
            </a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
      建筑视效 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/jianzhu/jzsx.html">建筑视效全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/3dsMax.html">3ds MAX大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/3djm.html"> 3D建模精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/xrys.html">渲染艺术精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/jzxgt.html"> 建筑效果图精英班 </a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
      BIM应用 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/bim/bimqn.html">BIM应用全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/bimkz.html">BIM考证精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/revitds.html">Revit大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/lumion.html">Lumion大师班</a>
        </li>
    </ul>
</li>
                </ul>
            </li>
            <li class="header-nav-first">
                <a href="/home/famousteacher.html">名师</a>
            </li>
            <li class="header-nav-first">
                <a href="/home/obtain.html">就业</a>
            </li>
            <li class="header-nav-first">
                <a href="/home/about.html">关于丝路</a>
            </li>
        </ul>
    </div>
</div>
<div class="header-mask" id="header-mask"></div>
    <!-- banner -->
    <div class="layout">
        <div class="banner">
            <img class="banner-cover" src="/assets/images/home/famousteacher/01.jpg?v=1587179319710" alt="">
        </div>


        <!-- 优势 -->
        <div class="section section-bg-write study-design-sec">

            <div class="container">
                <img src="/assets/images/home/famousteacher/youshi.png?v=1587179319710" alt="">

            </div>
        </div>


        <!-- 介绍 -->
        <div class="section  study-design-sec heibj">
            <div class="container">
                <div class="section-title" style="color: #fcc800;">
                    严苛甄选讲师<br/>打造金牌品质
                </div>
                <div class="study-design-sec1">
                    <div class="section-serial">
                        <div class="section-serial-txt" style="color: #fff;">
                            丝路秉承“优中选优”的原则，授课讲师均拥有5年以上的大型项目制作经验，并以此为基础不惜重金定期对讲师团队进行培训与赋能。
                        </div>
                    </div>
                    <img src="/assets/images/home/famousteacher/tuandui.png?v=1587179319710" alt="">
                </div>
                <div class="section-btn">
                    <a class="btn doyoo-btn">更多讲师幕后故事</a>
                </div>
            </div>
        </div>


        <!-- 老师 -->
        <div class="section study-design-sec section-bg-write">
            <div class="container">
                <div class="section-title">
                    一线名师团队<br/>面授内部干货
                </div>
                <div class="study-design-sec1">
                    <div class="section-serial">
                        <div class="section-serial-txt">
                            不同于其他机构，丝路讲师把行业最核心的技术、最前沿的思维从企业带到课堂，将复杂的知识点简单化，手把手帮助不同基础的学员攻克学习壁垒。
                        </div>
                    </div>
                    <img src="/assets/images/home/famousteacher/laoshi1.png?v=1587179319710" alt="" style="margin-top: 0.4rem;?v=1587179319710">
                    <img src="/assets/images/home/famousteacher/laoshi2.png?v=1587179319710" alt="" style="margin-top: 0.6rem;?v=1587179319710">
                    <img src="/assets/images/home/famousteacher/laoshi3.png?v=1587179319710" alt="" style="margin-top: 0.6rem;?v=1587179319710">
                    <img src="/assets/images/home/famousteacher/laoshi4.png?v=1587179319710" alt="" style="margin-top: 0.6rem;?v=1587179319710">
                    <img src="/assets/images/home/famousteacher/laoshi5.png?v=1587179319710" alt="" style="margin-top: 0.6rem;?v=1587179319710">
                    <img src="/assets/images/home/famousteacher/laoshi6.png?v=1587179319710" alt="" style="margin-top: 0.6rem;?v=1587179319710">
                </div>
                <div class="section-btn">
                    <a class="btn doyoo-btn">查看更多丝路名师</a>
                </div>
            </div>
        </div>





        <!-- 作品 -->
        <div class="section  study-design-sec heibj">
            <div class="container">
                <div class="section-title" style="color: #fcc800;">
                    丝路讲师项目经历
                </div>
                <div class="study-design-sec1">
                    
                    <img src="/assets/images/home/famousteacher/zuoping.png?v=1587179319710" alt="">
                </div>
                <div class="section-btn">
                    <a class="btn doyoo-btn">查看更多讲师作品</a>
                </div>
            </div>
        </div>



        <!-- 通栏 -->

        <div class="banner">
            <img class="banner-cover" src="/assets/images/home/famousteacher/wenti.png?v=1587179319710" alt="">
        </div>


        <!-- 老师 -->
        <div class="section oneline-coffee-sec heibj">
            <div class="container">
                <div class="section-title" style="color: #fcc800;">
                    对接业界大咖<br/> 触碰国际视野
                </div>
                <div class="study-design-sec1">
                    <div class="section-serial">
                        <div class="section-serial-txt" style="color: #fff; margin-bottom: 30px;">
                            丝路特邀业界知名专家参与高峰论坛与技术研发，涉及CG视觉创意全领域，并将项目中运用的新技术、新思维带入学院，融合进教学大纲。
                        </div>
                    </div>

                </div>

                <div class="swiper-container laoshijuli" style="height: 5.1rem;?v=1587179319710">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="/assets/images/home/famousteacher/kaihui1.jpg?v=1587179319710" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="/assets/images/home/famousteacher/kaihui2.jpg?v=1587179319710" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="/assets/images/home/famousteacher/kaihui3.jpg?v=1587179319710" alt="">
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>

                
            </div>
        </div>



        <!-- 六环节 -->
        <div class="section  study-design-sec section-bg-write">
            <div class="container">
                <div class="section-title" style="color: #f64f23;">
                    六环节<br/> 打通“产学研”全流程
                </div>
                <div class="study-design-sec1">
                    <div class="section-serial">
                        <div class="section-serial-txt">
                            丝路讲师团队实现了前沿技术、项目从企业进课堂的完美呈现，将企业最新用人需求、不同年龄和不同基础求学者的学习需求作为教学的指导方向。
                        </div>
                        <div class="section-serial-txt1" style="color: #f64f23; margin-top: 20px;">
                            丝路教育核心教学模式
                        </div>
                    </div>
                    <img src="/assets/images/home/famousteacher/liucheng.png?v=1587179319710" alt="">
                </div>

            </div>
        </div>



        <!-- 学员 -->
        <div class="section oneline-coffee-sec heibj">
            <div class="container">
                <div class="section-title" style="color: #fcc800;">
                    学员真情流露<br/>印证教学成果
                </div>


                <img src="/assets/images/home/famousteacher/101.jpg?v=1587179319710" alt="">
                <img src="/assets/images/home/famousteacher/105.jpg?v=1587179319710" alt="">
                <img src="/assets/images/home/famousteacher/109.jpg?v=1587179319710" alt="">


            </div>
        </div>









        <!-- 表单统计 -->
        <div class="section-form">
            <form id="form">

                <div class="form-group">
                    <input type='text' name='name' id="name" placeholder="姓名：请填写姓名" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="text" name='tel' id="tel" class="form-control" placeholder="联系方式：请填写手机号码" />
                </div>
                <input type="text" name='time' id='time' style="display: none;" />

                <div class="form-submit">
                    <button class="btn" type="button" onclick="add_ajaxmessage()"> 一键预约免费试听</button>
                </div>
            </form>
        </div>
    </div>


    <!--页脚 -->
<div class="endfoot-box">
    <div class="endfoot">
        <a class="doyoo-btn">
            <div class="endfoot-item">
                <p>名师在线</p>
                <p>免费试听</p>
            </div>
        </a>
    </div>
    <h3>本网站版权归丝路教育所有，盗用必究</h3>
</div>

<script src="/assets/js/libs/jquery.min.js"></script>
<script src="/assets/js/plugs/vide7.4.1/js/video.js"></script>
<script src="/assets/js/plugs/picViewer/picViewer.js"></script>
<script src="/assets/js/plugs/swiper/swiper.js"></script>
<script src="/assets/js/plugs/layer-v3.1.1/layer/layer.js"></script>
<script src="/assets/js/global/common.js"></script>
<script src="http://op.jiain.net/20002985/10085553.js"></script> -->
<script>
    var doyooBtns = [].slice.call(document.querySelectorAll('.doyoo-btn'));
    for (var i = 0, len = doyooBtns.length; i < len; i++) {
        doyooBtns[i].onclick = function() {
            doyoo.util.openChat('g=10075108');
            return false;
        }
    }
</script>
<!-- 表单 -->
<script src="/assets/js/plugs/formbd.js"></script>

</div>







</body>

</html>