<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
<script>
    (function flexible(window, document) {
        var docEl = document.documentElement
        var dpr = window.devicePixelRatio || 1

        // adjust body font size
        function setBodyFontSize() {
            if (document.body) {
                document.body.style.fontSize = (12 * dpr) + 'px'
            } else {
                document.addEventListener('DOMContentLoaded', setBodyFontSize)
            }
        }
        setBodyFontSize();

        // set 1rem = viewWidth / 10
        function setRemUnit() {
            var rem = docEl.clientWidth / 10
            docEl.style.fontSize = rem + 'px'
        }

        setRemUnit()

        // reset rem unit on page resize
        window.addEventListener('resize', setRemUnit)
        window.addEventListener('pageshow', function(e) {
            if (e.persisted) {
                setRemUnit()
            }
        })

        // detect 0.5px supports
        if (dpr >= 2) {
            var fakeBody = document.createElement('body')
            var testElement = document.createElement('div')
            testElement.style.border = '.5px solid transparent'
            fakeBody.appendChild(testElement)
            docEl.appendChild(fakeBody)
            if (testElement.offsetHeight === 1) {
                docEl.classList.add('hairlines')
            }
            docEl.removeChild(fakeBody)
        }
    }(window, document))
</script>
    <title>学员作品</title>
    <link rel="stylesheet" href="/assets/js/plugs/vide-7.4.1/css/video-js.min.css?v=1595915801326">
<link rel="stylesheet" href="/assets/js/plugs/picViewer/picViewer.css?v=1595915801326">
<link rel="stylesheet" href="/assets/js/plugs/swiper-3.4.0/swiper-3.4.2.min.css?v=1595915801326">
    <link rel="stylesheet" href="/assets/css/home/studentworks.css?v=1595915801326">
</head>

<body>
    <div class="header">
    <div class="header-tp" id="header-tp">
        <div class="header-menu"></div>
        <ul class="header-menu-list">
            <li class="header-menu-first">
                <a href="/index.html" style="color: #fff;">首页</a>
            </li>
            <li class="header-menu-first arrow-right">
     影视视效课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/yingshi/ysqn.html">影视视效全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ystx.html">特效合成大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ysjj.html">剪辑包装创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ysdh.html">影视动画精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/c4d.html">C4D特效大师班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
     游戏视觉课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/youxi/yxqn.html">游戏视觉全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxyh.html">游戏原画创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxms.html">3D美术精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxrj.html">游戏软件精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxtx.html">动作特效精英班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
     室内设计课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/shinei/snqk.html">APEC室内设计全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/cad.html">CAD制图大师班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snrz.html">室内软装精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snsh.html">室内手绘创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snxgt.html">室内效果图精英班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
     U X 全栈课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/ui/uiqn.html">UX全栈视效全能班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/psds.html">Photoshop大师班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/pmsj.html">品牌视觉创意班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/dsmg.html">
                电商美工精英班
            </a></li>
        <li class="header-menu-second">
            <a href="/ui/wysj.html">全链路设计精英班
            </a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
     建筑视效课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/jianzhu/jzsx.html">建筑视效全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/3dsMax.html">3ds MAX大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/3djm.html"> 3D建模精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/xrys.html">渲染艺术精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/jzxgt.html"> 建筑效果图精英班 </a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
     BIM应用课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/bim/bimqn.html">BIM应用全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/bimkz.html">BIM考证精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/revitds.html">Revit大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/lumion.html">Lumion大师班</a>
        </li>
    </ul>
</li>
            <li class="header-menu-first">
                <a href="/home/studentworks.html" style="color: #fff;">学员作品</a>
            </li>
            <li class="header-menu-first">
                <a href="/home/onlinebao.html" style="color: #fff;">在线报名</a>
            </li>
            <li class="header-menu-first">
                <a href="/home/contactus.html" style="color: #fff;">联系我们</a>
            </li>

        </ul>
        <div class="header-logo"></div>
        <a class="doyoo-btn">
            <div class="header-phone"></div>
        </a>
    </div>
    <div class="header-nav">
        <ul class="header-nav-wrap">
            <li class="header-nav-first header-nav-active">
                <a href="/index.html">首页</a>
            </li>
            <li class="header-nav-first" id="header-nav-first-course">课程
                <span class="arrow-down"></span>
                <ul class="header-nav-course">
                    <li class="header-menu-first arrow-right">
      影视视效 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/yingshi/ysqn.html">影视视效全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ystx.html">特效合成大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ysjj.html">剪辑包装创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ysdh.html">影视动画精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/c4d.html">C4D特效大师班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
      游戏视觉 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/youxi/yxqn.html">游戏视觉全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxyh.html">游戏原画创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxms.html">3D美术精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxrj.html">游戏软件精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxtx.html">动作特效精英班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
      室内设计 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/shinei/snqk.html">APEC室内设计全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/cad.html">CAD制图大师班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snrz.html">室内软装精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snsh.html">室内手绘创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snxgt.html">室内效果图精英班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
      UX 全栈 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/ui/uiqn.html">UX全栈视效全能班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/psds.html">Photoshop大师班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/pmsj.html">品牌视觉创意班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/dsmg.html">
                电商美工精英班
            </a></li>
        <li class="header-menu-second">
            <a href="/ui/wysj.html">全链路设计精英班
            </a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
      建筑视效 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/jianzhu/jzsx.html">建筑视效全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/3dsMax.html">3ds MAX大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/3djm.html"> 3D建模精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/xrys.html">渲染艺术精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/jzxgt.html"> 建筑效果图精英班 </a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
      BIM应用 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/bim/bimqn.html">BIM应用全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/bimkz.html">BIM考证精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/revitds.html">Revit大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/lumion.html">Lumion大师班</a>
        </li>
    </ul>
</li>
                </ul>
            </li>
            <li class="header-nav-first">
                <a href="/home/famousteacher.html">名师</a>
            </li>
            <li class="header-nav-first">
                <a href="/home/obtain.html">就业</a>
            </li>
            <li class="header-nav-first">
                <a href="/home/about.html">关于丝路</a>
            </li>
        </ul>
    </div>
</div>
<div class="header-mask" id="header-mask"></div>
    <div class="layout">
        <div class="banner">
            <a class="doyoo-btn">
                <img class="banner-cover" src="/assets/images/home/studentworks/banner.jpg?v=1595915801326" alt="">
            </a>
        </div>
        <!-- 影视视效作品 -->
        <div class="section section-bg-write stage-works-sec">
            <div class="container">
                <div class="section-title">
                    改变，看得见！
                </div>
                <div class="section-describe">
                    每个学员在丝路的成长均被记录，<br/> 学员阶段性作品汇总，见证蜕变之路。
                </div>
                <div class="hezuo">— 影视视效作品 —</div>
                <div class="section-nav-tab">
                    <div class="section-nav-item section-nav-btn section-nav-active">Premiere剪辑</div>
                    <div class="section-nav-item section-nav-btn">C4D影视运用</div>
                    <div class="section-nav-item section-nav-btn">AE特效合成</div>
                </div>
                <div class="section-tab-list">
                    <div class="section-tab-col">
                        <img src="/assets/images/home/studentworks/img1-1.png?v=1595915801326">
                    </div>
                    <div class="section-tab-col">
                        <img src="/assets/images/home/studentworks/img1-2.png?v=1595915801326">
                    </div>
                    <div class="section-tab-col">
                        <img src="/assets/images/home/studentworks/img1-3.png?v=1595915801326">
                    </div>
                </div>

            </div>
        </div>
        <!-- 游戏视觉作品 -->
        <div class="section stage-works-sec">
            <div class="container">
                <div class="hezuo">— 游戏视觉作品 —</div>
                <div class="section-nav-tab">
                    <div class="section-nav-item section-nav-btn section-nav-active">游戏原画/手绘</div>
                    <div class="section-nav-item section-nav-btn">游戏道具场景</div>
                    <div class="section-nav-item section-nav-btn">游戏角色设计</div>
                </div>
                <div class="section-tab-list">
                    <div class="section-tab-col">
                        <img src="/assets/images/home/studentworks/img2-1.png?v=1595915801326">
                    </div>
                    <div class="section-tab-col">
                        <img src="/assets/images/home/studentworks/img2-2.png?v=1595915801326">
                    </div>
                    <div class="section-tab-col">
                        <img src="/assets/images/home/studentworks/img2-3.png?v=1595915801326">
                    </div>
                </div>
            </div>

        </div>
        <!-- APEC室内作品 -->
        <div class="section section-bg-write stage-works-sec">
            <div class="container">
                <div class="hezuo">— APEC室内作品 —</div>
                <div class="section-nav-tab">
                    <div class="section-nav-item section-nav-btn section-nav-active">室内手绘表现</div>
                    <div class="section-nav-item section-nav-btn">CAD施工图</div>
                    <div class="section-nav-item section-nav-btn">室内效果图</div>
                </div>
                <div class="section-tab-list">
                    <div class="section-tab-col">
                        <img src="/assets/images/home/studentworks/img3-1.png?v=1595915801326">
                    </div>
                    <div class="section-tab-col">
                        <img src="/assets/images/home/studentworks/img3-2.png?v=1595915801326">
                    </div>
                    <div class="section-tab-col">
                        <img src="/assets/images/home/studentworks/img3-3.png?v=1595915801326">
                    </div>
                </div>
            </div>
        </div>
        <!-- UX全栈作品 -->
        <div class="section stage-works-sec">
            <div class="container">
                <div class="hezuo">— UX全栈作品 —</div>
                <div class="section-nav-tab">
                    <div class="section-nav-item section-nav-btn section-nav-active">平面设计</div>
                    <div class="section-nav-item section-nav-btn">网页视觉</div>
                    <div class="section-nav-item section-nav-btn">界面交互</div>
                </div>
                <div class="section-tab-list">
                    <div class="section-tab-col">
                        <img src="/assets/images/home/studentworks/img4-1.png?v=1595915801326">
                    </div>
                    <div class="section-tab-col">
                        <img src="/assets/images/home/studentworks/img4-2.png?v=1595915801326">
                    </div>
                    <div class="section-tab-col">
                        <img src="/assets/images/home/studentworks/img4-3.png?v=1595915801326">
                    </div>
                </div>
            </div>
        </div>
        <!-- 建筑视效作品 -->
        <div class="section section-bg-write stage-works-sec">
            <div class="container">
                <div class="hezuo">— 建筑视效作品 —</div>
                <div class="section-nav-tab">
                    <div class="section-nav-item section-nav-btn section-nav-active">建筑模型</div>
                    <div class="section-nav-item section-nav-btn">渲染后期</div>
                    <div class="section-nav-item section-nav-btn">建筑动画</div>
                </div>
                <div class="section-tab-list">
                    <div class="section-tab-col">
                        <img src="/assets/images/home/studentworks/img5-1.png?v=1595915801326">
                    </div>
                    <div class="section-tab-col">
                        <img src="/assets/images/home/studentworks/img5-2.png?v=1595915801326">
                    </div>
                    <div class="section-tab-col">
                        <img src="/assets/images/home/studentworks/img5-3.png?v=1595915801326">
                    </div>
                </div>
            </div>
        </div>
        <!-- BIM应用作品 -->
        <div class="section stage-works-sec">
            <div class="container">
                <div class="hezuo">— BIM应用作品 —</div>
                <div class="section-nav-tab">
                    <div class="section-nav-item section-nav-btn section-nav-active">Revit应用</div>
                    <div class="section-nav-item section-nav-btn">漫游动画</div>
                    <div class="section-nav-item section-nav-btn">室内装饰</div>
                </div>
                <div class="section-tab-list">
                    <div class="section-tab-col">
                        <img src="/assets/images/home/studentworks/img6-1.png?v=1595915801326">
                    </div>
                    <div class="section-tab-col">
                        <img src="/assets/images/home/studentworks/img6-2.png?v=1595915801326">
                    </div>
                    <div class="section-tab-col">
                        <img src="/assets/images/home/studentworks/img6-3.png?v=1595915801326">
                    </div>
                </div>
            </div>
            <div class="section-btn">
                <a class="btn doyoo-btn">查看更多学员作品</a>
            </div>
        </div>

        <!-- 表单统计 -->

        <div class="section-form">
            <form id="form">
                <div class="form-group form-group-txt">
                    想和TA们一样从0基础
                    <br> 变身精锐设计师吗？
                </div>
                <div class="mf">免费获取价值<span class="yuan">499元</span>设计课程</div>
                <div class="form-group">
                    <input type='text' name='name' id="name" placeholder="请输入您的姓名" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="text" name='tel' id="tel" class="form-control" placeholder="请输入您的手机号码" />
                </div>
                <input type="text" name='time' id='time' style="display: none;" />

                <div class="form-submit">
                    <button class="btn" type="button" onclick="add_ajaxmessage()"> 立即领取</button>
                </div>
            </form>
        </div>
    </div>
    <!--页脚 -->
<div class="endfoot-box">
    <div class="endfoot">
        <a class="doyoo-btn">
            <div class="endfoot-item">
                <p>名师在线</p>
                <p>免费试听</p>
            </div>
        </a>
    </div>
    <h3>本网站版权归丝路教育所有，盗用必究</h3>
</div>

<script src="/assets/js/libs/jquery.min.js"></script>
<script src="/assets/js/plugs/vide7.4.1/js/video.js"></script>
<script src="/assets/js/plugs/picViewer/picViewer.js"></script>
<script src="/assets/js/plugs/swiper/swiper.js"></script>
<script src="/assets/js/plugs/layer-v3.1.1/layer/layer.js"></script>
<script src="/assets/js/global/common.js"></script>
<script src="http://op.jiain.net/20002985/10085553.js"></script>
<script>
    var doyooBtns = [].slice.call(document.querySelectorAll('.doyoo-btn'));
    for (var i = 0, len = doyooBtns.length; i < len; i++) {
        doyooBtns[i].onclick = function() {
            doyoo.util.openChat('g=10075108');
            return false;
        }
    }
</script>

<!-- 百度统计代码 -->
<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?57448cbcd9efb5a61b8ba648ba49f3e2";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>

<!-- 表单 -->
<script src="/assets/js/plugs/formbd.js"></script>

</div>



</body>

</html>