<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">

    <title>C4D特效大师班</title>
    <link rel="stylesheet" href="/assets/js/plugs/vide7.4.1/css/video-js.min.css?v=1586254721814">
<link rel="stylesheet" href="/assets/js/plugs/picViewer/picViewer.css?v=1586254721814">
<link rel="stylesheet" href="/assets/js/plugs/swiper/swiper.min.css?v=1586254721814">
    <link rel="stylesheet" href="/assets/css/yingshi/c4d.css?v=1586254721814">
</head>

<body>
    <div class="header">
    <div class="header-tp" id="header-tp">
        <div class="header-menu"></div>
        <ul class="header-menu-list">
            <li class="header-menu-first">首页</li>
            <li class="header-menu-first arrow-right">
    
    影视视效课程
    
    
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/yingshi/ysqn.html">影视后期全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ystx.html">影视特效合成大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ysjj.html">剪辑包装创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ysdh.html">影视动画精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/c4d.html">C4D特效大师班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
    
    游戏视觉课程
    
    
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/youxi/yxqn.html">游戏视觉设计全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxyh.html">游戏原画创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxms.html">游戏3D美术精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxrj.html">游戏软件精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxtx.html">游戏动作特效精英班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
    
    APEC室内课程
    
    
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">影视后期全能班</li>
        <li class="header-menu-second">影视特效合成大师班</li>
        <li class="header-menu-second">剪辑包装创意班</li>
        <li class="header-menu-second">影视动画精英班</li>
        <li class="header-menu-second">C4D特效大师班</li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
    
    UX全栈课程
    
    
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">影视后期全能班</li>
        <li class="header-menu-second">影视特效合成大师班</li>
        <li class="header-menu-second">剪辑包装创意班</li>
        <li class="header-menu-second">影视动画精英班</li>
        <li class="header-menu-second">C4D特效大师班</li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
    
    建筑视效课程
    
    
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">影视后期全能班</li>
        <li class="header-menu-second">影视特效合成大师班</li>
        <li class="header-menu-second">剪辑包装创意班</li>
        <li class="header-menu-second">影视动画精英班</li>
        <li class="header-menu-second">C4D特效大师班</li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
    
    BIM应用课程
    
    
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">影视后期全能班</li>
        <li class="header-menu-second">影视特效合成大师班</li>
        <li class="header-menu-second">剪辑包装创意班</li>
        <li class="header-menu-second">影视动画精英班</li>
        <li class="header-menu-second">C4D特效大师班</li>
    </ul>
</li>
            <li class="header-menu-first">联系我们</li>
        </ul>
        <div class="header-logo"></div>
        <div class="header-phone"></div>
    </div>
    <div class="header-nav">
        <ul class="header-nav-wrap">
            <li class="header-nav-first header-nav-active">首页</li>
            <li class="header-nav-first" id="header-nav-first-course">课程
                <span class="arrow-down"></span>
                <ul class="header-nav-course">
                    <li class="header-menu-first arrow-right">
    
    
    影视视效
    
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/yingshi/ysqn.html">影视后期全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ystx.html">影视特效合成大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ysjj.html">剪辑包装创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ysdh.html">影视动画精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/c4d.html">C4D特效大师班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
    
    
    游戏视觉
    
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/youxi/yxqn.html">游戏视觉设计全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxyh.html">游戏原画创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxms.html">游戏3D美术精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxrj.html">游戏软件精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxtx.html">游戏动作特效精英班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
    
    
    APEC室内
    
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">影视后期全能班</li>
        <li class="header-menu-second">影视特效合成大师班</li>
        <li class="header-menu-second">剪辑包装创意班</li>
        <li class="header-menu-second">影视动画精英班</li>
        <li class="header-menu-second">C4D特效大师班</li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
    
    
    UX全栈
    
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">影视后期全能班</li>
        <li class="header-menu-second">影视特效合成大师班</li>
        <li class="header-menu-second">剪辑包装创意班</li>
        <li class="header-menu-second">影视动画精英班</li>
        <li class="header-menu-second">C4D特效大师班</li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
    
    
    建筑视效
    
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">影视后期全能班</li>
        <li class="header-menu-second">影视特效合成大师班</li>
        <li class="header-menu-second">剪辑包装创意班</li>
        <li class="header-menu-second">影视动画精英班</li>
        <li class="header-menu-second">C4D特效大师班</li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
    
    
    BIM应用
    
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">影视后期全能班</li>
        <li class="header-menu-second">影视特效合成大师班</li>
        <li class="header-menu-second">剪辑包装创意班</li>
        <li class="header-menu-second">影视动画精英班</li>
        <li class="header-menu-second">C4D特效大师班</li>
    </ul>
</li>
                </ul>
            </li>
            <li class="header-nav-first">名师</li>
            <li class="header-nav-first">就业</li>
            <li class="header-nav-first">关于丝路</li>
        </ul>
    </div>
</div>
<div class="header-mask" id="header-mask"></div>
<script src="/assets/js/libs/lib-flexible.js"></script>
    <div class="layout">
        <div class="banner">
            <img class="banner-cover" src="/assets/images/yingshi/c4d/banner.jpg?v=1586254721814" alt="">
            <div class="section-btn">
                <a class="btn doyoo-btn">预约免费试听</a>
            </div>
        </div>
        <div class="section section-bg-write study-design-sec">
            <div class="container">
                <div class="section-title">
                    年薪百万的视效大师<br>都会的软件
                </div>
                <div class="section-describe">
                    Cinema 4D以其高运算速度和强大的渲染插件<br>
                    著称，并且在用其描绘的各类电影中表现突出，<br>
                    在电视包装领域也表现非凡，如今已成为国内<br>
                    设计主流软件，运用更加广泛。
                </div>
                <img src="/assets/images/yingshi/c4d/zhonglei.png?v=1586254721814" alt="">
            </div>
        </div>
        <div class="section designing-workers-sec">
            <div class="container">
                <div class="section-title">
                    谁适合学习C4D？
                </div>
                <img src="/assets/images/yingshi/c4d/renqun.png?v=1586254721814" alt="">
            </div>
        </div>
        <div class="section section-bg-write">
            <div class="container">
                <div class="section-title">
                    会C4D的影视动画师<br> 薪资都不会太差
                </div>
                <img src="/assets/images/yingshi/c4d/xinzi.png?v=1586254721814" alt="">
                <div class="section-btn">
                    <a class="btn doyoo-btn">测测我学完C4D的薪资收入</a>
                </div>
            </div>
        </div>
        <div class="section not-powerful-sec">
            <div class="container">
                <div class="section-title">
                    简单的不像实力派
                </div>
                <div class="not-powerful-list">
                    <div class="not-powerful-item">
                        <div class="not-powerful-title">
                            <img class="not-powerful-num" src="/assets/images/yingshi/c4d/biaoti1.png?v=1586254721814" alt="">
                            一款对小白友好的软件<br>28天即可掌握操作要领
                        </div>
                        <div class="not-powerful-imglist">
                            <div class="not-powerful-imgitem">
                                <img src="/assets/images/yingshi/c4d/c4d1.png?v=1586254721814" alt="">
                                <p>
                                    丝路学员<br>学习25天后C4D作品
                                </p>
                            </div>
                            <div class="not-powerful-imgitem">
                                <img src="/assets/images/yingshi/c4d/c4d2.png?v=1586254721814" alt="">
                                <p>
                                    丝路学员<br>学习25天后C4D作品
                                </p>
                            </div>
                            <div class="not-powerful-imgitem">
                                <img src="/assets/images/yingshi/c4d/c4d3.png?v=1586254721814" alt="">
                                <p>
                                    丝路学员<br>学习25天后C4D作品
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="not-powerful-item">
                        <div class="not-powerful-title">
                            <img class="not-powerful-num" src="/assets/images/yingshi/c4d/biaoti2.png?v=1586254721814" alt="">
                            一入C4D深似海<br>渲染效果惊艳全场
                        </div>
                        <div class="not-powerful-imglist">
                            <div class="not-powerful-imgitem">
                                <img src="/assets/images/yingshi/c4d/c4d4.png?v=1586254721814" alt="">
                                <p>
                                    丝路学员<br>学习25天后C4D作品
                                </p>
                            </div>
                            <div class="not-powerful-imgitem">
                                <img src="/assets/images/yingshi/c4d/c4d5.png?v=1586254721814" alt="">
                                <p>
                                    丝路学员<br>学习25天后C4D作品
                                </p>
                            </div>
                            <div class="not-powerful-imgitem">
                                <img src="/assets/images/yingshi/c4d/c4d6.png?v=1586254721814" alt="">
                                <p>
                                    丝路学员<br>学习25天后C4D作品
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="not-powerful-item">
                        <div class="not-powerful-title">
                            <img class="not-powerful-num" src="/assets/images/yingshi/c4d/biaoti3.png?v=1586254721814" alt="">
                            设计风格多元<br>应用广泛不设限
                        </div>
                        <div class="not-powerful-imglist">
                            <div class="not-powerful-imgitem">
                                <img src="/assets/images/yingshi/c4d/c4d7.png?v=1586254721814" alt="">
                                <p>
                                    丝路学员<br>学习25天后C4D作品
                                </p>
                            </div>
                            <div class="not-powerful-imgitem">
                                <img src="/assets/images/yingshi/c4d/c4d8.png?v=1586254721814" alt="">
                                <p>
                                    丝路学员<br>学习25天后C4D作品
                                </p>
                            </div>
                            <div class="not-powerful-imgitem">
                                <img src="/assets/images/yingshi/c4d/c4d9.png?v=1586254721814" alt="">
                                <p>
                                    丝路学员<br>学习25天后C4D作品
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section section-bg-write characteristic-sec">
            <div class="container">
                <div class="section-title">
                    丝路教育<br>C4D视效大师班特色优势
                </div>
                <div class="characteristic-list">
                    <div class="characteristic-cover">
                        <img src="/assets/images/yingshi/c4d/tese.png?v=1586254721814" alt="">
                    </div>
                    <div class="characteristic-txt">
                        <dl>
                            <dt>实战项目 实战教学</dt>
                            <dd>采用案例式教学，</dd>
                            <dd>在实践中快速掌握知识点</dd>

                            <dt>小班授课 企业定制</dt>
                            <dd>采用案例式教学，</dd>
                            <dd>在实践中快速掌握知识点</dd>

                            <dt>一线企业 就业保障</dt>
                            <dd>采用案例式教学，</dd>
                            <dd>在实践中快速掌握知识点</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
        <div class="section oneline-coffee-sec">
            <div class="container">
                <div class="section-title">
                    8周吃透C4D<br>全面掌握三维设计秘诀
                </div>
                <div class="oneline-coffee-sec1">
                    <img src="/assets/images/yingshi/c4d/VS.png?v=1586254721814" alt="">
                </div>
                <div class="oneline-coffee-sec2">
                    <div class="oneline-coffee-list">
                        <div class="oneline-coffee-item">
                            <div class="oneline-coffee-cover">
                                <img src="/assets/images/yingshi/c4d/kecheng1.png?v=1586254721814" alt="">
                            </div>
                            <div class="oneline-coffee-txt">
                                <h3>C4D三维基础</h3>
                                <div class="oneline-coffee-harvest">
                                    <em>收获：</em>
                                    学员独立完成简单的C4D三维模型、字体设计。
                                </div>
                            </div>
                        </div>
                        <div class="oneline-coffee-item">
                            <div class="oneline-coffee-cover">
                                <img src="/assets/images/yingshi/c4d/kecheng2.png?v=1586254721814" alt="">
                            </div>
                            <div class="oneline-coffee-txt">
                                <h3>C4D三维基础</h3>
                                <div class="oneline-coffee-harvest">
                                    <em>收获：</em>
                                    学员独立完成简单的C4D三维模型、字体设计。
                                </div>
                            </div>
                        </div>
                        <div class="oneline-coffee-item">
                            <div class="oneline-coffee-cover">
                                <img src="/assets/images/yingshi/c4d/kecheng3.png?v=1586254721814" alt="">
                            </div>
                            <div class="oneline-coffee-txt">
                                <h3>C4D三维基础</h3>
                                <div class="oneline-coffee-harvest">
                                    <em>收获：</em>
                                    学员独立完成简单的C4D三维模型、字体设计。
                                </div>
                            </div>
                        </div>
                        <div class="oneline-coffee-item">
                            <div class="oneline-coffee-cover">
                                <img src="/assets/images/yingshi/c4d/kecheng4.png?v=1586254721814" alt="">
                            </div>
                            <div class="oneline-coffee-txt">
                                <h3>C4D三维基础</h3>
                                <div class="oneline-coffee-harvest">
                                    <em>收获：</em>
                                    学员独立完成简单的C4D三维模型、字体设计。
                                </div>
                            </div>
                        </div>
                        <div class="oneline-coffee-item">
                            <div class="oneline-coffee-cover">
                                <img src="/assets/images/yingshi/c4d/kecheng5.png?v=1586254721814" alt="">
                            </div>
                            <div class="oneline-coffee-txt">
                                <h3>C4D三维基础</h3>
                                <div class="oneline-coffee-harvest">
                                    <em>收获：</em>
                                    学员独立完成简单的C4D三维模型、字体设计。
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section-btn">
                    <a class="btn doyoo-btn">免费获取课程讲义</a>
                </div>
            </div>
        </div>
        <div class="section section-bg-write good-works-sec">
            <div class="container">
                <div class="section-title">
                    名师面授你不知道的C4D
                </div>
                <div class="section-describe">
                    Cinema 4D以其高运算速度和强大的渲染插件<br>
                    著称，并且在用其描绘的各类电影中表现突出，<br>
                    在电视包装领域也表现非凡，如今已成为国内<br>
                    设计主流软件，运用更加广泛。
                </div>
                <div class="good-works-list">
                    <div class="good-works-item">
                        <img class="good-works-cover" src="/assets/images/yingshi/c4d/laoshi1.png?v=1586254721814" alt="">
                        <div class="good-works-inner">
                            <div class="good-works-user">
                                <h3>铁礼东</h3>
                                <span>/10年从业经验</span>
                            </div>
                            <div class="good-works-pos">影视视效高级讲师</div>
                            <div class="good-works-works">
                                代表项目<br>
                                《魔法俏佳人大电影》<br>
                                《CCTV财经教育栏目》<br>
                                ......
                            </div>
                        </div>
                    </div>
                    <div class="good-works-item">
                        <img class="good-works-cover" src="/assets/images/yingshi/c4d/laoshi2.png?v=1586254721814" alt="">
                        <div class="good-works-inner">
                            <div class="good-works-user">
                                <h3>铁礼东</h3>
                                <span>/10年从业经验</span>
                            </div>
                            <div class="good-works-pos">影视视效高级讲师</div>
                            <div class="good-works-works">
                                代表项目<br>
                                《魔法俏佳人大电影》<br>
                                《CCTV财经教育栏目》<br>
                                ......
                            </div>
                        </div>
                    </div>
                    <div class="good-works-item">
                        <img class="good-works-cover" src="/assets/images/yingshi/c4d/laoshi3.png?v=1586254721814" alt="">
                        <div class="good-works-inner">
                            <div class="good-works-user">
                                <h3>铁礼东</h3>
                                <span>/10年从业经验</span>
                            </div>
                            <div class="good-works-pos">影视视效高级讲师</div>
                            <div class="good-works-works">
                                代表项目<br>
                                《魔法俏佳人大电影》<br>
                                《CCTV财经教育栏目》<br>
                                ......
                            </div>
                        </div>
                    </div>
                    <div class="good-works-item">
                        <img class="good-works-cover" src="/assets/images/yingshi/c4d/laoshi4.png?v=1586254721814" alt="">
                        <div class="good-works-inner">
                            <div class="good-works-user">
                                <h3>铁礼东</h3>
                                <span>/10年从业经验</span>
                            </div>
                            <div class="good-works-pos">影视视效高级讲师</div>
                            <div class="good-works-works">
                                代表项目<br>
                                《魔法俏佳人大电影》<br>
                                《CCTV财经教育栏目》<br>
                                ......
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section-btn">
                    <a class="btn doyoo-btn">免费向老师提问</a>
                </div>
            </div>
        </div>
        <div class="section student-evaluation-sec">
            <div class="container">
                <div class="section-title">
                    学员作品<br>创意与实力的完美融合
                </div>
                <div class="student-evaluation-list">
                    <div class="student-evaluation-item"><img src="/assets/images/yingshi/c4d/zuoping1.jpg?v=1586254721814" alt="">
                    </div>
                    <div class="student-evaluation-item"><img src="/assets/images/yingshi/c4d/zuoping2.jpg?v=1586254721814" alt="">
                    </div>
                    <div class="student-evaluation-item"><img src="/assets/images/yingshi/c4d/zuoping3.jpg?v=1586254721814" alt="">
                    </div>
                    <div class="student-evaluation-item"><img src="/assets/images/yingshi/c4d/zuoping4.jpg?v=1586254721814" alt="">
                    </div>
                    <div class="student-evaluation-item"><img src="/assets/images/yingshi/c4d/zuoping5.jpg?v=1586254721814" alt="">
                    </div>
                    <div class="student-evaluation-item"><img src="/assets/images/yingshi/c4d/zuoping6.jpg?v=1586254721814" alt="">
                    </div>
                </div>
                <div class="section-btn">
                    <a class="btn doyoo-btn">查看更多学员作品</a>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="section-title">
                    在校参与实训<br>经验UP更多金
                </div>
                <div class="section-describe">
                    Cinema 4D以其高运算速度和强大的渲染插件<br>
                    著称，并且在用其描绘的各类电影中表现突出，<br>
                    在电视包装领域也表现非凡，如今已成为国内<br>
                    设计主流软件，运用更加广泛。
                </div>
                <img src="/assets/images/yingshi/c4d/shixun.png?v=1586254721814" alt="">
            </div>
        </div>
        <div class="section section-bg-write">
            <div class="container">
                <div class="section-title">
                    3000+名企合作<br>直通高薪岗位
                </div>
                <img src="/assets/images/yingshi/c4d/logo.jpg?v=1586254721814" alt="">
            </div>
        </div>
        <!-- 表单统计 -->
        <div class="section-form">
            <form action="/plus/diy.php?v=1586254721814" enctype="multipart/form-data" method="post"
                onsubmit="return checkMobile(this);">
                <div class="form-group form-group-txt">
                    少年，看你脑洞清奇！<br>
                    我这有本C4D秘籍，<br>
                    免费借你试学！<br>
                </div>
                <div class="form-group">
                    <input type='text' name='name' placeholder="姓名：请填写姓名" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="text" name='tel' class="form-control" placeholder="联系方式：请填写手机号码" />
                </div>
                <div class="form-submit">
                    <button class="btn" type="submit">试学一下</button>
                </div>
            </form>
        </div>
    </div>
    <script src="/assets/js/libs/jquery.min.js"></script>
<script src="/assets/js/plugs/vide7.4.1/js/video.js"></script>
<script src="/assets/js/plugs/picViewer/picViewer.js"></script>
<script src="/assets/js/plugs/swiper/swiper.js"></script>
<script src="/assets/js/plugs/layer-v3.1.1/layer/layer.js"></script>
<script src="/assets/js/global/common.js"></script>
<!-- <script src="http://op.jiain.net/20002985/10085553.js"></script> -->
<script>
    var doyooBtns = [].slice.call(document.querySelectorAll('.doyoo-btn'));
    for (var i = 0, len = doyooBtns.length; i < len; i++) {
        doyooBtns[i].onclick = function () {
            doyoo.util.openChat('g=10075108'); return false;
        }
    }
</script>
</body>

</html>