<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
<script>
    (function flexible(window, document) {
        var docEl = document.documentElement
        var dpr = window.devicePixelRatio || 1

        // adjust body font size
        function setBodyFontSize() {
            if (document.body) {
                document.body.style.fontSize = (12 * dpr) + 'px'
            } else {
                document.addEventListener('DOMContentLoaded', setBodyFontSize)
            }
        }
        setBodyFontSize();

        // set 1rem = viewWidth / 10
        function setRemUnit() {
            var rem = docEl.clientWidth / 10
            docEl.style.fontSize = rem + 'px'
        }

        setRemUnit()

        // reset rem unit on page resize
        window.addEventListener('resize', setRemUnit)
        window.addEventListener('pageshow', function(e) {
            if (e.persisted) {
                setRemUnit()
            }
        })

        // detect 0.5px supports
        if (dpr >= 2) {
            var fakeBody = document.createElement('body')
            var testElement = document.createElement('div')
            testElement.style.border = '.5px solid transparent'
            fakeBody.appendChild(testElement)
            docEl.appendChild(fakeBody)
            if (testElement.offsetHeight === 1) {
                docEl.classList.add('hairlines')
            }
            docEl.removeChild(fakeBody)
        }
    }(window, document))
</script>
    <title>影视动画精英班</title>
    <link rel="stylesheet" href="/assets/js/plugs/vide-7.4.1/css/video-js.min.css?v=1587179319710">
<link rel="stylesheet" href="/assets/js/plugs/picViewer/picViewer.css?v=1587179319710">
<link rel="stylesheet" href="/assets/js/plugs/swiper-3.4.0/swiper-3.4.2.min.css?v=1587179319710">
    <link rel="stylesheet" href="/assets/css/yingshi/ysdh.css?v=1587179319710">
</head>

<body>
    <div class="header">
    <div class="header-tp" id="header-tp">
        <div class="header-menu"></div>
        <ul class="header-menu-list">
            <li class="header-menu-first">
                <a href="/index.html">首页</a>
            </li>
            <li class="header-menu-first arrow-right">
     影视视效课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/yingshi/ysqn.html">影视视效全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ystx.html">特效合成大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ysjj.html">剪辑包装创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ysdh.html">影视动画精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/c4d.html">C4D特效大师班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
     游戏视觉课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/youxi/yxqn.html">游戏视觉全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxyh.html">游戏原画创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxms.html">3D美术精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxrj.html">游戏软件精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxtx.html">动作特效精英班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
     室内设计课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/shinei/snqk.html">APEC室内设计全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/cad.html">CAD制图大师班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snrz.html">室内软装精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snsh.html">室内手绘创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snxgt.html">室内效果图精英班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
     U X 全栈课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/ui/uiqn.html">UX全栈视效全能班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/psds.html">Photoshop大师班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/pmsj.html">品牌视觉创意班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/dsmg.html">
                电商美工精英班
            </a></li>
        <li class="header-menu-second">
            <a href="/ui/wysj.html">全链路设计精英班
            </a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
     建筑视效课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/jianzhu/jzsx.html">建筑视效全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/3dsMax.html">3ds MAX大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/3djm.html"> 3D建模精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/xrys.html">渲染艺术精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/jzxgt.html"> 建筑效果图精英班 </a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
     BIM应用课程  
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/bim/bimqn.html">BIM应用全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/bimkz.html">BIM考证精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/revitds.html">Revit大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/lumion.html">Lumion大师班</a>
        </li>
    </ul>
</li>
            <li class="header-menu-first">
                <a href="/home/studentworks.html">学员作品</a>
            </li>
            <li class="header-menu-first">
                <a href="/home/onlinebao.html">在线报名</a>
            </li>
            <li class="header-menu-first">
                <a href="/home/contactus.html">联系我们</a>
            </li>

        </ul>
        <div class="header-logo"></div>
        <div class="header-phone"></div>
    </div>
    <div class="header-nav">
        <ul class="header-nav-wrap">
            <li class="header-nav-first header-nav-active">
                <a href="/index.html">首页</a>
            </li>
            <li class="header-nav-first" id="header-nav-first-course">课程
                <span class="arrow-down"></span>
                <ul class="header-nav-course">
                    <li class="header-menu-first arrow-right">
      影视视效 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/yingshi/ysqn.html">影视视效全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ystx.html">特效合成大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ysjj.html">剪辑包装创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ysdh.html">影视动画精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/c4d.html">C4D特效大师班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
      游戏视觉 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/youxi/yxqn.html">游戏视觉全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxyh.html">游戏原画创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxms.html">3D美术精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxrj.html">游戏软件精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxtx.html">动作特效精英班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
      室内设计 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/shinei/snqk.html">APEC室内设计全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/cad.html">CAD制图大师班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snrz.html">室内软装精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snsh.html">室内手绘创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/shinei/snxgt.html">室内效果图精英班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
      UX 全栈 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/ui/uiqn.html">UX全栈视效全能班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/psds.html">Photoshop大师班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/pmsj.html">品牌视觉创意班
            </a>
        </li>
        <li class="header-menu-second">
            <a href="/ui/dsmg.html">
                电商美工精英班
            </a></li>
        <li class="header-menu-second">
            <a href="/ui/wysj.html">全链路设计精英班
            </a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
      建筑视效 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/jianzhu/jzsx.html">建筑视效全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/3dsMax.html">3ds MAX大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/3djm.html"> 3D建模精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/xrys.html">渲染艺术精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/jianzhu/jzxgt.html"> 建筑效果图精英班 </a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
      BIM应用 
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/bim/bimqn.html">BIM应用全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/bimkz.html">BIM考证精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/revitds.html">Revit大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/lumion.html">Lumion大师班</a>
        </li>
    </ul>
</li>
                </ul>
            </li>
            <li class="header-nav-first">
                <a href="/home/famousteacher.html">名师</a>
            </li>
            <li class="header-nav-first">
                <a href="/home/obtain.html">就业</a>
            </li>
            <li class="header-nav-first">
                <a href="/home/about.html">关于丝路</a>
            </li>
        </ul>
    </div>
</div>
<div class="header-mask" id="header-mask"></div>
    <div class="layout">
        <div class="banner">
            <a class="doyoo-btn">
                <img class="banner-cover" src="/assets/images/yingshi/ysdh/banner.jpg?v=1587179319710" alt="">
            </a>
        </div>
        <div class="section section-bg-write study-design-sec">
            <div class="container">
                <div class="section-title">
                    影视动画
                    <br>备受瞩目的朝阳产业
                </div>
                <div class="section-describe">
                    随着我国动漫卡通、3D电影、网络游戏等数字创意
                    <br/>产业的快速发展，影视动画技术人才已成为紧俏
                    <br/>又有“钱”景的职场新贵。
                </div>
                <img src="/assets/images/yingshi/ysdh/xz.jpg?v=1587179319710" alt="">
            </div>
        </div>
        <div class="section designing-workers-sec">
            <div class="container">
                <div class="section-title">
                    中国公映的电影动画<br> 票房代表
                </div>
                <div class="designing-workers-list">
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/yingshi/ysdh/ys1.png?v=1587179319710">
                        <div class="section-txt">
                            <h3>《哪吒之魔童降世》</h3>
                            <p>电影票房：<em>50.13亿</em></p>
                        </div>
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/yingshi/ysdh/ys2.png?v=1587179319710">
                        <div class="section-txt">
                            <h3>《疯狂动物城》</h3>
                            <p>电影票房：<em>15.30亿</em></p>
                        </div>
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/yingshi/ysdh/ys3.png?v=1587179319710">
                        <div class="section-txt">
                            <h3>《寻梦环游记》</h3>
                            <p>电影票房：<em>12.12亿</em></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section section-bg-write double-freedom-sec">
            <div class="container">
                <div class="section-title">
                    工作时间与财务的
                    <br> 双重自由
                </div>
                <div class="double-freedom-content">
                    <div class="double-freedom-row">
                        <div class="double-freedom-title"><em>01</em>一人创业 全家“小康”</div>
                        <div class="double-freedom-describe">自媒体时代当道，影视动画是让你创意变现的最佳途径</div>
                        <div class="section-list">
                            <div class="section-item">
                                <img class="section-cover" src="/assets/images/yingshi/ysdh/pp1.jpg?v=1587179319710">
                                <div class="section-txt">获取平台佣金</div>
                            </div>
                            <div class="section-item">
                                <img class="section-cover" src="/assets/images/yingshi/ysdh/pp2.jpg?v=1587179319710">
                                <div class="section-txt">打造个人品牌</div>
                            </div>
                            <div class="section-item">
                                <img class="section-cover" src="/assets/images/yingshi/ysdh/pp3.jpg?v=1587179319710">
                                <div class="section-txt">拓宽合作渠道</div>
                            </div>
                        </div>
                    </div>

                    <div class="double-freedom-row">
                        <div class="double-freedom-title"><em>02</em>影视行业大厂 高薪梦开始的地方</div>
                        <div class="double-freedom-describe">学习影视动画进入影视大厂，创造下一个票房神话</div>
                        <div class="section-list">
                            <div class="section-item">
                                <img class="section-cover" src="/assets/images/yingshi/ysdh/nl1.jpg?v=1587179319710">
                                <div class="section-txt">获得高额薪资</div>
                            </div>
                            <div class="section-item">
                                <img class="section-cover" src="/assets/images/yingshi/ysdh/nl2.jpg?v=1587179319710">
                                <div class="section-txt">实现人生梦想</div>
                            </div>
                            <div class="section-item">
                                <img class="section-cover" src="/assets/images/yingshi/ysdh/nl3.jpg?v=1587179319710">
                                <div class="section-txt">提升自身能力</div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="section not-powerful-sec">
            <div class="container">
                <div class="section-title">
                    行业岗位细分<br> 兴趣与高薪兼得
                </div>
                <div class="section-list">
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/yingshi/ysdh/gn1.png?v=1587179319710" alt="">
                        <div class="section-txt">
                            <h3>动画剪辑合成师</h3>
                            <p>8K-10K/月</p>
                        </div>
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/yingshi/ysdh/gn2.png?v=1587179319710" alt="">
                        <div class="section-txt">
                            <h3>模型人物设计</h3>
                            <p>10K-12K/月</p>
                        </div>
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/yingshi/ysdh/gn3.png?v=1587179319710" alt="">
                        <div class="section-txt">
                            <h3>原画设计师</h3>
                            <p>9K-10K/月</p>
                        </div>
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/yingshi/ysdh/gn4.png?v=1587179319710" alt="">
                        <div class="section-txt">
                            <h3>三维动画师</h3>
                            <p>10K-15K/月</p>
                        </div>
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/yingshi/ysdh/gn5.png?v=1587179319710" alt="">
                        <div class="section-txt">
                            <h3>片头动画师</h3>
                            <p>8K-10K/月</p>
                        </div>
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/yingshi/ysdh/gn6.png?v=1587179319710" alt="">
                        <div class="section-txt">
                            <h3>高级动画师</h3>
                            <p>12K-15K/月</p>
                        </div>
                    </div>
                </div>
                <div class="section-btn">
                    <a class="btn doyoo-btn">查看更多岗位</a>
                </div>
            </div>
        </div>
        <div class="section section-bg-write advanced-system-sec">
            <div class="section-title">
                丝路教育先进课程体系
                <br> 打造高薪人才
            </div>
            <div class="double-freedom-content">
                <div class="double-freedom-row">

                    <div class="container">
                        <div class="double-freedom-title"><em>01</em>全新课程特色 让学习一步到位</div>
                        <div class="section-list">
                            <div class="section-item">
                                <img class="section-cover" src="/assets/images/yingshi/ysdh/rw1.png?v=1587179319710">
                                <div class="section-txt">
                                    <h3>实战项目 实战教学</h3>
                                    <p>
                                        采用案例式教，在实践中快速掌握知识点
                                    </p>
                                </div>
                            </div>
                            <div class="section-item">
                                <img class="section-cover" src="/assets/images/yingshi/ysdh/rw2.png?v=1587179319710">
                                <div class="section-txt">
                                    <h3>一线企业 就业保障</h3>
                                    <p>
                                        对市场需求精确定位， 帮助学员入职名企
                                    </p>
                                </div>
                            </div>
                            <div class="section-item">
                                <img class="section-cover" src="/assets/images/yingshi/ysdh/rw3.png?v=1587179319710">
                                <div class="section-txt">
                                    <h3>小班授课 企业定制</h3>
                                    <p>
                                        采用线下式教学， 将效率发挥为极致
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="double-freedom-row">
                    <div class="container">
                        <div class="double-freedom-title"><em>02</em>主流软件全掌握 不惧任何挑战</div>
                        <div class="section-list">
                            <div class="section-item">
                                <img class="section-cover" src="/assets/images/yingshi/ysdh/gj1.png?v=1587179319710">
                                <div class="section-txt">Photoshop</div>
                            </div>
                            <div class="section-item">
                                <img class="section-cover" src="/assets/images/yingshi/ysdh/gj2.png?v=1587179319710">
                                <div class="section-txt">Premiere</div>
                            </div>
                            <div class="section-item">
                                <img class="section-cover" src="/assets/images/yingshi/ysdh/gj3.png?v=1587179319710">
                                <div class="section-txt">After Effects</div>
                            </div>
                            <div class="section-item">
                                <img class="section-cover" src="/assets/images/yingshi/ysdh/gj4.png?v=1587179319710">
                                <div class="section-txt">Illustrator</div>
                            </div>
                            <div class="section-item">
                                <img class="section-cover" src="/assets/images/yingshi/ysdh/gj5.png?v=1587179319710">
                                <div class="section-txt">Cinema 4D</div>
                            </div>
                            <div class="section-item">
                                <img class="section-cover" src="/assets/images/yingshi/ysdh/gj6.png?v=1587179319710">
                                <div class="section-txt">V-Ray</div>
                            </div>
                            <div class="section-item">
                                <img class="section-cover" src="/assets/images/yingshi/ysdh/gj7.png?v=1587179319710">
                                <div class="section-txt">3ds Max</div>
                            </div>
                            <div class="section-item">
                                <img class="section-cover" src="/assets/images/yingshi/ysdh/gj8.png?v=1587179319710">
                                <div class="section-txt">Final cut Pro</div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="double-freedom-row">
                    <div class="container">
                        <div class="double-freedom-title"><em>03</em>精编课程内容 助你技能满点</div>
                        <div class="intensive-course-list">
                            <div class="intensive-course-item" style="background: url(/assets/images/yingshi/ysdh/kc1.png) no-repeat center;background-size: cover;?v=1587179319710">
                                <div class="intensive-course-num">01</div>
                                <div class="intensive-course-txt">
                                    <h3>动画基础</h3>
                                    <p>学习辅助后期制作的常用软件，初步认识视频基础知识以及初始软件基本功能运用。</p>
                                </div>

                            </div>
                            <div class="intensive-course-item" style="background: url(/assets/images/yingshi/ysdh/kc2.png) no-repeat center;background-size: cover;?v=1587179319710">
                                <div class="intensive-course-num">02</div>
                                <div class="intensive-course-txt">
                                    <h3>MG动画设计</h3>
                                    <p>学习人物以及场景的MG动画设计和制作流程，后期可实现丰富酷炫的效果。</p>
                                </div>
                            </div>
                            <div class="intensive-course-item" style="background: url(/assets/images/yingshi/ysdh/kc3.png) no-repeat center;background-size: cover;?v=1587179319710">
                                <div class="intensive-course-num">03</div>
                                <div class="intensive-course-txt">
                                    <h3>产品动画设计</h3>
                                    <p>掌握动画设计基础，驾驭不同产品的设计技巧，创造多风格的产品动画。</p>
                                </div>
                            </div>
                            <div class="intensive-course-item" style="background: url(/assets/images/yingshi/ysdh/kc4.png) no-repeat center;background-size: cover;?v=1587179319710">
                                <div class="intensive-course-num">04</div>
                                <div class="intensive-course-txt">
                                    <h3>运动图形动画</h3>
                                    <p>学习C4D强大的多边形建模和简洁高效的曲线、快速掌握运动图形动画的基础操作。</p>
                                </div>
                            </div>
                            <div class="intensive-course-item" style="background: url(/assets/images/yingshi/ysdh/kc5.png) no-repeat center;background-size: cover;?v=1587179319710">
                                <div class="intensive-course-num">05</div>
                                <div class="intensive-course-txt">
                                    <h3>三维视效设计</h3>
                                    <p>掌握不同动画的呈现形式、镜特效以及插件的应用技术，独立完成影视动画三维视效设计。</p>
                                </div>
                            </div>
                            <div class="intensive-course-item" style="background: url(/assets/images/yingshi/ysdh/kc6.png) no-repeat center;background-size: cover;?v=1587179319710">
                                <div class="intensive-course-num">06</div>
                                <div class="intensive-course-txt">
                                    <h3>动画剪辑调色</h3>
                                    <p>学习软件的使用技巧，包括大量的滤镜特效以及特效面板的使用。</p>
                                </div>
                            </div>
                        </div>
                        <div class="section-btn">
                            <a class="btn doyoo-btn">了解课程详情</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="section oneline-coffee-sec">
            <div class="container">
                <div class="section-title">
                    资深讲师阵容
                    <br>助你高薪就业
                </div>
                <div class="good-works-list">
                    <div class="good-works-item">
                        <img class="good-works-cover" src="/assets/images/yingshi/c4d/laoshi1.png?v=1587179319710" alt="">
                        <div class="good-works-inner">
                            <div class="good-works-user">
                                <h3>铁礼东</h3>
                                <span>/10年从业经验</span>
                            </div>
                            <div class="good-works-pos">影视视效高级讲师</div>
                            <div class="good-works-works">
                                代表项目<br> 《魔法俏佳人大电影》
                                <br> 《CCTV财经教育栏目》
                                <br> ......
                            </div>
                        </div>
                    </div>
                    <div class="good-works-item">
                        <img class="good-works-cover" src="/assets/images/yingshi/c4d/laoshi2.png?v=1587179319710" alt="">
                        <div class="good-works-inner">
                            <div class="good-works-user">
                                <h3>杨文强</h3>
                                <span>/9年从业经验</span>
                            </div>
                            <div class="good-works-pos">影视视效高级讲师</div>
                            <div class="good-works-works">
                                代表项目<br> 《天龙八部3D》
                                <br> 《风云》
                                <br> ......
                            </div>
                        </div>
                    </div>
                    <div class="good-works-item">
                        <img class="good-works-cover" src="/assets/images/yingshi/c4d/laoshi3.png?v=1587179319710" alt="">
                        <div class="good-works-inner">
                            <div class="good-works-user">
                                <h3>贡昆仑</h3>
                                <span>/6年从业经验</span>
                            </div>
                            <div class="good-works-pos">影视视效高级讲师</div>
                            <div class="good-works-works">
                                代表项目<br> 《极限挑战》
                                <br> 《快乐大本营》
                                <br> ......
                            </div>
                        </div>
                    </div>
                    <div class="good-works-item">
                        <img class="good-works-cover" src="/assets/images/yingshi/c4d/laoshi4.png?v=1587179319710" alt="">
                        <div class="good-works-inner">
                            <div class="good-works-user">
                                <h3>叶志</h3>
                                <span>6年从业经验</span>
                            </div>
                            <div class="good-works-pos">影视视效高级讲师</div>
                            <div class="good-works-works">
                                代表项目<br> 《乐事薯片》
                                <br> 《360推广视频》
                                <br> ......
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section-btn">
                    <a class="btn doyoo-btn">与名师对话</a>
                </div>
            </div>
        </div>
        <div class="section section-bg-write student-evaluation-sec">
            <div class="container">
                <div class="section-title">
                    上市公司强势助力
                    <br>0距离接轨顶级技术
                </div>
                <div class="section-describe">
                    丝路教育隶属于上市公司丝路视觉旗下全国CG人才培养基地，丝路视觉多次参与国际性影视项目制作，获誉无数，同时将前沿技术作为 丝路教育独家教学素材，是所有丝路教育学员背后最坚实的后盾。
                </div>
                <div class="student-evaluation-list">
                    <div class="student-evaluation-item">
                        企业营销影片年产量<br> 1500+部
                    </div>
                    <div class="student-evaluation-item">
                        多部作品获得美国<br> AUTODESK大奖
                    </div>
                    <div class="student-evaluation-item">
                        亚洲微电影<br> 金海棠奖
                    </div>
                    <div class="student-evaluation-item">
                        中国国际动漫节<br> 金猴奖
                    </div>
                </div>
            </div>
        </div>
        <div class="section two-correct-sec">
            <div class="container">
                <div class="section-title">
                    一线项目带入课堂<br/>学习实践两不误
                    </br>
                    <div class="section-describe">
                        丝路教育背靠CG应用领域上市企业一手资源，
                        <br/> 独创以企业实训的教学方式，让学员参与到集团
                        <br/> 重点项目当中，提高了学员面对各种镜头的制作
                        <br/> 思路判断，累积了重点项目制作的社会经验。
                    </div>
                    <div class="two-correct-list">
                        <div class="section-item">
                            <img class="section-cover" src="/assets/images/yingshi/ysdh/sj1.jpg?v=1587179319710">
                            <div class="section-txt section-abs">
                                <div class="two-correct-label">国家级项目</div>
                                <div class="two-correct-txt">
                                    <h3>《乾隆南巡图》</h3>
                                    <h3>-国家博物馆一级展品</h3>
                                    <p>国内首次对《图卷》以动画的形式进行创作展现</p>
                                </div>
                            </div>
                        </div>
                        <div class="section-item">
                            <img class="section-cover" src="/assets/images/yingshi/ysdh/sj2.jpg?v=1587179319710">
                            <div class="section-txt section-abs">
                                <div class="two-correct-label">奥斯卡级项目</div>
                                <div class="two-correct-txt">
                                    <h3>《哪吒之魔童降世》</h3>
                                    <h3>-参选“第92届奥斯卡国际电影节”</h3>

                                    <p>首部刷新中国动画电影票房纪录的国产动画电影</p>
                                </div>
                            </div>
                        </div>
                        <div class="section-item">
                            <img class="section-cover" src="/assets/images/yingshi/ysdh/sj3.jpg?v=1587179319710">
                            <div class="section-txt section-abs">
                                <div class="two-correct-label">一线名企项目</div>
                                <div class="two-correct-txt">
                                    <h3>《山水樾澜庭》宣传片</h3>
                                    <p>中国地产巨擘联袂缔造的中国美学作品
                                        <br/>“山水系”首作</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section-btn">
                        <a class="btn doyoo-btn">查看更多实训项目</a>
                    </div>
                </div>
            </div>
            <div class="section section-bg-write">
                <div class="container">
                    <div class="section-title">
                        独享6大保障
                        <br>就业无负担
                    </div>
                    <img src="/assets/images/yingshi/ysdh/bz.png?v=1587179319710" alt="">
                </div>
            </div>

            <div class="section spokesperson-sec">
                <div class="container">
                    <div class="section-title">
                        学员毕业轻松入职名企
                        <br>成为高薪代言人
                    </div>
                    <div class="section-list">
                        <div class="section-item">
                            <img class="section-cover" src="/assets/images/yingshi/ysdh/xy1.png?v=1587179319710" alt="">
                            <div class="section-txt">
                                <h3>姓名：郭**</h3>
                                <p>公司：丝路视觉</p>
                                <p>职位：C4D视效师</p>
                                <div>月薪：10000+</div>
                            </div>
                        </div>
                        <div class="section-item">
                            <img class="section-cover" src="/assets/images/yingshi/ysdh/xy2.png?v=1587179319710" alt="">
                            <div class="section-txt">
                                <h3>姓名：潘**</h3>
                                <p>公司：珠海格力电器</p>
                                <p>职位：产品动画设计师</p>
                                <div>月薪：20000+</div>
                            </div>
                        </div>
                        <div class="section-item">
                            <img class="section-cover" src="/assets/images/yingshi/ysdh/xy3.png?v=1587179319710" alt="">
                            <div class="section-txt">
                                <h3>姓名：曾**</h3>
                                <p>公司：深圳甲骨文</p>
                                <p>职位：三维动画师</p>
                                <div>月薪：15000+</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="section section-bg-write">
                <div class="container">
                    <div class="section-title">
                        3000+名企合作<br>直通高薪岗位
                    </div>
                    <img src="/assets/images/yingshi/c4d/logo.jpg?v=1587179319710" alt="">
                </div>
            </div>
            <!-- 表单统计 -->
            <div class="section-form">
                <form id="form">
                    <div class="form-group form-group-txt">
                        跨入月入过万行列<br> 你准备好了吗？
                    </div>
                    <div class="form-group">
                        <input type='text' name='name' id="name" placeholder="姓名：请填写姓名" class="form-control" />
                    </div>
                    <div class="form-group">
                        <input type="text" name='tel' id="tel" class="form-control" placeholder="联系方式：请填写手机号码" />
                    </div>
                    <input type="text" name='time' id='time' style="display: none;" />

                    <div class="form-submit">
                        <button class="btn" type="button" onclick="add_ajaxmessage()">预约免费试听</button>
                    </div>
                </form>
            </div>
        </div>
        <!--页脚 -->
<div class="endfoot-box">
    <div class="endfoot">
        <a class="doyoo-btn">
            <div class="endfoot-item">
                <p>名师在线</p>
                <p>免费试听</p>
            </div>
        </a>
    </div>
    <h3>本网站版权归丝路教育所有，盗用必究</h3>
</div>

<script src="/assets/js/libs/jquery.min.js"></script>
<script src="/assets/js/plugs/vide7.4.1/js/video.js"></script>
<script src="/assets/js/plugs/picViewer/picViewer.js"></script>
<script src="/assets/js/plugs/swiper/swiper.js"></script>
<script src="/assets/js/plugs/layer-v3.1.1/layer/layer.js"></script>
<script src="/assets/js/global/common.js"></script>
<script src="http://op.jiain.net/20002985/10085553.js"></script> -->
<script>
    var doyooBtns = [].slice.call(document.querySelectorAll('.doyoo-btn'));
    for (var i = 0, len = doyooBtns.length; i < len; i++) {
        doyooBtns[i].onclick = function() {
            doyoo.util.openChat('g=10075108');
            return false;
        }
    }
</script>
<!-- 表单 -->
<script src="/assets/js/plugs/formbd.js"></script>

</div>

</body>

</html>