<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">

    <title>剪辑包装创意班</title>
    <link rel="stylesheet" href="/assets/js/plugs/vide7.4.1/css/video-js.min.css?v=1586508501367">
<link rel="stylesheet" href="/assets/js/plugs/picViewer/picViewer.css?v=1586508501367">
<link rel="stylesheet" href="/assets/js/plugs/swiper/swiper.min.css?v=1586508501367">
    <link rel="stylesheet" href="/assets/css/yingshi/ysjj.css?v=1586508501367">
</head>

<body>
    <div class="header">
    <div class="header-tp" id="header-tp">
        <div class="header-menu"></div>
        <ul class="header-menu-list">
            <li class="header-menu-first">首页</li>
            <li class="header-menu-first arrow-right">
    
    影视视效课程
    
    
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/yingshi/ysqn.html">影视后期全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ystx.html">影视特效合成大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ysjj.html">剪辑包装创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ysdh.html">影视动画精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/c4d.html">C4D特效大师班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
    
    游戏视觉课程
    
    
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/youxi/yxqn.html">游戏视觉设计全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxyh.html">游戏原画创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxms.html">游戏3D美术精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxrj.html">游戏软件精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxtx.html">游戏动作特效精英班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
    
    APEC室内课程
    
    
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">影视后期全能班</li>
        <li class="header-menu-second">影视特效合成大师班</li>
        <li class="header-menu-second">剪辑包装创意班</li>
        <li class="header-menu-second">影视动画精英班</li>
        <li class="header-menu-second">C4D特效大师班</li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
    
    UX全栈课程
    
    
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">影视后期全能班</li>
        <li class="header-menu-second">影视特效合成大师班</li>
        <li class="header-menu-second">剪辑包装创意班</li>
        <li class="header-menu-second">影视动画精英班</li>
        <li class="header-menu-second">C4D特效大师班</li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
    
    建筑视效课程
    
    
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">影视后期全能班</li>
        <li class="header-menu-second">影视特效合成大师班</li>
        <li class="header-menu-second">剪辑包装创意班</li>
        <li class="header-menu-second">影视动画精英班</li>
        <li class="header-menu-second">C4D特效大师班</li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
    
    BIM应用课程
    
    
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/bim/bimqn.html">BIM应用全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/bimkz.html">BIM考证精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/revitds.html">Revit大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/lumion.html">Lumion大师班</a>
        </li>
    </ul>
</li>
            <li class="header-menu-first">联系我们</li>
        </ul>
        <div class="header-logo"></div>
        <div class="header-phone"></div>
    </div>
    <div class="header-nav">
        <ul class="header-nav-wrap">
            <li class="header-nav-first header-nav-active">首页</li>
            <li class="header-nav-first" id="header-nav-first-course">课程
                <span class="arrow-down"></span>
                <ul class="header-nav-course">
                    <li class="header-menu-first arrow-right">
    
    
    影视视效
    
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/yingshi/ysqn.html">影视后期全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ystx.html">影视特效合成大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ysjj.html">剪辑包装创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ysdh.html">影视动画精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/c4d.html">C4D特效大师班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
    
    
    游戏视觉
    
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/youxi/yxqn.html">游戏视觉设计全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxyh.html">游戏原画创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxms.html">游戏3D美术精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxrj.html">游戏软件精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxtx.html">游戏动作特效精英班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
    
    
    APEC室内
    
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">影视后期全能班</li>
        <li class="header-menu-second">影视特效合成大师班</li>
        <li class="header-menu-second">剪辑包装创意班</li>
        <li class="header-menu-second">影视动画精英班</li>
        <li class="header-menu-second">C4D特效大师班</li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
    
    
    UX全栈
    
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">影视后期全能班</li>
        <li class="header-menu-second">影视特效合成大师班</li>
        <li class="header-menu-second">剪辑包装创意班</li>
        <li class="header-menu-second">影视动画精英班</li>
        <li class="header-menu-second">C4D特效大师班</li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
    
    
    建筑视效
    
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">影视后期全能班</li>
        <li class="header-menu-second">影视特效合成大师班</li>
        <li class="header-menu-second">剪辑包装创意班</li>
        <li class="header-menu-second">影视动画精英班</li>
        <li class="header-menu-second">C4D特效大师班</li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
    
    
    BIM应用
    
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/bim/bimqn.html">BIM应用全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/bimkz.html">BIM考证精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/revitds.html">Revit大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/lumion.html">Lumion大师班</a>
        </li>
    </ul>
</li>
                </ul>
            </li>
            <li class="header-nav-first">名师</li>
            <li class="header-nav-first">就业</li>
            <li class="header-nav-first">关于丝路</li>
        </ul>
    </div>
</div>
<div class="header-mask" id="header-mask"></div>
<script src="/assets/js/libs/lib-flexible.js"></script>
    <div class="layout">
        <div class="banner">
            <a class="doyoo-btn">
                <img class="banner-cover" src="/assets/images/yingshi/ysjj/banner.jpg?v=1586508501367" alt="">
            </a>
        </div>
        <!-- 丝路教育学员 -->
        <div class="section learning-guarantee-sec">
            <div class="container">
                <div class="section-title">
                    丝路教育学员
                    <br>独有6大学习保障
                </div>
                <div class="section-list">
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/yingshi/ysjj/icon1.png?v=1586508501367" alt="">
                        <h3>0元试听</h3>
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/yingshi/ysjj/icon2.png?v=1586508501367" alt="">
                        <h3>先学后付</h3>
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/yingshi/ysjj/icon3.png?v=1586508501367" alt="">
                        <h3>免费重修</h3>
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/yingshi/ysjj/icon4.png?v=1586508501367" alt="">
                        <h3>名师面授</h3>
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/yingshi/ysjj/icon5.png?v=1586508501367" alt="">
                        <h3>商业实训 </h3>
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/yingshi/ysjj/icon6.png?v=1586508501367" alt="">
                        <h3>名企就业</h3>
                    </div>
                </div>
                <div class="section-btn">
                    <a class="btn doyoo-btn">申请学费减免</a>
                </div>
            </div>
        </div>
        <!-- 影视已成聚宝地-->
        <div class="section section-bg-write treasure-land-sec">
            <div class="container">
                <div class="section-title">
                    影视已成聚宝地
                    <br>5G来临再掀狂潮
                </div>
                <div class="treasure-land-sec1">
                    <img src="/assets/images/yingshi/ysjj/pj1.jpg?v=1586508501367" alt="">
                </div>
                <div class="treasure-land-sec2">
                    <img src="/assets/images/yingshi/ysjj/pj2.jpg?v=1586508501367" alt="">
                    <img src="/assets/images/yingshi/ysjj/pj3.jpg?v=1586508501367" alt="">
                </div>

                <div class="section-btn">
                    <a class="btn doyoo-btn">了解更多行业资讯</a>
                </div>
            </div>
        </div>

        <!-- 影视剪辑包装-->
        <div class="section film-editing-sec">
            <div class="film-editing-sec1">
                <div class="container">
                    <div class="section-title">
                        影视剪辑包装
                    </div>
                    <div class="section-serial">
                        <div class="section-serial-number">01</div>
                        <div class="section-serial-line"></div>
                        <div class="section-serial-txt">
                            选择空间大、覆盖广
                        </div>
                    </div>
                    <div class="section-list">
                        <div class="section-item">
                            <img class="section-cover" src="/assets/images/yingshi/ysjj/zy1.jpg?v=1586508501367" alt="">
                            <div class="section-txt section-abs">
                                影视后期制作
                            </div>
                        </div>
                        <div class="section-item">
                            <img class="section-cover" src="/assets/images/yingshi/ysjj/zy2.jpg?v=1586508501367" alt="">
                            <div class="section-txt section-abs">
                                影视后期制作
                            </div>
                        </div>
                        <div class="section-item">
                            <img class="section-cover" src="/assets/images/yingshi/ysjj/zy3.jpg?v=1586508501367" alt="">
                            <div class="section-txt section-abs">
                                影视后期制作
                            </div>
                        </div>
                        <div class="section-item">
                            <img class="section-cover" src="/assets/images/yingshi/ysjj/zy4.jpg?v=1586508501367" alt="">
                            <div class="section-txt section-abs">
                                影视后期制作
                            </div>
                        </div>
                        <div class="section-item">
                            <img class="section-cover" src="/assets/images/yingshi/ysjj/zy5.jpg?v=1586508501367" alt="">
                            <div class="section-txt section-abs">
                                影视后期制作
                            </div>
                        </div>
                        <div class="section-item">
                            <img class="section-cover" src="/assets/images/yingshi/ysjj/zy6.jpg?v=1586508501367" alt="">
                            <div class="section-txt section-abs">
                                影视后期制作
                            </div>
                        </div>
                        <div class="section-item">
                            <img class="section-cover" src="/assets/images/yingshi/ysjj/zy7.jpg?v=1586508501367" alt="">
                            <div class="section-txt section-abs">
                                影视后期制作
                            </div>
                        </div>
                        <div class="section-item">
                            <img class="section-cover" src="/assets/images/yingshi/ysjj/zy8.jpg?v=1586508501367" alt="">
                            <div class="section-txt section-abs">
                                影视后期制作
                            </div>
                        </div>
                    </div>
                    <div class="section-btn">
                        <a class="btn doyoo-btn">测一测自己适合哪类岗位</a>
                    </div>
                </div>
            </div>
            <div class="film-editing-sec2">
                <div class="container">
                    <div class="section-serial">
                        <div class="section-serial-number">02</div>
                        <div class="section-serial-line"></div>
                        <div class="section-serial-txt">
                            岗位薪资高、晋升快
                        </div>
                    </div>
                    <img src="/assets/images/yingshi/ysjj/xz.png?v=1586508501367" alt="">
                    <div class="section-btn">
                        <a class="btn doyoo-btn">测一测自己适合哪类岗位</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- 丝路课程全面升级-->
        <div class="section film-editing-sec">
            <div class="film-editing-sec1">
                <div class="container">
                    <div class="section-title">
                        丝路课程全面升级<br>
                        堪比科班出身能力
                    </div>
                    <div class="section-serial">
                        <div class="section-serial-number">01</div>
                        <div class="section-serial-line"></div>
                        <div class="section-serial-txt">
                            覆盖主流软件<br>
                            0基础也可速成
                        </div>
                    </div>
                    <img src="/assets/images/yingshi/ysjj/gj.png?v=1586508501367" alt="">
                    <div class="section-btn">
                        <a class="btn doyoo-btn">免费领取软件教程</a>
                    </div>
                </div>
            </div>
            <div class="film-editing-sec2">
                <div class="container">
                    <div class="section-serial">
                        <div class="section-serial-number">02</div>
                        <div class="section-serial-line"></div>
                        <div class="section-serial-txt">
                            课程定期更新
                            <br>
                            紧跟市场需求
                        </div>
                    </div>
                    <div class="film-editing-list">
                        <div class="film-editing-item"
                            style="background: url(/assets/images/yingshi/ysjj/kc1.png) no-repeat center;?v=1586508501367">
                            <div class="film-editing-txt">
                                <h3>视频包装设计</h3>
                                <ul>
                                    <li>
                                        <i></i>
                                        <div>课程内容：影视平面包装、影视包装基础、影视包装设计、MG动画实战</div>

                                    </li>
                                    <li>
                                        <i></i>
                                        <div>课程目标：掌握影视平面设计基础，能独立创作多风格的MG动画设计</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="film-editing-item"
                            style="background: url(/assets/images/yingshi/ysjj/kc2.png) no-repeat center;?v=1586508501367">
                            <div class="film-editing-txt">
                                <h3>艺术剪辑设计</h3>
                                <ul>
                                    <li>
                                        <i></i>
                                        <div>课程内容：影视平面包装、影视包装基础、影视包装设计、MG动画实战</div>

                                    </li>
                                    <li>
                                        <i></i>
                                        <div>课程目标：掌握影视平面设计基础，能独立创作多风格的MG动画设计</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="section-btn">
                        <a class="btn doyoo-btn">了解详细课程内容</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- 前学院，后企业，大项目，好课程！-->
        <div class="section section-bg-write big-project-sec">
            <div class="container">
                <div class="section-title">
                    前学院，后企业，
                    <br> 大项目，好课程！
                </div>
                <div class="section-describe">
                    丝路教育隶属于丝路视觉科技股份有限公司旗下的
                    “人才孵化基地”。丝路视觉将二十年大型影视项目
                    制作经验无缝融入到丝路教育的影视专业教育
                    的框架之中，为授课内容质量保驾护航。
                </div>
                <img src="/assets/images/yingshi/ysjj/js1.png?v=1586508501367" alt="">
                <div class="big-project-intro">
                    企业营销片年产量<em>1500+</em><br>
                    输出影视项目<em>4000+</em><br>
                    制作总时长超<em>12000分钟</em><br>
                    多次荣获<em>AUTODESK大奖</em><br>
                    荣获<em>亚洲微电影金海棠奖</em><br>
                    荣获<em>中国国际动漫节金猴奖</em><br>
                </div>
                <div class="section-btn">
                    <a class="btn doyoo-btn">了解更多行业资讯</a>
                </div>
            </div>
        </div>

        <!-- 一线影视制作大咖全程陪同面授教学-->
        <div class="section frontline-sec">
            <div class="container">
                <div class="section-title">
                    一线影视制作大咖
                    <br>全程陪同面授教学
                </div>
                <div class="section-list">
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/yingshi/ysjj/ls1.png?v=1586508501367" alt="">
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/yingshi/ysjj/ls2.png?v=1586508501367" alt="">
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/yingshi/ysjj/ls3.png?v=1586508501367" alt="">
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/yingshi/ysjj/ls4.png?v=1586508501367" alt="">
                    </div>
                </div>
                <div class="section-btn">
                    <a class="btn doyoo-btn">查看更多丝路名师</a>
                </div>
            </div>
        </div>

        <!-- 学员阶段作品-->
        <div class="section frontline-sec">
            <div class="container">
                <div class="section-title">
                    学员阶段作品
                    <br>点滴记录进步
                </div>
                <img src="/assets/images/yingshi/ysjj/zp.png?v=1586508501367" alt="">
                <div class="section-btn">
                    <a class="btn doyoo-btn">查看更多作品</a>
                </div>
            </div>
        </div>

        <!-- 内部项目特供实训阶段-->
        <div class="section frontline-sec">
            <div class="container">
                <div class="section-title">
                    内部项目特供实训阶段
                    <br>学员涨经验、赚学费
                </div>
                <img src="/assets/images/yingshi/ysjj/al1.png?v=1586508501367" alt="">
                <div class="section-btn">
                    <a class="btn doyoo-btn">我也想拿奖金</a>
                </div>
            </div>
        </div>

        <!-- 一线影视制作大咖全程陪同面授教学-->
        <div class="section frontline-sec">
            <div class="container">
                <div class="section-title">
                    学员毕业有实力
                    <br>轻松入名企
                </div>
                <div class="section-list">
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/yingshi/ysjj/xy1.png?v=1586508501367" alt="">
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/yingshi/ysjj/xy2.png?v=1586508501367" alt="">
                    </div>
                </div>
                <div class="section-btn">
                    <a class="btn doyoo-btn">查看更多明星学员</a>
                </div>
            </div>
        </div>

        <!--6大就业保障-->
        <div class="section">
            <div class="container">
                <div class="section-title">
                    6大就业保障
                    <br>让你掌握求职主动权
                </div>
                <img src="/assets/images/yingshi/ysjj/sixbz.png?v=1586508501367" alt="">
            </div>
        </div>

        <!--名企合作-->
        <div class="section">
            <div class="container">
                <div class="section-title">
                    3000+名企合作<br>直通高薪岗位
                </div>
                <img src="/assets/images/yingshi/c4d/logo.jpg?v=1586508501367" alt="">
            </div>
        </div>

        <!--你是否还在担心以下问题？-->
        <div class="section worry-question">
            <div class="container">
                <div class="section-title">
                    你是否还在担心以下问题？
                </div>
                <div class="worry-question-list">
                    <div class="worry-question-item">
                        <div class="worry-question-txt">我学历低，没有基础，能学会吗？</div>
                        <div class="worry-question-btn">查看答案</div>
                    </div>
                    <div class="worry-question-item">
                        <div class="worry-question-txt">我学历低，没有基础，能学会吗？</div>
                        <div class="worry-question-btn">查看答案</div>
                    </div>
                    <div class="worry-question-item">
                        <div class="worry-question-txt">我学历低，没有基础，能学会吗？</div>
                        <div class="worry-question-btn">查看答案</div>
                    </div>
                    <div class="worry-question-item">
                        <div class="worry-question-txt">我学历低，没有基础，能学会吗？</div>
                        <div class="worry-question-btn">查看答案</div>
                    </div>
                    <div class="worry-question-item">
                        <div class="worry-question-txt">我学历低，没有基础，能学会吗？</div>
                        <div class="worry-question-btn">查看答案</div>
                    </div>
                    <div class="worry-question-item">
                        <div class="worry-question-txt">我学历低，没有基础，能学会吗？</div>
                        <div class="worry-question-btn">查看答案</div>
                    </div>
                </div>
            </div>
            <div class="section-btn">
                <a class="btn doyoo-btn">咨询更多问题</a>
            </div>
        </div>

        <!-- 表单统计 -->
        <div class="section-form">
            <form action="/plus/diy.php?v=1586508501367" enctype="multipart/form-data" method="post"
                onsubmit="return checkMobile(this);">
                <div class="form-group">
                    <input type='text' name='name' placeholder="姓名：请填写姓名" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="text" name='tel' class="form-control" placeholder="联系方式：请填写手机号码" />
                </div>
                <div class="form-submit">
                    <button class="btn" type="submit">
                        预约免费试学
                    </button>
                </div>
            </form>
        </div>
    </div>
    <script src="/assets/js/libs/jquery.min.js"></script>
<script src="/assets/js/plugs/vide7.4.1/js/video.js"></script>
<script src="/assets/js/plugs/picViewer/picViewer.js"></script>
<script src="/assets/js/plugs/swiper/swiper.js"></script>
<script src="/assets/js/plugs/layer-v3.1.1/layer/layer.js"></script>
<script src="/assets/js/global/common.js"></script>
<!-- <script src="http://op.jiain.net/20002985/10085553.js"></script> -->
<script>
    var doyooBtns = [].slice.call(document.querySelectorAll('.doyoo-btn'));
    for (var i = 0, len = doyooBtns.length; i < len; i++) {
        doyooBtns[i].onclick = function () {
            doyoo.util.openChat('g=10075108'); return false;
        }
    }
</script>
</body>

</html>