<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">

    <title>影视后期全能班</title>
    <link rel="stylesheet" href="/assets/js/plugs/vide7.4.1/css/video-js.min.css?v=1586855373653">
<link rel="stylesheet" href="/assets/js/plugs/picViewer/picViewer.css?v=1586855373653">
<link rel="stylesheet" href="/assets/js/plugs/swiper/swiper.min.css?v=1586855373653">
    <link rel="stylesheet" href="/assets/css/yingshi/ysqn.css?v=1586855373653">
</head>

<body>
    <div class="header">
    <div class="header-tp" id="header-tp">
        <div class="header-menu"></div>
        <ul class="header-menu-list">
            <li class="header-menu-first">首页</li>
            <li class="header-menu-first arrow-right">
    
    影视视效课程
    
    
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/yingshi/ysqn.html">影视后期全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ystx.html">影视特效合成大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ysjj.html">剪辑包装创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ysdh.html">影视动画精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/c4d.html">C4D特效大师班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
    
    游戏视觉课程
    
    
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/youxi/yxqn.html">游戏视觉设计全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxyh.html">游戏原画创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxms.html">游戏3D美术精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxrj.html">游戏软件精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxtx.html">游戏动作特效精英班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
    
    APEC室内课程
    
    
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">影视后期全能班</li>
        <li class="header-menu-second">影视特效合成大师班</li>
        <li class="header-menu-second">剪辑包装创意班</li>
        <li class="header-menu-second">影视动画精英班</li>
        <li class="header-menu-second">C4D特效大师班</li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
    
    UX全栈课程
    
    

    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/views/ui/uiqn.html">UX全栈视效设计全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/views/ui/psds.html"> Photoshop大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/views/ui/pmsj.html">品牌视觉创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/views/ui/dsmg.html">电商美工精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/views/ui/wysj.html">全链路设计精英班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
    
    建筑视效课程
    
    
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">影视后期全能班</li>
        <li class="header-menu-second">影视特效合成大师班</li>
        <li class="header-menu-second">剪辑包装创意班</li>
        <li class="header-menu-second">影视动画精英班</li>
        <li class="header-menu-second">C4D特效大师班</li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
    
    BIM应用课程
    
    
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/bim/bimqn.html">BIM应用全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/bimkz.html">BIM考证精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/revitds.html">Revit大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/lumion.html">Lumion大师班</a>
        </li>
    </ul>
</li>
            <li class="header-menu-first">联系我们</li>
        </ul>
        <div class="header-logo"></div>
        <div class="header-phone"></div>
    </div>
    <div class="header-nav">
        <ul class="header-nav-wrap">
            <li class="header-nav-first header-nav-active">首页</li>
            <li class="header-nav-first" id="header-nav-first-course">课程
                <span class="arrow-down"></span>
                <ul class="header-nav-course">
                    <li class="header-menu-first arrow-right">
    
    
    影视视效
    
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/yingshi/ysqn.html">影视后期全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ystx.html">影视特效合成大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ysjj.html">剪辑包装创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/ysdh.html">影视动画精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/yingshi/c4d.html">C4D特效大师班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
    
    
    游戏视觉
    
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/youxi/yxqn.html">游戏视觉设计全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxyh.html">游戏原画创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxms.html">游戏3D美术精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxrj.html">游戏软件精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/youxi/yxtx.html">游戏动作特效精英班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
    
    
    APEC室内
    
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">影视后期全能班</li>
        <li class="header-menu-second">影视特效合成大师班</li>
        <li class="header-menu-second">剪辑包装创意班</li>
        <li class="header-menu-second">影视动画精英班</li>
        <li class="header-menu-second">C4D特效大师班</li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
    
    
    UX全栈
    

    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/views/ui/uiqn.html">UX全栈视效设计全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/views/ui/psds.html"> Photoshop大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/views/ui/pmsj.html">品牌视觉创意班</a>
        </li>
        <li class="header-menu-second">
            <a href="/views/ui/dsmg.html">电商美工精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/views/ui/wysj.html">全链路设计精英班</a>
        </li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
    
    
    建筑视效
    
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">影视后期全能班</li>
        <li class="header-menu-second">影视特效合成大师班</li>
        <li class="header-menu-second">剪辑包装创意班</li>
        <li class="header-menu-second">影视动画精英班</li>
        <li class="header-menu-second">C4D特效大师班</li>
    </ul>
</li>
<li class="header-menu-first arrow-right">
    
    
    BIM应用
    
    <ul class="header-menu-secondlist">
        <li class="header-menu-second">
            <a href="/bim/bimqn.html">BIM应用全能班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/bimkz.html">BIM考证精英班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/revitds.html">Revit大师班</a>
        </li>
        <li class="header-menu-second">
            <a href="/bim/lumion.html">Lumion大师班</a>
        </li>
    </ul>
</li>
                </ul>
            </li>
            <li class="header-nav-first">名师</li>
            <li class="header-nav-first">就业</li>
            <li class="header-nav-first">关于丝路</li>
        </ul>
    </div>
</div>
<div class="header-mask" id="header-mask"></div>
<script src="/assets/js/libs/lib-flexible.js"></script>
    <div class="layout">
        <div class="banner">
            <a class="doyoo-btn">
                <img class="banner-cover" src="/assets/images/yingshi/ysqn/banner.jpg?v=1586855373653" alt="">
            </a>
        </div>

        <!-- 影视行业争霸 -->
        <div class="section section-bg-write hot-market-sec">
            <div class="container">
                <div class="section-title">
                    影视行业争霸<br>
                    <b>“吸金大法”重现江湖</b>
                </div>
                <div class="line"></div>
                <div class="section-describe">
                    影视行业热度不减、人才需求激增的状态，要求影视从业人员需要具备更专业、多领域的技能。
                </div>
                <div class="hot-market-list">
                    <div class="hot-market-item">
                        <div class="hot-market-num">01</div>
                        <h3>用户</h3>
                        <p>
                            截至2018年12月
                            网络视频用户规模
                            达6.12亿，同比
                            上年底增加3309万
                        </p>
                    </div>
                    <div class="hot-market-item">
                        <div class="hot-market-num">02</div>
                        <h3>用户</h3>
                        <p>
                            截至2018年12月
                            网络视频用户规模
                            达6.12亿，同比
                            上年底增加3309万
                        </p>
                    </div>
                    <div class="hot-market-item">
                        <div class="hot-market-num">03</div>
                        <h3>用户</h3>
                        <p>
                            截至2018年12月
                            网络视频用户规模
                            达6.12亿，同比
                            上年底增加3309万
                        </p>
                    </div>
                    <div class="hot-market-item">
                        <div class="hot-market-num">04</div>
                        <h3>用户</h3>
                        <p>
                            截至2018年12月
                            网络视频用户规模
                            达6.12亿，同比
                            上年底增加3309万
                        </p>
                    </div>
                </div>
                <div class="section-btn">
                    <a class="btn doyoo-btn">看看我适合学吗？</a>
                </div>
            </div>
        </div>

        <!-- 影视视效设计全能班 -->
        <div class="section section-bg-write visual-effects-sec">
            <div class="container">
                <div class="section-title">
                    影视视效设计全能班
                    <br>
                    <b>让你拥有更多“选择</b>
                </div>
                <div class="line"></div>
                <div class="section-describe">
                    丝路学员项目经验足、综合实力强，毕业后根据自己兴趣选择就业方向，不局限于单一领域就业。
                </div>
                <div class="section-list">
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/yingshi/ysqn/c1.jpg?v=1586855373653">
                        <div class="section-txt section-abs">
                            TVC广告片
                        </div>
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/yingshi/ysqn/c2.jpg?v=1586855373653">
                        <div class="section-txt section-abs">
                            TVC广告片
                        </div>
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/yingshi/ysqn/c3.jpg?v=1586855373653">
                        <div class="section-txt section-abs">
                            TVC广告片
                        </div>
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/yingshi/ysqn/c4.jpg?v=1586855373653">
                        <div class="section-txt section-abs">
                            TVC广告片
                        </div>
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/yingshi/ysqn/c5.jpg?v=1586855373653">
                        <div class="section-txt section-abs">
                            TVC广告片
                        </div>
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/yingshi/ysqn/c6.jpg?v=1586855373653">
                        <div class="section-txt section-abs">
                            TVC广告片
                        </div>
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/yingshi/ysqn/c7.jpg?v=1586855373653">
                        <div class="section-txt section-abs">
                            TVC广告片
                        </div>
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/yingshi/ysqn/c8.jpg?v=1586855373653">
                        <div class="section-txt section-abs">
                            TVC广告片
                        </div>
                    </div>
                </div>
                <div class="section-btn">
                    <a class="btn doyoo-btn">查看我适合什么工作</a>
                </div>
            </div>

        </div>

        <!--玩儿着玩儿着-->
        <div class="section section-bg-write">
            <div class="container">
                <div class="section-title">
                    玩儿着玩儿着
                    <br>把钱赚了
                </div>
                <div class="section-describe">
                    学完影视后期，就业前景广阔更多金，玩转创意的同时赚得盆满钵满
                </div>
                <img src="/assets/images/yingshi/ysqn/d1.png?v=1586855373653" alt="">
                <div class="section-btn">
                    <a class="btn doyoo-btn">测测我学完能挣多少？</a>
                </div>
            </div>
        </div>

        <!-- 获取短视频素材 -->
        <div class="section section-bg-write source-material-sec">
            <img src="/assets/images/yingshi/ysqn/d1.jpg?v=1586855373653" alt="">
            <div class="section-btn">
                <a class="btn doyoo-btn">获取短视频素材</a>
            </div>
        </div>

        <!-- 获取短视频素材 -->
        <div class="section section-bg-write">
            <div class="container">
                <div class="section-title">
                    上市公司丝路视觉
                    <br>
                    <b>旗下人才培养基地</b>
                </div>
                <div class="section-describe">
                    丝路教育系上市公司丝路视觉旗下全国CG人才培养基地，
                    汇集行业精英影视大咖导师，承接集团最新影视
                    项目案例，经验加成，走在行业浪潮前端。
                </div>
                <img src="/assets/images/yingshi/ysqn/b1.png?v=1586855373653" alt="">
                <div class="section-btn">
                    <a class="btn doyoo-btn">查看更多项目</a>
                </div>
            </div>
        </div>

        <!-- 丝路教育影视视效设计全能班-->
        <div class="section section-bg-write movie-television-sec">
            <div class="section-title">
                丝路教育影视视效设计全能班
                <br>
                <b>打造百万影视大师</b>
            </div>
            <div class="section-describe">
                丝路教育系上市公司丝路视觉旗下全国CG人才培养基地，
                汇集行业精英影视大咖导师，承接集团最新影视
                项目案例，经验加成，走在行业浪潮前端。
            </div>
            <div class="movie-television-sec1">
                <div class="section-serial">
                    <div class="section-serial-number">01</div>
                    <div class="section-serial-line"></div>
                    <div class="section-serial-txt">
                        丝路教育 给你不一样的学习体验
                    </div>
                </div>
                <img src="/assets/images/yingshi/ysqn/f2.png?v=1586855373653" alt="">
                <div class="movie-television-list">
                    <div class="hot-market-item">
                        <div class="hot-market-num">01</div>
                        <h3>
                            实战项目<br>
                            实战教学
                        </h3>
                        <p>
                            截至2018年12月
                            网络视频用户规模
                            达6.12亿，同比
                            上年底增加3309万
                        </p>
                    </div>
                    <div class="hot-market-item">
                        <div class="hot-market-num">02</div>
                        <h3> 实战项目<br>
                            实战教学</h3>
                        <p>
                            截至2018年12月
                            网络视频 实战教学规模
                            达6.12亿，同比
                            上年底增加3309万
                        </p>
                    </div>
                    <div class="hot-market-item">
                        <div class="hot-market-num">03</div>
                        <h3>
                            实战项目<br>
                            实战教学</h3>
                        <p>
                            截至2018年12月
                            网络视频用户规模
                            达6.12亿，同比
                            上年底增加3309万
                        </p>
                    </div>
                </div>
            </div>
            <div class="movie-television-sec2">
                <div class="section-serial">
                    <div class="section-serial-number">02</div>
                    <div class="section-serial-line"></div>
                    <div class="section-serial-txt">
                        丝路教育 影视视效设计 6大核心技能
                    </div>
                </div>
                <div class="section-list">
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/yingshi/ysqn/g1.png?v=1586855373653">
                        <div class="section-txt">
                            视频包装
                        </div>
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/yingshi/ysqn/g2.png?v=1586855373653">
                        <div class="section-txt">
                            视频包装
                        </div>
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/yingshi/ysqn/g3.png?v=1586855373653">
                        <div class="section-txt">
                            视频包装
                        </div>
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/yingshi/ysqn/g4.png?v=1586855373653">
                        <div class="section-txt">
                            视频包装
                        </div>
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/yingshi/ysqn/g5.png?v=1586855373653">
                        <div class="section-txt">
                            视频包装
                        </div>
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/yingshi/ysqn/g6.png?v=1586855373653">
                        <div class="section-txt">
                            视频包装
                        </div>
                    </div>
                </div>

            </div>
            <div class="movie-television-sec3">
                <div class="section-serial">
                    <div class="section-serial-number">03</div>
                    <div class="section-serial-line"></div>
                    <div class="section-serial-txt">
                        丝路教育 打造影视“闭环”课程体系
                    </div>
                    <div class="film-editing-list">
                        <div class="film-editing-item"
                            style="background: url(/assets/images/yingshi/ysqn/h1.png) no-repeat center;?v=1586855373653">
                            <div class="film-editing-txt">
                                <h3>影视包装登堂入室 夯实基础步步为“赢”</h3>
                                <ul>
                                    <li>
                                        <i></i>
                                        <div>
                                            影视包装基础
                                        </div>

                                    </li>
                                    <li>
                                        <i></i>
                                        <div>视频镜头运用</div>
                                    </li>
                                    <li>
                                        <i></i>
                                        <div>视频包装设计</div>
                                    </li>
                                    <li>
                                        <i></i>
                                        <div>MG动画实战</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="film-editing-item"
                            style="background: url(/assets/images/yingshi/ysqn/h2.png) no-repeat center;?v=1586855373653">
                            <div class="film-editing-txt">
                                <h3>影视包装登堂入室 夯实基础步步为“赢”</h3>
                                <ul>
                                    <li>
                                        <i></i>
                                        <div>
                                            影视包装基础
                                        </div>

                                    </li>
                                    <li>
                                        <i></i>
                                        <div>视频镜头运用</div>
                                    </li>
                                    <li>
                                        <i></i>
                                        <div>视频包装设计</div>
                                    </li>
                                    <li>
                                        <i></i>
                                        <div>MG动画实战</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="film-editing-item"
                            style="background: url(/assets/images/yingshi/ysqn/h3.png) no-repeat center;?v=1586855373653">
                            <div class="film-editing-txt">
                                <h3>影视包装登堂入室 夯实基础步步为“赢”</h3>
                                <ul>
                                    <li>
                                        <i></i>
                                        <div>
                                            影视包装基础
                                        </div>

                                    </li>
                                    <li>
                                        <i></i>
                                        <div>视频镜头运用</div>
                                    </li>
                                    <li>
                                        <i></i>
                                        <div>视频包装设计</div>
                                    </li>
                                    <li>
                                        <i></i>
                                        <div>MG动画实战</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="film-editing-item"
                            style="background: url(/assets/images/yingshi/ysqn/h4.png) no-repeat center;?v=1586855373653">
                            <div class="film-editing-txt">
                                <h3>影视包装登堂入室 夯实基础步步为“赢”</h3>
                                <ul>
                                    <li>
                                        <i></i>
                                        <div>
                                            影视包装基础
                                        </div>

                                    </li>
                                    <li>
                                        <i></i>
                                        <div>视频镜头运用</div>
                                    </li>
                                    <li>
                                        <i></i>
                                        <div>视频包装设计</div>
                                    </li>
                                    <li>
                                        <i></i>
                                        <div>MG动画实战</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="film-editing-item"
                            style="background: url(/assets/images/yingshi/ysqn/h5.png) no-repeat center;?v=1586855373653">
                            <div class="film-editing-txt">
                                <h3>影视包装登堂入室 夯实基础步步为“赢”</h3>
                                <ul>
                                    <li>
                                        <i></i>
                                        <div>
                                            影视包装基础
                                        </div>

                                    </li>
                                    <li>
                                        <i></i>
                                        <div>视频镜头运用</div>
                                    </li>
                                    <li>
                                        <i></i>
                                        <div>视频包装设计</div>
                                    </li>
                                    <li>
                                        <i></i>
                                        <div>MG动画实战</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="film-editing-item"
                            style="background: url(/assets/images/yingshi/ysqn/h6.png) no-repeat center;?v=1586855373653">
                            <div class="film-editing-txt">
                                <h3>影视包装登堂入室 夯实基础步步为“赢”</h3>
                                <ul>
                                    <li>
                                        <i></i>
                                        <div>
                                            影视包装基础
                                        </div>

                                    </li>
                                    <li>
                                        <i></i>
                                        <div>视频镜头运用</div>
                                    </li>
                                    <li>
                                        <i></i>
                                        <div>视频包装设计</div>
                                    </li>
                                    <li>
                                        <i></i>
                                        <div>MG动画实战</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="section-btn">
                        <a class="btn doyoo-btn">领取学习教程</a>
                    </div>
                </div>
            </div>
        </div>

        <!--影视行业主流软件-->
        <div class="section section-bg-write mainstream-software-sec">
            <div class="container">
                <div class="section-title">
                    <b>影视行业主流软件</b><br>通通掌握
                </div>
                <img src="/assets/images/yingshi/ysqn/j2.png?v=1586855373653" alt="">
            </div>
        </div>

        <!-- 知名影视项目总监导师 -->
        <div class="section strong-points-sec">
            <div class="container">
                <div class="section-title">
                    知名影视项目总监导师
                    <br>
                    让你“博采众长”
                </div>
                <div class="section-describe">
                    丝路教育老师均来自行业知名公司，多年行业经验和教学经验，让学生博采众长，增强综合实力。
                </div>
                <div class="strong-points-list">
                    <div class="strong-points-item">
                        <div class="strong-points-txt">
                            <h3>贡昆仑</h3>
                            <div class="strong-points-line"></div>
                            <p>
                                6年影视行业经验<br>
                                影视视效高级讲师<br>
                                代表项目：《极限挑战》、《快乐大本营》
                            </p>
                        </div>
                        <img class="strong-points-cover" src="/assets/images/yingshi/ysqn/y1.png?v=1586855373653" alt="">
                    </div>
                    <div class="strong-points-item">
                        <div class="strong-points-txt">
                            <h3>贡昆仑</h3>
                            <div class="strong-points-line"></div>
                            <p>
                                6年影视行业经验<br>
                                影视视效高级讲师<br>
                                代表项目：《极限挑战》、《快乐大本营》
                            </p>
                        </div>
                        <img class="strong-points-cover" src="/assets/images/yingshi/ysqn/y2.png?v=1586855373653" alt="">
                    </div>
                    <div class="strong-points-item">
                        <div class="strong-points-txt">
                            <h3>贡昆仑</h3>
                            <div class="strong-points-line"></div>
                            <p>
                                6年影视行业经验<br>
                                影视视效高级讲师<br>
                                代表项目：《极限挑战》、《快乐大本营》
                            </p>
                        </div>
                        <img class="strong-points-cover" src="/assets/images/yingshi/ysqn/y3.png?v=1586855373653" alt="">
                    </div>
                    <div class="strong-points-item">
                        <div class="strong-points-txt">
                            <h3>贡昆仑</h3>
                            <div class="strong-points-line"></div>
                            <p>
                                6年影视行业经验<br>
                                影视视效高级讲师<br>
                                代表项目：《极限挑战》、《快乐大本营》
                            </p>
                        </div>
                        <img class="strong-points-cover" src="/assets/images/yingshi/ysqn/y4.png?v=1586855373653" alt="">
                    </div>
                </div>
                <div class="section-btn">
                    <a class="btn doyoo-btn">免费向老师提问</a>
                </div>
            </div>
        </div>

        <!--学员作品均为行业代性案例制作-->
        <div class="section section-bg-write stage-works-sec">
            <div class="container">
                <div class="section-title">
                    学员作品均为行业代性案例制作
                </div>
                <div class="section-describe">
                    学员在校学习期间，均有阶段性作品制作，见证成长，更是面试的“敲门砖”。
                </div>
                <div class="section-nav-tab">
                    <div class="section-nav-item section-nav-btn section-nav-active">剪辑阶段</div>
                    <div class="section-nav-item section-nav-btn">AE阶段</div>
                    <div class="section-nav-item section-nav-btn">C4D阶段</div>
                </div>
                <div class="section-tab-list">
                    <div class="section-tab-col">
                        <img src="/assets/images/yingshi/ysqn/k1.png?v=1586855373653">
                    </div>
                    <div class="section-tab-col">
                        <img src="/assets/images/yingshi/ysqn/k1.png?v=1586855373653">
                    </div>
                    <div class="section-tab-col">
                        <img src="/assets/images/yingshi/ysqn/k1.png?v=1586855373653">
                    </div>
                </div>
                <div class="section-btn">
                    <a class="btn doyoo-btn"> 查看更多学员作品</a>
                </div>
            </div>
        </div>

        <!--在校参与名企项目实训-->
        <div class="section">
            <div class="container">
                <div class="section-title">
                    在校参与名企项目实训
                    <br>
                    <b>
                        技能+经验同步UP
                    </b>
                </div>
                <div class="section-describe">
                    丝路教育影视视效设计实训项目均由丝路项目总监或
                    导师亲自带队，直接承接丝路视觉集团真实项目，
                    收获重大项目制作经验。
                </div>
                <div class="section-list">
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/yingshi/ysqn/l1.png?v=1586855373653">
                    </div>
                </div>
                <div class="section-btn">
                    <a class="btn doyoo-btn"> 我也想拿奖金</a>
                </div>
            </div>
        </div>

        <!--丝路明星学员-->
        <div class="section section-bg-write star-student-sec">
            <div class="container">
                <div class="section-title">
                    丝路明星学员 <br>
                    想像他们一样奔走在<br>
                    自己的热爱里吗？
                </div>
                <div class="section-list">
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/yingshi/ysqn/m1.png?v=1586855373653">
                        <div class="section-txt">
                            <h3>郭*</h3>
                            <div class="line"></div>
                            <div class="star-student-company">
                                <p>格力电器</p>
                                <p>项目：格力果汁杯</p>
                                <p>职位 ：三维产品广告负责人 </p>
                            </div>
                            <div class="star-student-salary">
                                薪资：<em>20000+</em>
                            </div>
                        </div>
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/yingshi/ysqn/m2.png?v=1586855373653">
                        <div class="section-txt">
                            <h3>郭*</h3>
                            <div class="line"></div>
                            <div class="star-student-company">
                                <p>格力电器</p>
                                <p>项目：格力果汁杯</p>
                                <p>职位 ：三维产品广告负责人 </p>
                            </div>
                            <div class="star-student-salary">
                                薪资：<em>20000+</em>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section-btn">
                    <a class="btn doyoo-btn">查看更多明星学员</a>
                </div>
            </div>
        </div>


        <!--丝路影视视效设计全能班-->
        <div class="section section-bg-write teristic-superiority-sec">
            <div class="container">
                <div class="section-title">
                    丝路影视视效设计全能班
                    <br><b>
                        特色优势
                    </b>
                </div>
                <div class="section-list">
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/yingshi/ysqn/n2.png?v=1586855373653">
                        <div class="section-txt">
                            一线名师<br>
                            全程面授
                        </div>
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/yingshi/ysqn/n3.png?v=1586855373653">
                        <div class="section-txt">
                            一线名师<br>
                            全程面授
                        </div>
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/yingshi/ysqn/n4.png?v=1586855373653">
                        <div class="section-txt">
                            一线名师<br>
                            全程面授
                        </div>
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/yingshi/ysqn/n5.png?v=1586855373653">
                        <div class="section-txt">
                            一线名师<br>
                            全程面授
                        </div>
                    </div>
                    <div class="section-item">
                        <img class="section-cover" src="/assets/images/yingshi/ysqn/n6.png?v=1586855373653">
                        <div class="section-txt">
                            一线名师<br>
                            全程面授
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--名企合作-->
        <div class="section section-bg-write">
            <div class="container">
                <div class="section-title">
                    3000+名企合作<br>直通高薪岗位
                </div>
                <img src="/assets/images/yingshi/c4d/logo.jpg?v=1586855373653" alt="">
            </div>
        </div>

        <!-- 表单统计 -->
        <div class="section-form">
            <form action="/plus/diy.php?v=1586855373653" enctype="multipart/form-data" method="post"
                onsubmit="return checkMobile(this);">
                <div class="form-group">
                    <input type='text' name='name' placeholder="姓名：请填写姓名" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="text" name='tel' class="form-control" placeholder="联系方式：请填写手机号码" />
                </div>
                <div class="form-submit">
                    <button class="btn" type="submit">一键预约免费试听</button>
                </div>
            </form>
        </div>
    </div>


    <script src="/assets/js/libs/jquery.min.js"></script>
<script src="/assets/js/plugs/vide7.4.1/js/video.js"></script>
<script src="/assets/js/plugs/picViewer/picViewer.js"></script>
<script src="/assets/js/plugs/swiper/swiper.js"></script>
<script src="/assets/js/plugs/layer-v3.1.1/layer/layer.js"></script>
<script src="/assets/js/global/common.js"></script>
<!-- <script src="http://op.jiain.net/20002985/10085553.js"></script> -->
<script>
    var doyooBtns = [].slice.call(document.querySelectorAll('.doyoo-btn'));
    for (var i = 0, len = doyooBtns.length; i < len; i++) {
        doyooBtns[i].onclick = function () {
            doyoo.util.openChat('g=10075108'); return false;
        }
    }
</script>
</body>

</html>