@import "./common/variable";
@import "./common/base";
.section-serial {
    text-align: center;
    font-family: HiraginoSansGB-W3;
    font-weight: bold;
    .section-serial-number {
        font-size: 0.4267rem;
    }
    .section-serial-line {
        height: 10px;
        margin-bottom: 0.3333rem;
        img {
            display: block;
            margin: 0 auto;
        }
    }
    .section-serial-txt {
        font-size: 0.3733rem;
    }
}

// banner图标
.banner-next {
    box-shadow: 0px 8px 46px 0px rgba(200, 191, 255, 0.38);
    .section-list {
        .section-item {
            width: 25%;
            padding: 0.5333rem 0rem;
            text-align: center;
            h3 {
                font-size: 0.34rem;
            }
            .section-cover {
                width: 0.8267rem;
                height: 0.8rem;
            }
        }
    }
}

//    丝路出品 必属精品
.good-works-sec {
    background-color: #f7f9ff;
    .section-title {
        font-family: HiraginoSansGB-W3;
    }
    .section-nav-tab .section-nav-item.section-nav-btn {
        min-width: 0.88rem;
        width: 1.9867rem;
        height: 1.0667rem;
        border-radius: 0.5333rem;
        margin-bottom: 0.2667rem;
        background: #f7f9ff;
        border: 1px solid #cfbfbb;
        color: #999;
    }
    .section-nav-tab .section-nav-item.section-nav-btn.section-nav-active {
        border: 1px solid #fc9a6f;
        color: #eb6100;
    }
    .section-tab-list {
        padding: 0 0.4rem;
        .section-tab-col {
            justify-content: space-between;
            flex-wrap: wrap;
            .item {
                width: 32%;
                margin-bottom: 0.5rem;
                img {
                    width: 2.9333rem;
                    height: 2.9333rem;
                }
                p {
                    font-size: 0.2667rem;
                    color: #333333;
                    text-align: center;
                }
            }
        }
    }
}

.good-works-sec {
    .section-tab-list {
        .section-tab-col20 {
            justify-content: left;
        }
    }
}

.item {
    margin-left: 0.05rem;
    margin-right: 0.05rem;
}

// 众所周知的项目实训？
.shixun {
    .swiper-container {
        height: 7.8667rem;
        .swiper-wrapper {
            height: 6.8667rem;
            .swiper-slide {
                box-shadow: 0px 8px 29px -9px rgba(101, 114, 170, 0.1);
                p {
                    font-size: 10px;
                    color: #333;
                }
                img {
                    height: 100%;
                }
            }
        }
        .swiper-pagination-bullet {
            width: 0.1667rem;
            height: 0.1667rem;
            border-radius: 50%;
            background-color: #EC6941;
        }
        .swiper-pagination-bullet-active {
            background-color: #f64f23;
        }
    }
}

// 为什么选择丝路教育？
.select-silkroad-reason-sec {
    background-color: #f7f9ff;
    .select-silkroad-reason-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .select-silkroad-reason-item {
            border-radius: 4px;
            width: 4.5333rem;
            text-align: center;
            margin-bottom: 0.4rem;
            background-color: #eb6100;
            box-shadow: 0px 8px 29px 2px rgba(75, 87, 144, 0.1);
            h3 {
                font-size: 0.2667rem;
                color: #fff;
                font-weight: normal;
                padding-bottom: 10px;
            }
        }
    }
}

// 一张作品决胜职场
.stu-work {
    background-color: #f7f9ff;
    .section-title {
        font-family: HiraginoSansGB-W3;
    }
    .section-nav-tab .section-nav-item.section-nav-btn {
        min-width: 0.88rem;
        width: 1.9867rem;
        height: 1.0667rem;
        border-radius: 0.5333rem;
        margin-bottom: 0.2667rem;
        background: #f7f9ff;
        border: 1px solid #cfbfbb;
        color: #999;
    }
    .section-nav-tab .section-nav-item.section-nav-btn.section-nav-active {
        border: 1px solid #fc9a6f;
        color: #eb6100;
    }
    .section-tab-list {
        padding: 0 0.4rem;
        .section-tab-col {
            img {
                width: 9.2rem;
                height: 6.1733rem;
            }
            p {
                font-size: 0.1867rem;
                color: #333333;
                text-align: center;
            }
        }
    }
}

// 百家高校的信任 知名企业的选择 
.logo {
    background-color: #f7f9ff;
    .section-title {
        font-family: HiraginoSansGB-W3;
    }
    .section-nav-tab .section-nav-item.section-nav-btn {
        min-width: 0.88rem;
        width: 1.9867rem;
        height: 1.0667rem;
        border-radius: 0.5333rem;
        margin-bottom: 0.2667rem;
        background: #f7f9ff;
        color: #999;
    }
    .section-nav-tab .section-nav-item.section-nav-btn.section-nav-active {
        color: #eb6100;
    }
    .section-tab-list {
        padding: 0 0.4rem;
        .section-tab-col {
            img {
                width: 9.2rem;
                height: 4.16rem;
            }
            p {
                font-size: 0.1867rem;
                color: #333333;
                text-align: center;
            }
        }
    }
}

// 表单
.section-form {
    background: url("/assets/images/index/bdbj.jpg") no-repeat center;
    background-size: cover;
    height: 11.0rem;
    form {
        padding-top: 1.5rem;
        .form-group-txt {
            color: #fff;
            line-height: 1.5;
        }
    }
}